<div class="background-header">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col">
          <div class="row mt-2 mb-2">
            <img src="assets/images/logo-kemenag.svg" style="width: 100px; height: 100px">
            <div class="col login-align">
              <div><label class="font-size-16 text-white" style="margin-bottom: 0;font-weight: bold;margin-top:5px">PROJECT MANAGEMENT</label></div>
              <div><label class="font-size-14 text-white">REPORTING MONITORING SYSTEM</label></div>
            </div>
          </div>
        </div>
        <div class="col login-align">
          <div class="right-button-header" style="text-align: right">
            <button class="btn btn-outline-light" style="color: white" (click)="goToHome()">Kembali ke Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

