<div>
    <div class="background-header">
        <div class="container" style="width: 85%">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="row mt-2 mb-2">
                            <img src="assets/images/logo-kemenag.svg" style="width: 100px; height: 100px">
                            <div class="col login-align">
                                <div><label class="font-size-16 text-white" style="margin-bottom: 0;font-weight: bold;margin-top:5px">PROJECT MANAGEMENT</label></div>
                                <div><label class="font-size-14 text-white">REPORTING MONITORING SYSTEM</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col login-align">
                        <div class="right-button-header" style="text-align: right">
                            <button class="btn btn-outline-light me-5" style="color: white; background-color: transparent; border: transparent; font-size: 16px" (click)="goToHome()">Home</button>
                            <button class="btn btn-outline-light" style="color: white; font-size: 16px" (click)="goToLogin()">Masuk Akun <i class="fa fa-sign-in-alt ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 2%; width: 85%" >
        <button class="btn btn-light mb-2" type="button" (click)="goToHome()">
            <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
        </button>
        <div class="mt-3">
            <label class="title-header" style="color: rgba(51, 51, 51, 1); font-size: 28px">Komponen 4 : (EMIS) Education Management Information System atau disebut juga dengan Penguatan Sistem Untuk Mendukung Pengembangan Kualitas.</label>
            <div class="row mt-3">
                <div class="col-md-6">
                    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen4/componen4-1.png" alt="first slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen4/componen4-2.png" alt="second slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen4/componen4-3.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen4/componen4-4.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px; color: rgba(51, 51, 51, 1); text-align: justify">
                        Fokus utama Komponen 4 adalah penguatan sistem pendataan pendidikan pada Kementerian Agama pada umumnya dan terutama pada Ditjen Pendidikan Islam untuk memastikan bahwa pengumpulan data tersebut dilakukan secara efisien, lengkap, valid, data dikelola dengan jelas dan terukur, serta dapat digunakan untuk pengambilan keputusan. Untuk itu, dibutuhkan dukungan sarana prasarana yang tepat dan cukup, regulasi dan pedoman yang mengatur jalan alur pendataan, serta organisasi dan sumberdaya manusia yang memadai. Hasil kajian awal tentang sistem pendataan di Kementerian Agama saat ini menemukan bahwa: 1) terdapat banyak aplikasi pendataan yang sudah dibangun, namun tidak terintegrasi; 2) adanya tumpang tindih pendataan; 3) kurangnya kapasitas operator untuk menangani pendataan; 4) rendahnya kepercayaan terhadap data yang disebabkan oleh kurangnya akurasi, ketidaktersediaan data terbaru, dan lamanya proses untuk mendapatkan data.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="loader center-page" *ngIf="loadingTableau"></div>
        <div *ngIf="!loadingTableau" style="height: 100px">
            <ngx-tableau
                    [tableauVizUrl]="urlTableu"
                    [options]="options"
            ></ngx-tableau>
        </div>
    </div>
</div>
