:host ::ng-deep .p-organizationchart {
  .p-person {
    padding: 0;
    border: 0 none;
  }

  .p-organizationchart-line-down {
    border-right: 3px solid #121212 !important;
    border-color: black !important;
  }
  .p-organizationchart-line-left {
    border-right: 3px solid #121212 !important;
    border-color: black !important;
  }
  .p-organizationchart-line-top {
    border-top: 3px solid #121212;
    border-color: black !important;
  }

  .node-header, .node-content {
    //padding: .5em .7rem;
  }

  .node-header {
    background-color: #495ebb;
    color: #ffffff;
  }

  .node-content {
    text-align: left;
  }

  .node-content img {
    border-radius: 50%;
  }

  .department-cfo {
    background-color: #7247bc;
    color: #ffffff;
  }

  .department-coo {
    background-color: #a534b6;
    color: #ffffff;
  }

  .department-cto {
    background-color: #e9286f;
    color: #ffffff;
  }

  .notApplicable {
    background-color: rgba(151, 151, 151, 1);
    color: #ffffff;
  }

  .offTrack {
    background-color: rgba(255, 92, 92, 1);
    color: #ffffff;
  }

  .partialyOnTrack {
    background-color: rgba(255, 187, 55, 1);
    color: rgba(84, 84, 84, 1)
  }

  .onTrack {
    background-color: rgba(0, 189, 30, 1);
    color: #ffffff;
  }

  .achived {
    background-color: rgba(24, 101, 228, 1);
    color: #ffffff;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background: rgba(15, 132, 69, 0.05);
  color: rgba(15, 132, 69, 1);
}


div.overflow3{
  background-color: white;
  width: 100%;
  min-height: 400px;
  max-height: 800px;
  margin: auto;
  overflow: auto;
}

div.overflow4{
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  margin: auto;
  overflow: auto;
}

#Box {
  width: 100%;
  margin: 0 auto;
  height: max-content;
}
.Box1,
.Box2,
.Box3,
.Box4{
  width: 19500px;
}

.box {
  height: 170px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 10px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  border-bottom: 4px dashed #FFC57E;
}

.box2 {
  height: 170px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 10px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  border-bottom: 4px dashed #B2C75F;
}

.box3 {
  height: 170px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 10px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  border-bottom: 4px dashed #7AC698;
}

.box4 {
  height: 170px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 10px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  border-bottom: 4px dashed #85A7C4;
}
.Box1 {
  background-color: rgba(255, 242, 226, 1);
}
.Box2 {
  background: rgba(244, 255, 199, 1);
}
.Box3 {
  background: rgba(182, 255, 211, 1);
}
.Box4 {
  background: rgba(225, 236, 245, 1);
}

.indicator-name {
  background: #FFFFFF; box-shadow: 0px 0px 32px 0px #88888840;
  border-radius: 12px 12px 0px 0px;
  margin-top: 123px;
}

.box-status {
  height: 32px;
  width: 32px;
  border-radius: 2px;
}


.box4-fullscreen{
  height: 550px;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 0 10px #bdbdbd;
  -webkit-box-shadow: 0 0 10px #bdbdbd;
  border-bottom: 4px dashed #85A7C4;
}

.indicator-name-fullscreen {
  background: #FFFFFF; box-shadow: 0px 0px 32px 0px #88888840;
  border-radius: 12px 12px 0px 0px;
  margin-top: 505px;
}

.position-diagram {
  margin-top: -670px;
  width: 19500px
}

.position-diagram-fullscreen {
  margin-top: -1035px;
  width: 19500px
}
