<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row row-cols-lg-auto">
        <div class="col-md-12">
            <label class="title-header">Result Chain Diagram</label>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="2020">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2020</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2021">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2021</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2022">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2022</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2023">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2023</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2024">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2024</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="col-md-12"*ngIf="finishLoadData">
        <div class="card">
            <div class="card-body">
                <div class="overflow3" #codePart>
                    <div id="Box">
                        <div class="Box1">
                            <div class="box">
                                <label class="font-size-20 p-2 indicator-name">Longterm Outcome</label>
                            </div>
                        </div>
                        <div class="Box2">
                            <div class="box2">
                                <label class="font-size-20 p-2 indicator-name">Midterm Outcome</label>
                            </div>
                        </div>
                        <div class="Box3">
                            <div class="box3">
                                <label class="font-size-20 p-2 indicator-name">Intermediate Outcome</label>
                            </div>
                        </div>
                        <div class="Box4">
                            <div [ngClass]="{
                            'box4-fullscreen' : testing(),
                            'box4': !testing()
                            }">
                                <label class="font-size-20 p-2" [ngClass]="{
                                'indicator-name-fullscreen' : testing(),
                                'indicator-name': !testing()
                                }">Output Kegiatan</label>
                            </div>
                        </div>
                        <div [ngClass]="{
                        'position-diagram' : !testing(),
                        'position-diagram-fullscreen' : testing()
                        }">
                            <p-organizationChart [value]="data3" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="openModal(DetailMonev, $event)"
                                                 styleClass="company">
                                <ng-template let-node pTemplate="person">
                                    <div class="p-corner-top" [ngClass]=" {
                                         'notApplicable': node.resultStatusSelected === 1,
                                         'offTrack':node.resultStatusSelected === 2,
                                         'partialyOnTrack':node.resultStatusSelected === 3,
                                         'onTrack':node.resultStatusSelected === 4,
                                         'achived':node.resultStatusSelected === 5
                                         }">{{node.label}}</div>
                                            <hr style="border: 1.5px solid rgba(216, 216, 216, 1)">
                                            <div class="node-content">
                                                <div>Status : {{node.statusSelected}}</div>
                                            </div>
                                </ng-template>
                                <ng-template let-node pTemplate="department">
                                    {{node.label}}
                                </ng-template>
                            </p-organizationChart>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mt-2 col-md-10">
                        <label class="mb-0 font-size-16 me-lg-5"><i class="bx bx-checkbox" style="background-color: rgba(188, 188, 188, 1); color: transparent; border: transparent ;font-size: 23px"></i>&nbsp;Not Applicable</label>
                        <label class="mb-0 font-size-16 me-lg-5"><i class="bx bx-checkbox" style="background-color: rgba(255, 157, 157, 1); color: transparent; border: transparent ;font-size: 23px"></i>&nbsp;Off-Track</label>
                        <label class="mb-0 font-size-16 me-lg-5"><i class="bx bx-checkbox" style="background-color: rgba(255, 214, 135, 1); color: transparent; border: transparent ;font-size: 23px"></i>&nbsp;Partially On-Track</label>
                        <label class="mb-0 font-size-16 me-lg-5"><i class="bx bx-checkbox" style="background-color: rgba(127, 222, 142, 1); color: transparent; border: transparent ;font-size: 23px"></i>&nbsp;On-Track</label>
                        <label class="mb-0 font-size-16 me-lg-5"><i class="bx bx-checkbox" style="background-color: rgba(151, 185, 243, 1); color: transparent; border: transparent ;font-size: 23px"></i>&nbsp;Achieved</label>
                    </div>
                    <div class="mt-2 col-md-2 text-end">
                        <button class="btn btn-light" style="width: 120px; background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white;" (click)="toggleFullScreen(codePart)">
                            Fullscreen <i class="fas fa-expand"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #DetailMonev let-modal>
    <div class="loader center-page" *ngIf="!finishLoadDataDetail"></div>
    <div class="col-md-12" *ngIf="finishLoadDataDetail">
        <div class="modal-header">
            <h5 class="modal-title mt-0">
                <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'output'">Detail Output Kegiatan {{listMonev?.resultChainCode}}</label>
                <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'intermediate'">Detail Intermediate Outcome {{listMonev?.resultChainCode}}</label>
                <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Midterm'">Detail Midterm Outcome {{listMonev?.resultChainCode}}</label>
                <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Longterm'">Detail Longterm Outcome {{listMonev?.resultChainCode}}</label>
            </h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
            </button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label class="col-md-3 mb-0">Status</label>
                <div class="col-md-6">
                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="resultStatus === 1">Not Applicable</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="resultStatus === 2">Off-Track</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="resultStatus === 3">Partially On-Track</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="resultStatus === 4">On-Track</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="resultStatus === 5">Achieved</span>
                    <label class="mb-0" *ngIf="resultStatus == null">-</label>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label" *ngIf="from === 'output'">Output Kegiatan</label>
                <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Intermediate Outcome</label>
                <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Midterm Outcome</label>
                <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Longterm Outcome</label>
                <label class="col-md-6 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{listMonev?.code}}</label> - {{listMonev?.name}}</label>
            </div>
            <div class="table-responsive col-md-11">
                <table class="table table-bordered mb-3">
                    <thead class="thead-dark" style="background: #F1F1F1;">
                    <tr>
                        <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                        <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let dataResultIndicator of listMonev?.successIndicator">
                        <td style="width: 40%">
                            <label class="mb-0">{{dataResultIndicator?.code}} - {{dataResultIndicator?.name}}</label>
                        </td>
                        <td style="width: 60%">
                            <label class="mb-0" *ngIf="dataResultIndicator?.resultIndicator" [innerHTML]="dataResultIndicator?.resultIndicator"></label>
                            <label class="mb-0" *ngIf="!dataResultIndicator?.resultIndicator">-</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="goToDetailMonev()">
                <label class="mb-0">Lihat Lebih Detail</label>
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
    </div>
</ng-template>

