<div class="row">
  <div class="col-md-12">
    <iframe
      id="iframe-pmrms-penomoran"
      #iframePMRMSPenomoran
      [src]="link | safe"
      sandbox="allow-same-origin allow-forms allow-scripts allow-modals allow-popups"
      seamless="seamless"
      style="width: 100%; height: calc(100vh - 175px)"
      frameborder="0"
      allowtransparency="true"
      crossorigin="anonymous"
      allow="clipboard-write"
    ></iframe>
  </div>
</div>
