<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>

<div class="container-fluid" style="margin-top: 60px">
    <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
        <li [ngbNavItem]="1">
            <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block font-size-18">Dashboard Komponen</span>
            </a>
            <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block font-size-18">Dashboard PMRMS</span>
            </a>
            <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block font-size-18">Event Saya</span>
            </a>
            <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #TabContent>
    <div class="row row-cols-lg-auto mb-4 mt-4">
        <div *ngIf="selectedButtonComponent == 1 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('1') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg active "  style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu(1, 1)"> Komponen 1</button>
        </div>
        <div *ngIf="selectedButtonComponent != 1 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('1') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px"  (click)="loginTableu(1, 1)"> Komponen 1</button>
        </div>
        <div *ngIf="selectedButtonComponent == 2 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('2') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg active " style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px"  (click)="loginTableu(2, 1)"> Komponen 2</button>
        </div>
        <div *ngIf="selectedButtonComponent != 2 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('2') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu(2, 1)"> Komponen 2</button>
        </div>
        <div *ngIf="selectedButtonComponent == 3 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('3') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg active " style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px"  (click)="loginTableu(3, 1)"> Komponen 3</button>
        </div>
        <div *ngIf="selectedButtonComponent != 3 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('3') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px"(click)="loginTableu(3, 1)"> Komponen 3</button>
        </div>
        <div *ngIf="selectedButtonComponent == 4 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('4') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg active" style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px"  (click)="loginTableu(4,1)"> Komponen 4</button>
        </div>
        <div *ngIf="selectedButtonComponent != 4 && (roles.hasAuthority('Administrator') || roles.hasAuthorityComponent('4') || componentUser == '4.4')" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu(4, 1)"> Komponen 4</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="loadingTableau"></div>
    <div *ngIf="!loadingTableau" style="height: 1500px">
        <div *ngIf="selectedTabs == 1">
            <ngx-tableau
                    [tableauVizUrl]="urlTableu"
                    [options]="options"
            ></ngx-tableau>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="loader center-page" *ngIf="finishLoadDataCalender"></div>
    <div class="mt-3" *ngIf="!finishLoadDataCalender">
        <div class="row row-cols-lg-auto mb-5">
            <button class="btn btn-lg me-3 active" style=" background-color: rgba(255, 255, 255, 1); border: 0.5px solid rgba(24, 101, 228, 1); height: 88px; width: 180px"  (click)="openModal(event, 1)">
                <div class="mb-0 text-start font-size-24">{{totalEventByStatus.done}}</div>
                <div class="mb-0 text-start font-size-16">Event Selesai</div>
            </button>
            <button class="btn btn-lg me-3 active" style=" background-color: rgba(255, 255, 255, 1); border: 0.5px solid rgba(24, 101, 228, 1); height: 88px; width: 180px"  (click)="openModal(event, 2)">
                <div class="mb-0 text-start font-size-24">{{totalEventByStatus.onGoing}}</div>
                <div class="mb-0 text-start font-size-16">Event Berjalan</div>
            </button>
            <button class="btn btn-lg me-3 active" style=" background-color: rgba(255, 255, 255, 1); border: 0.5px solid rgba(24, 101, 228, 1); height: 88px; width: 190px"  (click)="openModal(event, 3)">
                <div class="mb-0 text-start font-size-24">{{totalEventByStatus.planning}}</div>
                <div class="mb-0 text-start font-size-16">Event Akan Datang</div>
            </button>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row" style="margin-bottom: -20px">
                    <div class="col-md-8 font-size-24" style="">
                        <label class="mb-0">JADWAL</label> | <label style="color: #397CEA">{{titleDate | date: 'MMMM'}} - {{titleDate | date: 'yyyy'}}</label>
                    </div>
                    <div class="col-md-4" style="align-self: center">
                        <div class="row row-cols-lg-auto" style="justify-content: end">
                            <label class="mb-0 me-3 font-size-18" style="cursor: pointer" (click)="moveDateCalender(2)"><i class="fa fa-chevron-left" style="cursor:pointer;"></i>&nbsp; <label class="mb-0" style="color: rgba(57, 124, 234, 1); cursor: pointer">{{previousDate | date: 'MMMM'}} - {{previousDate | date: 'yyyy'}}</label></label>
                            <label class="mb-0 font-size-18" (click)="moveDateCalender(1)"><label style="color: rgba(57, 124, 234, 1); cursor: pointer">{{nextDate | date: 'MMMM'}} - {{nextDate | date: 'yyyy'}}</label>&nbsp;<i class="fa fa-chevron-right" style="cursor: pointer"></i></label>
                        </div>
                    </div>
                </div>
                <div class="app-calendar">
                    <!-- calendar -->
                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent3>
    <div class="row row-cols-lg-auto mb-4 mt-4">
        <div *ngIf="selectedButtonData === 'awp'" class="col-md-12">
            <button class="btn btn-lg active"  style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu('awp', 2)">AWP</button>
        </div>
        <div *ngIf="selectedButtonData !== 'awp'" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu('awp', 2)">AWP</button>
        </div>
        <div *ngIf="selectedButtonData === 'kegiatan'" class="col-md-12">
            <button class="btn btn-lg active" style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu('kegiatan', 2)">Kegiatan</button>
        </div>
        <div *ngIf="selectedButtonData !== 'kegiatan'" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu('kegiatan', 2)">Kegiatan</button>
        </div>
        <div *ngIf="selectedButtonData === 'event'" class="col-md-12">
            <button class="btn btn-lg active"  style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu('event ', 2)">Event</button>
        </div>
        <div *ngIf="selectedButtonData !== 'event'" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu('event', 2)">Event</button>
        </div>
        <div *ngIf="selectedButtonData === 'monev'" class="col-md-12">
            <button class="btn btn-lg active"  style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu('monev ', 2)">Monev</button>
        </div>
        <div *ngIf="selectedButtonData !== 'monev'" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu('monev', 2)">Monev</button>
        </div>
        <div *ngIf="selectedButtonData === 'risiko'" class="col-md-12">
            <button class="btn btn-lg active"  style="width: 160px; background-color: rgba(245, 245, 245, 0.5); border: 1px solid rgba(3, 129, 23, 1); color: #038117; height: 46px" (click)="loginTableu('risiko ', 2)">Risiko</button>
        </div>
        <div *ngIf="selectedButtonData !== 'risiko'" class="col-md-12">
            <button class="btn btn-lg text-white" style="width: 160px; background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); height: 46px" (click)="loginTableu('risiko', 2)">Risiko</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="loadingTableau"></div>
    <div *ngIf="!loadingTableau" [ngStyle]="{'height': (selectedButtonData === 'awp') ? '1800px' : (selectedButtonData === 'kegiatan' || selectedButtonData === 'event') ? '2600px' : '1300px'}">
        <div *ngIf="selectedTabs == 3">
            <ngx-tableau
                    [tableauVizUrl]="urlTableuAwp"
                    [options]="options"
            ></ngx-tableau>
        </div>
    </div>
</ng-template>


<ng-template #event let-modal>
    <div class="modal-header" >
        <h5 class="modal-title mt-0" style="color: rgba(24, 101, 228, 1);" *ngIf="eventType === 1">Daftar Event Selesai ({{totalEventByStatus.done}})</h5>
        <h5 class="modal-title mt-0" style="color: rgba(24, 101, 228, 1);" *ngIf="eventType === 2">Daftar Event Berjalan ({{totalEventByStatus.onGoing}})</h5>
        <h5 class="modal-title mt-0" style="color: rgba(24, 101, 228, 1);" *ngIf="eventType === 3">Daftar Event Akan Datang ({{totalEventByStatus.planning}})</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div>
            <app-event-table [eventType]="eventType" (rowClicked)="goToDetailKegiatan($event)" ></app-event-table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>

</ng-template>

<!-- Edit event modal -->
<ng-template #editmodalShow let-modal>
    <div class="modal-content" style="background: rgba(45, 156, 219, 1);">
        <div class="modal-body p-4" style="color: rgba(45, 156, 219, 1);">
            <form [formGroup]="formEditData">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="font-size-20 text-white">Event</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label font-size-16 text-white">Nama Event : {{tittleEventSelected}}</label>
                            <label class="control-label font-size-16 text-white">Tim Pelaksana
                                <div *ngFor="let data of listStaffEvent">
                                    <li class="ms-4">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} (Komponen {{data?.resources?.user?.component?.code}})</li>
                                </div>
                                <div *ngIf="otherStaffEvent.length > 0">
                                    <div *ngFor="let data of otherStaffEvent">
                                        <li class="ms-4">{{data?.name}}, {{data?.position?.name}}, {{data?.institution}}</li>
                                    </div>
                                </div>
                            </label>
                            <label class="control-label font-size-16 text-white">Waktu Pelaksanaan
                                <div>
                                    <li class="ms-4">{{startDateEvent | date:'dd MMMM yyyy'}} - {{endDateEvent | date:'dd MMMM yyyy'}}</li>
                                </div>
                            </label><br>
                            <label class="control-label font-size-16 text-white">Tempat Pelaksanaan
                                <div>
                                    <li class="ms-4">{{province?.name}} <label class="mb-0" *ngIf="regencies">({{regencies.name}})</label></li>
                                </div>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="text-end">
                        <label class="font-size-20" style="color: rgba(255, 255, 255, 0.3);">{{startDateEvent | date:'dd MMMM yyyy'}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
