<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToListAWP()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn text-white me-3" style="background: rgba(220, 53, 69, 1);" (click)="openModal(confirmationDeleteAwp)" [disabled]="loadingSavePdf" *ngIf="roles?.hasAuthority('Administrator') && awpYear >= currentDate">
                <label class="mb-0" *ngIf="!loadingSavePdf">Hapus File AWP</label>
                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSavePdf"></i>
            </button>
            <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditAwp()" [disabled]="loadingSavePdf" *ngIf="roles?.hasAuthority('Administrator') && awpYear >= currentDate">
                <label class="mb-0" *ngIf="!loadingSavePdf">Edit File AWP</label>
                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSavePdf"></i>
            </button>
            <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="downloadPdf(dataDetailAwp?.id, dataDetailAwp?.name)" [disabled]="loadingSavePdf">
                <label class="mb-0" *ngIf="!loadingSavePdf">Download File AWP</label>
                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSavePdf"></i>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail AWP</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <div class="col-md-9" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Umum</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Tahun</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.year}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Komponen </label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.component?.code}} - {{dataDetailAwp?.component?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Sub-Komponen </label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.subComponent?.code}} - {{dataDetailAwp?.subComponent?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Sub-Sub-Komponen :</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.subSubComponent?.code}} - {{dataDetailAwp?.subSubComponent?.description}}</label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Kode Kegiatan</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.componentCode?.code}}</label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Nama Kegiatan</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.name}}</label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Moda Kegiatan</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.activityMode?.name}}</label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Keterangan Kegiatan</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.nameOtherInformation" *ngIf="dataDetailAwp?.nameOtherInformation"></label>
                        <label class="col-md-6 col-form-label" *ngIf="!dataDetailAwp?.nameOtherInformation">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Budget AWP</label>
                        <label class="col-md-6 col-form-label">: Rp. {{dataDetailAwp?.budgetAwp | mask: 'separator':'.' }}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Upload RAB Kegiatan</label>
                        <div class="col-md-9">
                            <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailAwp?.rabFile" (click)="downloadFile(dataDetailAwp?.rabFile?.id, dataDetailAwp?.rabFile?.filename)"><i>{{dataDetailAwp?.rabFile?.filename}}</i></label>
                            <label class="col-form-label mb-0" *ngIf="!dataDetailAwp?.rabFile">: -</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-9" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Kegiatan</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">1. Tujuan Kegiatan</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.purpose"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">2. Deskripsi Kegiatan</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.description"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">3. Cara Pengelolaan Kegiatan</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.eventManagementType?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">4. Volume Event</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.eventVolume}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">5. Waktu Pelaksanaan Kegiatan</label>
                        <label class="col-md-6 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Mulai Kegiatan</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.convertStartDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Akhir Kegiatan</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.convertEndDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.eventOtherInformation ? dataDetailAwp?.eventOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-9" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Pelaksanaan</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">6. Tempat Pelaksanaan</label>
                        <label class="col-md-6 col-form-label"></label>
                    </div>
                    <div class="row" *ngFor="let data of dataDetailAwp?.provincesRegencies">
                        <div class="col-md-3">
                            <label class="font-weight-bold mb-0">
                                <ul>
                                    <li>Provinsi, Kota</li>
                                </ul>
                            </label>
                        </div>
                        <label class="col-md-6">: {{data?.province.name}}
                            <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                (<label *ngFor="let data of data?.regencies; let i = last">
                                    {{data?.regency?.name}}
                                    <label class="mb-0" *ngIf="!i">,</label>
                                </label>)
                            </label>
                        </label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label font-weight-bold" style="margin-left: 21px">Informasi Lainnya</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.locationOtherInformation}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">7. Jenis Kegiatan</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.eventType?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">8. Narasumber Kegiatan</label>
                        <label class="col-md-6 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Jumlah Narasumber</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.nsCount}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Asal Lembaga Narasumber</label>
                        </div>
                        <label class="col-md-6 col-form-label" *ngIf="!dataDetailAwp?.nsInstitution">: -</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.nsInstitution" *ngIf="dataDetailAwp?.nsInstitution"></label>

                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.nsOtherInformation ? dataDetailAwp?.nsOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-9" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Peserta</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">9. Jumlah Peserta</label>
                        <label class="col-md-6 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Jumlah Peserta</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.participantCount}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-6 col-form-label">: {{dataDetailAwp?.participantOtherInformation ? dataDetailAwp?.participantOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">10. Sasaran Peserta</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.participantTarget"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">11. Output Kegiatan</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.eventOutput"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">12. Kontribusi Hasil Terhadap PDOI</label>
                        <div class="col-md-6">
                            <div *ngIf="dataDetailAwp?.pdo.length > 0">
                                <div *ngFor="let data of dataDetailAwp?.pdo; let index = first">
                                    <label class="col-form-label">
                                        <li class="ms-2">{{data?.pdo?.name}} - {{data?.pdo?.description}} [{{data?.pdo?.selectedYearInformation}}]</li>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="dataDetailAwp?.pdo.length == 0">
                                <label class="col-form-label">: -</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">13. Kontribusi Hasil Terhadap IRI</label>
                        <div class="col-md-6">
                            <div *ngIf="dataDetailAwp?.iri.length > 0">
                                <div *ngFor="let data of dataDetailAwp?.iri; let index = first">
                                    <label class="col-form-label">
                                        <li class="ms-2">{{data?.iri?.name}} - {{data?.iri?.description}} [{{data?.iri?.selectedYearInformation}}]</li>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="dataDetailAwp?.iri.length == 0">
                                <label class="col-form-label">: -</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">14. Potensi Risiko</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.descriptionRisk" *ngIf="dataDetailAwp?.descriptionRisk"></label>
                        <label class="col-md-6 col-form-label" *ngIf="!dataDetailAwp?.descriptionRisk">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">15. Mitigasi Risiko</label>
                        <label class="col-md-6 col-form-label" [innerHtml]="dataDetailAwp?.mitigationRisk" *ngIf="dataDetailAwp?.mitigationRisk"></label>
                        <label class="col-md-6 col-form-label" *ngIf="!dataDetailAwp?.mitigationRisk">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">16. Keterangan Risiko</label>
                        <label class="col-md-6 col-form-label">{{dataDetailAwp?.risk ? dataDetailAwp?.risk : '-'}}</label>

                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">17. Gejala Risiko</label>
                        <label class="col-md-6 col-form-label">{{dataDetailAwp?.symptomsRisk ? dataDetailAwp?.symptomsRisk : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">18. Dampak</label>
                        <div class="col-md-6">
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.impactRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label> Tidak Berpengaruh</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.impactRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label> Kurang Berpengaruh</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.impactRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label> Agak Berpengaruh</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.impactRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label> Cukup Berpengaruh</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.impactRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label> Berpengaruh</label>
                            <label class="mb-0 col-form-label" *ngIf="!dataDetailAwp?.impactRisk">: -</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">19. Kemungkinan Terjadi</label>
                        <div class="col-md-6">
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.potentialRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label> Tidak Pernah</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.potentialRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label> Jarang</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.potentialRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label> Kadang-kadang</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.potentialRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label> Sering</label>
                            <label class="mb-0 col-form-label" *ngIf="dataDetailAwp?.potentialRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label> Hampir selalu</label>
                            <label class="mb-0 col-form-label" *ngIf="!dataDetailAwp?.potentialRisk">: -</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmationDeleteAwp let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Peringatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label class="mb-0">Apakah anda yakin akan menghapus AWP {{dataDetailAwp?.name}}</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: rgba(220, 53, 69, 1);" (click)="deleteAwpExisting()" [disabled]="loadingSavePdf">
            <label class="mb-0" *ngIf="!loadingSavePdf">Hapus AWP</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle" *ngIf="loadingSavePdf"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
