<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-4" type="button" (click)="goToListMonev()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="mb-5 mt-2">
        <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'output'">Detail Hasil Output Kegiatan {{listMonev?.resultChainCode}}</label>
        <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'intermediate'">Detail Hasil Intermediate Outcome {{listMonev?.resultChainCode}}</label>
        <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Midterm'">Detail Hasil Midterm Outcome {{listMonev?.resultChainCode}}</label>
        <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Longterm'">Detail Hasil Longterm Outcome {{listMonev?.resultChainCode}}</label>
    </div>
    <div class="col-md-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="2020">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2020</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2021">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2021</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2022">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2022</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2023">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2023</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2024">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2024</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>


<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="col-md-12"*ngIf="finishLoadData">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-md-3 mb-0">Status</label>
                    <div class="col-md-6">
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="resultStatus === 1">Not Applicable</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="resultStatus === 2">Off-Track</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="resultStatus === 3">Partially On-Track</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="resultStatus === 4">On-Track</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="resultStatus === 5">Achieved</span>
                        <label class="mb-0" *ngIf="resultStatus == null">-</label>
                    </div>
                </div>
                <div class="col-md-12 mb-3" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">{{separatorDetail}}</label>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 mb-0">Tahun</label>
                    <div class="col-md-6">
                        <label class="mb-0">: {{date.getFullYear()}}</label>
                    </div>
                </div>
                <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                    <label class="col-md-3 mb-0">Komponen</label>
                    <div class="col-md-9">
                        <label class="mb-0">: <label class="mb-0 font-weight-bold">{{listMonev?.component?.code}}</label> - {{listMonev?.component?.description}}</label>
                    </div>
                </div>
                <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                    <label class="col-md-3 mb-0">Sub Komponen</label>
                    <div class="col-md-9">
                        <label class="mb-0">: <label class="mb-0 font-weight-bold">{{listMonev?.subComponent?.code}}</label> - {{listMonev?.subComponent?.description}}</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label" *ngIf="from === 'output'">Ouput Kegiatan</label>
                    <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Intermediate Outcome</label>
                    <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Midterm Outcome</label>
                    <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Longterm Outcome</label>
                    <div class="col-md-9">
                        <label class="mb-0 col-form-label">: <label class="mb-0 font-weight-bold">{{listMonev?.code}}</label> - {{listMonev?.name}}</label>
                    </div>
                </div>
                <div class="mb-3 row" *ngIf="from !== 'output'">
                    <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Output Terkait</label>
                    <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Intermediate Terkait</label>
                    <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Midterm Terkait</label>
                    <div class="col-md-9">
                        <div *ngIf="childMonev?.length > 0">
                            <div class="row mb-2" *ngFor="let data of childMonev">
                                <div class="col-md-2 text-center" style="align-self: center">
                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data.resultStatusSelected === 1">Not Applicable</span>
                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data.resultStatusSelected === 2">Off-Track</span>
                                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data.resultStatusSelected === 3">Partially On-Track</span>
                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data.resultStatusSelected === 4">On-Track</span>
                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data.resultStatusSelected === 5">Achieved</span>
                                    <label class="mb-0" *ngIf="data?.resultStatusSelected === null">-</label>
                                </div>
                                <div class="col-md-10" style="align-self: center">
                                    <label class="mb-0"><label class="mb-0 font-weight-bold">{{data?.code}}</label> : {{data?.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="childMonev?.length == 0">
                            : -
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mb-3" *ngFor="let data of listMonev?.successIndicator; let i = index">
                    <ngb-accordion #acc="ngbAccordion" style="background-color: white">
                        <ngb-panel title="{{data?.code}} - {{data?.name}}">
                            <ng-template ngbPanelContent>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Indikator Keberhasilan</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label">: {{data?.code}} - {{data?.name}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">PDO</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label" *ngIf="data?.pdo">: {{data?.pdo?.name}} - {{data?.pdo?.description}}</label>
                                        <label class="mb-0 col-form-label" *ngIf="!data?.pdo">: -</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">IRI</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label" *ngIf="data?.iri">: {{data?.iri?.name}} - {{data?.iri?.description}}</label>
                                        <label class="mb-0 col-form-label" *ngIf="!data?.iri">: -</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Nilai Baseline</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label" *ngIf="data?.baselineValue">: {{data?.baselineValue}}</label>
                                        <label class="mb-0 col-form-label" *ngIf="!data?.baselineValue">: -</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Target Total</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label" *ngIf="data?.targetTotal">: {{data?.targetTotal}}</label>
                                        <label class="mb-0 col-form-label" *ngIf="!data?.targetTotal">: -</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">
                                        Target Tahun {{date.getFullYear()}}
                                        <label class="mb-0 col-form-label" *ngIf="data?.finalTarget && !data?.notApplicableAllYear" style="color: rgba(24, 101, 228, 1);"><i>(Hasil Belom Final)</i></label>
                                        <label class="mb-0 col-form-label" *ngIf="data?.notApplicableAllYear" style="color: rgba(24, 101, 228, 1);"><i>(Not Applicable)</i></label>
                                    </label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label me-2" *ngIf="!data?.targetYearNow">: -</label>
                                        <label class="mb-0 col-form-label me-2" *ngIf="data?.targetYearNow">: {{data?.targetYearNow}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="from === 'output'">
                                    <label class="col-md-3 col-form-label">Rekapitulasi Laporan Kegiatan Tahun {{date?.getFullYear()}} :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="data?.rekaptulationActivity.length > 0">
                                            <li class="list-group-item" *ngFor="let dataRekaptulation of data.rekaptulationActivity">
                                                <div class="row" style="justify-content: space-between">
                                                    <label class="mb-0" style="padding-left: 0px"><label class="mb-0 font-weight-bold">{{dataRekaptulation?.componentCode}}</label> : {{dataRekaptulation?.contribution}}</label>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="data.rekaptulationActivity.length == 0">
                                            <li class="list-group-item">
                                                <div class="row" style="justify-content: space-between">
                                                    <label class="mb-0" style="padding-left: 0px">-</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="!data?.notApplicableAllYear">
                                    <label class="col-md-3 col-form-label">Upload Bukti Hasil Indikator</label>
                                    <div class="col-md-9">
                                        <label class="col-md-4 col-form-label" *ngIf="data?.filesExist?.length <= 2 && data?.filesExist?.length > 0">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)">
                                                <li class="list-group-item" *ngFor="let dataFiles of data?.filesExist" style="padding: 0.47rem 0.75rem" (click)="downloadFile(dataFiles?.fileId, dataFiles?.file?.filename)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-2" style="align-self: center; text-align: end">
                                                                    <i class="fa fa-file font-size-30"></i>
                                                                </div>
                                                                <div class="col-10" style="align-self: center">
                                                                    <div class="row">
                                                                        <label class="mb-0">{{dataFiles?.file?.filename}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </label>
                                        <label class="col-md-4 col-form-label" *ngIf="data?.filesExist?.length > 2">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="this.showMoreDocumentation">
                                                <li class="list-group-item" *ngFor="let dataFiles of data?.filesExist" style="padding: 0.47rem 0.75rem" (click)="downloadFile(dataFiles?.fileId, dataFiles?.file?.filename)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-2" style="align-self: center; text-align: end">
                                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                                </div>
                                                                <div class="col-10" style="align-self: center">
                                                                    <div class="row">
                                                                        <label class="mb-0">{{dataFiles?.file?.filename}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem; cursor: pointer" (click)="showMoreFileDocumentation(false)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <label class="mb-0" style="color: rgba(24, 101, 228, 1);">Show Less</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="!this.showMoreDocumentation">
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.filesExist[0]?.fileId, data?.filesExist[0]?.file?.filename)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-2" style="align-self: center; text-align: end">
                                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                                </div>
                                                                <div class="col-10" style="align-self: center">
                                                                    <div class="row">
                                                                        <label class="mb-0">{{data?.filesExist[0]?.file?.filename}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.filesExist[1]?.fileId, data?.filesExist[1]?.file?.filename)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-2" style="align-self: center; text-align: end">
                                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                                </div>
                                                                <div class="col-10" style="align-self: center">
                                                                    <div class="row">
                                                                        <label class="mb-0">{{data?.filesExist[1]?.file?.filename}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem; cursor: pointer" (click)="showMoreFileDocumentation(true)">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-12">
                                                            <label class="mb-0" style="color: rgba(24, 101, 228, 1);">See More</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </label>
                                        <label class="col-md-4 col-form-label" *ngIf="data?.filesExist?.length == 0">: -</label>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="!data?.notApplicableAllYear">
                                    <label class="col-md-3 col-form-label" *ngIf="from === 'output'">Hasil Indikator Output Kegiatan Tahun {{date.getFullYear()}} :</label>
                                    <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Hasil Indikator Intermediate Outcome Tahun {{date.getFullYear()}} :</label>
                                    <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Hasil Indikator Midterm Outcome Tahun {{date.getFullYear()}} :</label>
                                    <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Hasil Indikator Longterm Outcome Tahun {{date.getFullYear()}} :</label>
                                    <div class="col-md-9">
                                        <label class="mb-0 col-form-label" *ngIf="!data?.resultIndicator">: -</label>
                                        <label class="mb-0 col-form-label" [innerHTML]="data?.resultIndicator" *ngIf="data?.resultIndicator"></label>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="col-md-12 mb-3" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">{{evaluationDetail}}</label>
                </div>
                <div class="mb-3 row" *ngFor="let data of resultAnswer">
                    <label class="mb-2">{{data?.number}}. {{data?.questionName}}</label>
                    <div class="row row-cols-lg-auto ms-2" *ngIf="data?.yesOrNo === true">
                        <label class="col-form-label col-md-12">Jawaban</label>
                        <div class="col-md-12">
                            <label class="mb-0 col-form-label" *ngIf="data?.yesOrNoAnswer === true">: Ya</label>
                            <label class="mb-0 col-form-label" *ngIf="data?.yesOrNoAnswer === false">: Tidak</label>
                            <label class="mb-0 col-form-label" *ngIf="data?.yesOrNoAnswer === null">: -</label>
                        </div>
                    </div>
                    <div class="row row-cols-lg-auto ms-2" *ngIf="data?.yesOrNoAnswer == false && data?.yesOrNo === true">
                        <label class="col-form-label col-md-12">Alasan</label>
                        <div class="col-md-12">
                            <label class="mb-0 col-form-label" style="margin-left: 1.09rem !important">: {{data?.answer ? data?.answer : '-'}}</label>
                        </div>
                    </div>
                    <div class="row row-cols-lg-auto ms-2" *ngIf="data?.yesOrNo === false">
                        <label class="col-form-label col-md-12">Penjelasan</label>
                        <div class="col-md-12">
                            <label class="mb-0 col-form-label">: {{data?.answer ? data?.answer : '-'}}</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-0 col-md-12 mb-2">{{resultAnswer.length + 1}}. Status Hasil Kegiatan :</label>
                    <div class="row row-cols-lg-auto ms-2">
                        <div class="col-md-12" style="align-self: center">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="resultStatus === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="resultStatus === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="resultStatus === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="resultStatus === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="resultStatus === 5">Achieved</span>
                            <label class="mb-0" *ngIf="resultStatus == null">-</label>
                        </div>
                        <div class="col-md-12" style="align-self: center">
                            <label class="mb-0" *ngIf="resultStatus === 1">: Kegiatan di luar atau tidak relevan dengan RC</label>
                            <label class="mb-0" *ngIf="resultStatus === 2">: Hasil keluar dari jalur atau tidak relevan dengan logframe</label>
                            <label class="mb-0" *ngIf="resultStatus === 3">: Hasil belum tercapai, tetapi beresiko tidak akan tercapai bila tidak ada perbaikan</label>
                            <label class="mb-0" *ngIf="resultStatus === 4">: Hasil belum tercapai, tetapi masih sesuai jalur atau relevan untuk bisa dicapai</label>
                            <label class="mb-0" *ngIf="resultStatus === 5">: Hasil sudah tercapai sesuai kriteria yang sudah ditetapkan</label>
                            <label class="mb-0" *ngIf="resultStatus === null"></label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12 text-end" *ngIf="!validationEditMonev">
                        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditMonev()">Edit Output Kegiatan</button>
                        <button class="btn" style="background: rgba(224, 224, 224, 1); width: 120px" (click)="goToListMonev()">Keluar</button>
                    </div>
                    <div class="col-md-12 text-end" *ngIf="validationEditMonev">
                        <button class="btn" style="background: rgba(224, 224, 224, 1); width: 120px" (click)="goToListMonev()">Keluar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
