.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.star {
  font-size: 1.5rem;
  color: rgba(242, 242, 242, 1);;
}
.filled {
  color: rgba(223, 179, 0, 1);
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
