<app-header-application></app-header-application>
<div class="container-fluid p-0">
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="row g-0" [hidden]="!finishLoadData" >
        <div class="row justify-content-center" style="margin-top: 3%; margin-bottom: 10%">
            <div class="col-md-9" *ngIf="listQuestionnare?.status == null">
                <div *ngIf="!successPageSave">
                    <div>
                        <label class="font-size-24">Formulir {{listQuestionnare?.eventType}} - {{listQuestionnare?.createdFor === 1 ? 'Evaluator' : 'Peserta'}}</label><br>
                    </div>
                    <div class="card" style="background: rgba(255, 255, 255, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <label class="col-form-label col-md-2">Email Peserta</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Masukkan email anda" (ngModelChange)="validateEmail($event)">
                                    <p class="text-danger mt-1" style="padding-bottom: 0px; margin-bottom: 0px" *ngIf="validationEmail == false"><i>Email tidak valid</i></p>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-md-2">Nama Peserta</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" [(ngModel)]="participantName" placeholder="Masukkan nama anda">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-md-2">Jenis Kelamin</label>
                                <div class="col-md-6 col-form-label">
                                    <div class="row row-cols-lg-auto">
                                        <div class="col-md-12">
                                            <div class="form-check form-radio-outline form-radio-primary">
                                                <input class="form-check-input" type="radio" name="Male" id="1" [value]="'m'" [(ngModel)]="gender">
                                                <label class="form-check-label" for="1">
                                                    Laki-Laki
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check form-radio-outline form-radio-primary">
                                                <input class="form-check-input" type="radio" name="Female" id="2"  [value]="'f'" [(ngModel)]="gender">
                                                <label class="form-check-label" for="2">
                                                    Perempuan
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-md-2">Asal Instansi</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" [(ngModel)]="institutionFrom" placeholder="Masukkan asal instansi">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-form-label col-md-2">Nomor Telepon</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" [(ngModel)]="phoneNumber" placeholder="Masukkan nomor telepon" (keydown)="numberOnly($event)" inputmode="numeric">
                                </div>
                            </div>
                            <div *ngIf="existingQuestionParticipantCompliance.length > 0">
                                <div class="col-md-12 mb-3 mt-3" style="background-color: rgba(24, 101, 228, 0.06);">
                                    <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) :</label>
                                </div>
                                <div *ngFor="let data of existingQuestionParticipantCompliance; let i = index">
                                    <div class="card" style="border: 1.5px solid rgba(224, 224, 224, 1)">
                                        <div class="card-body">
                                            <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}}</label>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 3">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12">
                                                            <label class="col-form-label font-size-14 mb-0">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 85%; padding-right: 0">
                                                            <textarea class="form-control" [(ngModel)]="data.explanationAnswer"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'A'}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'AA'}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}} + 1">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 2">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">Score :</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <ngb-rating [(rate)]="data.ratingAnswer">
                                                                <ng-template let-fill="fill" let-index="index">
                                                                    <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                                                                </ng-template>
                                                            </ngb-rating>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">(Score : {{data?.ratingAnswer}})</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="existingQuestionParticipantEconomy.length > 0">
                                <div class="col-md-12 mb-3 mt-3" style="background-color: rgba(24, 101, 228, 0.06);">
                                    <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) :</label>
                                </div>
                                <div *ngFor="let data of existingQuestionParticipantEconomy; let i = index">
                                    <div class="card" style="border: 1.5px solid rgba(224, 224, 224, 1)">
                                        <div class="card-body">
                                            <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}}</label>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 3">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12">
                                                            <label class="col-form-label font-size-14 mb-0">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 85%; padding-right: 0">
                                                            <textarea class="form-control" [(ngModel)]="data.explanationAnswer"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'B'}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'BB'}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}} + 1">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 2">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">Score :</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <ngb-rating [(rate)]="data.ratingAnswer">
                                                                <ng-template let-fill="fill" let-index="index">
                                                                    <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                                                                </ng-template>
                                                            </ngb-rating>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">(Score : {{data?.ratingAnswer}})</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="existingQuestionParticipantEffective.length > 0">
                                <div class="col-md-12 mb-3 mt-3" style="background-color: rgba(24, 101, 228, 0.06);">
                                    <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) :</label>
                                </div>
                                <div *ngFor="let data of existingQuestionParticipantEffective; let i = index">
                                    <div class="card" style="border: 1.5px solid rgba(224, 224, 224, 1)">
                                        <div class="card-body">
                                            <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}}</label>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 3">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12">
                                                            <label class="col-form-label font-size-14 mb-0">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 85%; padding-right: 0">
                                                            <textarea class="form-control" [(ngModel)]="data.explanationAnswer"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'C'}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'CC'}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}} + 1">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 2">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">Score :</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <ngb-rating [(rate)]="data.ratingAnswer">
                                                                <ng-template let-fill="fill" let-index="index">
                                                                    <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                                                                </ng-template>
                                                            </ngb-rating>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">(Score : {{data?.ratingAnswer}})</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="existingQuestionParticipantEffisiens.length > 0">
                                <div class="col-md-12 mb-3 mt-3" style="background-color: rgba(24, 101, 228, 0.06);">
                                    <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) :</label>
                                </div>
                                <div *ngFor="let data of existingQuestionParticipantEffisiens; let i = index">
                                    <div class="card" style="border: 1.5px solid rgba(224, 224, 224, 1)">
                                        <div class="card-body">
                                            <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}}</label>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 3">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12">
                                                            <label class="col-form-label font-size-14 mb-0">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 85%; padding-right: 0">
                                                            <textarea class="form-control" [(ngModel)]="data.explanationAnswer"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'D'}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'DD'}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}} + 1">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 2">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">Score :</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <ngb-rating [(rate)]="data.ratingAnswer">
                                                                <ng-template let-fill="fill" let-index="index">
                                                                    <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                                                                </ng-template>
                                                            </ngb-rating>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">(Score : {{data?.ratingAnswer}})</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="existingQuestionParticipantOtherQuestion.length > 0">
                                <div class="col-md-12 mb-3 mt-3" style="background-color: rgba(24, 101, 228, 0.06);">
                                    <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">E. LAIN-LAIN (Pertanyaan) :</label>
                                </div>
                                <div *ngFor="let data of existingQuestionParticipantOtherQuestion; let i = index">
                                    <div class="card" style="border: 1.5px solid rgba(224, 224, 224, 1)">
                                        <div class="card-body">
                                            <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}}</label>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 3">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12">
                                                            <label class="col-form-label font-size-14 mb-0">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 85%; padding-right: 0">
                                                            <textarea class="form-control" [(ngModel)]="data.explanationAnswer"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'E'}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="{{data?.question + i + 'EE'}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                                            <label class="form-check-label" for="{{data.id}} + 1">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 mt-1 row" *ngIf="data.questionType === 2">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">Score :</label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <ngb-rating [(rate)]="data.ratingAnswer">
                                                                <ng-template let-fill="fill" let-index="index">
                                                                    <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                                                                </ng-template>
                                                            </ngb-rating>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center">
                                                            <label class="font-size-15 mb-0">(Score : {{data?.ratingAnswer}})</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-end">
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" [disabled]="disableButtonSave() || !participantName || gender == null || !institutionFrom || !phoneNumber || !email || loadingSaveQuestion || !validationEmail" (click)="saveFormQuestion()">
                                    <label class="mb-0" style="cursor:pointer;" *ngIf="!loadingSaveQuestion">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveQuestion"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="successPageSave">
                    <div class="card" style="background: rgba(255, 255, 255, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                        <div class="card-body">
                            <div class="row row-cols-lg-auto p-5">
                                <div class="col-md-12">
                                    <img class="img-fluid avatar-xl" src="assets/images/FileSaved.svg">
                                </div>
                                <div class="col-md-12" style="align-self: center">
                                    <label class="mb-0 font-weight-bold font-size-18">Formulir Tanggapan - {{listQuestionnare?.eventName}}</label><br><br>
                                    <label class="mb-0 font-size-16">Terima kasih sudah mengisi formulir tanggapan {{listQuestionnare?.eventName}}.</label><br><br><br>
                                    <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                        <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" *ngIf="listQuestionnare?.status === 2">
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/VectorFileFailed.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">Formulir Tanggapan - {{listQuestionnare?.eventName}}</label><br><br>
                                <label class="mb-0 font-size-16">Waktu pengisian formulir telah berakhir.</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" *ngIf="listQuestionnare?.status === 1">
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/VectorFile.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">Formulir Tanggapan - {{listQuestionnare?.eventName}}</label><br><br>
                                <label class="mb-0 font-size-16">Formulir belum bisa diisi, hanya bisa diisi jika event sudah berakhir.</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" *ngIf="listQuestionnare?.status === 3">
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/file404_questionnaire.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">Link Tidak Ditemukan</label><br><br>
                                <label class="mb-0 font-size-16">Link yang Anda cari mungkin sudah terhapus, periksa kembali apakah <br> link yang Anda coba buka sudah benar.</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9" *ngIf="listQuestionnare?.status === 4">
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/link_expired.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">Formulir Tanggapan - {{listQuestionnare?.eventName}}</label><br><br>
                                <label class="mb-0 font-size-16">Link formulir telah expired.</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <div class="background-footer">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">
                    <label>Copyright © 2022 | Kementerian Agama Republik Indonesia</label>
                </div>
            </div>
        </div>
    </div>
</div>
