.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%)!important;
  color: rgba(255, 255, 255, 1) !important;
  border: 1px solid rgba(208, 208, 208, 1) !important;
}


.btn-outline-secondary:hover {
  color: rgba(255, 255, 255, 1) !important;
  background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%) !important;
  border: 1px solid rgba(208, 208, 208, 1) !important;
}


.btn-outline-secondary {
  color: black !important;
  background-color: transparent !important;
  border: 1px solid rgba(208, 208, 208, 1) !important;
}

.btn-landing:hover {
  background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%) !important;
  color: white !important;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 100%
}
.image2 {
  position: absolute;
  top: -50px;
  left: 200px;
  border: 1px green solid;
}

.background-blue {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120%;
  width: 100%;
}

.background-photo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
  .image1 {
    width: 100%;
  }
  .background-blue {
    background-size: cover;
    height: 110vh
  }

  .custom-overflow {
    overflow: auto;
  }
}


::ng-deep .btn-close-landing {
  color: white !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.button-component-preview {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white !important;
}
