<div class="background-blue mt-0" style="background-image: url('assets/images/Hasil.webp')">
    <div class="container" style="width: 100%; height: 118vh">
        <div>
            <div class="col-12 top-container-landing-page">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <img src="assets/images/logo-kemenag.svg" style="width: 100px">
                            <div class="col-sm login-align">
                                <div><label class="font-size-16 text-white" style="margin-bottom: 0;font-weight: bold;margin-top:5px">PROJECT MANAGEMENT</label></div>
                                <div><label class="font-size-14 text-white">REPORTING MONITORING SYSTEM</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 login-align">
                        <div class="right-button-header" style="text-align: right">
                            <button class="btn" style="color: rgba(3, 129, 23, 1); background-color: white ; font-size: 16px" (click)="goToLogin()">Masuk Akun <i class="fa fa-sign-in-alt ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 box-component-landing" >
            <div class="row">
                <div class="col-md-5" style="align-self: center">
                    <label class="text-white font-size-24">Selamat Datang,</label><br>
                    <label class="text-white" style="font-size: 40px">Di Aplikasi PMRMS</label><br>
                    <label class="text-white font-size-16">Merencanakan-Melaksanakan-Melaporkan MEQR.</label>
                </div>
                <div class="col-md-7">
                    <img class="image1" src="assets/images/Group_photo.png">
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap  custom-overflow" style="width: 100%">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width: 100%; border-radius: 50px">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-secondary button-component-preview" for="btnradio4" (click)="openModal(compoonent1)">
                    <label style="font-size: 14px; cursor:pointer;" for="btnradio4">Komponen 1</label><br>
                    <label style="font-size: 16px; cursor:pointer;" for="btnradio4">eRKAM dan BKBA</label>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn btn-outline-secondary button-component-preview" for="btnradio5" (click)="openModal(compoonent2)">
                    <label style="font-size: 14px; cursor:pointer;" for="btnradio5">Komponen 2</label><br>
                    <label style="font-size: 16px; cursor:pointer;" for="btnradio5">Evaluasi Hasil Belajar Siswa <br> Kelas 4 Secara Nasional</label>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn btn-outline-secondary button-component-preview" for="btnradio6" (click)="openModal(compoonent3)">
                    <label style="font-size: 14px; cursor:pointer;" for="btnradio6">Komponen 3</label><br>
                    <label style="font-size: 16px; cursor:pointer;" for="btnradio6">PKB Guru-Tendik dan <br> Hibah Kelompok Kerja</label>
                </label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                <label class="btn btn-outline-secondary " for="btnradio7" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px; background-color: white !important" (click)="openModal(compoonent4)">
                    <label style="font-size: 14px; cursor:pointer;" for="btnradio7">Komponen 4</label><br>
                    <label style="font-size: 16px; cursor:pointer;" for="btnradio7">Education Management <br> Information System (EMIS)</label>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="container" style="width: 100%" *ngIf="pathRoute === '/'">
    <div class="loader center-page" *ngIf="loadingTableau"></div>
    <div *ngIf="!loadingTableau">
        <ngx-tableau
                [tableauVizUrl]="urlTableu"
                [options]="options"
        ></ngx-tableau>
    </div>
</div>
<div class="footer">
    <div class="background-footer">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">
                    <label style="color: rgba(51, 51, 51, 1);">Copyright © 2022 | Kementerian Agama Republik Indonesia</label>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #compoonent1 let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 w-100 text-center" style="color: rgba(15, 132, 69, 1); font-size: 24px">Komponen 1</h5>
        <i class="fa fa-times-circle font-size-30" (click)="closeModal()" style="color: rgba(15, 132, 69, 1);; cursor: pointer"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen1/componen1-1.png" alt="first slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen1/componen1-2.png" alt="second slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen1/componen1-3.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen1/componen1-4.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6">
                <label>Penerapan Sistem e-RKAM (Rencana Kerja dan Anggaran Madrasah berbasis Elektronik) Secara Nasional dan Pemberian Dana Bantuan untuk Madrasah</label>
                <button class="btn btn-landing mt-2" style="background-color: transparent; border-radius: 5px; border: 1px solid rgba(24, 101, 228, 1)" (click)="goToComponen1()">Lihat Lengkap <i class="fa fa-arrow-right ms-2"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center" style="display: block">
        <label class="ms-0">Project Management Reporting Monitoring System (PMRMS) | Kementerian Agama Republik Indonesia</label>
    </div>
</ng-template>


<ng-template #compoonent2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 w-100 text-center" style="color: rgba(15, 132, 69, 1); font-size: 24px">Komponen 2</h5>
        <i class="fa fa-times-circle font-size-30" (click)="closeModal()" style="color: rgba(15, 132, 69, 1); cursor: pointer"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen2/componen2-1.png" alt="first slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen2/componen2-2.png" alt="second slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen2/componen2-3.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen2/componen2-4.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6">
                <label>Penerapan Sistem Penilaian Hasil Belajar di tingkat Madrasah Ibtidaiyah (MI) untuk Seluruh Peserta Didik Kelas 4 Secara Nasional</label>
                <button class="btn btn-landing mt-2" style="background-color: transparent; border-radius: 5px; border: 1px solid rgba(24, 101, 228, 1)" (click)="goToComponen2()">Lihat Lengkap <i class="fa fa-arrow-right ms-2"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center" style="display: block">
        <label class="ms-0">Project Management Reporting Monitoring System (PMRMS) | Kementerian Agama Republik Indonesia</label>
    </div>
</ng-template>

<ng-template #compoonent3 let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 w-100 text-center" style="color: rgba(15, 132, 69, 1); font-size: 24px">Komponen 3</h5>
        <i class="fa fa-times-circle font-size-30" (click)="closeModal()" style="color: rgba(15, 132, 69, 1); cursor: pointer"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen3/componen3-1.png" alt="first slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen3/componen3-2.png" alt="second slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen3/componen3-3.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen3/componen3-4.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6">
                <label>Kebijakan dan Pengembangan Keprofesian Berkelanjutan untuk Guru, Tenaga Kependidikan di Madrasah dan Hibah Kelompok Kerja</label>
                <button class="btn btn-landing mt-2" style="background-color: transparent; border-radius: 5px; border: 1px solid rgba(24, 101, 228, 1)" (click)="goToComponen3()">Lihat Lengkap <i class="fa fa-arrow-right ms-2"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center" style="display: block">
        <label class="ms-0">Project Management Reporting Monitoring System (PMRMS) | Kementerian Agama Republik Indonesia</label>
    </div>
</ng-template>


<ng-template #compoonent4 let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0 w-100 text-center" style="color: rgba(24, 101, 228, 1); font-size: 24px">Komponen 4</h5>
        <i class="fa fa-times-circle font-size-30" (click)="closeModal()" style="color: rgba(15, 132, 69, 1); cursor: pointer"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen4/componen4-1.png" alt="first slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen4/componen4-2.png" alt="second slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen4/componen4-3.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/landing-componen4/componen4-4.png" alt="third slide" class="d-block img-fluid w-100">
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-md-6">
                <label>(EMIS) Education Management Information System atau disebut juga dengan Penguatan Sistem Untuk Mendukung Pengembangan Kualitas.</label>
                <button class="btn btn-landing mt-2" style="background-color: transparent; border-radius: 5px; border: 1px solid rgba(24, 101, 228, 1)" (click)="goToComponen4()">Lihat Lengkap <i class="fa fa-arrow-right ms-2"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center" style="display: block">
        <label class="ms-0">Project Management Reporting Monitoring System (PMRMS) | Kementerian Agama Republik Indonesia</label>
    </div>
</ng-template>
