<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListQuestion()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Hasil Formulir Tanggapan Peserta - {{listAllSummaryParticipant?.eventName}}</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <label class="font-size-24 mb-3">{{listAllSummaryParticipant?.totalRespondent}} Responden</label>
                    <div *ngIf="resultCategoryCompliance?.length > 0">
                        <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                            <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) : </label>
                        </div>
                        <div *ngFor="let data of resultCategoryCompliance; let i = index">
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="overflowQuestion">
                                            <div *ngFor="let dataAnswer of data?.answers">
                                                <label class="col-md-12 p-2 mb-2" style="padding-left: 0; background-color: rgba(239, 239, 239, 1)">{{dataAnswer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 2">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-15 mb-0">Score = {{data?.answerScaleScore}} dari 5</label>
                                        </div>
                                        <div class="row row-cols-lg-auto">
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">5 ({{data?.answerScale5Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">4 ({{data?.answerScale4Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">3 ({{data?.answerScale3Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">2 ({{data?.answerScale2Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">1 ({{data?.answerScale1Count}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data?.question?.questionType === 1">
                                <app-chart-questionnaire [questionName]="(i + 1) + '. ' + data?.question?.question" [questionAnswerYes]="data?.answerYesCount" [questionAnswerNo]="data?.answerNoCount" [respondentCount]="data?.respondentCount"></app-chart-questionnaire>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resultCategoryEconomy?.length > 0">
                        <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                            <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) : </label>
                        </div>
                        <div *ngFor="let data of resultCategoryEconomy; let i = index">
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="overflowQuestion">
                                            <div *ngFor="let dataAnswer of data?.answers">
                                                <label class="col-md-12 p-2 mb-2" style="padding-left: 0; background-color: rgba(239, 239, 239, 1)">{{dataAnswer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 2">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-15 mb-0">Score = {{data?.answerScaleScore}} dari 5</label>
                                        </div>
                                        <div class="row row-cols-lg-auto">
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">5 ({{data?.answerScale5Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">4 ({{data?.answerScale4Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">3 ({{data?.answerScale3Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">2 ({{data?.answerScale2Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">1 ({{data?.answerScale1Count}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data?.question?.questionType === 1">
                                <app-chart-questionnaire [questionName]="(i + 1) + '. ' + data?.question?.question" [questionAnswerYes]="data?.answerYesCount" [questionAnswerNo]="data?.answerNoCount" [respondentCount]="data?.respondentCount"></app-chart-questionnaire>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resultCategoryEffective?.length > 0">
                        <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                            <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) : </label>
                        </div>
                        <div *ngFor="let data of resultCategoryEffective; let i = index">
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="overflowQuestion">
                                            <div *ngFor="let dataAnswer of data?.answers">
                                                <label class="col-md-12 p-2 mb-2" style="padding-left: 0; background-color: rgba(239, 239, 239, 1)">{{dataAnswer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 2">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-15 mb-0">Score = {{data?.answerScaleScore}} dari 5</label>
                                        </div>
                                        <div class="row row-cols-lg-auto">
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">5 ({{data?.answerScale5Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">4 ({{data?.answerScale4Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">3 ({{data?.answerScale3Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">2 ({{data?.answerScale2Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">1 ({{data?.answerScale1Count}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data?.question?.questionType === 1">
                                <app-chart-questionnaire [questionName]="(i + 1) + '. ' + data?.question?.question" [questionAnswerYes]="data?.answerYesCount" [questionAnswerNo]="data?.answerNoCount" [respondentCount]="data?.respondentCount"></app-chart-questionnaire>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="resultCategoryEffisiens?.length > 0">
                        <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                            <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) : </label>
                        </div>
                        <div *ngFor="let data of resultCategoryEffisiens; let i = index">
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="overflowQuestion">
                                            <div *ngFor="let dataAnswer of data?.answers">
                                                <label class="col-md-12 p-2 mb-2" style="padding-left: 0; background-color: rgba(239, 239, 239, 1)">{{dataAnswer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 2">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-15 mb-0">Score = {{data?.answerScaleScore}} dari 5</label>
                                        </div>
                                        <div class="row row-cols-lg-auto">
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">5 ({{data?.answerScale5Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">4 ({{data?.answerScale4Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">3 ({{data?.answerScale3Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">2 ({{data?.answerScale2Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">1 ({{data?.answerScale1Count}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data?.question?.questionType === 1">
                                <app-chart-questionnaire [questionName]="(i + 1) + '. ' + data?.question?.question" [questionAnswerYes]="data?.answerYesCount" [questionAnswerNo]="data?.answerNoCount" [respondentCount]="data?.respondentCount"></app-chart-questionnaire>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="resultCategoryOtherQuestion?.length > 0">
                        <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                            <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">E. LAIN-LAIN (Pertanyaan) : </label>
                        </div>
                        <div *ngFor="let data of resultCategoryOtherQuestion; let i = index">
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 3">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-2">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="overflowQuestion">
                                            <div *ngFor="let dataAnswer of data?.answers">
                                                <label class="col-md-12 p-2 mb-2" style="padding-left: 0; background-color: rgba(239, 239, 239, 1)">{{dataAnswer}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px" *ngIf="data?.question?.questionType === 2">
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="mb-2">
                                            <label class="font-size-16 mb-0">{{i + 1}}. {{data?.question?.question}}.</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{data?.respondentCount}} Responden</label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-size-15 mb-0">Score = {{data?.answerScaleScore}} dari 5</label>
                                        </div>
                                        <div class="row row-cols-lg-auto">
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">5 ({{data?.answerScale5Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">4 ({{data?.answerScale4Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">3 ({{data?.answerScale3Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">2 ({{data?.answerScale2Count}})</label>
                                            </div>
                                            <div class="col-md-12" style="align-self: center">
                                                <i class="fa fa-star me-2" style="color: #DFB300; font-size: 17px"></i>
                                                <label class="mb-0" style="font-size: 16px">1 ({{data?.answerScale1Count}})</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data?.question?.questionType === 1">
                                <app-chart-questionnaire [questionName]="(i + 1) + '. ' + data?.question?.question" [questionAnswerYes]="data?.answerYesCount" [questionAnswerNo]="data?.answerNoCount" [respondentCount]="data?.respondentCount"></app-chart-questionnaire>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
