<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListAWP()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Export Annual Work Plan (AWP) {{detailYear}} ke Doc  <label class="mb-0 font-size-16" style="color: #1865E4"><i>(isi form terlebih dahulu)</i></label></label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2)">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Alokasi Dana">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="col-md-12 ">
                                <div class="mb-5 mt-4">
                                    <label class="col-form-label font-size-16">Isi Alokasi Dana tiap komponen beserta realisasinya.</label>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-3">
                                                <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                                                <tr>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle">No</th>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle">Komponen</th>
                                                    <th class="text-center" colspan="2" style="vertical-align: middle">Alokasi</th>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle">Realisasi</th>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle">%</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center text-white" style="vertical-align: middle; background-color: #1865E4;">DIPA (awal)</th>
                                                    <th class="text-center text-white" style="vertical-align: middle; background-color: #1865E4;">DIPA (revisi)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle">1</td>
                                                    <td class="text-center" style="vertical-align: middle">Komponen 1</td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Awal" [(ngModel)]="component1FirstDipa" (keyup)="changeValueComponent(1)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Akhir" [(ngModel)]="component1RevisionDipa" (keyup)="changeValueComponent(1)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Realisasi" [(ngModel)]="component1Realization" (keyup)="changeValueComponent(1)">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">{{component1Percentage}}%</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle">2</td>
                                                    <td class="text-center" style="vertical-align: middle">Komponen 2</td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Awal" [(ngModel)]="component2FirstDipa" (keyup)="changeValueComponent(2)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Akhir" [(ngModel)]="component2RevisionDipa" (keyup)="changeValueComponent(2)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Realisasi" [(ngModel)]="component2Realization" (keyup)="changeValueComponent(2)">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">{{component2Percentage}}%</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle">3</td>
                                                    <td class="text-center" style="vertical-align: middle">Komponen 3</td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Awal" [(ngModel)]="component3FirstDipa" (keyup)="changeValueComponent(3)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Akhir" [(ngModel)]="component3RevisionDipa" (keyup)="changeValueComponent(3)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Realisasi" [(ngModel)]="component3Realization" (keyup)="changeValueComponent(3)">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">{{component3Percentage}}%</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="vertical-align: middle">4</td>
                                                    <td class="text-center" style="vertical-align: middle">Komponen 4</td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Awal" [(ngModel)]="component4FirstDipa" (keyup)="changeValueComponent(4)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Akhir" [(ngModel)]="component4RevisionDipa" (keyup)="changeValueComponent(4)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Realisasi" [(ngModel)]="component4Realization" (keyup)="changeValueComponent(4)">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">{{component4Percentage}}%</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="vertical-align: middle">Rupiah Murni</td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Awal" [(ngModel)]="pureValueFirstDipa" (keyup)="changeValueComponent(5)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Dipa Akhir" [(ngModel)]="pureValueRevisionDipa" (keyup)="changeValueComponent(5)">
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Realisasi" [(ngModel)]="pureValueRealization" (keyup)="changeValueComponent(5)">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle">{{pureValuePercentage}}%</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="vertical-align: middle">Total</td>
                                                    <td class="text-center" style="vertical-align: middle"> Rp. {{totalValueFirstDipa | mask: 'separator':'.' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> Rp. {{totalValueRevisionDipa | mask: 'separator':'.' }}</td>
                                                    <td class="text-center" style="vertical-align: middle"> Rp. {{totalValueRealization | mask: 'separator':'.' }}</td>
                                                    <td class="text-center" style="vertical-align: middle">{{totalValuePercentage}}%</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="validationStep1()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Capaian PDO & IRI">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="col-md-12 ">
                                <div class="mb-5 mt-4">
                                    <label class="col-form-label font-size-16">Isi Perkembangan Pencapaian Target PDO Indikator dan IRI</label>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-3">
                                                <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                                                <tr>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle; width: 5%">PDO/IRI</th>
                                                    <th class="text-center" colspan="2" style="vertical-align: middle">Indikator PDO dan IRI Tahun {{yearInformationAwp}}</th>
                                                    <th class="text-center" rowspan="2" style="vertical-align: middle">Realisasi</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center text-white" style="vertical-align: middle; width: 20%; background-color: #1865E4;">Deskripsi</th>
                                                    <th class="text-center text-white" style="vertical-align: middle; width: 20%; background-color: #1865E4;">Target</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>{{pdoIriModel[0]?.pdo?.name ? pdoIriModel[0]?.pdo?.name : '-'}}</td>
                                                    <td>{{pdoIriModel[0]?.pdo?.description}}</td>
                                                    <td>{{pdoIriModel[0]?.pdo?.selectedYearInformation}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="pdoIriModel[0].target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let data of pdoIriModel[0]?.iri">
                                                    <td>{{data?.iri?.name}}</td>
                                                    <td>{{data?.iri?.description}}</td>
                                                    <td>{{data?.iri?.selectedYearInformation ? data?.iri?.selectedYearInformation : '-'}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="data.target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>{{pdoIriModel[1]?.pdo?.name}}</td>
                                                    <td>{{pdoIriModel[1]?.pdo?.description}}</td>
                                                    <td>{{pdoIriModel[1]?.pdo?.selectedYearInformation}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="pdoIriModel[1].target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let data of pdoIriModel[1]?.iri">
                                                    <td>{{data?.iri?.name}}</td>
                                                    <td>{{data?.iri?.description}}</td>
                                                    <td>{{data?.iri?.selectedYearInformation ? data?.iri?.selectedYearInformation : '-'}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="data.target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>{{pdoIriModel[2]?.pdo?.name}}</td>
                                                    <td>{{pdoIriModel[2]?.pdo?.description}}</td>
                                                    <td>{{pdoIriModel[2]?.pdo?.selectedYearInformation}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="pdoIriModel[2].target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let data of pdoIriModel[2]?.iri">
                                                    <td>{{data?.iri?.name}}</td>
                                                    <td>{{data?.iri?.description}}</td>
                                                    <td>{{data?.iri?.selectedYearInformation ? data?.iri?.selectedYearInformation : '-'}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="data.target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>{{pdoIriModel[3]?.pdo?.name}}</td>
                                                    <td>{{pdoIriModel[3]?.pdo?.description}}</td>
                                                    <td>{{pdoIriModel[3]?.pdo?.selectedYearInformation}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="pdoIriModel[3].target"></ckeditor>
                                                    </td>
                                                </tr>
                                                <tr *ngFor="let data of pdoIriModel[3]?.iri">
                                                    <td>{{data?.iri?.name}}</td>
                                                    <td>{{data?.iri?.description}}</td>
                                                    <td>{{data?.iri?.selectedYearInformation ? data?.iri?.selectedYearInformation : '-'}}</td>
                                                    <td class="text-center">
                                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="data.target"></ckeditor>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="validationStep2()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Kendala Dan Hambatan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="mb-5 mt-4">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Kendala dan Hambatan Komponen 1 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="obstacleComponent1"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Kendala dan Hambatan Komponen 2 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="obstacleComponent2"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Kendala dan Hambatan Komponen 3 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="obstacleComponent3"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Kendala dan Hambatan Komponen 4 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="obstacleComponent4"></ckeditor>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="validateStep3()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Informasi Tambahan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-user"></i>
                            </ng-template>
                            <div class="mb-5 mt-4">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Total DIPA Revisi {{yearInformationAwp}} :</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." [(ngModel)]="totalValueRevisionDipa" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Total Serapan {{yearInformationAwp}} :</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." [(ngModel)]="totalValueRealization" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Persen Serapan {{yearInformationAwp}} :</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="{{totalValuePercentage}} %" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Kontribusi Komponen :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationComponentContribution"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Kontribusi Komponen :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationComponentContribution?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationComponentContribution">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 1)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(1)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Kontribusi Komponen</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationComponentContribution"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationComponentContribution"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationComponentContribution">
                                    <label class="col-md-3 col-form-label">Upload Gambar Kontribusi Komponen <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationComponentContribution"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Kemajuan Program :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationProgressProgram"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Kemajuan Program :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationProgressProgram?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationProgressProgram">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 2)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(2)">
                                            <div class="row">
                                                <div class="col-md-6 text-start">
                                                    <label class="mb-0">Tambah Gambar Kemajuan Program</label>
                                                </div>
                                                <div class="col-md-6 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationProgressProgram"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationProgressProgram"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationProgressProgram">
                                    <label class="col-md-3 col-form-label">Upload Gambar Kemajuan Program <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationProgressProgram"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Kendala :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationConstraint"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Kendala :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationConstraint?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationConstraint">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 3)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(3)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Kendala</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationConstraint"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationConstraint"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationConstraint">
                                    <label class="col-md-3 col-form-label">Upload Gambar Kendala <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationConstraint"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Pembelajaran :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationLearning"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Pembelajaran :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationLearning?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationLearning">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 4)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(4)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Pembelajaran</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationLearning"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationLearning"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationLearning">
                                    <label class="col-md-3 col-form-label">Upload Gambar Pembelajaran <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationLearning"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Rencana Kerja :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationWorkPlan"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Rencana Kerja :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationWorkPlan?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationWorkPlan">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 5)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(5)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Rencana Kerja</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationWorkPlan"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationWorkPlan"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationWorkPlan">
                                    <label class="col-md-3 col-form-label">Upload Gambar Rencana Kerja <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationWorkPlan"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Usulan Kegiatan :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="informationActivityProposal"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Keterangan Usulan Kegiatan :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistInformationActivityProposal?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistInformationActivityProposal">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteInformationExist(data, 6)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoInformation(6)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Usulan Kegiatan</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadInformationActivityProposal"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadInformationActivityProposal"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadInformationActivityProposal">
                                    <label class="col-md-3 col-form-label">Upload Gambar Usulan Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileInformationActivityProposal"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="validateStep4()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Fokus Tahun {{detailYear}}">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-user"></i>
                            </ng-template>
                            <div class="mb-5 mt-4">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Fokus Komponen 1 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="componentFocus1"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Fokus Komponen 1</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistComponent1?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistComponent1">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deletePhotoExisting(data, 1)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoComponent(1)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Fokus Komponen 1</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadPhotoComponent1"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadPhotoComponent1"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadPhotoComponent1">
                                    <label class="col-md-3 col-form-label">Upload Gambar Fokus Komponen 1 <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileComponent1"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     maxsize="3 MB">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Fokus Komponen 2 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="componentFocus2"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Fokus Komponen 2</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistComponent2?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistComponent2">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deletePhotoExisting(data, 2)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoComponent(2)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Fokus Komponen 2</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadPhotoComponent2"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadPhotoComponent2"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadPhotoComponent2">
                                    <label class="col-md-3 col-form-label">Upload Gambar Fokus Komponen 2 <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileComponent2"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     filesize= "3mb">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Fokus Komponen 3 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="componentFocus3"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Fokus Komponen 3</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistComponent3?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistComponent3">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deletePhotoExisting(data, 3)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoComponent(3)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Fokus Komponen 3</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadPhotoComponent3"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadPhotoComponent3"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadPhotoComponent3">
                                    <label class="col-md-3 col-form-label">Upload Gambar Fokus Komponen 3 <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileComponent3"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     filesize= "3mb">
                                        </file-upload>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Fokus Komponen 4 :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="wysiwygEditor" [(ngModel)]="componentFocus4"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Gambar Fokus Komponen 4</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="filesExistComponent4?.length > 0">
                                            <li class="list-group-item" *ngFor="let data of filesExistComponent4">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-10">
                                                        <label class="form-check-label" style="white-space: normal">{{data?.file?.filename}}</label>
                                                    </div>
                                                    <div class="col-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deletePhotoExisting(data, 4)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openUploadPhotoComponent(4)">
                                            <div class="row">
                                                <div class="col-md-8 text-start">
                                                    <label class="mb-0">Tambah Gambar Fokus Komponen 4</label>
                                                </div>
                                                <div class="col-md-4 text-end">
                                                    <i class="fa fa-chevron-down" *ngIf="!flagUploadPhotoComponent4"></i>
                                                    <i class="fa fa-chevron-up" *ngIf="flagUploadPhotoComponent4"></i>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="flagUploadPhotoComponent4">
                                    <label class="col-md-3 col-form-label">Upload Gambar Fokus Komponen 4 <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <file-upload name="uploadSelfie"
                                                     [(ngModel)]="uploadFileComponent4"
                                                     [multiple]="true"
                                                     [accept]="'.png, .jpg'"
                                                     filesize= "3mb">
                                        </file-upload>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">`
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()" [disabled]="loadingUploadData">
                                    <label class="mb-0" *ngIf="!loadingUploadData">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUploadData"></i>
                                </button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep [disabled]="loadingUploadData">
                                        <label class="mb-0" *ngIf="!loadingUploadData">Sebelumnya</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUploadData"></i>
                                    </button>
                                    <button class="btn btn-primary" style="width: 120px" (click)="uploadDocumentContributionComponent(0)" [disabled]="loadingUploadData || validateStep5()">
                                        <label class="mb-0" *ngIf="!loadingUploadData">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUploadData"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
