<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListKegiatan()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Kegiatan - {{dataDetailKegiatan?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Data Umum">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="mb-0 col-md-3 col-form-label">Tahun :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="{{dataDetailKegiatan?.awp?.year}}" disabled>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterComponent($event)">
                                                            </div>
                                                            <div *ngIf="component?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of component; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="component?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                    <div class="row">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubComponentExist">-</label>
                                                            <label class="mb-0" *ngIf="selectedSubComponentExist" style="white-space: normal">{{selectedSubComponentExist?.code}} - {{selectedSubComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button" >
                                                    <div class="row text-start">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubSubComponentExist">-</label>
                                                            <label class="mb-0" *ngIf="selectedSubSubComponentExist" style="white-space: normal">{{selectedSubSubComponentExist?.code}} - {{selectedSubSubComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubSubComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub-Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label class="col-md-3 col-form-label">Nama Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <select class="form-select" style="max-width: 90px;" [(ngModel)]="codeSelected" disabled (change)="changeValueSelected()">
                                                    <option value="pilih" selected>Pilih</option>
                                                    <option [value]="dataExist.code" *ngFor="let dataExist of listCodeSelected" >{{dataExist?.code}}</option>
                                                </select>
                                                <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="editNamaKegiatan"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Moda Kegiatan</label>
                                        <div class="col-md-6">
                                            <form class="row row-cols-lg-auto">
                                                <div *ngFor="let data of listModaType">
                                                    <div class="col-md-2">
                                                        <div class="form-check col-form-label">
                                                            <input class="form-check-input" type="radio" name="formRadios" id="{{data.id}}" [value]="data?.id" [(ngModel)]="selectedModaActivity.id" [checked]="selectedModaActivity?.id">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                {{data?.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Keterangan Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="OtherInfoAwp" [(ngModel)]="otherInformationAwp"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Kode Akun</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pokRequest.length > 0 || dataDetailKegiatan?.pok.length > 0">
                                                <li class="list-group-item" *ngFor="let data of pokExisting">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.pok?.code}} - {{data?.pok?.title}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removePokExisting(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of pokRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.code}} - {{data?.title}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPokSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #pok = "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kode POK
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPok($event)">
                                                            </div>
                                                            <div class="overflow2" *ngIf="listCodePok?.length > 0">
                                                                <div *ngFor="let data of listCodePok; let i = last" (click)="addPokSelected(data, 1); pok.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal" >{{data.code}} - {{data?.title}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listCodePok?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kode tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Budget POK : </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Budget POK" [(ngModel)]="editBudgetPok">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Budget AWP :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Budget AWP" [(ngModel)]="editBudgetAwp">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="roles?.hasAuthority('Consultan') || roles?.hasAuthority('Coordinator')">
                                        <label class="col-md-3 col-form-label">Project Officer :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="{{firstNameLogged}} {{lastNameLogged != 'null' ? lastNameLogged : ''}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="disabledForm1()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Kegiatan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Cara Pengelolaan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <form class="row row-cols-lg-auto">
                                                <div *ngFor="let data of listManagementType">
                                                    <div class="col-md-2">
                                                        <div class="form-check col-form-label">
                                                            <input class="form-check-input" type="radio" name="formRadios" id="{{data.id}}" [value]="data?.id" [(ngModel)]="selectedValueEventType.id" [checked]="selectedValueEventType?.id" (change)="changeEventType()">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                {{data?.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                        <label class="col-md-3 col-form-label">Nomor Kontrak LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Nomor Kontrak LSP" [(ngModel)]="nomorKontrakLsp">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                        <label class="col-md-3 col-form-label">Data Kontrak LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Data Kontrak LSP" [(ngModel)]="dataKontrakLsp">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                        <label class="col-md-3 col-form-label">PIC LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #lsp="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="selectedLsp">{{selectedLsp?.firstName}} {{selectedLsp?.lastName}}</label>
                                                            <label class="mb-0" *ngIf="!selectedLsp">Pilih PIC Lsp</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedLsp">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeLspSelected()"></i>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu style="width: 70vh">
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterLsp($event)">
                                                            </div>
                                                            <div *ngIf="listLSP?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listLSP; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" (click)="selectedListLsp(data); lsp.close()">{{data?.firstName}} {{data?.lastName}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listLSP?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Pengguna tidak ditemukan</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tujuan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Purpose" [(ngModel)]="editTujuanKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Deskripsi Kegiatan :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Description" [(ngModel)]="editDeskripsiKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep  [disabled]="!editTujuanKegiatan || !editDeskripsiKegiatan || !selectedValueEventType">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Pelaksanaan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Volume Event :</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Volume Event" min="0" (keydown)="numberOnly($event)" [(ngModel)]="editVolumeEvent">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Waktu Pelaksanaan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="form-group hidden">
                                                        <div class="input-group">
                                                            <input name="datepicker"
                                                                   class="form-control"
                                                                   type="hidden"
                                                                   ngbDatepicker
                                                                   #datepicker="ngbDatepicker"
                                                                   [autoClose]="'outside'"
                                                                   [minDate]="minDate"
                                                                   [maxDate]="maxDate"
                                                                   (dateSelect)="onDateSelection($event, datepicker)"
                                                                   [displayMonths]="2"
                                                                   [dayTemplate]="customDay"
                                                                   outsideDays="hidden"
                                                                   [startDate]="fromDate!"
                                                                   tabindex="-1"
                                                            >
                                                            <ng-template
                                                                #customDay
                                                                let-date
                                                                let-currentMonth="currentMonth"
                                                                let-selected="selected"
                                                                let-disabled="disabled"
                                                                let-focused="focused">
                                                              <span
                                                                      class="custom-day"
                                                                      [ngClass]="myClass(date)"
                                                                      [class.weekend]="isWeekend(date)"
                                                                      [class.focused]="focused"
                                                                      [class.bg-primary]="selected"
                                                                      [class.text-muted]="disabled"
                                                                      [class.range]="isRange(date)"
                                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                                      (mouseenter)="hoveredDate = date"
                                                                      (mouseleave)="hoveredDate = null">
                                                                {{ date.day }}
                                                              </span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpFromDate
                                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                                           name="dpFromDate"
                                                                           [value]="formatter.format(fromDate)"
                                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                                            <label>s.d</label>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-group ml-2">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpToDate
                                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                                           name="dpToDate"
                                                                           [value]="formatter.format(toDate)"
                                                                           (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Waktu Pelaksanaan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Waktu Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="editWaktuInformasiLainnya">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tempat Pelaksanaan :</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="selectedProvinceAndCity?.length > 0 || provinceAndRegenciesExist.length > 0">
                                                <li class="list-group-item" *ngFor="let data of provinceAndRegenciesExist">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label">{{data?.province?.name}}
                                                                <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                                                    (<label class="mb-0" *ngFor="let dataCity of data?.regencies; let i = last">
                                                                        {{dataCity?.regency?.name}}
                                                                        <label class="mb-0" *ngIf="!i">,</label>
                                                                    </label>)
                                                                </label>
                                                            </label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeProvinceRegenciesExist(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of selectedProvinceAndCity">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label">{{data?.provinceId?.name}}
                                                                <label *ngIf="data?.regencyId.length > 0">
                                                                    (<label class="mb-0" *ngFor="let dataCity of data?.regencyId; let i = last">
                                                                        {{dataCity}}
                                                                        <label class="mb-0" *ngIf="!i">,</label>
                                                                    </label>)
                                                                </label>
                                                            </label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedProvinceAndCity(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addProvinceAndCity)"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Lokasi
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Tempat Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Tempat Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="tempatInformasiLainnya">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jenis Kegiatan</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Kegiatan="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row text-start">
                                                        <label class="mb-0" *ngIf="selectedEvent">{{selectedEvent?.name}}</label>
                                                        <label class="mb-0" *ngIf="!selectedEvent">Pilih Jenis Kegiatan</label>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterEvent($event)">
                                                            </div>
                                                            <div *ngIf="listEvent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listEvent; let index = last" (click)="selectedEventType(data); Kegiatan.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 me-1" >{{data?.name}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listEvent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Jenis Kegiatan tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jumlah Narasumber <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label> :</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Narasumber" min="0" [(ngModel)]="editjumlahNasrasumber" (keydown)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Narasumber Laki-laki <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Narasumber Laki laki" [(ngModel)]="nsLakiLaki" (keydown)="numberOnly($event)" (keyup)="calculateNs($event, 1)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Narasumber Perempuan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Narasumber Perempuan" [(ngModel)]="nsPerempuan" (keydown)="numberOnly($event)" (keyup)="calculateNs($event, 2)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Asal Lembaga Narasumber <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Institution" [(ngModel)]="editAsalLembagaNarasumber"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Narasumber <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi tambahan asal lembaga narasumber (jika ada)" [(ngModel)]="editInformasiLainNarasumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="(this.selectedProvinceAndCity.length == 0 && this.provinceAndRegenciesExist.length == 0) || !editVolumeEvent || !selectedEvent">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Peserta">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-user"></i>
                            </ng-template>
                            <div class="row mt-3 mb-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jumlah Peserta</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="editTotalPeserta" (keydown)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Laki-laki <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="pesertaLaki" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 1)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Perempuan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="pesertaPerempuan" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 2)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sasaran Peserta <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="participantTarget" [(ngModel)]="targetParticipant"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi tambahan peserta jika ada" [(ngModel)]="editInformasiPeserta">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="OutputEvent" [(ngModel)]="editOutputKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Kontribusi Output Kegiatan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="listSelectedChainCodeAndIndicator.length > 0 || listChainCodeAndIndicatorExist.length > 0">
                                                <li class="list-group-item" *ngFor="let data of listChainCodeAndIndicatorExist">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <div class="col-md-12 mb-1">
                                                                <label class="form-check-label mb-0">{{data?.resultChain?.code}} - {{data?.resultChain?.name}}</label><br>
                                                            </div>
                                                            <div class="mb-2" style="background-color: rgba(24, 101, 228, 1); border-radius: 4px; padding: 4px" *ngFor="let dataCity of data?.successIndicator; let i = last">
                                                                <label class="mb-0 text-white">{{dataCity?.successIndicator?.code}} - {{dataCity?.successIndicator?.name}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedChainCodeAndIndicatorExist(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of listSelectedChainCodeAndIndicator">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <div class="col-md-12 mb-1">
                                                                <label class="form-check-label mb-0">{{data?.resultChainId?.code}} - {{data?.resultChainId?.name}}</label><br>
                                                            </div>
                                                            <div class="mb-2" style="background-color: rgba(24, 101, 228, 1); border-radius: 4px; padding: 4px" *ngFor="let dataCity of data?.successIndicatorIds; let i = last">
                                                                <label class="mb-0 text-white">{{dataCity?.code}} - {{dataCity?.name}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedChainCodeAndIndicator(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addIndicatorActivity)"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kontribusi Output Kegiatan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label class="col-md-3 col-form-label">Kontribusi Hasil Terhadap PDOI</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pdoExisting.length > 0 || pdoRequest.length > 0">
                                                <li class="list-group-item" *ngFor="let data of pdoExisting">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.pdo?.name}} - {{data?.pdo?.description}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removePdoExisting(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of pdoRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.name}} - {{data?.description}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPdoSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #pdo= "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kontribusi PDOI
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPdo($event)">
                                                            </div>
                                                            <div *ngIf="listPdoAll?.length > 0">
                                                                <div *ngFor="let data of listPdoAll; let i = last" (click)="addPdoSelected(data, 1); pdo.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal">{{data.name}} - {{data?.description}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listPdoAll?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kontribusi tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label class="col-md-3 col-form-label">Kontribusi Hasil Terhadap IRI</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="iriRequest?.length > 0 || iriExisting.length > 0">
                                                <li class="list-group-item" *ngFor="let data of iriExisting">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.iri?.name}} - {{data?.iri?.description}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeIriExisting(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of iriRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.name}} - {{data?.description}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addIriSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #Iri = "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kontribusi IRI

                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterIri($event)">
                                                            </div>
                                                            <div *ngIf="listIriAll?.length > 0">
                                                                <div *ngFor="let data of listIriAll; let i = last" (click)="addIriSelected(data, 1); Iri.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal">{{data.name}} {{data?.description}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listIriAll?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kontribusi tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Upload RAB Kegiatan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                <div class="col-md-6">
                                    <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadRab)">
                                        <div class="text-start">
                                            <i class="fa fa-folder-open me-2"></i>
                                            <label class="mb-0" *ngIf="!dataDetailKegiatan?.rabFile && !dataDetailKegiatan?.awp?.rabFile">{{uploadFileExcel.length > 0 ? uploadFileExcel[0].name : 'Upload RAB kegiatan'}}</label>
                                            <label class="mb-0" *ngIf="!dataDetailKegiatan?.rabFile && dataDetailKegiatan?.awp?.rabFile">{{uploadFileExcel.length > 0 ? uploadFileExcel[0].name : dataDetailKegiatan?.awp?.rabFile?.filename}}</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.rabFile && (dataDetailKegiatan?.awp?.rabFile || !dataDetailKegiatan?.awp?.rabFile)">{{uploadFileExcel.length > 0 ? uploadFileExcel[0].name : dataDetailKegiatan?.rabFile?.filename}}</label>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Asumsi</label>
                                <div class="col-md-6">
                                    <ckeditor [editor]="Asumtion" [(ngModel)]="asumsi"></ckeditor>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Potensi Risiko</label>
                                <div class="col-md-6">
                                    <ckeditor [editor]="RiskAsumtion" [(ngModel)]="descriptionRisk"></ckeditor>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Keterangan Resiko</label>
                                <div class="col-md-6">
                                    <ng-select [items]="listAllRisk"
                                               bindLabel="name"
                                               placeholder="Pilih Keterangan Resiko"
                                               [multiple]="false"
                                               [(ngModel)]="selectedRisk"
                                               [addTag]="CreateNew"
                                               [ngModelOptions]="{standalone: true}">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="mb-3 row ">
                                <label class="col-md-3 col-form-label">Kemungkinan Terjadi</label>
                                <div class="col-md-6">
                                    <div class="row row-cols-lg-auto col-form-label">
                                        <label>Tidak Berpengaruh</label>
                                        <form action="">
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 1" (click)="kemungkinanTerjadi = 1"><label>1</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 2" (click)="kemungkinanTerjadi = 2"><label>2</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 3" (click)="kemungkinanTerjadi = 3"><label>3</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 4" (click)="kemungkinanTerjadi = 4"><label>4</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 5" (click)="kemungkinanTerjadi = 5"><label>5</label>
                                            </div>
                                        </form>
                                        <label>Sangat Berpengaruh</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row ">
                                <label class="col-md-3 col-form-label">Dampak</label>
                                <div class="col-md-6">
                                    <div class="row row-cols-lg-auto col-form-label" style="margin-left: 23px">
                                        <label>Tidak Pernah</label>
                                        <form action="">
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="dampak >= 1" (click)="dampak = 1"><label>1</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="dampak >= 2" (click)="dampak = 2"><label>2</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="dampak >= 3" (click)="dampak = 3"><label>3</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="dampak >= 4" (click)="dampak = 4"><label>4</label>
                                            </div>
                                            <div class="radio-box">
                                                <input type="radio" name="sex" value="male" [checked]="dampak >= 5" (click)="dampak = 5"><label>5</label>
                                            </div>
                                        </form>
                                        <label>Selalu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Mitigasi Resiko <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                <div class="col-md-6">
                                    <ckeditor [editor]="riskMitigation" [(ngModel)]="mitigasiResiko"></ckeditor>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label">Gejala Resiko <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Gejala Resiko" [(ngModel)]="gejalaResiko">
                                </div>
                            </div>

                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">
                                    <label class="mb-0" *ngIf="!loadingSaveKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                </button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>
                                        <label class="mb-0" *ngIf="!loadingSaveKegiatan">Sebelumnya</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                    </button>
                                    <button class="btn btn-primary" [disabled]="!editOutputKegiatan || !asumsi || !descriptionRisk || !kemungkinanTerjadi || !dampak || loadingSaveKegiatan || !selectedRisk" style="width: 120px" (click)="doUploadRab()">
                                        <label class="mb-0" *ngIf="!loadingSaveKegiatan">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #addIndicatorActivity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Kontribusi Output Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Output Kegiatan</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #ChainCode="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedChainCode" style="white-space: normal">{{selectedChainCode?.code}} - {{selectedChainCode?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedChainCode">Pilih Output Kegiatan</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterChainCode($event)">
                                    </div>
                                    <div class="overflow" *ngIf="listChainCode?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listChainCode; let index = last" (click)="selectedChainCodeFromList(data); ChainCode.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1" style="white-space: normal">{{data?.code}} - {{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listChainCode?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Indikator tidak ditemukan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Indikator Output Kegiatan</label>
                <div class="col-md-9">
                    <ng-select [items]="listIndicatorSuccessApi" [multiple]="true" [disabled]="!selectedChainCode" [(ngModel)]="selectedIndicatorSuccess"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedResultChainAndIndicatorSuccess()" [disabled]="selectedIndicatorSuccess.length == 0">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addProvinceAndCity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Provinsi dan Kota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kota="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedProvinceExist">{{selectedProvinceExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedProvinceExist">Pilih Provinsi</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterProvince($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listProvinceAll?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listProvinceAll; let index = last" (click)="selectedProvince(data); Kota.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listProvinceAll?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Provinsi tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Kabupaten/Kota <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px">(Optional)</label></label>
                <div class="col-md-9">
                    <ng-select [items]="listCityFromApi" [multiple]="true" [disabled]="!selectedProvinceExist" [(ngModel)]="selectedCityFromList"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedProvinceAndCity()" [disabled]="!selectedProvinceExist">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadRab let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload File RAB</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcel"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "2mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
