<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListKegiatan()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Tambah Concept Note - Kegiatan {{dataDetailKegiatan?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Data Umum">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="mb-0 col-md-3 col-form-label">Tahun :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="{{dataDetailKegiatan?.awp?.year}}" disabled>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterComponent($event)">
                                                            </div>
                                                            <div *ngIf="component?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of component; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="component?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                    <div class="row">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubComponentExist">-</label>
                                                            <label class="mb-0" *ngIf="selectedSubComponentExist" style="white-space: normal">{{selectedSubComponentExist?.code}} - {{selectedSubComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button" >
                                                    <div class="row text-start">
                                                        <div class="col-md-12 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubSubComponentExist">-</label>
                                                            <label class="mb-0" *ngIf="selectedSubSubComponentExist" style="white-space: normal">{{selectedSubSubComponentExist?.code}} - {{selectedSubSubComponentExist?.description}}</label>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubSubComponent(data)">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub-Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-2 row">
                                        <label class="col-md-3 col-form-label">Nama Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="input-group mb-3">
                                                <select class="form-select" style="max-width: 90px;" [(ngModel)]="codeSelected" disabled (change)="changeValueSelected()">
                                                    <option value="pilih" selected>Pilih</option>
                                                    <option [value]="dataExist.code" *ngFor="let dataExist of listCodeSelected" >{{dataExist?.code}}</option>
                                                </select>
                                                <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="editNamaKegiatan" disabled></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Moda Kegiatan :</label>
                                        <div class="col-md-6">
                                            <form class="row row-cols-lg-auto">
                                                <div *ngFor="let data of listModaType">
                                                    <div class="col-md-2">
                                                        <div class="form-check col-form-label">
                                                            <input class="form-check-input" type="radio" name="formRadios" id="{{data.id}}" [value]="data?.id" [(ngModel)]="selectedModaActivity.id" [checked]="selectedModaActivity?.id">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                {{data?.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Keterangan Kegiatan :</label>
                                        <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.nameOtherInformation && dataDetailKegiatan?.awp?.nameOtherInformation" [innerHtml]="dataDetailKegiatan?.awp?.nameOtherInformation"></label>
                                        <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.nameOtherInformation" [innerHtml]="dataDetailKegiatan?.nameOtherInformation"></label>
                                        <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.nameOtherInformation && !dataDetailKegiatan?.awp?.nameOtherInformation">: -</label>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Kode Akun</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pokRequest.length > 0">
                                                <li class="list-group-item" *ngFor="let data of pokRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.code}} - {{data?.title}}</label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPokSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #pok = "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kode POK
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPok($event)">
                                                            </div>
                                                            <div class="overflow2" *ngIf="listCodePok?.length > 0">
                                                                <div *ngFor="let data of listCodePok; let i = last" (click)="addPokSelected(data, 1); pok.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal" >{{data.code}} - {{data?.title}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listCodePok?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kode tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Nama Event :</label>
                                        <div class="col-md-6">
                                            <textarea class="form-control" placeholder="Nama Event" style="white-space: normal" [(ngModel)]="eventName"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jenis Event :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #eventType = "ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row text-start">
                                                        <label class="mb-0" *ngIf="selectedEvent">{{selectedEvent?.name}}</label>
                                                        <label class="mb-0" *ngIf="!selectedEvent">Pilih Jenis Kegiatan</label>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterEvent($event)">
                                                            </div>
                                                            <div class="overflow2" *ngIf="listEvent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listEvent; let index = last" (click)="selectedEventType(data); eventType.close()" style="cursor: pointer">
                                                                    <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listEvent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Jenis Kegiatan tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Budget POK : </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="editBudgetPok">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Budget AWP :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Budget AWP" [(ngModel)]="editBudgetAwp" disabled>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Project Officer :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="{{dataDetailKegiatan?.projectOfficerResources?.user?.firstName}} {{dataDetailKegiatan?.projectOfficerResources?.user?.lastName ? dataDetailKegiatan?.projectOfficerResources?.user?.lastName : ''}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="!eventName || pokRequest.length == 0">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Pelaksanaan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Waktu Pelaksanaan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="form-group hidden">
                                                        <div class="input-group">
                                                            <input name="datepicker"
                                                                   class="form-control"
                                                                   type="hidden"
                                                                   ngbDatepicker
                                                                   #datepicker="ngbDatepicker"
                                                                   [autoClose]="'outside'"
                                                                   [minDate]="minDate"
                                                                   [maxDate]="maxDate"
                                                                   (dateSelect)="onDateSelection($event, datepicker)"
                                                                   [displayMonths]="2"
                                                                   [dayTemplate]="customDay"
                                                                   outsideDays="hidden"
                                                                   [startDate]="fromDate!"
                                                                   tabindex="-1"
                                                            >
                                                            <ng-template
                                                                #customDay
                                                                let-date
                                                                let-currentMonth="currentMonth"
                                                                let-selected="selected"
                                                                let-disabled="disabled"
                                                                let-focused="focused">
                                                              <span
                                                                      class="custom-day"
                                                                      [ngClass]="myClass(date)"
                                                                      [class.weekend]="isWeekend(date)"
                                                                      [class.focused]="focused"
                                                                      [class.bg-primary]="selected"
                                                                      [class.text-muted]="disabled"
                                                                      [class.range]="isRange(date)"
                                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                                      (mouseenter)="hoveredDate = date"
                                                                      (mouseleave)="hoveredDate = null">
                                                                {{ date.day }}
                                                              </span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpFromDate
                                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                                           name="dpFromDate"
                                                                           [value]="formatter.format(fromDate)"
                                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                                            <label>s.d</label>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-group ml-2">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpToDate
                                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                                           name="dpToDate"
                                                                           [value]="formatter.format(toDate)"
                                                                           (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Waktu Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="editOtherInformationTime">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tempat Pelaksanaan :</label>
                                        <div class="col-md-6">
                                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="selectedProvinceAndCity?.length > 0">
                                                <li class="list-group-item" *ngFor="let data of selectedProvinceAndCity" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label">{{data?.provinceId?.name}}
                                                                <label class="mb-0" *ngIf="data?.regencyId">({{data?.regencyId?.name}})</label>
                                                            </label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedProvinceAndCity(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" *ngIf="selectedProvinceAndCity?.length == 0">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addProvinceAndCity)" [disabled]="selectedProvinceAndCity.length > 0"
                                                        ngbDropdownToggle>
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0">Pilih Tempat Pelaksanaan</label>
                                                        </div>
                                                        <div class="col-md-2 text-end">
                                                            <i class="fa fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Tempat Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Tempat Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="tempatInformasiLainnya">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-form-label col-md-3 mb-0">Lokasi :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" [(ngModel)]="location">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Pelaksanaan (Staf)</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="listMeqrPmuSelected.length > 0">
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">Peserta PMU</label>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of listMeqrPmuSelected" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.user?.firstName}} {{data?.user?.lastName}}
                                                                <label class="mb-0" *ngIf="data?.user?.component?.code !== '-'">(Komponen {{data?.user?.component?.code}})</label>
                                                                <label class="mb-0" *ngIf="data?.user?.component?.code === '-'">({{data?.position?.name}})</label>
                                                            </label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addResourcesSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="listMeqrPcuSelected.length > 0">
                                                <li class="list-group-item" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">Peserta PCU</label>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of listMeqrPcuSelected" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-9">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.user?.firstName}} {{data?.user?.lastName}}
                                                                <label class="mb-0" *ngIf="data?.user?.component?.code !== '-'">(Komponen {{data?.user?.component?.code}})</label>
                                                                <label class="mb-0" *ngIf="data?.user?.component?.code === '-'">({{data?.position?.name}})</label>
                                                            </label>
                                                        </div>
                                                        <div class="col-3 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addResourcesSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div>
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addPsMeqr)">
                                                    <i class="fa fa-plus"></i> Tambah Peserta Pelaksana
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Pelaksanaan (Luar Staf) <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="otherStaff.length > 0">
                                                <li class="list-group-item" *ngFor="let data of otherStaff" style="padding: 0.47rem 0.75rem">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.name}}, {{data?.position}}, {{data?.institution}}</label>
                                                        </div>
                                                        <div class="col-2 text-end" style="align-self: center">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteNewStaffOutside(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addPsOutside)">
                                                    <i class="fa fa-plus"></i> Tambah Peserta Pelaksana
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep  [disabled]="!fromDate || !toDate || !location ||resourcesRequest.length == 0 || selectedProvinceAndCity.length == 0">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Data Event">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Latar Belakang Event :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="latarBelakangEvent" [(ngModel)]="background"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Deskripsi Event :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="eventDescription" [(ngModel)]="description"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tujuan Event :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="purposeEvent" [(ngModel)]="purpose"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Output Event :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="outputEvent" [(ngModel)]="eventOutput"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jumlah Peserta</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantCount" (keydown)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Laki-laki <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantMale" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 1)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Peserta Perempuan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantFemale" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 2)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sasaran Peserta <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="participantTarget" [(ngModel)]="targetParticipant"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi tambahan peserta jika ada" [(ngModel)]="participantOtherInformation">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Agenda Event</label>
                                        <div class="col-md-6">
                                            <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadAgendaKegiatan)">
                                                <div class="text-start">
                                                    <i class="fa fa-folder-open me-2"></i>
                                                    <label class="mb-0" *ngIf="uploadFileExcelAgenda.length == 0">Upload Agenda Event</label>
                                                    <label class="mb-0" *ngIf="uploadFileExcelAgenda.length > 0">{{uploadFileExcelAgenda[0].name}}</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Narahubung</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Narahubung="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row text-start">
                                                        <label class="mb-0" *ngIf="selectedContactPerson">{{selectedContactPerson?.user?.firstName}} {{selectedContactPerson?.user?.lastName}}</label>
                                                        <label class="mb-0" *ngIf="!selectedContactPerson">Pilih Narahubung</label>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu  style="width: 80vh">
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterContactPerson($event)">
                                                            </div>
                                                            <div class="overflow2" *ngIf="listContactPerson?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listContactPerson; let index = last" (click)="selectedContactPersonExist(data); Narahubung.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 me-1">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listContactPerson?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Narahubung tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Upload RAB Kegiatan</label>
                                        <div class="col-md-6">
                                            <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadRab)">
                                                <div class="text-start">
                                                    <i class="fa fa-folder-open me-2"></i>
                                                    <label class="mb-0" *ngIf="uploadFileExcel.length == 0">Upload RAB kegiatan</label>
                                                    <label class="mb-0" *ngIf="uploadFileExcel.length > 0">{{uploadFileExcel[0].name}}</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListKegiatan()">
                                    <label class="mb-0" *ngIf="!loadingSaveKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                </button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>
                                        <label class="mb-0" *ngIf="!loadingSaveKegiatan">Sebelumnya</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                    </button>
                                    <button class="btn btn-primary" [disabled]="!background || !description || !eventOutput || !purpose || participantCount == null || !selectedContactPerson || uploadFileExcelAgenda.length == 0 || uploadFileExcel.length == 0 || loadingSaveKegiatan" (click)="doUploadRab()" style="width: 120px">
                                        <label class="mb-0" *ngIf="!loadingSaveKegiatan">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addProvinceAndCity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Provinsi dan Kota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kota="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedProvinceExist">{{selectedProvinceExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedProvinceExist">Pilih Provinsi</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterProvince($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listProvinceExist?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listProvinceExist; let index = last" (click)="selectedProvince(data); Kota.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listProvinceExist?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Provinsi tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Kabupaten/Kota <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px">(Optional)</label></label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kabupaten="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!selectedProvinceExist"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedCityExist">{{selectedCityExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedCityExist">Pilih Kota</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterCity($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listCityAllExist?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listCityAllExist; let index = last" (click)="selectedCity(data); Kabupaten.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listCityAllExist?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Kota tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedProvinceAndCity()">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadRab let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload RAB</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcel"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadAgendaKegiatan let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Agenda Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcelAgenda"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.docx, .doc, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>


<ng-template #addPsOutside let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Peserta</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Nama Peserta :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="nameNewStaff">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Jabatan :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="namePosition">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Instansi :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="nameInstitution">
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewStaffOutside()" [disabled]="!nameNewStaff || !namePosition || !nameInstitution">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addPsMeqr let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Peserta</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label">Unit Kerja</label>
                <div class="col-md-6">
                    <select class="form-select" [(ngModel)]="selectedWorkUnit" (ngModelChange)="changeSelectedWorkUnit()">
                        <option *ngFor="let data of listUnit" [value]="data.name">{{data?.name}}</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                <label class="col-md-3 col-form-label">Komponen</label>
                <div class="col-md-6">
                    <div class="dropdown" ngbDropdown container="body" #Komponen="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" style="white-space: normal" *ngIf="selectedUnitExist">{{selectedUnitExist?.code}}</label>
                                <label class="mb-0" style="white-space: normal" *ngIf="!selectedUnitExist">Pilih Komponen</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu style="width: 100%">
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterUnit($event)">
                                    </div>
                                    <div *ngIf="listComponentStaff?.length > 0">
                                        <div class="ms-4 mt-1 " *ngFor="let data of listComponentStaff; let i = last" (click)="selectedUnit(data); Komponen.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1">{{data?.code}}</label>
                                            <hr class="mb-0 mt-0" *ngIf="!i">
                                        </div>
                                    </div>
                                    <div *ngIf="listComponentStaff?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Unit tidak tersedia</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-6">
                    <ng-select [items]="listProvinceApi"
                               bindLabel="name"
                               placeholder="Pilih Provinsi"
                               [multiple]="false"
                               [(ngModel)]="selectedProvinceStaff"
                               [ngModelOptions]="{standalone: true}"
                               (ngModelChange)="changeUserStaffPcu()">
                    </ng-select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-md-3 mb-0">Staf</label>
                <div class="col-md-6">
                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="resourcesRequest.length > 0">
                        <li class="list-group-item" *ngFor="let data of resourcesRequest">
                            <div class="row" style="justify-content: space-between">
                                <div class="col-10">
                                    <label class="form-check-label" style="white-space: normal">{{data?.user?.firstName}} {{data?.user?.lastName}}
                                        <label class="mb-0" *ngIf="data?.user?.component?.code !== '-'">(Komponen {{data?.user?.component?.code}})</label>
                                        <label class="mb-0" *ngIf="data?.user?.component?.code === '-'">({{data?.position?.name}})</label>
                                    </label>
                                </div>
                                <div class="col-2 text-end">
                                    <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addResourcesSelected(data, 2)"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown" ngbDropdown container="body" #Staff = "ngbDropdown">
                        <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton" [disabled]=" checkValidationAddStaff() || loadingDataProjectOfficer"
                                ngbDropdownToggle>
                            <div class="text-start" *ngIf="!loadingDataProjectOfficer">
                              Tambah Staf
                            </div>
                            <div *ngIf="loadingDataProjectOfficer">
                                <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu  style="width: 100%">
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3 mb-2">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterResources($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listResources?.length > 0">
                                        <div *ngFor="let data of listResources; let i = last" (click)="addResourcesSelected(data, 1); Staff.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal">{{data?.user?.firstName}} {{data?.user?.lastName}}
                                                <label class="mb-0" *ngIf="data?.user?.component?.code !== '-'">(Komponen {{data?.user?.component?.code}})</label>
                                                <label class="mb-0" *ngIf="data?.user?.component?.code === '-'">({{data?.position?.name}})</label>
                                            </label>
                                            <hr class="mb-1 mt-1" *ngIf="!i">
                                        </div>
                                    </div>
                                    <div *ngIf="listResources?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Pengguna tidak ditemukan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addResourceSelectedMeqr()" [disabled]="resourcesRequest.length == 0">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addEventAgenda let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Agenda Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <label class="col-form-label col-md-3 mb-0">Tanggal Kegiatan</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" ngbDatepicker #d="ngbDatepicker"
                               [minDate]="minDate" [maxDate]="maxDate" [dayTemplate]="customDay" [(ngModel)]="timeNewEvent"
                        >
                        <ng-template
                            #customDay
                            let-date
                            let-currentMonth="currentMonth"
                            let-selected="selected"
                            let-disabled="disabled"
                            let-focused="focused">
                                  <span
                                          class="custom-day"
                                          [ngClass]="myClass(date)"
                                          [class.weekend]="isWeekend(date)"
                                          [class.focused]="focused"
                                  >{{ date.day }}
                                  </span>
                        </ng-template>
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                </div>
            </div>
            <hr class="mb-3 mt-3">
            <label class="col-form-label col-md-3">Tambah Kegiatan</label>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Jam Mulai :</label>
                <div class="col-md-6">
                    <div class="dropdown" ngbDropdown container="body">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="startTime.hour">{{startTime.hour.toString().padStart(2, '0')}}.{{startTime.minute.toString().padStart(2, '0')}}</label>
                                <label class="mb-0" *ngIf="!startTime.hour">Pilih Waktu</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <ngb-timepicker [(ngModel)]="startTime" (ngModelChange)="changeTime()" spinners="false"></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Jam Akhir :</label>
                <div class="col-md-6">
                    <div class="dropdown" ngbDropdown container="body">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="endTime.hour">{{endTime.hour.toString().padStart(2, '0')}}.{{endTime.minute.toString().padStart(2, '0')}}</label>
                                <label class="mb-0" *ngIf="!endTime.hour">Pilih Waktu</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <ngb-timepicker [(ngModel)]="endTime" (ngModelChange)="changeTime()"  spinners="false"></ngb-timepicker>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="warningTimeOver">{{warningTimeOverText}}</span>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Deskripsi</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="descriptionNewEvent">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Penanggung Jawab :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="penanggungJawab">
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0"></label>
                <div class="col-md-6 text-end">
                    <button class="btn btn-primary" (click)="addNewAgendas()" [disabled]="warningTimeOver || !descriptionNewEvent || !timeNewEvent">Tambah Kegiatan</button>
                </div>
            </div>
        </div>
        <div *ngIf="eventAgenda.length > 0">
            <table class="table table-bordered mb-3">
                <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                    <tr>
                        <th class="text-center">Waktu</th>
                        <th class="text-center">Deskripsi</th>
                        <th class="text-center">Penanggung Jawab</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of eventAgenda">
                        <td style="width: 10%"><label class="mb-0">{{data.startTime.hour.toString().padStart(2, '0')}}.{{data.startTime.minute.toString().padStart(2, '0')}}-{{data.endTime.hour.toString().padStart(2, '0')}}.{{data.endTime.minute.toString().padStart(2, '0')}}</label></td>
                        <td style="width: 45%"><label class="mb-0">{{data.activity}}</label></td>
                        <td style="width: 45%"><label class="mb-0">{{data.pic}}</label></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewStaffOutside()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
