<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div>
            <button class="btn btn-light mb-3" type="button" (click)="goToListConfiguration()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
        <label class="font-size-24 mt-3" *ngIf="changePageUser == 1">Detail Pengguna - {{detailConfigurationModel?.firstName}} {{detailConfigurationModel?.lastName}}</label><br>
        <label class="font-size-24 mt-3" *ngIf="changePageUser == 2">Edit Detail Pengguna</label><br>
        <!--        <label>Dashboard / AWP</label>-->
        <div class="mt-3">
        <div class="row">
            <div class="col-12">
                <div class="card" style="box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div *ngIf="changePageUser == 1">
                            <div class="row">
                                <div class="col-2">
                                    <div class="text-center mb-2">
                                        <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile">
                                        <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px">
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Nama Lengkap</label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel?.firstName}} {{detailConfigurationModel?.lastName}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Email</label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel?.email}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="detailConfigurationModel?.lsp">
                                        <label class="col-2 col-form-label">Unit Kerja</label>
                                        <div class="col-6">
                                            <input type="text" value="PMU" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="!detailConfigurationModel?.lsp">
                                        <label class="col-2 col-form-label">Unit Kerja</label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel?.resources?.position?.unit?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="detailConfigurationModel?.resources?.position?.unit" >
                                            <input type="text" value="Tidak memiliki Unit Kerja" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!detailConfigurationModel?.resources?.position?.unit" >
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                                        <label class="col-2 col-form-label">Komponen</label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel?.component?.code}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="detailConfigurationModel?.component" >
                                            <input type="text" value="Tidak memiliki Komponen" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!detailConfigurationModel?.component" >
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                                        <label class="col-2 col-form-label">Provinsi</label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel?.province?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="detailConfigurationModel?.province?.name" >
                                            <input type="text" value="Tidak Memiliki Provinsi" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!detailConfigurationModel?.province?.name" >
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Role</label>
                                        <div class="col-6">
                                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1);">
                                                <div *ngIf="detailConfigurationModel?.roles?.length > 0">
                                                    <li class="list-group-item" style="padding: 10px" *ngFor="let data of detailConfigurationModel?.roles">{{data.role?.name}}</li>
                                                </div>
                                                <div *ngIf="detailConfigurationModel?.roles?.length == 0">
                                                    <li class="list-group-item" style="padding: 10px">Belom memiliki role</li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="roleLspExisting">
                                        <label class="col-2 col-form-label">Durasi Aktif : </label>
                                        <div class="col-6">
                                            <input type="text" value="{{detailConfigurationModel.convertExpiredStartDate | date: 'dd MMMM yyyy'}} s.d {{detailConfigurationModel.convertExpiredEndDate | date : 'dd MMMM yyyy'}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" >
                                        </div>
                                    </div>
                                    <div *ngIf="profileModel?.resources">
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Nomor HP</label>
                                            <div class="col-6">
                                                <input type="text" value="{{detailConfigurationModel?.resources?.phoneNumber}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Jabatan</label>
                                            <div class="col-6">
                                                <input type="text" value="{{detailConfigurationModel?.resources?.position?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Supervisor</label>
                                            <div class="col-6">
                                                <input type="text" value="{{selectedSupervisorExistMaster?.user?.firstName}} {{selectedSupervisorExistMaster?.user?.lastName}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="selectedSupervisorExistMaster?.user">
                                                <input type="text" value="Tidak Memiliki Supervisor" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!selectedSupervisorExistMaster?.user">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Status</label>
                                        <div class="col-6" style="align-self: center">
                                            <label class="form-check-label" *ngIf="changeStatus">Aktif</label>
                                            <label class="form-check-label" *ngIf="!changeStatus">Non-aktif</label>
                                        </div>
                                    </div>
                                    <!-- List kegiatan for LSP role -->
                                    <!-- Start-->
                                    <div class="mb-3 row" *ngIf="roleLspExisting">
                                        <label class="col-md-2 col-form-label mb-0">Kegiatan:</label>
                                        <div class="col-6">
                                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1);">
                                                <div *ngIf="modelKegiatan?.length > 0">
                                                    <li class="list-group-item" style="padding: 10px" *ngFor="let data of modelKegiatan">{{data.componentCode?.code}} - {{data.name}}</li>
                                                </div>
                                                <div *ngIf="modelKegiatan?.length == 0">
                                                    <li class="list-group-item" style="padding: 10px">Belom memiliki kegiatan</li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End-->
                                    <div class="mb-3 row" *ngIf="allowEditUser">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-6">
                                            <button class="btn"style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); color: white; width: 25%; margin-right: 8px" (click)="editPageUser()">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="changePageUser == 2">
                            <div class="row">
                                <div class="col-2">
                                    <div class="text-center mb-2" style="position: relative;">
                                        <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile" (click)="openModal(fileUploadPhotoProfile)">
                                        <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px; cursor: pointer; filter: grayscale(50%);" (click)="openModal(fileUploadPhotoProfile)">
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer" (click)="openModal(fileUploadPhotoProfile)">
                                            <i class="fa fa-edit font-size-30" style="color: white"></i><br>
                                            <label class="text-white font-size-16">Ubah Photo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10 mt-2">
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Nama Depan</label>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [(ngModel)]="editFirstName">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Nama Belakang</label>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [(ngModel)]="editLastName">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Email</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="editEmail" (keypress)="keyPressAlphaNumeric($event)" placeholder="Masukan alamat email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">@madrasah.kemenag.go.id</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Unit Kerja</label>
                                        <div class="col-md-6">
                                            <select class="form-select" [(ngModel)]="selectedWorkUnit" (ngModelChange)="changeSelectedWorkUnit()">
                                                <option *ngFor="let data of listUnit" [value]="data.name">{{data?.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                                        <label class="col-md-2 col-form-label">Komponen</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Component="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row text-start">
                                                        <label class="mb-0" style="white-space: normal" *ngIf="selectedComponentExist">{{selectedComponentExist?.code}}</label>
                                                        <label class="mb-0" style="white-space: normal" *ngIf="!selectedComponentExist">Pilih Unit</label>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu style="width: 100%">
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterUnit($event)">
                                                            </div>
                                                            <div *ngIf="listComponentStaff?.length > 0">
                                                                <div class="ms-4 mt-1 " *ngFor="let data of listComponentStaff; let i = last">
                                                                    <label class="form-check-label font-size-16 me-1" (click)="selectedUnit(data); Component.close()">{{data?.code}}</label>
                                                                    <hr class="mb-0 mt-0" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listComponentStaff?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Unit tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                                        <label class="col-md-2 col-form-label">Provinsi</label>
                                        <div class="col-md-6">
                                            <ng-select [items]="listProvinceApi"
                                                       bindLabel="name"
                                                       placeholder="Masukkan Provinsi"
                                                       [multiple]="false"
                                                       [(ngModel)]="selectedProvince"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeSuperVisorPcu()">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Role pada aplikasi :</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="roleRequest.length > 0">
                                                <li class="list-group-item" *ngFor="let data of roleRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">
                                                            <label class="form-check-label">{{data.name}}</label>
                                                        </div>
                                                        <div class="col-6 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addDeleteRolesSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #roleApplication = "ngbDropdown" *ngIf="roleLspExist.length == 0">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton" (click)="openFilterRoles()" [disabled]="!selectedWorkUnit"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Role
                                                </button>
                                                <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                                    <div class="search-box me-2">
                                                        <div style="overflow: auto">
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" (input)="searchFilter($event)" placeholder="Search..." >
                                                            </div>
                                                            <div *ngIf="listRolesSelectedExist.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listRolesSelectedExist; let i = last" (click)="addDeleteRolesSelected(data, 1); roleApplication.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16">{{data.name}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listRolesSelectedExist.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Role tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="roleLspExist.length > 0">
                                        <label class="col-md-2 col-form-label">Durasi Aktif</label>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="form-group hidden">
                                                        <div class="input-group">
                                                            <input name="datepicker"
                                                                   class="form-control"
                                                                   type="hidden"
                                                                   ngbDatepicker
                                                                   #datepicker="ngbDatepicker"
                                                                   [autoClose]="'outside'"
                                                                   [minDate]="minDate"
                                                                   [maxDate]="maxDate"
                                                                   (dateSelect)="onDateSelection($event, datepicker)"
                                                                   [displayMonths]="2"
                                                                   [dayTemplate]="customDay"
                                                                   outsideDays="hidden"
                                                                   [startDate]="fromDate!"
                                                                   tabindex="-1"
                                                            >
                                                            <ng-template
                                                                #customDay
                                                                let-date
                                                                let-currentMonth="currentMonth"
                                                                let-selected="selected"
                                                                let-disabled="disabled"
                                                                let-focused="focused">
                                              <span
                                                      class="custom-day"
                                                      [ngClass]="myClass(date)"
                                                      [class.weekend]="isWeekend(date)"
                                                      [class.focused]="focused"
                                                      [class.bg-primary]="selected"
                                                      [class.text-muted]="disabled"
                                                      [class.range]="isRange(date)"
                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                      (mouseenter)="hoveredDate = date"
                                                      (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                              </span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpFromDate
                                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                                           name="dpFromDate"
                                                                           [value]="formatter.format(fromDate)"
                                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                                            <label>s.d</label>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-group ml-2">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpToDate
                                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                                           name="dpToDate"
                                                                           [value]="formatter.format(toDate)"
                                                                           (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="roleLspExist.length == 0">
                                        <div *ngIf="profileModel?.resources">
                                            <div class="mb-3 row">
                                                <label class="col-md-2 col-form-label">Nomor HP</label>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">+62</span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="editPhoneNumber" (keydown)="numberOnly($event)">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                                                <label class="col-md-2 col-form-label">Jabatan</label>
                                                <div class="col-md-6">
                                                    <ng-select [items]="listPositionApi"
                                                               bindLabel="name"
                                                               placeholder="Pilih Jabatan"
                                                               [multiple]="false"
                                                               [(ngModel)]="editPosition"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeSuperVisorPcu()"
                                                               [addTag]="CreateNew">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                                                <label class="col-md-2 col-form-label">Jabatan</label>
                                                <div class="col-md-6">
                                                    <ng-select [items]="listPositionApi"
                                                               bindLabel="name"
                                                               placeholder="Pilih Jabatan"
                                                               [multiple]="false"
                                                               [(ngModel)]="editPosition"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeSuperVisorPcu()"
                                                               [addTag]="CreateNew">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-2 col-form-label">Supervisor</label>
                                                <div class="col-md-6">
                                                    <div class="dropdown" ngbDropdown container="body" #Supervisor="ngbDropdown">
                                                        <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="roleRequest.length == 0"
                                                                ngbDropdownToggle [disabled]="disabledSelectSupervisor() || loadingGetListSuperVisor">
                                                            <div *ngIf="loadingGetListSuperVisor">
                                                                <i class="bx bx-loader bx-spin font-size-20 align-middle" ></i>
                                                            </div>
                                                            <div class="row text-start" *ngIf="!loadingGetListSuperVisor">
                                                                <label class="mb-0" *ngIf="selectedSupervisorExist ">{{selectedSupervisorExist?.user?.firstName}} {{selectedSupervisorExist?.user?.lastName}}</label>
                                                                <label class="mb-0" *ngIf="!selectedSupervisorExist">Pilih Supervisor</label>
                                                            </div>
                                                        </button>
                                                        <div class="dropdown-menu" ngbDropdownMenu style="width: 65vh">
                                                            <div class="search-box me-2">
                                                                <div>
                                                                    <div class="position-relative ms-3 me-3">
                                                                        <i class="bx bx-search-alt search-icon"></i>
                                                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSuperVisor($event)">
                                                                    </div>
                                                                    <div class="overflow2" *ngIf="listSupervisor?.length > 0">
                                                                        <div class="ms-4 mt-1" *ngFor="let data of listSupervisor; let index = last">
                                                                            <label class="form-check-label font-size-16 me-1" (click)="selectedSupervisor(data); Supervisor.close()">{{data?.user?.firstName}} {{data?.user?.lastName}} ({{data?.position?.name}})</label>
                                                                            <hr class="m-0" *ngIf="!index">
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="listSupervisor?.length == 0">
                                                                        <div class="ms-4 mt-1">
                                                                            <label class="form-check-label font-size-16">Supervisor tidak tersedia</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-2 col-form-label">Status</label>
                                        <div class="col-6" style="align-self: center">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" [checked]="changeStatus" (change)="changeStatusActive()">
                                                <label class="form-check-label" for="flexSwitchCheckDefault" *ngIf="changeStatus">Aktif</label>
                                                <label class="form-check-label" for="flexSwitchCheckDefault" *ngIf="!changeStatus">Non-aktif</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="roleLspExist.length != 0">
                                        <label class="col-md-2 col-form-label">Kegiatan: <i style="position: absolute;
                                margin-top: 2px;margin-left: 5px;" class="dripicons-information"
                                                                                            ngbTooltip="Kegiatan yang dipilih sudah berstatus 'Pelaksanaan'"
                                                                                            placement="top"></i>
                                        </label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="listKegiatan.length > 0 || modelKegiataEdit?.length > 0">
                                                <li class="list-group-item" *ngFor="let data of modelKegiataEdit; let i = index">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label">{{data.componentCode?.code}} - {{data.name}}</label>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteKegiatanExist(data, i)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" *ngFor="let data of listKegiatan; let i = index">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label">{{data.componentCode?.code}} - {{data.name}}</label>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteKegiatan(i)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="addKegiatan" (click)="openModalKegiatan()">
                                                <i class="fa fa-plus"></i> Tambah Kegiatan
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mb-5 row">
                                        <label class="col-2 col-form-label"></label>
                                        <div class="col-6">
                                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" (click)="checkNotification() ? openModal(confirmationChangeUnit) : doUploadPhotoProfile()" [disabled]="isDisabledButton() ||  !loadingEditProfile">
                                                <label class="mb-0" *ngIf="loadingEditProfile">Simpan</label>
                                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingEditProfile"></i>
                                            </button>
                                            <button class="btn " (click)="detailPageUser()" style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%">Batal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


<ng-template #fileUploadPhotoProfile let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Foto Profile</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFilePhotoProfile"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.jpg,.png,.jpeg'"
                     filesize= "3mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #confirmationChangeUnit let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Konfirmasi Unit Kerja</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label class="mb-0">Kegiatan yang sudah terdaftar akan terhapus jika Anda Mengganti unit kerja.</label>
        <label class="mb-0">Apakah Anda yakin ingin mengubah unit kerja?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="doUploadPhotoProfile()"  [disabled]="isDisabledButton() ||  !loadingEditProfile">
            <label class="mb-0" *ngIf="loadingEditProfile">Simpan</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle" *ngIf="!loadingEditProfile"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

