<app-page-title [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-4">
            <label class="title-header">Annual Work Plan (AWP)</label><br>
        </div>
        <div class="col-8 text-end" *ngIf="roles?.hasAuthority('Administrator')">
            <div class="row row-cols-lg-auto" style="justify-content: end">
                <div class="col-md-12">
                    <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 100%" (click)="openModal(notificationExportProjectReport)" [disabled]="loadingExportWord">
                        <label class="mb-0" *ngIf="!loadingExportWord">Laporan Proyek</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                </div>
                <div class="col-md-12">
                    <div class="dropdown" ngbDropdown container="body" #export = "ngbDropdown">
                        <button class="btn btn-lg dropdown-toggle text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 100%" ngbDropdownToggle [disabled]="loadingExportWord">
                            <label class="mb-0" *ngIf="!loadingExportWord">Export AWP ke Doc</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu style="width: 190px">
                            <div class="search-box me-2">
                                <div class="ms-3 mt-3 mb-2" style="cursor: pointer">
                                    <label class="font-size-16 export-awp" style="cursor: pointer" (click)="export.close(); goToAddOtherInformationAwp(2021, 'Final AWP 2021')">Export Tahun 2021</label><br>
                                    <label class="font-size-16 export-awp" style="cursor: pointer" (click)="export.close(); goToAddOtherInformationAwp(2022, 'Final AWP 2022')">Export Tahun 2022</label><br>
                                    <label class="font-size-16 export-awp" style="cursor: pointer" (click)="export.close(); goToAddOtherInformationAwp(2023, 'Final AWP 2023')">Export Tahun 2023</label><br>
                                    <label class="font-size-16 export-awp" style="cursor: pointer" (click)="export.close(); goToAddOtherInformationAwp(2024, 'Final AWP 2024')">Export Tahun 2024</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-lg text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 100%" (click)="goToExportExcel()">
                        <label class="mb-0" *ngIf="!loadingExportWord">Export AWP ke Excel</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 100%" (click)="goToCreateAwp()" [disabled]="loadingExportWord">
                        <label class="mb-0" *ngIf="!loadingExportWord">Tambah AWP</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-5" [hidden]="!finishLoadData" >
        <div class="mb-3 row" style="align-self: center">
            <label class="col-4 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1)">Daftar AWP</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row row-cols-lg-auto">
                    <div class="col-md-12" style="align-self: center">
                        <label class="mb-0">Filter :</label>
                    </div>
                    <div class="col-md-12">
                        <div class="dropdown" ngbDropdown container="body">
                            <button class="btn dropdown-toggle w-100 text-start"
                                    [ngStyle]="{'background-color': (!selectedYearRetain) ?
                                    'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}"
                                    style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button"
                                    id="dropdownMenuButton" ngbDropdownToggle [disabled]="loadingExportWord">
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!selectedYearRetain">Semua Tahun</label>
                                        <label class="mb-0" *ngIf="selectedYearRetain">AWP Tahun {{selectedYearRetain}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                        </div>
                                        <div *ngIf="dataListYear?.length > 0">
                                            <div class="ms-4 mt-3 mb-2" *ngFor="let data of dataListYear; let i = last" style="cursor: pointer" (click)="selectedAwpYear(data)">
                                                <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedYearRetain == data) ? 'rgba(24, 101, 228, 1)' : 'black'}">AWP Tahun {{data}}</label>
                                                <hr class="mb-0 mt-1" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="dataListYear?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Tahun tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterYear()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dropdown" ngbDropdown container="body"  *ngIf="!this.roles.hasAuthority('LSP')">
                            <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterComponent) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle [disabled]="loadingExportWord">
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0">Filter <label class="mb-0" *ngIf="!selectedFilterComponent">Komponen</label> <label class="mb-0" *ngIf="selectedFilterComponent">{{selectedFilterComponent}}</label> <label class="mb-0" *ngIf="selectedFilterSubComponent">&nbsp;({{selectedFilterSubComponent.replace('Sub-Komponen ', '')}})</label></label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                <div class="search-box me-2">
                                    <div class="p-3">
                                        <div class="mb-3">
                                            <ng-select [items]="selectComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Komponen"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterComponent()">
                                            </ng-select>
                                        </div>
                                        <div class="mb-3">
                                            <ng-select [items]="selectSubComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Sub Komponen"
                                                       [disabled]="selectSubComponent.length == 0"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterSubComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterSubComponent()"
                                            >
                                            </ng-select>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="justify-content: end">
                    <div class="col-md-2 text-end" style="align-self: end">
                        <label>Pencarian : </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-md-2">
                        <button class="btn form-control text-white" type="submit" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()" [disabled]="loadingExportWord">
                            <label class="mb-0" *ngIf="!loadingExportWord">Cari</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-center">Komponen</th>
                    <th class="text-center">Kode Kegiatan</th>
                    <th class="text-center">Nama Kegiatan</th>
                    <th class="text-center">Pagu Anggaran AWP</th>
                    <th class="text-center">Deskripsi</th>
                    <th class="text-center">Tujuan Kegiatan</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelAwp;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 10%; vertical-align: middle">
                        <div ngbTooltip="{{data?.component?.description}}" placement="right">
                            {{data?.component?.code}}
                        </div>
                    </td>
                    <td class="text-center" style="width: 10%; vertical-align: middle">
                        <div ngbTooltip="{{data?.componentCode?.description}}" placement="right">
                            {{data?.componentCode?.code}}
                        </div>
                    </td>
                    <td class="text-start" style="vertical-align: middle;">{{data?.name}}</td>
                    <td class="text-start" style="vertical-align: middle;">Rp. {{data?.budgetAwp | mask: 'separator':'.'}}</td>
                    <td class="text-start" *ngIf="data?.description.length >= 100" style="vertical-align: middle">
                        <ng-template #tipContentDescription> <div [innerHTML]="data?.description"></div></ng-template>
                        <div [ngbTooltip]="tipContentDescription" placement="left" [innerHTML]="data?.description.substring(0,100) + '...'" container="body">
                        </div>
                    </td>
                    <td class="text-justify" style="vertical-align: middle" *ngIf="data?.description.length < 100" [innerHTML]=data?.description></td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.purpose.length >= 100">
                        <ng-template #tipContent> <div [innerHTML]="data?.purpose"></div></ng-template>
                        <div [ngbTooltip]="tipContent" placement="left" [innerHTML]="data?.purpose.substring(0,100) + '...'" container="body">
                        </div>
                    </td>
                    <td class="text-start" *ngIf="data?.purpose.length < 100" style="vertical-align: middle" [innerHTML]=data?.purpose></td>

                    <td class="text-center" style="width: 10%; vertical-align: middle"><button class="btn w-100 text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="goToDetailAwp(data.id)" [disabled]="loadingExportWord">
                        <label class="mb-0" *ngIf="!loadingExportWord">Lihat</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button></td>
                </tr>
                </tbody>
                <tbody *ngIf="modelAwp?.length == 0">
                <tr>
                    <td colspan="8" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #notificationInformationAwp let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Konfirmasi Export AWP</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label class="mb-0 font-size-20">Informasi Tambahan AWP Tahun {{yearSelected}} Sudah Tersedia</label>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="goToAddOtherInformationAwpConfirmation()" style="width: 200px; background-color: rgba(224, 224, 224, 1);" [disabled]="loadingExportWord">
            <label class="mb-0" *ngIf="!loadingExportWord">Edit Informasi Tambahan</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 130px" (click)="downloadWordAwp()" [disabled]="loadingExportWord">
            <label class="mb-0" *ngIf="!loadingExportWord">Download AWP</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
        </button>
    </div>
</ng-template>

<ng-template #notificationExportProjectReport let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Laporan Proyek</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Komponen</label>
            <div class="col-md-9">
                <ng-select [items]="selectComponent"
                           bindLabel="name"
                           placeholder="Pilih Komponen"
                           [multiple]="true"
                           [clearable]="false"
                           [(ngModel)]="selectedFilterComponentForExportReport"
                           [ngModelOptions]="{standalone: true}">
                </ng-select>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-3">Waktu Pelaporan :</label>
            <div class="col-md-9">
                <div class="row">
                    <form class="form-inline">
                        <div class="form-group hidden">
                            <div class="input-group">
                                <input name="datepicker"
                                       class="form-control"
                                       type="hidden"
                                       ngbDatepicker
                                       #datepicker="ngbDatepicker"
                                       [autoClose]="'outside'"
                                       [minDate]="minDate"
                                       [maxDate]="maxDate"
                                       (dateSelect)="onDateSelection($event, datepicker)"
                                       [displayMonths]="2"
                                       [dayTemplate]="customDay"
                                       outsideDays="hidden"
                                       [startDate]="fromDate!"
                                       tabindex="-1"
                                >
                                <ng-template
                                    #customDay
                                    let-date
                                    let-currentMonth="currentMonth"
                                    let-selected="selected"
                                    let-disabled="disabled"
                                    let-focused="focused">
                              <span
                                      class="custom-day"
                                      [ngClass]="myClass(date)"
                                      [class.weekend]="isWeekend(date)"
                                      [class.focused]="focused"
                                      [class.bg-primary]="selected"
                                      [class.text-muted]="disabled"
                                      [class.range]="isRange(date)"
                                      [class.faded]="isHovered(date) || isInside(date)"
                                      (mouseenter)="hoveredDate = date"
                                      (mouseleave)="hoveredDate = null">
                                {{ date.day }}
                              </span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                        </div>
                                        <input #dpFromDate
                                               class="form-control" placeholder="Pilih tanggal mulai"
                                               name="dpFromDate"
                                               [value]="formatter.format(fromDate)"
                                               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1" style="align-self: end; text-align: center">
                                <label>s.d</label>
                            </div>
                            <div class="col-md">
                                <div class="form-group ml-2">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                        </div>
                                        <input #dpToDate
                                               class="form-control" placeholder="Pilih tanggal akhir"
                                               name="dpToDate"
                                               [value]="formatter.format(toDate)"
                                               (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" (click)="downloadWordReportProject()" style="width: 200px; background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" [disabled]="loadingExportWord || !fromDate || !toDate || selectedFilterComponentForExportReport.length == 0">
            <label class="mb-0" *ngIf="!loadingExportWord">Download Laporan</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
        </button>
        <button type="button" class="btn" data-dismiss="modal" style="background: rgba(224, 224, 224, 1); width: 130px" (click)="closeModal()" [disabled]="loadingExportWord">
            <label class="mb-0" *ngIf="!loadingExportWord">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
        </button>
    </div>
</ng-template>
