<app-header-application></app-header-application>
<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="row justify-content-center" style="margin-top: 3%; margin-bottom: 14%">
            <div class="col-md-9">
                <div>
                    <label class="title-header">Ubah Password</label><br>
                    <label class="mb-3">Segera ganti password awal Anda dengan password baru yang Anda <br>
                        sesuaikan sendiri untuk bisa mengaktifkan akun Anda di aplikasi PMRMS.</label>
                </div>
                <div class="row">
                    <div class="card" style="box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                        <div class="card-body">
                            <form class="form-horizontal" [formGroup]="changePasswordForm" (ngSubmit)="saveChangePassword()">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Password Awal</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showOldPasswordInput ? 'text' : 'password'" formControlName="passwordLast" class="form-control" placeholder="Password Awal"
                                                   [ngClass]="{ 'is-invalid': validateOldPassword}"/>
                                            <button class="btn btn-light ms-0" type="button" (click)="showOldPasswordInputUser()"><i
                                                    [class]="showOldPasswordInput ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <span class="text-danger" *ngIf="validateOldPassword">{{errorRespChangePassword}}</span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Password Baru</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showPasswordInputUsers ? 'text' : 'password'" formControlName="password" class="form-control" id="email" placeholder="Password Baru"
                                                   [ngClass]="{ 'is-invalid': validateNewPassword}"/>
                                            <button class="btn btn-light ms-0" type="button" (click)="showPasswordInput()"><i
                                                    [class]="showPasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <div class="row mt-3 ">
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('minlength')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Minimal 8 Karakter</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Huruf Besar</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Huruf Kecil</label>
                                            </label>
                                            <label   [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasNumber')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Angka</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSpecialCharacters')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Symbol</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Konfirmasi Password Baru</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showRetypePasswordInputUsers ? 'text' : 'password'" class="form-control" formControlName="reTypePassword" placeholder="Ulangi Password"
                                                   [ngClass]="{ 'is-invalid': validateRetypePassword}" aria-label="Password"
                                                   aria-describedby="password-addon">
                                            <button class="btn btn-light ms-0" type="button" (click)="showRetypePasswordInput()"><i
                                                    [class]="showRetypePasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <div class="mt-2">
                                            <label [ngClass]="changePasswordForm.controls['reTypePassword'].hasError('NoPassswordMatch') ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Password Sama</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-6">
                                        <button class="btn" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%);width: 15%; margin-right: 5px; " [disabled]="changePasswordForm.invalid || !loadingChangePassword ">
                                            <label class="mb-0" style="cursor: pointer; color: white" *ngIf="loadingChangePassword" (click)="saveChangePassword()">Simpan</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingChangePassword"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-aplication></app-footer-aplication>
