<div class="card mb-3" style="border: 1.5px solid rgba(224, 224, 224, 1); border-radius: 12px">
    <div class="card-body">
        <div class="col-md-12">
            <div class="mb-2">
                <label class="font-size-16 mb-0">{{questionName}}.</label>
            </div>
            <div class="mb-3">
                <label class="font-size-14 mb-0" style="color: rgba(24, 101, 228, 1);">{{respondentCount}} Responden</label>
            </div>
            <div class="mb-3" *ngIf="respondentCount !== 0">
                <div class="row">
                    <div class="col-md-3">
                        <apx-chart class="apex-charts" dir="ltr" [series]="simplePieChart.series" [chart]="simplePieChart.chart"
                                   [labels]="simplePieChart.labels" [legend]="simplePieChart.legend" [colors]="simplePieChart.colors"
                                   [responsive]="simplePieChart.responsive">
                        </apx-chart>
                    </div>
                    <div class="col-md-3" style="align-self: center">
                        <label class="mb-0 font-size-14 mb-3"><i class="fa fa-circle" style="color: rgba(24, 101, 228, 1);"></i> Ya ({{questionAnswerYes}})</label><br>
                        <label class="mb-0 font-size-14"><i class="fa fa-circle" style="color: rgba(255, 92, 92, 1);"></i> Tidak ({{questionAnswerNo}})</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
