/* =============
   General
============= */

html {
  position: relative;
  min-height: 100%;
}

.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
  color: $gray-700;
}

a {
  text-decoration: none !important;
}

label {
  font-weight: 500;
  margin-bottom: $form-label-margin-bottom;
  font-family:  trebuchet ms,helvetica,sans-serif;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid $gray-300;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $gray-300;
  text-align: right;
}

// container

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  @media (min-width: 1366px){
    transform: scale(0.95);
  }
  @media (min-width: 1920px){
    transform: scale(1);
  }
}

.box-component-landing{
  @media (min-width: 1366px){
    margin-bottom: 1%;
  }
  @media (min-width: 1920px){
    margin-bottom: 5%;
  }
}

.top-container-landing-page {
  @media (min-width: 1920px){
    padding-top: 1rem !important;
  }
}
// row

.row{
  > * {
      position: relative;
  }
}
