<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToListTask()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div>
        <label class="title-header">Approval Perubahan Role</label><br>
    </div>
    <div class="loader center-page" *ngIf="loadingData"></div>
    <div class="mt-3" *ngIf="!loadingData">
        <div class="row">
            <div class="col-12">
                <div class="card" style="box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div class="row">
                        <div class="col-2">
                            <div class="text-center mb-2">
                                <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile">
                                <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px">
                            </div>
                        </div>
                        <div class="col-10 mt-2">
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">Nama Lengkap</label>
                                <div class="col-6">
                                    <input type="text" value="{{listTaskModel?.user?.firstName}} {{listTaskModel?.user?.lastName}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">Email</label>
                                <div class="col-6">
                                    <input type="text" value="{{listTaskModel?.user?.email}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-2 col-form-label">Role</label>
                                <div class="col-6">
                                    <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)">
                                        <div *ngIf="listTaskModel.approveStatus == 0 || listTaskModel.approveStatus == 2">
                                            <li class="list-group-item" *ngFor="let data of listTaskModel?.user?.roles">{{data.role?.name}}</li>
                                        </div>
                                        <div *ngIf="listTaskModel.approveStatus == 1">
                                            <li class="list-group-item" *ngFor="let data of listRoleApprove">{{data.role?.name}}</li>
                                        </div>
                                        <div *ngFor="let dataUpdate of listTaskModel?.detail">
                                            <div *ngIf="listTaskModel.approveStatus == 0">
                                                <li class="list-group-item" style="background-color: rgba(255, 215, 215, 1); " *ngIf="dataUpdate.requestStatus == 0">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)"><label class="mb-0" style="font-style: italic">request : </label> Role dihapus</div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="background-color: rgba(224, 242, 255, 1); " *ngIf="dataUpdate.requestStatus == 1">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)"><label class="mb-0" style="font-style: italic">request : </label> Role ditambahkan</div>
                                                    </div>
                                                </li>
                                            </div>
                                            <div *ngIf="listTaskModel.approveStatus == 1">
                                                <li class="list-group-item" style="background-color: rgba(255, 215, 215, 1); " *ngIf="dataUpdate.requestStatus == 0">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Penghapusan Role disetujui</div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="background-color: rgba(224, 242, 255, 1); " *ngIf="dataUpdate.requestStatus == 1">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Penambahan Role disetujui</div>
                                                    </div>
                                                </li>
                                            </div>
                                            <div *ngIf="listTaskModel.approveStatus == 2">
                                                <li class="list-group-item" style="background-color: rgba(255, 215, 215, 1); " *ngIf="dataUpdate.requestStatus == 0">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Penghapusan Role ditolak</div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="background-color: rgba(224, 242, 255, 1); " *ngIf="dataUpdate.requestStatus == 1">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-6">{{dataUpdate.role?.name}}</div>
                                                        <div class="col-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Penambahan Role ditolak</div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="card-footer" *ngIf="listTaskModel.approveStatus == 0">
                        <div class="text-end">
                            <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="sendDataListTask(1)">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="openModal(approveNotes)">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Tolak</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="listTaskModel.approveStatus == 1">
                        <div class="text-end">
                            <label>Disetujui, pada {{listTaskModel.convertDateUpdate | date: 'dd MMMM yyyy HH:mm'}} WIB</label>
                        </div>
                    </div>
                    <div class="card-footer" *ngIf="listTaskModel.approveStatus == 2">
                        <div class="text-end">
                            <label>Ditolak, pada {{listTaskModel.convertDateUpdate | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #approveNotes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer" *ngIf="listTaskModel.approveStatus == 0">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="sendDataListTask(2)" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>
