<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToListEvent()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Concept Note - Kegiatan {{dataDetailEvent?.awpImplementation?.componentCode?.code}}</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block font-size-18">Detail</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block font-size-18">Laporan Event</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>


<ng-template #TabContent>
    <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label font-weight-bold">Status</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 0">: &nbsp;<span class="badge rounded-pill p-1 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);">Perencanaan</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 1">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)">Revisi</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 2">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(238, 129, 0, 1);">Evaluasi Anggaran</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 3">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);">Tinjau Ulang</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 4">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)">Menunggu Persetujuan</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 5">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 102, 15, 0.12); color: rgba(255, 102, 15, 1);">RAB Ditolak</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 6">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);">Pelaksanaan</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 7">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);">Selesai</span></label>
            </div>
            <div class="mb-3 row" *ngIf="dataDetailEvent?.approvalNotes.length > 0">
                <label class="col-md-3 col-form-label font-weight-bold">Catatan</label>
                <div class="col-md-8">
                    <label class="mb-0" style="color: rgba(24, 101, 228, 1);">: &nbsp;{{dataDetailEvent?.approvalNotes[0].user?.firstName}} {{dataDetailEvent?.approvalNotes[0].user?.lastName}}</label><br>
                    <label class="mb-0 me-1">&nbsp;&nbsp;&nbsp;{{dataDetailEvent?.approvalNotes[0]?.note}}</label>
                </div>
                <label class="col-form-label col-md-1 text-decoration-underline" style="color: rgba(24, 101, 228, 1); cursor: pointer" (click)="openModalHistory(History)">History</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Umum</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Komponen </label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.awpImplementation?.component?.code}} - {{dataDetailEvent?.awpImplementation?.component?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Sub-Komponen </label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.awpImplementation?.subComponent?.code}} - {{dataDetailEvent?.awpImplementation?.subComponent?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Sub-Sub-Komponen :</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.awpImplementation?.subSubComponent?.code}} - {{dataDetailEvent?.awpImplementation?.subSubComponent?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Nama Kegiatan</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.awpImplementation?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Moda Kegiatan</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.activityMode?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Keterangan Kegiatan</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.nameOtherInformation && dataDetailEvent?.awpImplementation?.awp?.nameOtherInformation" [innerHtml]="dataDetailEvent?.awpImplementation?.awp?.nameOtherInformation"></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.nameOtherInformation" [innerHtml]="dataDetailEvent?.nameOtherInformation"></label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.nameOtherInformation && !dataDetailEvent?.awpImplementation?.awp?.nameOtherInformation">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Kode Akun</label>
                <div class="col-md-9">
                    <div *ngIf="dataDetailEvent?.pok.length > 0">
                        <div *ngFor="let data of dataDetailEvent?.pok; let index = first">
                            <label class="col-form-label">
                                <li class="ms-2">{{data?.pok?.code}} - {{data?.pok?.title}}</li>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="dataDetailEvent?.pok.length == 0">
                        <label class="col-form-label">: -</label>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Nama Event</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Jenis Event</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.eventType?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Apakah ada di POK ?</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.awpImplementation?.pokEvent == true">: Ada</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.awpImplementation?.pokEvent == false">: Tidak Ada</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.awpImplementation?.pokEvent == null">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Budget POK</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetPok">: Rp. {{dataDetailEvent?.budgetPok | mask: 'separator':'.'}}</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.budgetPok">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Budget AWP</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.awpImplementation.budgetAwp">: Rp. {{dataDetailEvent?.awpImplementation.budgetAwp | mask: 'separator':'.'}}</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.awpImplementation.budgetAwp">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Project Officer</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.awpImplementation?.projectOfficerResources?.user?.firstName}} {{dataDetailEvent?.awpImplementation?.projectOfficerResources?.user?.lastName}}</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Pelaksanaan</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">1. Waktu Pelaksanaan Kegiatan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Tanggal Mulai</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.convertStartDate | date:'dd MMMM yyyy'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Tanggal Akhir</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.convertEndDate | date:'dd MMMM yyyy'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.eventOtherInformation ? dataDetailEvent?.eventOtherInformation : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">2. Tempat Pelaksanaan</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Provinsi, Kota</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.province?.name}} <label class="mb-0" *ngIf="dataDetailEvent?.regency">({{dataDetailEvent?.regency?.name}})</label></label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Lokasi</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.location}}</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lain Tempat Pelaksanaan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.locationOtherInformation ? dataDetailEvent?.locationOtherInformation : '-'}}</label>
            </div>
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label font-weight-bold">3. Peserta Pelaksana</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Peserta Staff PMU</label>
                </div>
                <label class="col-md-9 col-form-label">
                    <div *ngIf="participantPmu.length > 0">
                        <div *ngFor="let data of participantPmu">
                            <li class="ms-2">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}
                                <label class="mb-0" *ngIf="data?.resources?.user?.component?.code !== '-'">(Komponen {{data?.resources?.user?.component?.code}})</label>
                                <label class="mb-0" *ngIf="data?.resources?.user?.component?.code === '-'">({{data?.resources?.position?.name}})</label>
                            </li>
                        </div>
                    </div>
                    <div *ngIf="participantPmu?.length == 0">
                        <label class="mb-0">: -</label>
                    </div>
                </label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Peserta Staff PCU</label>
                </div>
                <label class="col-md-9 col-form-label">
                    <div *ngFor="let data of participantPcu">
                        <li class="ms-2">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}
                            <label class="mb-0" *ngIf="data?.resources?.user?.component?.code !== '-'">(Komponen {{data?.resources?.user?.component?.code}})</label>
                            <label class="mb-0" *ngIf="data?.resources?.user?.component?.code === '-'">({{data?.resources?.position?.name}})</label>
                        </li>
                    </div>
                    <div *ngIf="participantPcu.length == 0">
                        <label class="mb-0">: -</label>
                    </div>
                </label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">C. Peserta Diluar Staff</label>
                </div>
                <label class="col-md-9 col-form-label">
                    <div *ngIf="dataDetailEvent?.otherStaff.length > 0">
                        <div *ngFor="let data of dataDetailEvent?.otherStaff">
                            <li class="ms-2">{{data?.name}}, {{data?.position}}, {{data?.institution}}</li>
                        </div>
                    </div>
                    <div *ngIf="dataDetailEvent?.otherStaff.length == 0">
                        : -
                    </div>
                </label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Event</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">4. Latar Belakang Event :</label>
                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.background"></label></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">5. Deskripsi Event :</label>
                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.description"></label></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">6. Tujuan Event :</label>
                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.purpose"></label></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">7. Output Event :</label>
                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.eventOutput"></label></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">8. Peserta Kegiatan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Peserta Laki-laki</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantMale ? dataDetailEvent?.participantMale : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Jumlah Perempuan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantFemale ? dataDetailEvent?.participantFemale : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Jumlah Peserta</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantCount}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">d. Sasaran Peserta</label>
                </div>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.participantTarget">: -</label>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailEvent?.participantTarget" *ngIf="dataDetailEvent?.participantTarget"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">d. Informasi Lainnya</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantOtherInformation ? dataDetailEvent?.participantOtherInformation : '-'}}</label>
            </div>
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label font-weight-bold">9. Agenda Event</label>
                <div class="col-md-9">
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.agendaFile && dataDetailEvent?.agendaFile?.fileExt !== 'pdf'"  (click)="downloadFile(dataDetailEvent?.agendaFile?.id, dataDetailEvent?.agendaFile?.filename)"><i>{{dataDetailEvent?.agendaFile?.filename}}</i></label>
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.agendaFile && dataDetailEvent?.agendaFile?.fileExt == 'pdf'"  (click)="openModalHistory(pdfAgendaFile)"><i>{{dataDetailEvent?.agendaFile?.filename}}</i></label>
                    <label class="col-form-label mb-0" *ngIf="!dataDetailEvent?.agendaFile">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">10. Narahubung</label>
                <label class="col-md-9 col-form-label">: {{dataDetailEvent?.contactPersonResources?.user?.firstName}} {{dataDetailEvent?.contactPersonResources?.user?.lastName}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">11. RAB</label>
                <div class="col-md-9">
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.rabFile && dataDetailEvent?.rabFile?.fileExt !== 'pdf'" (click)="downloadFile(dataDetailEvent?.rabFile?.id, dataDetailEvent?.rabFile?.filename)"><i>{{dataDetailEvent?.rabFile?.filename}}</i></label>
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.rabFile && dataDetailEvent?.rabFile?.fileExt === 'pdf'" (click)="openModalHistory(pdfRabFile)"><i>{{dataDetailEvent?.rabFile?.filename}}</i></label>
                    <label class="col-form-label mb-0" *ngIf="!dataDetailEvent?.rabFile">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">12. Apakah Anggaran Tersedia</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == true">: Ya</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == false">: Tidak</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == null">: -</label>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <div *ngIf="dataDetailEvent?.creatorAllowedEdit">
                    <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditAwp()">Edit Concept Note</button>
                    <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">Keluar</button>
                </div>
                <div *ngIf="dataDetailEvent?.coordinatorAllowedApprove">
                    <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModal(Notes, 1)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModal(Notes, 2)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                </div>
                <div *ngIf="dataDetailEvent?.pmuTreasurerAllowedApprove">
                    <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModalTreasure(NotesTreasure, 1)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModalTreasure(NotesTreasure, 2)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                </div>
                <div *ngIf="dataDetailEvent?.pmuHeadAllowedApprove">
                    <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModal(NotesApprovePmu, 1)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModal(NotesApprovePmu, 2)">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                    <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                    </button>
                </div>
                <div *ngIf="(dataDetailEvent?.status === 6 || dataDetailEvent?.status === 7)">
                    <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 200px" (click)="downloadWordConceptNote()" *ngIf="(dataDetailEvent?.status === 6 || dataDetailEvent?.status === 7)" [disabled]="loadingExportWord">
                        <label class="mb-0" *ngIf="!loadingExportWord">Download Concept Note</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                    <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()" [disabled]="loadingExportWord">
                        <label class="mb-0" style="cursor:pointer;" *ngIf="!loadingExportWord">Keluar</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                </div>
            </div>
            <div class="text-end" *ngIf="!dataDetailEvent?.creatorAllowedEdit && !dataDetailEvent?.coordinatorAllowedApprove && !dataDetailEvent?.pmuHeadAllowedApprove && !dataDetailEvent?.pmuTreasurerAllowedApprove && (dataDetailEvent?.status !== 6 && dataDetailEvent?.status !== 7)">
                <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">Keluar</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label font-weight-bold">Laporan Event</label>
                <div class="col-md-8">
                    <div *ngIf="getListEventReport?.length > 0">
                        <div class="mb-2" *ngFor="let data of getListEventReport; let i = index">
                            <button class="btn" style="border: 1px solid rgba(122, 122, 122, 1); width: 280px; cursor: pointer" [ngStyle]="{'color': (data?.status == 2) ? 'rgba(24, 101, 228, 1)' : ''}" (click)="goToDetailReportEvent(data.id)">
                                <div class="row">
                                    <div class="col-10 text-start">
                                        <label class="mb-0" style="cursor: pointer">Laporan Event</label>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i class="fa fa-check-circle font-size-16"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="listProgressEvent?.length > 0">
                        <div class="mb-2" *ngFor="let data of listProgressEvent; let i = index">
                            <button class="btn" style="border: 1px solid rgba(122, 122, 122, 1); width: 280px; cursor: pointer" [ngStyle]="{'color': (data?.status == 2) ? 'rgba(24, 101, 228, 1)' : ''}" (click)="goToDetailProgressEvent(data.id)">
                                <div class="row">
                                    <div class="col-10 text-start">
                                        <label class="mb-0" style="cursor: pointer">Laporan Kemajuan Event {{(listProgressEvent.length + 1) - (i + 1)}}</label>
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <i class="fa fa-check-circle font-size-16"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="listProgressEvent?.length == 0 && getListEventReport?.length == 0">
                        <label class="mb-0 col-form-label">: -</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <div class="col-md-12">
                    <button class="btn me-2 text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" [disabled]="!dataDetailEvent?.staffOrAssistantAllowCreateReport && !dataDetailEvent?.creatorAllowCreateReport " (click)="goToCreateEvent()">Buat Laporan Event</button>
                    <button class="btn me-2 text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToCreateProgress()" [disabled]="!dataDetailEvent?.staffOrAssistantAllowCreateProgressReport">Buat Laporan Kemajuan Event</button>
                    <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListEvent()">Keluar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #Notes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromCoordinator()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #NotesApprovePmu let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromHeadPmu()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #NotesTreasure let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Apakah Anggaran Tersedia :</label>
            <div class="col-md-9">
                <form class="row row-cols-lg-auto ms-2">
                    <div class="form-check col-form-label me-3">
                        <input class="form-check-input" type="radio" name="radios" id="radio3" [value]= true [(ngModel)]="existOnAnggaran">
                        <label class="form-check-label" for="radio3">
                            Ada
                        </label>
                    </div>
                    <div class="form-check col-form-label">
                        <input class="form-check-input" type="radio" name="radios" id="radio4" [value]= false [(ngModel)]="existOnAnggaran">
                        <label class="form-check-label" for="radio4">
                            Tidak Ada
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Catatan :</label>
            <div class="col-md-9">
                <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromTreasure()" [disabled]="!rejectMessage || existOnAnggaran == undefined|| !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #History let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">History Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
            <ul class="list-unstyled chat-list">
                <li class="" *ngFor="let data of dataDetailEvent?.approvalNotes" style="border: transparent; background-color: rgba(251, 251, 251, 1); ">
                    <a>
                        <div class="media" *ngIf="data?.createdFrom == 1">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 2">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 3">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2 ">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>

<ng-template #pdfAgendaFile let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">PDF Viewer</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="dataDetailEvent?.agendaFile?.fileExt === 'pdf'">
            <div class="col-md-12" *ngFor="let item of pdfCountKegiatan; let i = index">
                <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
                    <ngb-panel title="{{dataDetailEvent?.agendaFile?.filename}}" id="config-panel-one">
                        <ng-template ngbPanelContent>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.agendaFile?.id, dataDetailEvent?.agendaFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                            <pdf-viewer [src]="item.src" [zoom]="item.pdfZoom" [fit-to-page]="true" [original-size]="true" style="width: 100%; height: 100vh"
                                        [show-all]="false" [page]="item.page" (after-load-complete)="afterLoadComplete($event, item)">
                            </pdf-viewer>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.agendaFile?.id, dataDetailEvent?.agendaFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>

<ng-template #pdfRabFile let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">PDF Viewer</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="dataDetailEvent?.rabFile?.fileExt === 'pdf'">
            <div class="col-md-12" *ngFor="let item of pdfCountRab; let i = index">
                <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-two">
                    <ngb-panel title="{{dataDetailEvent?.rabFile?.filename}}" id="config-panel-two">
                        <ng-template ngbPanelContent>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.rabFile?.id, dataDetailEvent?.rabFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                            <pdf-viewer [src]="item.src" [zoom]="item.pdfZoom" [fit-to-page]="true" [original-size]="true" style="width: 100%; height: 100vh"
                                        [show-all]="false" [page]="item.page" (after-load-complete)="afterLoadComplete($event, item)">
                            </pdf-viewer>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.rabFile?.id, dataDetailEvent?.rabFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>
