.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background: rgba(15, 132, 69, 0.05);
  color: rgba(15, 132, 69, 1);
}

::ng-deep table.dataTable td.dataTables_empty {
  display: none;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dropdown-toggle::after {
  display:none;
}

.weekend {
  border-radius: 1rem;
  color: red;
}

.classSelected {
  color: red!important;
}

.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  background-color: rgba(24, 101, 228, 0.1) !important;
  color: rgba(24, 101, 228, 1) !important;
  border: 1px solid rgba(208, 208, 208, 1) !important;
}

.btn-task {
  color: rgba(75, 75, 75, 1) !important;
  border: 1px solid rgba(208, 208, 208, 1) !important;
}

.btn-check[_ngcontent-skx-c197]:checked + .btn-outline-secondary[_ngcontent-skx-c197], .btn-check[_ngcontent-skx-c197]:active + .btn-outline-secondary[_ngcontent-skx-c197], .btn-outline-secondary[_ngcontent-skx-c197]:active, .btn-outline-secondary.active[_ngcontent-skx-c197], .btn-outline-secondary.dropdown-toggle.show[_ngcontent-skx-c197] {
  border: transparent !important;
}
