<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div>
        <label class="title-header">Daftar Tugas</label><br>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block">Tugas Saya</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block">Penugasan</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                </ng-template>
            </li>
        </ul>
        <div class="mb-1 mt-3 row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-md-5 font-size-20" style="color: rgba(24, 101, 228, 1); margin-bottom: -20px" *ngIf="checkedButton == 1">Daftar Tugas Saya</label>
                    <div *ngIf="checkedButton == 2">
                        <div class="row">
                            <div class="col-md-5">
                                <label class="font-size-20" style="color: rgba(24, 101, 228, 1);" *ngIf="checkedButton == 2">Daftar Penugasan</label>
                            </div>
                            <div class="col-md-6" *ngIf="roles.hasAuthority('Administrator') || roles.hasAuthority('Coordinator') || roles.hasAuthority('Consultan')">
                                <button class="btn" style="border: 1px solid rgba(51, 51, 51, 1)" (click)="goToAddTask()">
                                    <i class="fa fa-plus align-middle mr-2"></i> Buat Tugas
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2 text-end" style="align-self: end">
                            <label>Pencarian : </label>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control" [(ngModel)]="filterName">
                        </div>
                        <div class="col-md-2">
                            <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="mb-3 mt-3 row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="dropdown" ngbDropdown container="body" *ngIf="checkedButton == 1">
                            <button class="btn w-100 text-start" [ngStyle]="{'background-color': (!selectedTask) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!selectedTask">Jenis Tugas</label>
                                        <label class="mb-0" *ngIf="selectedTask">{{selectedTask?.name}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                        </div>
                                        <div *ngIf="JenisTugas?.length > 0">
                                            <div class="ms-4 mt-3 mb-2" *ngFor="let data of JenisTugas; let i = last" style="cursor: pointer" (click)="changeTask(data)">
                                                <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedTask?.id == data?.id) ? 'rgba(24, 101, 228, 1)' : 'black'}">{{data?.name}}</label>
                                                <hr class="mb-0 mt-1" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="JenisTugas?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Jenis tugas tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center">
                                                <span key="t-view-more" (click)="clearChangeTask()">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown" ngbDropdown container="body" *ngIf="checkedButton == 1">
                            <button class="btn w-100 text-start" [ngStyle]="{'background-color': (!selectedStatus) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!selectedStatus">Status Tugas</label>
                                        <label class="mb-0" *ngIf="selectedStatus">{{selectedStatus?.name}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterStatus($event)">
                                        </div>
                                        <div *ngIf="statusTugas?.length > 0">
                                            <div class="ms-4 mt-3 mb-2" *ngFor="let data of statusTugas; let i = last" style="cursor: pointer" (click)="changeStatus(data)">
                                                <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedStatus?.id == data?.id) ? 'rgba(24, 101, 228, 1)' : 'black'}">{{data?.name}}</label>
                                                <hr class="mb-0 mt-1" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="statusTugas?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Status tugas tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearChangeStatus()">
                                                <span key="t-view-more" (click)="clearChangeStatus()">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown" ngbDropdown container="body" *ngIf="checkedButton == 1">
                            <button class="btn text-start" [ngStyle]="{'background-color': (!toDate) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!toDate">Tanggal Tugas</label>
                                        <label class="mb-0" *ngIf="toDate">{{fromDate.day}}-{{fromDate.month}}-{{fromDate.year}} s.d {{toDate.day}}-{{toDate.month}}-{{toDate.year}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu>
                                <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [footerTemplate]="footerTemplate">
                                </ngb-datepicker>

                                <ng-template #t let-date let-focused="focused">
                                  <span class="custom-day"
                                        [ngClass]="myClass(date)"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                  </span>
                                </ng-template>
                                <ng-template #footerTemplate>
                                    <hr class="my-0">
                                    <button class="btn btn-sm m-2 float-end text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="clearFilterDate()">Matikan Filter</button>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>

<ng-template #TabContent>
    <div class="table-responsive">
        <table id="dt1" datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
            <thead class="table-light">
            <tr>
                <th class="text-start" style="width: 5%">No</th>
                <th class="text-start" style="width: 15%">Nama Pemberi Tugas</th>
                <th class="text-center" style="width: 10%">Jenis Tugas</th>
                <th class="text-start">Deskripsi Tugas</th>
                <th class="text-start">Status Tugas</th>
                <th class="text-start">Tanggal Tugas</th>
                <th class="text-start" style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listApprove;  let i = index">
                <td class="text-start" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                <td class="text-start" style="width: 15% ; vertical-align: middle">{{data?.createdByUser?.firstName}} {{data?.createdByUser?.lastName}}</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 1">Permohonan Pemindahan Role</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 2">Permohonan Izin/Cuti</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 3">Permohonan Kegiatan Luar Kota</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 4">Pesan</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 5">Kegiatan</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 6">Event</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 7">Draft Laporan Kemajuan Event</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 8">Draft Laporan Event</td>
                <td class="text-center" style="width: 10%; vertical-align: middle" *ngIf="data?.taskType == 9">Laporan Kegiatan</td>
                <td class="text-start" style="vertical-align: middle" >{{data?.description}}</td>
                <td class="text-center" style="vertical-align: middle; width: 10%">
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Tugas Baru</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color:  rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 1">Diproses</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 2 && (data.taskType == 1)">Disetujui</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 2 && (data.taskType == 4 || data.taskType == 6 || data.taskType == 5 || data.taskType == 7 || data.taskType == 8 || data.taskType == 9)">Selesai</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="data?.status == 3 && data.taskType != 5">Ditolak</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="data?.status == 3 && (data.taskType == 5 || data.taskType == 7 || data.taskType == 8 || data.taskType == 9)">Revisi</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(238, 129, 0, 0.12); color: rgba(157, 85, 0, 1);" *ngIf="data?.status == 4">Telah Dikerjakan</span>
                </td>
                <td class="text-start" style="vertical-align: middle">{{data?.createdAt}}</td>
                <td class="text-center" style="width: 15%"><button class="btn btn-primary w-100" (click)="goToDetailTask(data)">Lihat Tugas</button></td>
            </tr>
            </tbody>
            <tbody *ngIf="listApprove?.length == 0">
            <tr>
                <td colspan="6" class="no-data-available text-center">No data!</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="table-responsive">
        <table id="dt2" datatable [dtOptions]="dtOptions2" class="table table-bordered mb-0" style="width: 100%">
            <thead class="table-light">
            <tr>
                <th class="text-start" style="width: 5%">No</th>
                <th class="text-start">Nama Pemberi Tugas</th>
                <th class="text-start">Nama Penerima Tugas</th>
                <th class="text-center">Judul Tugas</th>
                <th class="text-start">Informasi Tugas</th>
                <th class="text-start">Tags</th>
                <th class="text-start">Status Tugas</th>
                <th class="text-start">Tanggal Tugas</th>
                <th class="text-start" style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listApprove2;  let i = index">
                <td class="text-start" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                <td class="text-start" style="width: 15%; vertical-align: middle">{{data?.createdByResources?.user?.firstName}} {{data?.createdByResources?.user?.lastName}}</td>
                <td class="text-start" style="width: 15%; vertical-align: middle">{{data?.createdForResources?.user?.firstName}} {{data?.createdForResources?.user?.lastName}}</td>
                <td class="text-center" style="width: 10%; vertical-align: middle">{{data?.title}}</td>
                <td class="text-start" style="width: 15%; vertical-align: middle">{{data?.description}}</td>
                <td class="text-start">
                    <div *ngFor="let dataTags of data?.tags">
                        {{dataTags?.taskResourcesTag?.name}}
                    </div>
                </td>
                <td class="text-center" style="width: 10%;">
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Menunggu</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color:  rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 1">Diproses</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(238, 129, 0, 0.12); color: rgba(157, 85, 0, 1);" *ngIf="data?.status == 2">Telah Dikerjakan</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 3">Selesai</span>
                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="data?.status == 4">Ditolak</span>
                </td>
                <td class="text-start">{{data?.createdAt}}</td>
                <td class="text-center" style="width: 15%"><button class="btn btn-primary w-100" (click)="goToDetailAddTask(data?.id)">Lihat Tugas</button></td>
            </tr>
            </tbody>
            <tbody *ngIf="listApprove2?.length == 0">
            <tr>
                <td colspan="8" class="no-data-available text-center">No data!</td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>
