<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div>
        <label class="title-header">Daftar Staf</label><br>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData" >
        <div class="col-12">
            <div class="row">
                <div class="col-4 text-start" style="align-self: end">
                    <label class="font-size-16" style="color: #1865E4;">Daftar Staf</label>
                </div>
                <div class="col-8 text-end">
                    <div class="row row-cols-lg-auto justify-content-end">
                        <div class="col-12">
                            <div class="dropdown" ngbDropdown container="body"  *ngIf="!this.roles.hasAuthority('LSP')">
                                <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterComponent) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-md-6">
                                            <label class="mb-0">
                                                <label class="mb-0" *ngIf="!selectedFilterComponent">Filter Komponen</label>
                                                <label class="mb-0" *ngIf="selectedFilterComponent">Filter {{selectedFilterComponent}}</label>
                                                <label class="mb-0" *ngIf="selectedFilterSubComponent">&nbsp;({{selectedFilterSubComponent.replace('Sub-Komponen ', '')}})</label>
                                            </label>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                    <div class="search-box me-2">
                                        <div class="p-3">
                                            <div class="mb-3">
                                                <ng-select [items]="selectComponent"
                                                           bindLabel="name"
                                                           placeholder="Pilih Komponen"
                                                           [multiple]="false"
                                                           [clearable]="false"
                                                           [(ngModel)]="selectedFilterComponent"
                                                           [ngModelOptions]="{standalone: true}"
                                                           (ngModelChange)="changeFilterComponent()">
                                                </ng-select>
                                            </div>
                                            <div class="border-top d-grid">
                                                <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                    <span key="t-view-more">Matikan Filter</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <input type="text" class="form-control" [(ngModel)]="filterStaf" (keydown.enter)="refreshDatatable()">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-blue-white text-white w-md" (click)="refreshDatatable()">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-start">Nama Staf</th>
                    <th class="text-start">Unit Kerja</th>
                    <th class="text-start">Komponen</th>
                    <th class="text-start">Daerah</th>
                    <th class="text-start">Jabatan</th>
                    <th class="text-start" style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of resourcesModel;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.user?.firstName}} {{data?.user?.lastName}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.position?.unit?.name}}</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.position?.unit?.name === 'PMU'">Komponen {{data?.user?.component?.code}}</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.position?.unit?.name === 'PCU'">{{data?.user?.component?.code}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.user?.province?.name}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.position?.name}}</td>
                    <td class="text-center" style="width: 15%">
                        <button class="btn btn-green-white text-white w-100" (click)="goToDetailPageStaf(data.id)">Lihat Detail</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="resourcesModel?.length == 0">
                <tr>
                    <td colspan="7" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
