<div class="background-footer">
  <div class="container">
    <div class="col-md-12">
      <div class="text-center">
        <label>Copyright © 2022 | Kementerian Agama Republik Indonesia</label>
      </div>
    </div>
  </div>
</div>

