<div class="modal-header">
    <h5 class="modal-title mt-0">Upload File RAB</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
    </button>
</div>
<div class="modal-body">
    <file-upload name="uploadSelfie"
                 [(ngModel)]="uploadFileExcel"
                 [fileslimit]="1"
                 [multiple]="false"
                 [accept]="'.pdf'"
                 filesize= "2mb">
    </file-upload>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="doUploadRab(uploadFileExcel)">
        <label *ngIf="!loadingSaveKegiatan" class="mb-0">Simpan</label>
        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
    </button>
    <button *ngIf="!loadingSaveKegiatan" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
    <button *ngIf="loadingSaveKegiatan" disabled type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
</div>
