<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-6">
            <label class="title-header">Izin/Cuti</label><br>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="goToAddPermission()">Ajukan Izin/Cuti</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="col-12">
            <div class="row">
                <div class="col-6 text-start" style="align-self: end">
                    <label class="font-size-16" style="color: #1865E4;">Daftar Pengajuan Izin/Cuti</label>
                </div>
                <div class="col-6 text-end">
                    <div class="row row-cols-lg-auto justify-content-end">
                        <div class="col-12">
                            <input type="text" class="form-control" [(ngModel)]="filterIzin">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-blue-white text-white w-md" (click)="refreshDatatable()">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-start" style="width: 5%">No</th>
                    <th class="text-start" style="width: 20%">Tanggal</th>
                    <th class="text-center" style="width: 10%">Lama Izin/Cuti</th>
                    <th class="text-start">Jenis Izin/Cuti</th>
                    <th class="text-start" style="width: 10%">Status</th>
                    <th class="text-start" style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of permissionModel;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 20%">{{data?.convertStartDate | date : 'dd-MMMM-yyyy, HH:mm'}}</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%">{{data?.daysLength}} hari</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.leaveRequestType?.special">Cuti {{data?.leaveRequestType?.name}}</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="!data?.leaveRequestType?.special">{{data?.leaveRequestType?.name}}</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(51, 51, 51, 0.12); color: rgba(51, 51, 51, 1);" *ngIf="data.approveStatus == 0">Menunggu Persetujuan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data.approveStatus == 1">Disetujui</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="data.approveStatus == 2">Ditolak</span>
                    </td>
                     <td class="text-center" style="width: 15%">
                        <button class="btn btn-green-white text-white w-100"(click)="goToDetailPermission(data.id)">Lihat Detail</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="permissionModel?.length == 0">
                <tr>
                    <td colspan="7" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
