<!-- breadcrumb item -->
<div style="background: rgba(141, 160, 60, 1); margin-bottom: 20px; position: fixed; width: 100%; z-index: 5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between" style="padding-bottom: 0 !important;">
          <div>
            <ol class="breadcrumb m-0" style="padding: 10px !important;">
              <ng-container *ngFor="let item of breadcrumbItems">
                <li class="breadcrumb-item text-white" *ngIf="!item.active"><a class="text-white">{{ item.label }} &nbsp;</a>
                </li>
                <li class="breadcrumb-item active text-white" *ngIf="item.active">{{ item.label }}
                </li>
              </ng-container>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

