<div class="container-login p-0">
  <div class="row g-0">
    <div class="col-xl-7">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100 text-center">
          <div class="bg-overlay"></div>
          <div class="">
            <img src="assets/images/login-page2.webp" class="img-fluid img-login" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="auth-full-page-content p-md-5 p-4">
        <div class="w-100">

          <div class="d-flex flex-column h-100">
            <div class="text-center">
              <img src="assets/images/logo-login.webp" class="img-fluid avatar-md me-4" alt="Responsive image">
              <img src="assets/images/logo-description2.webp" alt="Responsive image">
            </div>
            <div class="my-auto">
              <button class="btn btn-light mb-3" type="button" (click)="goToLogin()">
                <i class="fa fa-arrow-alt-circle-left"></i> Kembali Ke Login
              </button>
              <div class="col-md-12 text-center">
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{error}}</ngb-alert>
              </div>
              <div>
                <label class="font-size-30" style="color: black">Setel Ulang Password</label>
                <br>
                <label class="font-size-16">Kami akan mengirimkan configurasi setel ulang password melalui email anda.</label>
              </div>
              <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="mb-3">
                  <label class="font-size-16" for="email">Masukan alamat email anda</label>

                  <input type="email" formControlName="email" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email..." />

                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email tidak boleh kosong</div>
                    <div *ngIf="f.email.errors.email">Format Email Salah</div>
                  </div>
                </div>
                <div class="mt-3 d-grid">
                  <button class="btn" type="submit" [disabled]="!loadingResetPassword" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%);">
                    <label class="mb-0 text-white" style="cursor: pointer" *ngIf="!finishForgetPassword">Kirim</label>
                    <i class="bx bx-loader bx-spin font-size-20 align-middle me-2 text-white" *ngIf="finishForgetPassword"></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="mt-4 mt-md-5 text-center">
              <p class="mb-0">©
                Copyright © 2022 | Kementerian Agama Republik Indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
