<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToDetailEvent()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Laporan Kemajuan Event - {{dataDetailEvent?.event?.awpImplementation?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold" style="align-self: center">Status</label>
                    <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 0">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)">Persetujuan Laporan Kemajuan Event</span></label>
                    <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 1">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)">Revisi Laporan Kemajuan Event</span></label>
                    <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.status == 2">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);">Laporan Kemajuan Event Disetujui</span></label>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Tanggal Upload</label>
                    <div class="col-md-9">
                        <label class="mb-0 col-form-label">:&nbsp;&nbsp;{{dataDetailEvent?.convertCreatedAt | date : 'dd MMMM yyyy HH:mm'}} WIB, oleh {{dataDetailEvent?.createdByUser?.firstName}} {{dataDetailEvent?.createdByUser?.lastName}}</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Catatan</label>
                    <div class="col-md-8" *ngIf="dataDetailEvent?.approvalNotes.length == 0">
                        <label class="mb-0 col-form-label">: -</label>
                    </div>
                    <div class="col-md-8" *ngIf="dataDetailEvent?.approvalNotes.length > 0">
                        <label class="mb-0" style="color: rgba(24, 101, 228, 1);">: &nbsp;{{dataDetailEvent?.approvalNotes[0].user?.firstName}} {{dataDetailEvent?.approvalNotes[0].user?.lastName}}</label><br>
                        <label class="mb-0 me-1">&nbsp;&nbsp;&nbsp;{{dataDetailEvent?.approvalNotes[0]?.note}}</label>
                    </div>
                    <label class="col-form-label col-md-1 text-decoration-underline" style="color: rgba(24, 101, 228, 1); cursor: pointer" (click)="openModalHistory(History)">History</label>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Laporan Substansi</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi laporan yang sifatnya substansi</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" (click)="changeMenuFieldProgress(2)" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Laporan Keuangan</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi laporan tentang keuangan event</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="card-body">
                <div *ngIf="fieldSubstantiv == 2">
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Apakah Anggaran Tersedia ?</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == true">: Ya</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == false">: Tidak Ada</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.budgetAvailable == null">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Apakah ada di POK ?</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.pokEvent == true">: Ada</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.pokEvent == false">: Tidak Ada</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.pokEvent == null">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Budget POK</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.event?.budgetPok">: Rp. {{dataDetailEvent?.event?.budgetPok | mask: 'separator':'.'}}</label>
                        <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.event?.budgetPok">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Budget AWP</label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailEvent?.event?.awpImplementation.budgetAwp">: Rp. {{dataDetailEvent?.event?.awpImplementation.budgetAwp | mask: 'separator':'.'}}</label>
                        <label class="col-md-9 col-form-label" *ngIf="!dataDetailEvent?.event?.awpImplementation.budgetAwp">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Rincian Realisasi Anggaran</label>
                        <label class="col-md-9 col-form-label">
                            <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.rraFile && dataDetailEvent?.rraFile?.fileExt !== 'pdf'"  (click)="downloadFile(dataDetailEvent?.rraFile?.id, dataDetailEvent?.rraFile?.filename)"><i>{{dataDetailEvent?.rraFile?.filename}}</i></label>
                            <label class="col-form-label mb-0" *ngIf="!dataDetailEvent?.rraFile">: -</label>
                            <div *ngIf="dataDetailEvent?.rraFile">
                                <div *ngIf="dataDetailEvent?.rraFile?.fileExt === 'pdf'">
                                    <div class="col-md-12" *ngFor="let item of pdfCountRraFile; let i = index">
                                        <ngb-accordion #acc="ngbAccordion">
                                            <ngb-panel title="{{dataDetailEvent?.rraFile?.filename}}">
                                                <ng-template ngbPanelContent>
                                                    <div class="text-center">
                                                        <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                                        ><i class="fa fa-chevron-left font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                                        ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                                                (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                                                (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                                                [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.attachmentFile?.id, dataDetailEvent?.attachmentFile?.filename)">
                                                            <i class="fa fa-file-download  font-size-16"></i>
                                                        </button>
                                                    </div>
                                                    <pdf-viewer [src]="item.src" [zoom]="item.pdfZoom" [fit-to-page]="true" [original-size]="true" style="width: 100%; height: 100vh"
                                                                [show-all]="false" [page]="item.page" (after-load-complete)="afterLoadComplete($event, item)">
                                                    </pdf-viewer>
                                                    <div class="text-center">
                                                        <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                                        ><i class="fa fa-chevron-left font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                                        ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                                                (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                                                (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                                                [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.rraFile?.id, dataDetailEvent?.rraFile?.filename)">
                                                            <i class="fa fa-file-download  font-size-16"></i>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div *ngIf="fieldSubstantiv == 1">
                    <div class="mb-3 row">
                        <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Umum</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Komponen </label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.awpImplementation?.component?.code}} - {{dataDetailEvent?.event?.awpImplementation?.component?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Sub-Komponen </label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.awpImplementation?.subComponent?.code}} - {{dataDetailEvent?.event?.awpImplementation?.subComponent?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Sub-Sub-Komponen :</label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.awpImplementation?.subSubComponent?.code}} - {{dataDetailEvent?.event?.awpImplementation?.subSubComponent?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Nama Kegiatan</label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.awpImplementation?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Moda Kegiatan</label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.activityMode?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Nama Event</label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Jenis Event</label>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.event?.eventType?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Cara Pengelolaan Event</label>
                        <label class="col-md-6 col-form-label">: {{dataDetailEvent?.event?.awpImplementation?.eventManagementType?.name}}</label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Pelaksanaan</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">1. Waktu Pelaksanaan Event</label>
                        <label class="col-md-9 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Tanggal Mulai</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.convertStartDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Tanggal Akhir</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.convertEndDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.eventOtherInformation ? dataDetailEvent?.eventOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">2. Tempat Pelaksanaan</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Provinsi, Kota</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.province?.name}} <label class="mb-0" *ngIf="dataDetailEvent?.regency">({{dataDetailEvent?.regency?.name}})</label></label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Lokasi</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.location}}</label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lain Tempat Pelaksanaan</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.locationOtherInformation ? dataDetailEvent?.locationOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">3. Peserta Pelaksana</label>
                        <label class="col-md-9 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Peserta Staff PMU</label>
                        </div>
                        <label class="col-md-9 col-form-label">
                            <div *ngIf="participantPmu.length > 0">
                                <div *ngFor="let data of participantPmu">
                                    <li class="ms-2">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}
                                        <label class="mb-0" *ngIf="data?.resources?.user?.component?.code !== '-'">(Komponen {{data?.resources?.user?.component?.code}})</label>
                                        <label class="mb-0" *ngIf="data?.resources?.user?.component?.code === '-'">({{data?.resources?.position?.name}})</label>
                                    </li>
                                </div>
                            </div>
                            <div *ngIf="participantPmu?.length == 0">
                                <label class="mb-0">: -</label>
                            </div>
                        </label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Peserta Staff PCU</label>
                        </div>
                        <label class="col-md-9 col-form-label">
                            <div *ngFor="let data of participantPcu">
                                <li class="ms-2">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}
                                    <label class="mb-0" *ngIf="data?.resources?.user?.component?.code !== '-'">(Komponen {{data?.resources?.user?.component?.code}})</label>
                                    <label class="mb-0" *ngIf="data?.resources?.user?.component?.code === '-'">({{data?.resources?.position?.name}})</label>
                                </li>
                            </div>
                            <div *ngIf="participantPcu.length == 0">
                                <label class="mb-0">: -</label>
                            </div>
                        </label>
                    </div>

                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Peserta Diluar Staff</label>
                        </div>
                        <label class="col-md-9 col-form-label">
                            <div *ngIf="dataDetailEvent?.otherStaff.length > 0">
                                <div *ngFor="let data of dataDetailEvent?.otherStaff">
                                    <li class="ms-2">{{data?.name}}, {{data?.position}}, {{data?.institution}}</li>
                                </div>
                            </div>
                            <div *ngIf="dataDetailEvent?.otherStaff.length == 0">
                                : -
                            </div>
                        </label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Event & Peserta</label>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">4. Overview Proyek :</label>
                        <label class="col-md-9 col-form-label">
                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel title="Proyek Realizing Education’s Promise: Support to Indonesia’s Ministry of Religious Affairs for Improved Qua...">
                                    <ng-template ngbPanelContent>
                                        <div class="">
                                            <label class="mb-0">
                                                Proyek Realizing Education’s Promise: Support to Indonesia’s Ministry of Religious Affairs for Improved Quality of Education –selanjutnya disebut Realizing Education’s Promise- (Madrasah Education Quality Reform) (Loan 8992-ID) bertujuan untuk meningkatkan mutu pengelolaan dan layanan pendidikan madrasah dalam binaan Kementerian Agama. Proyek ini dilaksanakan dalam waktu lima tahun, dimulai pada awal tahun 2020 dan berakhir pada tahun 2024 dengan pembiayaan dari Bank Dunia. Proyek ini akan dilaksanakan di 34 provinsi dan 514 kabupaten/kota di seluruh Indonesia.
                                                Proyek ini terdiri atas empat komponen proyek yang dapat meningkatkan hasil belajar siswa dan sistem pengelolaan pendidikan di Kementerian Agama. Keempat komponen tersebut adalah: <br><br>

                                                &nbsp;&nbsp;1. Penerapan Sistem e-RKAM (Rencana Kerja dan Anggaran Madrasah berbasis elektronik) secara Nasional dan Pemberian Dana Bantuan untuk Madrasah. Sistem e-RKAM ini memungkinkan terjadinya peningkatan efektivitas pembelanjaan melalui sistem perencanaan dan penganggaran berbasis kinerja di madrasah dan sekolah penerima BOS di bawah Kemenag yang memungkinkan madrasah dan satuan pendidikan keagamaan lainnya untuk merencanakan, menganggarkan, dan memonitor penggunaan dana dengan lebih efektif. Pemberian dana bantuan dimaksudkan untuk mendukung percepatan pencapaian SNP berdasarkan hasil Evaluasi Diri Madrasah (EDM) dan penerapan e-RKAM.<br>
                                                &nbsp;&nbsp;2. Penerapan Sistem Penilaian Hasil Belajar di tingkat Madrasah Ibtidaiyah (MI) untuk Seluruh Peserta Didik Kelas 4 Secara Nasional. Asesmen ini diharapkan dapat mengukur dampak dari pendanaan terhadap hasil belajar siswa dan mengidentifikasi aspek-aspek apa saja yang perlu ditingkatkan.<br>
                                                &nbsp;&nbsp;3. Kebijakan dan Pengembangan Keprofesian Berkelanjutan untuk Guru, Kepala Madrasah, dan Tenaga Kependidikan Madrasah. Peningkatan akses terhadap pelatihan yang bermutu memungkinkan terjadinya peningkatan kompetensi guru dan tenaga kependidikan.<br>
                                                &nbsp;&nbsp;4. Penguatan Sistem untuk Mendukung Peningkatan Mutu Pendidikan. Penguatan sistem pendataan sehingga menjadi basis dalam pembuatan kebijakan, serta penguatan sistem pengelolaan madrasah dan tata kelola di semua jenjang kantor Kemenag diharapkan dapat meningkatkan sistem penyelenggaran pendidikan yang bermutu di Kemenag.<br>
                                            </label>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">5. Deskripsi Event :</label>
                        <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.event?.description"></label></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">6. Tujuan Event :</label>
                        <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.event?.purpose"></label></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">7. Output Event :</label>
                        <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.eventOutput"></label></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">8. Jumlah Peserta</label>
                        <label class="col-md-9 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Peserta Laki-laki</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantMale ? dataDetailEvent?.participantMale : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Jumlah Perempuan</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantFemale ? dataDetailEvent?.participantFemale : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Jumlah Peserta</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantCount}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">d. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{dataDetailEvent?.participantOtherInformation ? dataDetailEvent?.participantOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">9. Ringkasan Pelaksanaan Event :</label>
                        <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="dataDetailEvent?.summary"></label></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">10. Dokumentasi Kegiatan :</label>
                        <label class="col-md-4 col-form-label" *ngIf="dataDetailEvent?.documents.length <= 2">
                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)">
                                <li class="list-group-item" *ngFor="let data of dataDetailEvent?.documents" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.fileId, data?.file?.filename)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-1" style="align-self: center; text-align: end">
                                                    <i class="fa fa-file font-size-30"></i>
                                                </div>
                                                <div class="col-11">
                                                    <div class="row">
                                                        <label class="form-check-label font-size-14" style="white-space: normal">{{data?.title}}</label>
                                                        <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.eventDocumentType?.name">{{data?.eventDocumentType?.name}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                                        <label class="mb-0 font-size-12" *ngIf="!data?.date && !data?.place && !data.description">-</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </label>
                        <label class="col-md-4 col-form-label" *ngIf="dataDetailEvent?.documents.length > 2">
                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="this.showMoreDocumentation">
                                <li class="list-group-item" *ngFor="let data of dataDetailEvent?.documents" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.fileId, data?.file?.filename)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2" style="align-self: center; text-align: end">
                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                </div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <label class="form-check-label font-size-14" style="white-space: normal">{{data?.title}}</label>
                                                        <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.eventDocumentType?.name">{{data?.eventDocumentType?.name}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                                        <label class="mb-0 font-size-12" *ngIf="!data?.date && !data?.place && !data.description">-</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="padding: 0.47rem 0.75rem; cursor: pointer" (click)="showMoreFileDocumentation(false)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <label class="mb-0" style="color: rgba(24, 101, 228, 1);">Show Less</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="!this.showMoreDocumentation">
                                <li class="list-group-item" style="padding: 0.47rem 0.75rem" (click)="downloadFile(dataDetailEvent?.documents[0]?.fileId, dataDetailEvent?.documents[0]?.file?.filename)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2" style="align-self: center; text-align: end">
                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                </div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <label class="form-check-label font-size-14" style="white-space: normal">{{dataDetailEvent?.documents[0]?.title}}</label>
                                                        <label class="mb-0 font-size-12" *ngIf="dataDetailEvent?.documents[0]?.date || dataDetailEvent?.documents[0]?.place || dataDetailEvent?.documents[0]?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="dataDetailEvent?.documents[0]?.description">{{dataDetailEvent?.documents[0]?.description}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[0]?.eventDocumentType?.name">{{dataDetailEvent?.documents[0]?.eventDocumentType?.name}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[0]?.date">{{dataDetailEvent?.documents[0]?.date}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[0]?.place">{{dataDetailEvent?.documents[0]?.place}}</label></label>
                                                        <label class="mb-0 font-size-12" *ngIf="!dataDetailEvent?.documents[0]?.date && !dataDetailEvent?.documents[0]?.place && !dataDetailEvent?.documents[0]?.description">-</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="padding: 0.47rem 0.75rem" (click)="downloadFile(dataDetailEvent?.documents[1]?.fileId, dataDetailEvent?.documents[1]?.file?.filename)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-2" style="align-self: center; text-align: end">
                                                    <i class="fa fa-file-pdf font-size-30"></i>
                                                </div>
                                                <div class="col-10">
                                                    <div class="row">
                                                        <label class="form-check-label font-size-14" style="white-space: normal">{{dataDetailEvent?.documents[1]?.title}}</label>
                                                        <label class="mb-0 font-size-12" *ngIf="dataDetailEvent?.documents[1]?.date || dataDetailEvent?.documents[1]?.place || dataDetailEvent?.documents[1]?.description" style="color: rgba(151, 151, 151, 1);">  <label class="mb-0" *ngIf="dataDetailEvent?.documents[1]?.description">{{dataDetailEvent?.documents[1]?.description}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[1]?.eventDocumentType?.name">{{dataDetailEvent?.documents[1]?.eventDocumentType?.name}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[1]?.date">{{dataDetailEvent?.documents[1]?.date}};</label> <label class="mb-0" *ngIf="dataDetailEvent?.documents[1]?.place">{{dataDetailEvent?.documents[1]?.place}}</label></label>
                                                        <label class="mb-0 font-size-12" *ngIf="!dataDetailEvent?.documents[1]?.date && !dataDetailEvent?.documents[1]?.place && dataDetailEvent?.documents[1]?.description">-</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="padding: 0.47rem 0.75rem; cursor: pointer" (click)="showMoreFileDocumentation(true)">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-12">
                                            <label class="mb-0" style="color: rgba(24, 101, 228, 1);">See More</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </label>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">11. Lampiran</label>
                        <div class="col-md-9">
                            <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailEvent?.attachmentFile && dataDetailEvent?.attachmentFile?.fileExt !== 'pdf'"  (click)="downloadFile(dataDetailEvent?.attachmentFile?.id, dataDetailEvent?.attachmentFile?.filename)"><i>{{dataDetailEvent?.attachmentFile?.filename}}</i></label>
                            <label class="col-form-label mb-0" *ngIf="!dataDetailEvent?.attachmentFile">: -</label>
                            <div *ngIf="dataDetailEvent?.attachmentFile">
                                <div *ngIf="dataDetailEvent?.attachmentFile?.fileExt === 'pdf'">
                                    <div class="col-md-12" *ngFor="let item of pdfCountKegiatan; let i = index">
                                        <ngb-accordion #acc="ngbAccordion">
                                            <ngb-panel title="{{dataDetailEvent?.attachmentFile?.filename}}">
                                                <ng-template ngbPanelContent>
                                                    <div class="text-center">
                                                        <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                                        ><i class="fa fa-chevron-left font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                                        ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                                                (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                                                (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                                                [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.attachmentFile?.id, dataDetailEvent?.attachmentFile?.filename)">
                                                            <i class="fa fa-file-download  font-size-16"></i>
                                                        </button>
                                                    </div>
                                                    <pdf-viewer [src]="item.src" [zoom]="item.pdfZoom" [fit-to-page]="true" [original-size]="true" style="width: 100%; height: 100vh"
                                                                [show-all]="false" [page]="item.page" (after-load-complete)="afterLoadComplete($event, item)">
                                                    </pdf-viewer>
                                                    <div class="text-center">
                                                        <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                                        ><i class="fa fa-chevron-left font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                                                *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                                        ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                                                (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                                                (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                                                [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(dataDetailEvent?.attachmentFile?.id, dataDetailEvent?.attachmentFile?.filename)">
                                                            <i class="fa fa-file-download  font-size-16"></i>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                            </ngb-panel>
                                        </ngb-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-end">
                    <div *ngIf="dataDetailEvent?.creatorAllowedEdit">
                        <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditProgressEvent()">Edit Laporan Kemajuan Event</button>
                        <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailEvent()">Keluar</button>
                    </div>
                    <div *ngIf="dataDetailEvent?.consultanAllowedApprove">
                        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModal(Notes, 1)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                        <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModal(Notes, 2)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                        <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailEvent()">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                    </div>
                </div>
                <div class="text-end" *ngIf="!dataDetailEvent?.creatorAllowedEdit && !dataDetailEvent?.consultanAllowedApprove">
                    <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailEvent()">Keluar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #History let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">History Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
            <ul class="list-unstyled chat-list">
                <li class="" *ngFor="let data of dataDetailEvent?.approvalNotes" style="border: transparent; background-color: rgba(251, 251, 251, 1); ">
                    <a>
                        <div class="media" *ngIf="data?.createdFrom == 1">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 2">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 3">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2 ">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>


<ng-template #Notes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromConsultant()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

