<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="col-md-12 mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row row-cols-lg-auto">
                    <div class="col-md-12">
                        <label class="title-header">Monev - <label class="mb-0" style="color: rgba(24, 101, 228, 1);">{{indicatorName}}</label></label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-end">
                <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 390px" (click)="goToCreateMonev()" >Tambah Outcome/Indikator Keberhasilan</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="2020">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2020</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2021">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2021</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2022">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2022</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2023">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2023</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2024">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2024</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData" >
        <div class="mt-4">
            <div class="row">
                <div class="col-md-12`">
                    <div class="row">
                        <label class="col-6 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar {{monevType}}</label>
                        <div class="col-6 text-end">
                            <div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-4" style="align-self: end">
                                        <label>Pencarian : </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                    <thead class="table-light">
                    <tr>
                        <th class="text-center" style="width: 5%">No</th>
                        <th class="text-center" style="width: 10%">Kode Result Chain</th>
                        <th class="text-center">Output Kegiatan</th>
                        <th class="text-center">kode Indikator Keberhasilan</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of listMonev; let i = index">
                        <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i + 1)}}</td>
                        <td class="text-center" style="vertical-align: middle; width: 10%">{{data?.code ? data?.code : '-'}}</td>
                        <td class="text-start" style="vertical-align: middle;">{{data?.name ? data?.name : '-'}}</td>
                        <td class="text-start" style="vertical-align: middle;"><div *ngFor="let dataRole of data?.successIndicator"><li class="text-start ms-2">{{dataRole?.code}} - {{dataRole?.name}}</li></div></td>
                        <td class="text-center" style="width: 20%; vertical-align: middle">
                            <div class="row" style="padding-left: 10px;padding-right: 10px;">
                                <button class="btn w-100 text-white col spacing" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToDetailMonev(data.id)"><i class="fa fa-eye"></i></button>
                                <button class="btn w-100 text-white col spacing" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" *ngIf="roles?.hasAuthority('Administrator')" (click)="goToEditMonev(data.id)">Edit</button>
                                <button class="btn w-100 text-white col" style="background: rgba(255, 92, 92, 1);" (click)="openModal(notificationDelete, data)" *ngIf="allowDelete"><i class="fa fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="listMonev?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">No data!</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #notificationDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Konfirmasi Hapus {{indicatorName}} - {{selectedResultChainToDelete?.code}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="selectedResultChainToDelete?.successIndicator.length > 1">
            <label class="mb-0 font-size-16">{{indicatorName}} {{selectedResultChainToDelete?.code}} ini memiliki {{selectedResultChainToDelete?.successIndicator?.length}} indikator keberhasilan, jika {{indicatorName}} ini dihapus maka termasuk menghapus semua indikator keberhasilan didalamnya. <br><br>
                Anda yakin ingin hapus output kegiatan ini?</label>
        </div>
        <div *ngIf="selectedResultChainToDelete?.successIndicator?.length == 1">
            <label class="mb-0 font-size-16">
                {{indicatorName}} {{selectedResultChainToDelete?.code}} ini hanya memiliki {{selectedResultChainToDelete?.successIndicator?.length}} indikator keberhasilan, jika {{indicatorName}} ini dihapus maka termasuk menghapus indikator keberhasilan didalamnya. <br><br>
                Anda yakin ingin hapus {{indicatorName}} ini ?
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="closeModal()" style="width: 130px; background-color: rgba(224, 224, 224, 1);" [disabled]="loadingDeleteResultChain">
            <label class="mb-0" *ngIf="!loadingDeleteResultChain">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteResultChain"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background: rgba(255, 92, 92, 1); width: 130px" (click)="deleteResultChain(selectedResultChainToDelete?.id)" [disabled]="loadingDeleteResultChain">
            <label class="mb-0" *ngIf="!loadingDeleteResultChain">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteResultChain"></i>
        </button>
    </div>
</ng-template>
