<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToListKegiatan()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Kegiatan - {{dataDetailKegiatan?.componentCode?.code}}</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block font-size-18">Detail Kegiatan</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block font-size-18">Laporan Kegiatan</span>
                    </a>
                    <ng-template ngbNavContent>
                        <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>
</div>

<ng-template #TabContent>
    <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-md-3 col-form-label font-weight-bold">Status </label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 0">: <span class="badge rounded-pill p-1 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);">Baru</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 5">: <span class="badge rounded-pill p-2 w-sm font-size-12" style="background: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" >Pelaksanaan</span></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 6">: <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);">Selesai</span></label>
            </div>
            <div class="mb-3 row" *ngIf="dataDetailKegiatan?.approvalNotes.length > 0">
                <label class="col-md-3 col-form-label font-weight-bold">Catatan</label>
                <div class="col-md-8">
                    <label class="mb-0" style="color: rgba(24, 101, 228, 1);">: &nbsp;{{dataDetailKegiatan?.approvalNotes[0].user?.firstName}} {{dataDetailKegiatan?.approvalNotes[0].user?.lastName}}</label><br>
                    <label class="mb-0 me-1">&nbsp;&nbsp;&nbsp;{{dataDetailKegiatan?.approvalNotes[0]?.note}}</label>
                </div>
                <label class="col-form-label col-md-1 text-decoration-underline" style="color: rgba(24, 101, 228, 1); cursor: pointer" (click)="openModalHistory(History)">History</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Data Umum</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Komponen </label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.component?.code}} - {{dataDetailKegiatan?.component?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Sub-Komponen </label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.subComponent?.code}} - {{dataDetailKegiatan?.subComponent?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Sub-Sub-Komponen :</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.subSubComponent?.code}} - {{dataDetailKegiatan?.subSubComponent?.description}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Nama Kegiatan</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Moda Kegiatan</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.activityMode">: {{dataDetailKegiatan?.awp?.activityMode?.name}}</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.activityMode">: {{dataDetailKegiatan?.activityMode?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Keterangan Kegiatan</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.nameOtherInformation" [innerHtml]="dataDetailKegiatan?.awp?.nameOtherInformation"></label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.nameOtherInformation" [innerHtml]="dataDetailKegiatan?.nameOtherInformation"></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Kode Akun</label>
                <div class="col-md-9">
                    <div *ngIf="dataDetailKegiatan?.pok.length > 0">
                        <div *ngFor="let data of dataDetailKegiatan?.pok; let index = first">
                            <label class="col-form-label">
                                <li class="ms-2">{{data?.pok?.code}} - {{data?.pok?.title}}</li>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="dataDetailKegiatan?.pok.length == 0">
                        <label class="col-form-label">: -</label>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Budget POK</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.budgetPok">: Rp. {{dataDetailKegiatan?.budgetPok | mask: 'separator':'.'}}</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.budgetPok">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Budget AWP</label>
                <label class="col-md-9 col-form-label">: Rp. {{dataDetailKegiatan?.budgetAwp | mask: 'separator':'.'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Project Officer</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.projectOfficerResources?.user?.firstName}} {{dataDetailKegiatan?.projectOfficerResources?.user?.lastName}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Cara Pengelolaan Kegiatan</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.eventManagementType?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Nomer Kontrak LSP</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.lspContractNumber ? dataDetailKegiatan?.lspContractNumber : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">Data Kontrak LSP</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.lspContractData ? dataDetailKegiatan?.lspContractData : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">PIC LSP</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.lspPicUser">: {{dataDetailKegiatan?.lspPicUser?.firstName}} {{dataDetailKegiatan?.lspPicUser?.lastName}}</label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.lspPicUser">: -</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Kegiatan</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">1. Tujuan Kegiatan</label>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailKegiatan?.purpose"></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">2. Deskripsi Kegiatan</label>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailKegiatan?.description"></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">3. Waktu Pelaksanaan Kegiatan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Mulai Kegiatan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.convertStartDate | date:'dd MMMM yyyy'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Akhir Kegiatan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.convertEndDate | date:'dd MMMM yyyy'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.eventOtherInformation ? dataDetailKegiatan?.eventOtherInformation : '-'}}</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Pelaksanaan</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">4. Tempat Pelaksanaan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="row" *ngFor="let data of dataDetailKegiatan?.provincesRegencies">
                <div class="col-md-3">
                    <label class="font-weight-bold mb-0">
                        <ul>
                            <li>Provinsi, Kota</li>
                        </ul>
                    </label>
                </div>
                <label class="col-md-9">: {{data?.province.name}}
                    <label class="mb-0" *ngIf="data?.regencies.length > 0">
                        (<label *ngFor="let data of data?.regencies; let i = last">
                        {{data?.regency?.name}}
                        <label class="mb-0" *ngIf="!i">,</label>
                    </label>)
                    </label>

                </label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Informasi Tempat Pelaksanaan</label>
                </div>
                <div class="col-md-9">
                    <label class="col-form-label" *ngIf="!dataDetailKegiatan?.locationOtherInformation">{{dataDetailKegiatan?.awp?.locationOtherInformation ? dataDetailKegiatan?.awp?.locationOtherInformation : '-'}}</label>
                    <label class="col-form-label" *ngIf="dataDetailKegiatan?.locationOtherInformation">{{dataDetailKegiatan?.locationOtherInformation ? dataDetailKegiatan?.locationOtherInformation : '-'}}</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">5. Volume Event</label>
                <div class="col-md-6">
                    <div class="row row-cols-lg-auto">
                        <div class="col-md-12">
                            <label class="col-form-label">: {{dataDetailKegiatan?.eventVolume}} Event</label>
                        </div>
                        <div class="col-md-12" *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak' && (dataDetailKegiatan?.status === 5 || dataDetailKegiatan?.status === 6)">
                            <button class="btn text-white p-2" style="background: rgba(51, 128, 255, 1);" (click)="openModalListEvent(ListEventForm)">Buka Tabel Formulir <i class="fa fa-external-link-square-alt ms-1"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">6. Jenis Kegiatan</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.eventType?.name}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">7. Narasumber Kegiatan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Asal Lembaga Narasumber</label>
                </div>
                <div class="col-md-9">
                    <label class="col-form-label" [innerHtml]="dataDetailKegiatan?.description" *ngIf="dataDetailKegiatan?.nsInstitution"></label>
                    <label class="col-form-label" *ngIf="!dataDetailKegiatan?.nsInstitution">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Narasumber Laki-laki</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.nsMale}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Narasumber Perempuan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.nsFemale}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">d. Jumlah Narasumber</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.nsCount}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">e. Informasi Lainnya</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.nsOtherInformation ? dataDetailKegiatan?.nsOtherInformation : '-'}}</label>
            </div>
            <div class="mb-3 row">
                <div class="col-md-12" style="background-color: rgba(228, 228, 228, 1);">
                    <label class="col-form-label ms-2 mb-0" style="background-color: rgba(228, 228, 228, 1);">Peserta</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">8. Peserta Kegiatan</label>
                <label class="col-md-9 col-form-label"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Peserta Laki-laki</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.participantMale}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Jumlah Perempuan</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.participantFemale}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Jumlah Peserta</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.participantCount}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">d. Sasaran Peserta</label>
                </div>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailKegiatan?.awp?.participantTarget" *ngIf="!dataDetailKegiatan?.participantTarget"></label>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailKegiatan?.participantTarget" *ngIf="dataDetailKegiatan?.participantTarget"></label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">e. Informasi Lainnya</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.participantOtherInformation ? dataDetailKegiatan?.participantOtherInformation : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">9. Output Kegiatan</label>
                <label class="col-md-9 col-form-label" [innerHtml]="dataDetailKegiatan?.eventOutput"></label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">10. Kontribusi Output Kegiatan</label>
                <label class="col-md-3 col-form-label" *ngIf="dataDetailKegiatan?.monev.length > 0"></label>
                <label class="col-md-3 col-form-label" *ngIf="dataDetailKegiatan?.monev.length == 0">: -</label>
            </div>
            <div *ngIf="dataDetailKegiatan?.monev.length > 0">
                <div class="row" *ngFor="let data of dataDetailKegiatan?.monev">
                    <div class="col-md-3">
                        <label class="font-weight-bold mb-0">
                            <ul>
                                <li>Output Kegiatan, Indikator Output Kegiatan</li>
                            </ul>
                        </label>
                    </div>
                    <div class="col-md-9">
                        <label class="mb-1">: {{data?.resultChain?.code}}</label><br>
                        <label class="mb-0" *ngIf="data?.successIndicator.length > 0">
                            <div class="mb-2" *ngFor="let data of data?.successIndicator; let i = last">
                                <label class="mb-0">&nbsp;{{data?.successIndicator?.code}} - {{data?.successIndicator?.name}}</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">11. Kontribusi Hasil Terhadap PDOI</label>
                <div class="col-md-9">
                    <div *ngIf="dataDetailKegiatan?.pdo.length > 0">
                        <div *ngFor="let data of dataDetailKegiatan?.pdo; let index = first">
                            <label class="col-form-label">
                                <li class="ms-2">{{data?.pdo?.name}} - {{data?.pdo?.description}} [{{data?.pdo?.selectedYearInformation ? data?.pdo?.selectedYearInformation : '-'}}]</li>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="dataDetailKegiatan?.pdo.length == 0">
                        <label class="col-form-label">: -</label>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">12. Kontribusi Hasil Terhadap IRI</label>
                <div class="col-md-9">
                    <div *ngIf="dataDetailKegiatan?.iri.length > 0">
                        <div *ngFor="let data of dataDetailKegiatan?.iri; let index = first">
                            <label class="col-form-label">
                                <li class="ms-2">{{data?.iri?.name}} - {{data?.iri?.description}} [{{data?.iri?.selectedYearInformation ? data?.iri?.selectedYearInformation : '-'}}]</li>
                            </label>
                        </div>
                    </div>
                    <div *ngIf="dataDetailKegiatan?.iri.length == 0">
                        <label class="col-form-label">: -</label>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">13. Upload RAB Kegiatan</label>
                <div class="col-md-9">
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailKegiatan?.rabFile && !dataDetailKegiatan?.awp?.rabFile" (click)="downloadFile(dataDetailKegiatan?.rabFile?.id, dataDetailKegiatan?.rabFile?.filename)"><i>{{dataDetailKegiatan?.rabFile?.filename}}</i></label>
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="!dataDetailKegiatan?.rabFile && dataDetailKegiatan?.awp?.rabFile" (click)="downloadFile(dataDetailKegiatan?.awp?.rabFile?.id, dataDetailKegiatan?.awp?.rabFile?.filename)"><i>{{dataDetailKegiatan?.awp?.rabFile?.filename}}</i></label>
                    <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="dataDetailKegiatan?.rabFile && dataDetailKegiatan?.awp?.rabFile" (click)="downloadFile(dataDetailKegiatan?.rabFile?.id, dataDetailKegiatan?.rabFile?.filename)"><i>{{dataDetailKegiatan?.rabFile?.filename}}</i></label>
                    <label class="col-form-label mb-0" *ngIf="!dataDetailKegiatan?.rabFile && !dataDetailKegiatan?.awp?.rabFile">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">14. Asumsi</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.assumption" [innerHtml]="dataDetailKegiatan?.assumption"></label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.assumption">: -</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">15. Potensi Risiko</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.descriptionRisk" [innerHtml]="dataDetailKegiatan?.descriptionRisk"></label>
                <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.descriptionRisk">: -</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">a. Keterangan Risiko</label>
                </div>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.risk ? dataDetailKegiatan?.risk : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">b. Dampak</label>
                </div>
                <div class="col-md-9">
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label> Tidak Berpengaruh</label>
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label> Kurang Berpengaruh</label>
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label> Agak Berpengaruh</label>
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label> Cukup Berpengaruh</label>
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label> Berpengaruh</label>
                    <label class="mb-0 col-form-label" *ngIf="dataDetailKegiatan?.impactRisk == null">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-md-3">
                    <label class="col-form-label ms-3 font-weight-bold">c. Kemungkinan Terjadi</label>
                </div>
                <div class="col-md-9">
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label> Tidak Pernah</label>
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label> Jarang</label>
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label> Kadang-kadang</label>
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label> Sering</label>
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label> Hampir selalu</label>
                    <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == null">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">16. Mitigasi Risiko</label>
                <div class="col-md-9">
                    <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.mitigationRisk" [innerHtml]="dataDetailKegiatan?.mitigationRisk"></label>
                    <label class="col-md-9 col-form-label" *ngIf="!dataDetailKegiatan?.mitigationRisk">: -</label>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">17. Gejala Risiko</label>
                <label class="col-md-9 col-form-label">: {{dataDetailKegiatan?.symptomsRisk ? dataDetailKegiatan?.symptomsRisk : '-'}}</label>
            </div>
            <div class="mb-2 row">
                <label class="col-md-3 col-form-label font-weight-bold">18. Quality At Entry</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 0">: -</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 5">: {{showToolTip()}}</label>
                <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 6">: {{showToolTip()}}</label>
            </div>
        </div>
        <div class="card-footer" *ngIf="roles?.hasAuthority('Consultan') || roles?.hasAuthority('Coordinator')">
            <div class="text-end">
                <button class="btn me-2" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);"  (click)="goToImplementKegiatan()" *ngIf="(roles?.hasAuthority('Consultan') || roles?.hasAuthority('Coordinator')) && dataDetailKegiatan?.status == 0">Implementasi Kegiatan</button>
                <button class="btn me-2 text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);"  (click)="goToConceptNote()" *ngIf="dataDetailKegiatan?.coordinatorConsultanAllowedCtreateConceptNote">Tambah Concept Note</button>
                <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
        <div class="card-body">
            <div class="mb-3 row" *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak'">
                <div class="col-md-12 p-3" style="background: rgba(255, 173, 13, 0.12);" *ngIf="showNotificationLspCreateReport">
                    <label class="mb-0 font-weight-bold" style="color: rgba(152, 100, 0, 1);">Peringatan :</label><br>
                    <label class="mb-0" style="color: rgba(152, 100, 0, 1);">Laporan kegiatan hanya bisa dibuat oleh LSP dari H+1 sampai H+14 akhir kegiatan.</label>
                </div>
                <div class="col-md-12 p-3" style="background: rgba(255, 92, 92, 0.12);" *ngIf="showNotificationLspFinishReport">
                    <label class="mb-0 font-weight-bold" style="color: rgba(191, 0, 0, 1);">Peringatan :</label><br>
                    <label class="mb-0" style="color: rgba(191, 0, 0, 1);">Batas waktu pembuatan laporan kegiatan dan laporan substansi event sudah habis. Silahkan hubungi penanggung jawab kegiatan.</label>
                </div>
            </div>
            <div class="card" style="border: 1px solid rgba(51, 51, 51, 0.32); background-color: rgba(250, 250, 250, 1);">
                <div class="card-body">
                    <div class="row">
                        <label class="col-md-3 col-form-label font-weight-bold">Laporan Event</label>
                        <div class="col-md-8">
                            <div *ngIf="dataAllEvent.length > 0">
                                <div class="mb-2" *ngFor="let data of dataAllEvent; let i = index">
                                    <button class="btn" style="border: 1px solid rgba(122, 122, 122, 1); width: 280px; cursor: pointer" [ngStyle]="{'color': (data?.status == 2) ? 'rgba(24, 101, 228, 1)' : ''}" (click)="goToDetailReportEvent(data.id)">
                                        <div class="row">
                                            <div class="col-10 text-start">
                                                <label class="mb-0" style="cursor: pointer">Laporan {{data?.event?.name}}</label>
                                            </div>
                                            <div class="col-2 text-end">
                                                <i class="fa fa-check-circle font-size-16"></i>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="dataAllEvent.length == 0">
                                <label class="mb-0 col-form-label">: -</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak'">
                <label class="col-md-3 col-form-label font-weight-bold">Laporan Kegiatan</label>
                <div class="col-md-8">
                    <div *ngIf="listAllReportKegiatan?.length > 0">
                        <div class="mb-2" *ngFor="let data of listAllReportKegiatan; let i = index">
                            <button class="btn" style="border: 1px solid rgba(122, 122, 122, 1); width: 280px; cursor: pointer" [ngStyle]="{'color': (data?.status == 2) ? 'rgba(24, 101, 228, 1)' : ''}" (click)="goToDetailReportActivity(data.id)">
                                <div class="row">
                                    <div class="col-10 text-start">
                                        <label class="mb-0" style="cursor: pointer">Laporan {{data?.awpImplementation?.name}}</label>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i class="fa fa-check-circle font-size-16"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="listAllReportKegiatan?.length == 0">
                        <label class="mb-0 col-form-label">: -</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Swakelola'">
                <label class="col-md-3 col-form-label font-weight-bold">Laporan Kegiatan</label>
                <div class="col-md-8">
                    <div *ngIf="listAllReportKegiatan?.length > 0">
                        <div class="mb-2" *ngFor="let data of listAllReportKegiatan; let i = index">
                            <button class="btn" style="border: 1px solid rgba(122, 122, 122, 1); width: 280px; cursor: pointer" [ngStyle]="{'color': (data?.status == 2) ? 'rgba(24, 101, 228, 1)' : ''}" (click)="goToDetailReportActivity(data.id)">
                                <div class="row">
                                    <div class="col-10 text-start">
                                        <label class="mb-0" style="cursor: pointer">Laporan {{data?.awpImplementation?.name}}</label>
                                    </div>
                                    <div class="col-2 text-end">
                                        <i class="fa fa-check-circle font-size-16"></i>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="listAllReportKegiatan?.length == 0">
                        <label class="mb-0 col-form-label">: -</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-end">
                <div class="row">
                    <div class="col-md-12" *ngIf="dataDetailKegiatan?.creatorAllowedCreateReport">
                        <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="createKegiatan()">Buat Laporan Kegiatan</button>
                        <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
                    </div>
                    <div class="col-md-12" *ngIf="dataDetailKegiatan?.lspAllowCreateReport || dataDetailKegiatan?.lspAllowCreateEventReport">
                        <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);"  (click)="createKegiatan()" [disabled]="!dataDetailKegiatan?.lspAllowCreateReport">Buat Laporan Kegiatan</button>
                        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);"  (click)="createEventReportLsp()" [disabled]="!dataDetailKegiatan?.lspAllowCreateEventReport">Buat Laporan Event</button>
                        <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
                    </div>
                    <div class="col-md-12" *ngIf="!dataDetailKegiatan?.creatorAllowedCreateReport && !dataDetailKegiatan?.lspAllowCreateReport && !dataDetailKegiatan?.lspAllowCreateEventReport">
                        <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #History let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">History Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
            <ul class="list-unstyled chat-list">
                <li class="" *ngFor="let data of dataDetailKegiatan?.approvalNotes" style="border: transparent; background-color: rgba(251, 251, 251, 1); ">
                    <a>
                        <div class="media" *ngIf="data?.createdFrom == 1">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 2">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 3">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2 ">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>

<ng-template #ListEventForm let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Formulir Evaluasi Event</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <app-table-list-form [awpImplementId]="dataDetailKegiatan?.id"></app-table-list-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>
