<div class="modal-header">
    <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">{{title}}</label>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
    </button>
</div>
<div class="modal-body">
    <div class="mt-2">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">{{indicatorName}}</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">Pertanyaan Penilaian {{indicatorName}}</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>

<ng-template #TabContent>
    <div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="loader center-page" *ngIf="!finishLoadData"></div>
            <div class="card-body" [hidden]="!finishLoadData">
                <div class="mb-2 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Tahun </label>
                    <label class="col-md-9 col-form-label">: {{listMonev?.year}}</label>
                </div>
                <div class="mb-2 row" *ngIf="title === 'Target Output Kegiatan' || title === 'Target Intermediate Outcome'">
                    <label class="col-md-3 col-form-label font-weight-bold">Komponen </label>
                    <label class="col-md-9 col-form-label">: {{listMonev?.component?.code}} - {{listMonev?.component?.description}}</label>
                </div>
                <div class="mb-2 row" *ngIf="title === 'Target Output Kegiatan' || title === 'Target Intermediate Outcome'">
                    <label class="col-md-3 col-form-label font-weight-bold">Sub-Komponen </label>
                    <label class="col-md-9 col-form-label">: {{listMonev?.subComponent?.code}} - {{listMonev?.subComponent?.description}}</label>
                </div>
                <div class="mb-2 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Kode Result Chain :</label>
                    <label class="col-md-9 col-form-label">: {{listMonev?.code}}</label>
                </div>
                <div class="mb-2 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Output Kegiatan :</label>
                    <label class="col-md-9 col-form-label">: {{listMonev?.name}}</label>
                </div>
                <div class="col-md-12" *ngFor="let data of listMonev?.successIndicator; let i = index">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="{{carouselListIndicator}} - {{data?.code}}">
                            <ng-template ngbPanelContent>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Indikator Keberhasilan :</label>
                                    <div class="col-md-8">
                                        <textarea type="text" class="form-control" value="{{data?.code}} - {{data?.name}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">PDO :</label>
                                    <div class="col-md-8">
                                        <textarea type="text" class="form-control" value="{{data?.pdo?.name}} - {{data?.pdo?.description}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">IRI :</label>
                                    <div class="col-md-8">
                                        <textarea type="text" class="form-control" value="{{data?.iri?.name}} - {{data?.iri?.description}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Nilai Baseline :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" value="{{data?.baselineValue ? data?.baselineValue : '-'}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Target Total :</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" value="{{data?.targetTotal ? data?.targetTotal : '-'}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label class="col-md-3 col-form-label font-weight-bold">Target Tahunan</label>
                                    <div class="table-responsive col-md-8">
                                        <table class="table table-bordered mb-3">
                                            <thead class="table-light">
                                            <tr>
                                                <th class="text-center">Tahun</th>
                                                <th class="text-center">Target</th>
                                                <th class="text-center">Belum Final</th>
                                                <th class="text-center">Not Applicable</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle; width: 20%">2020</td>
                                                <td class="text-start" style="vertical-align: middle;">{{data?.cumulativeTarget2020 ? data?.cumulativeTarget2020 : '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.cumulativeTargetDummy2020"></i>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.notApplicable2020"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle; width: 20%">2021</td>
                                                <td class="text-start" style="vertical-align: middle;">{{data?.cumulativeTarget2021 ? data?.cumulativeTarget2021 : '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.cumulativeTargetDummy2021"></i>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.notApplicable2021"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2022</td>
                                                <td class="text-start" style="vertical-align: middle;">{{data?.cumulativeTarget2022 ? data?.cumulativeTarget2022 : '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.cumulativeTargetDummy2022"></i>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.notApplicable2022"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2023</td>
                                                <td class="text-start" style="vertical-align: middle;">{{data?.cumulativeTarget2023 ? data?.cumulativeTarget2023 : '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.cumulativeTargetDummy2023"></i>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.notApplicable2023"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2024</td>
                                                <td class="text-start" style="vertical-align: middle;">{{data?.cumulativeTarget2024 ? data?.cumulativeTarget2024 : '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.cumulativeTargetDummy2024"></i>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <i class="fa fa-check-circle font-size-18" *ngIf="data?.notApplicable2024"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-end">
                    <div class="row">
                        <div>
                            <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditMonev()">Edit Output</button>
                            <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="this.closeModal()">Tutup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="loader center-page" *ngIf="!finishLoadData"></div>
            <div class="card-body" [hidden]="!finishLoadData">
                <div *ngFor="let data of resultAnswer; let i = index">
                    <label class="mb-2">{{i + 1}}. {{data?.questionName}} <label class="mb-0 font-weight-bold">({{data?.yesOrNo ? 'Ya/Tidak' : 'Penjelasan'}})</label></label>
                </div>
            </div>
            <div class="card-footer">
                <div class="text-end">
                    <div class="row">
                        <div>
                            <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditMonev()">Edit Output</button>
                            <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="this.closeModal()">Tutup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

