<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListMonev()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12" style="align-self: center">
                    <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'output'">Output Kegiatan</label>
                    <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'intermediate'">Intermediate Outcome</label>
                    <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Midterm'">Midterm Outcome</label>
                    <label class="font-size-24 mb-0" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Longterm'">Longterm Outcome</label>
                </div>
                <div class="col-md-12" style="align-self: center" *ngIf="listMonev?.updatedByUser">
                    <p class="mb-0 font-size-14" style="color: #333333;"><i>Diperbaharui {{listMonev?.convertUpdated | date: 'dd MMMM yyyy, HH:mm'}} WIB Oleh {{listMonev?.updatedByUser?.firstName}} {{listMonev?.updatedByUser?.lastName}}</i></p>
                </div>
            </div>

        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="{{navBarNameFirst}}">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="mb-3 mt-5 row">
                                <label class="col-md-3 col-form-label">Tahun :</label>
                                <div class="col-md-6">
                                    <input type="text" #dp="bsDatepicker" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY'}" minMode="year" [minDate]="minDateYear" [maxDate]="maxDateYear" (onShown)="onOpenCalendar($event)"
                                           [(ngModel)]="date" (ngModelChange)="changeYearResult()">
                                </div>
                            </div>
                            <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                <label class="col-md-3 col-form-label">Komponen :</label>
                                <div class="col-md-6">
                                    <textarea type="text" class="form-control" value="{{listMonev?.component?.code}} - {{listMonev?.component?.description}}" disabled></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                <div class="col-md-6">
                                    <textarea type="text" class="form-control" value="{{listMonev?.subComponent?.code}} - {{listMonev?.subComponent?.description}}" disabled></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-3 col-form-label" *ngIf="from === 'output'">Ouput Kegiatan :</label>
                                <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Intermediate Outcome :</label>
                                <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Midterm Outcome :</label>
                                <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Longterm Outcome :</label>
                                <div class="col-md-6">
                                    <textarea type="text" class="form-control" value="{{listMonev?.code}} - {{listMonev?.name}}" disabled></textarea>
                                </div>
                            </div>
                            <div class="mb-3 row" *ngIf="from !== 'output'">
                                <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Output Terkait</label>
                                <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Intermediate Terkait :</label>
                                <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Midterm Terkait :</label>
                                <div class="col-md-6">
                                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="childMonev?.length > 0 && !loadingGetChild">
                                        <li class="list-group-item" *ngFor="let data of childMonev">
                                            <div class="row" style="justify-content: space-between">
                                                <div class="col-md-9">
                                                    <label class="mb-0" style="padding-left: 0px"><label class="mb-0 font-weight-bold">{{data?.code}}</label> : {{data?.name}}</label>
                                                </div>
                                                <div class="col-md-3 text-center" style="align-self: center">
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data.resultStatusSelected === 1">Not Applicable</span>
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data.resultStatusSelected === 2">Off-Track</span>
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data.resultStatusSelected === 3">Partially On-Track</span>
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data.resultStatusSelected === 4">On-Track</span>
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data.resultStatusSelected === 5">Achieved</span>
                                                    <span class="badge rounded-pill p-2 w-sm font-size-12" style="color: black" *ngIf="data?.resultStatusSelected === null">-</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="childMonev?.length == 0 && !loadingGetChild">
                                        <li class="list-group-item">-</li>
                                    </ul>
                                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="loadingGetChild">
                                        <li class="list-group-item text-center">
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12" *ngFor="let data of listMonev?.successIndicator; let i = index">
                                <ngb-accordion #acc="ngbAccordion">
                                    <ngb-panel title="{{carouselListIndicator}} - {{data?.code}}">
                                        <ng-template ngbPanelContent>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Indikator Keberhasilan :</label>
                                                <div class="col-md-6">
                                                    <textarea type="text" class="form-control" value="{{data?.code}} - {{data?.name}}" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">PDO :</label>
                                                <div class="col-md-6">
                                                    <textarea type="text" class="form-control" value="{{data?.pdo?.name}} - {{data?.pdo?.description}}" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">IRI :</label>
                                                <div class="col-md-6">
                                                    <textarea type="text" class="form-control" value="{{data?.iri?.name}} - {{data?.iri?.description}}" disabled></textarea>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Nilai Baseline :</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" value="{{data?.baselineValue ? data?.baselineValue : '-'}}" disabled>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Target Total :</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" value="{{data?.targetTotal ? data?.targetTotal : '-'}}" disabled>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label class="col-md-3 col-form-label">Target Tahun {{date?.getFullYear()}} :</label>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" value="{{data?.targetYearNow}}" disabled>
                                                </div>
                                                <label class="col-md-3 col-form-label" *ngIf="data?.finalTarget && !data?.notApplicableAllYear" style="color: rgba(24, 101, 228, 1);"><i>Hasil Belom Final</i></label>
                                                <label class="col-md-3 col-form-label" *ngIf="data?.notApplicableAllYear" style="color: rgba(24, 101, 228, 1);"><i>Not Applicable</i></label>
                                            </div>
                                            <div class="mb-3 row" *ngIf="from === 'output'">
                                                <label class="col-md-3 col-form-label">Rekapitulasi Laporan Kegiatan Tahun {{date?.getFullYear()}} :</label>
                                                <div class="col-md-6">
                                                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="data?.rekaptulationActivity.length > 0">
                                                        <li class="list-group-item" *ngFor="let dataRekaptulation of data.rekaptulationActivity">
                                                            <div class="row" style="justify-content: space-between">
                                                                <label class="mb-0" style="padding-left: 0px"><label class="mb-0 font-weight-bold">{{dataRekaptulation?.componentCode}}</label> : {{dataRekaptulation?.contribution}}</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1); background-color: #F5F5F5;" *ngIf="data.rekaptulationActivity.length == 0">
                                                        <li class="list-group-item">
                                                            <div class="row" style="justify-content: space-between">
                                                                <label class="mb-0" style="padding-left: 0px">-</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="!data?.notApplicableAllYear">
                                                <label class="col-md-3 col-form-label" *ngIf="from === 'output'">Hasil Indikator Output Kegiatan Tahun {{date?.getFullYear()}} :</label>
                                                <label class="col-md-3 col-form-label" *ngIf="from === 'intermediate'">Hasil Indikator Intermediate Outcome Tahun {{date?.getFullYear()}} :</label>
                                                <label class="col-md-3 col-form-label" *ngIf="from === 'Midterm'">Hasil Indikator Midterm Outcome Tahun {{date?.getFullYear()}} :</label>
                                                <label class="col-md-3 col-form-label" *ngIf="from === 'Longterm'">Hasil Indikator Longterm Outcome Tahun {{date?.getFullYear()}} :</label>
                                                <div class="col-md-6">
                                                    <ckeditor [editor]="ResultIndicator" [(ngModel)]="data.resultIndicator"></ckeditor>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="!data?.notApplicableAllYear">
                                                <label class="col-md-3 col-form-label">Upload Bukti Hasil Indikator <label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label>:</label>
                                                <div class="col-md-6">
                                                    <div class="row" *ngFor="let dataFiles of data?.filesExist; let i = index">
                                                        <div class="row mb-2">
                                                            <div class="col-md-11">
                                                                <label class="mb-0">{{dataFiles?.file?.filename}}</label>
                                                            </div>
                                                            <div class="col-md-1">
                                                                <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeFilesExisting(dataFiles)"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <file-upload name="uploadSelfie"
                                                                 [(ngModel)]="data.filesUpload"
                                                                 [multiple]="true"
                                                                 [accept]="'.png, .jpg, .xlsx, .pdf, .docx, .doc'"
                                                                 maxsize="3 MB">
                                                    </file-upload>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListMonev()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="validationForm() || !date">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                        <aw-wizard-step stepTitle="{{navBarNameLast}}">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="mb-3 row" *ngFor="let data of resultAnswer">
                                    <label class="mb-2">{{data?.number}}. {{data?.questionName}}</label>
                                    <div class="mb-2" *ngIf="data?.yesOrNo">
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <input class="form-check-input" type="radio" name="{{data?.questionName}}" id="{{data?.questionId}}" [value]="true" [(ngModel)]="data.yesOrNoAnswer">
                                            <label class="form-check-label" for="{{data?.questionId}}">
                                                Iya
                                            </label>
                                        </div>
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <input class="form-check-input" type="radio" name="{{data?.questionName}}" id="{{data?.questionId}} + 1"  [value]="false" [(ngModel)]="data.yesOrNoAnswer">
                                            <label class="form-check-label" for="{{data?.questionId}} + 1">
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="data?.yesOrNoAnswer == false && data?.yesOrNo === true">
                                        <label class="col-form-label col-md-2">Alasan :</label>
                                        <div class="col-md-9 me-2">
                                            <textarea class="form-control" [(ngModel)]="data.answer"></textarea>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="data?.yesOrNo === false">
                                        <label class="col-form-label col-md-2">Penjelasan :</label>
                                        <div class="col-md-9 me-2">
                                            <textarea class="form-control" [(ngModel)]="data.answer"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="mb-0">{{resultAnswer.length + 1}}. Status Hasil kegiatan</label>
                                    <div class="mt-3">
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <div class="row row-cols-lg-auto">
                                                <div class="col-md-12" style="align-self: center">
                                                    <input class="form-check-input" type="radio" name="status1" id="result1"  [value]="1" [(ngModel)]="resultStatus" style="transform: scale(1.4);">
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-check-label" for="result1">
                                                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1); width: 150px">Not Applicable</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="align-self: center">
                                                    <label class="mb-0" for="result1" style="cursor:pointer;">: Kegiatan di luar atau tidak relevan dengan RC</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <div class="row row-cols-lg-auto">
                                                <div class="col-md-12" style="align-self: center">
                                                    <input class="form-check-input" type="radio" name="status2" id="result2"  [value]="2" [(ngModel)]="resultStatus" style="transform: scale(1.4);">
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-check-label" for="result2">
                                                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1); width: 150px">Off-Track</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="align-self: center">
                                                    <label class="mb-0" for="result2" style="cursor:pointer;">: Hasil keluar dari jalur atau tidak relevan dengan logframe</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <div class="row row-cols-lg-auto">
                                                <div class="col-md-12" style="align-self: center">
                                                    <input class="form-check-input" type="radio" name="status3" id="result3"  [value]="3" [(ngModel)]="resultStatus" style="transform: scale(1.4);">
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-check-label" for="result3">
                                                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1); width: 150px">Partially On-Track</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="align-self: center">
                                                    <label class="mb-0" for="result3" style="cursor:pointer;">: Hasil belum tercapai, tetapi beresiko tidak akan tercapai bila tidak ada perbaikan</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <div class="row row-cols-lg-auto">
                                                <div class="col-md-12" style="align-self: center">
                                                    <input class="form-check-input" type="radio" name="status4" id="result4"  [value]="4" [(ngModel)]="resultStatus" style="transform: scale(1.4);">
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-check-label" for="result4">
                                                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1); width: 150px">On-Track</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-12" style="align-self: center">
                                                    <label class="mb-0" for="result4" style="cursor:pointer;">: Hasil belum tercapai, tetapi masih sesuai jalur atau relevan untuk bisa dicapai</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                            <div class="row">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12" style="align-self: center">
                                                        <input class="form-check-input" type="radio" name="status5" id="result5"  [value]="5" [(ngModel)]="resultStatus" style="transform: scale(1.4);">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label class="form-check-label" for="result5">
                                                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1); width: 150px">Achieved</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-12" style="align-self: center">
                                                        <label class="mb-0" for="result5" style="cursor:pointer;">: Hasil sudah tercapai sesuai kriteria yang sudah ditetapkan</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div>
                                <ul class="list-inline wizard mb-0 pt-3">
                                    <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListMonev()" [disabled]="loadingUpdateMonev">
                                        <label *ngIf="!loadingUpdateMonev" class="mb-0">Batal</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                    </button>
                                    </li>
                                    <li class="next list-inline-item float-end">
                                        <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep [disabled]="loadingUpdateMonev">
                                            <label *ngIf="!loadingUpdateMonev" class="mb-0">Sebelumnya</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                        </button>
                                        <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" [disabled]="validationSaveResultTarget() || loadingUpdateMonev" (click)="uploadResultIndicatorFiles(0)">
                                            <label *ngIf="!loadingUpdateMonev" class="mb-0">Simpan</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
