ul.steps-indicator li:last-child .done .step-indicator{
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}

:host::ng-deep aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done .step-indicator {
  border-color: transparent;
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}
