<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;" (click)="goToListTask()">Kembali</label>
    </button>
        <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Tugas</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Status</label>
                        <div class="col-md-6">
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="detailTask?.status == 0">Menunggu</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color:  rgba(3, 129, 23, 0.12); rgba(3, 129, 23, 1); color: rgba(3, 129, 23, 1);" *ngIf="detailTask?.status == 1">Diproses</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(238, 129, 0, 0.12); color: rgba(157, 85, 0, 1);" *ngIf="detailTask?.status == 2">Telah Dikerjakan</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="detailTask?.status == 3">Selesai</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="detailTask?.status == 4">Ditolak</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Pemberi Tugas</label>
                        <div class="col-md-6">
                            <button class="btn dropdown-toggle w-100 text-start" style="background-color: rgba(245, 245, 245, 1);" type="button">
                                <img [src]="detailTask?.filePhotoCreatedTask" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="detailTask?.filePhotoCreatedTask">
                                <img src="assets/images/no-profile.svg" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="!detailTask?.filePhotoCreatedTask">
                                <label class="ms-2 mb-0" style="cursor: pointer">{{detailTask?.createdByResources?.user?.firstName}} {{detailTask?.createdByResources?.user?.lastName}}</label>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Judul Tugas</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" [value]="detailTask?.title" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tenggat/Deadline Tugas</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" [value]="detailTask?.deadlineDate" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tenggat/Deadline Tugas</label>
                        <div class="col-md-6">
                            <textarea type="text" class="form-control" disabled>{{detailTask?.description}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">PDO</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" [value]="detailTask?.pdo?.name" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">IRI</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" [value]="detailTask?.iri?.name" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Download File (Optional)</label>
                        <div class="col-md-6">
                            <div *ngIf="detailTask?.files.length > 0">
                                <div *ngFor="let data of detailTask?.files">
                                    <li class="col-form-label" (click)="downloadPdf(data.filesId)" style="color: rgba(24, 101, 228, 1); cursor: pointer; list-style-type:none;" *ngIf="data?.uploadedFrom == 1">{{data?.files?.filename}}</li>
                                </div>
                            </div>
                            <div *ngIf="detailTask?.files.length == 0" class="text-center">
                                <label class="mt-1">Tidak Ada File</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tag (Optional)</label>
                        <div class="col-md-6">
                            <button class="btn dropdown-toggle w-100 text-start" style="background-color: rgba(245, 245, 245, 1);" type="button">
                                <div *ngIf="detailTask?.tags.length > 0">
                                    <div *ngFor="let dataTag of detailTask?.tags">
                                        <label class="ms-1 mb-0 row" style="cursor: pointer">
                                            {{dataTag?.taskResourcesTag?.name}}
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="detailTask?.tags.length == 0">
                                    <label class="ms-1 mb-0 row" style="cursor: pointer">
                                        -
                                    </label>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="detailTask?.status != 0 && detailTask?.status != 4">
                        <div class="mb-3 row">
                            <div class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">
                                <label class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">Upload Tugas</label>
                            </div>
                        </div>
                        <div class="mb-3 row"  *ngIf="detailTask?.status !== 3 && detailTask?.status !== 4">
                            <label class="col-md-2 col-form-label">Upload File <label class="mb-0">(Optional)</label></label>
                            <div class="col-md-6">
                                <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32);">
                                    <div class="card-body">
                                        <file-upload name="uploadSelfie" style="background: white !important"
                                                     [control]="fileUploadControl"
                                                     fileslimit="1"
                                                     filesize= "3mb"
                                        >
                                            <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                                <span *ngIf="isFileDragDropAvailable">
                                    <div class="row">
                                        <div><i class="fa fa-upload font-size-30 mb-2 me-3"></i>Pilih File atau Geser File</div>
                                    </div>
                                </span>
                                                <span *ngIf="!isFileDragDropAvailable">click</span>
                                            </ng-template>
                                        </file-upload>
                                        <div class="file-list" *ngIf="fileUploadControl.value.length > 0">
                                            <hr>
                                            <div class="file-item"
                                                 *ngFor="let file of fileUploadControl.value">
                                                <div class="row mb-1">
                                                    <div class="col-1 text-end">
                                                        <i class="fa fa-file-alt font-size-20"></i>
                                                    </div>
                                                    <div class="col-8 text-start">
                                                        {{ file.name }}
                                                    </div>
                                                    <div class="col-2 text-end" style="align-self: center">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer"  (click)="fileUploadControl.removeFile(file)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-list" *ngIf="filesEdit.length > 0">
                                            <hr *ngIf="fileUploadControl.value.length == 0">
                                            <div class="file-item"
                                                 *ngFor="let data of filesEdit">
                                                <div class="row mb-1" *ngIf="data?.uploadedFrom == 2">
                                                    <div class="col-1 text-end">
                                                        <i class="fa fa-file-alt font-size-20"></i>
                                                    </div>
                                                    <div class="col-8 text-start">
                                                        {{ data.files.filename }}
                                                    </div>
                                                    <div class="col-2 text-end" style="align-self: center" *ngIf="detailTask?.status == 1">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeFileExist(data)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <label class="mb-0 me-2" *ngIf="lastUpdateFile.length > 0">Diperbahuri {{lastUpdateTimeFile | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                                    <button class="btn w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="doUpload(0, null)" [disabled]="detailTask?.status != 1 || loadingActionTask">
                                        <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;">Save</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row" *ngIf="detailTask?.status == 3 || detailTask?.status == 4">
                            <label class="col-md-2 col-form-label">Upload File <label class="mb-0">(Optional)</label></label>
                            <div class="col-md-6">
                                <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32); background-color: rgba(245, 245, 245, 1);">
                                    <div class="ms-2">
                                        <div *ngIf="detailTask?.files.length > 0">
                                            <div *ngFor="let data of detailTask?.files">
                                                <li class="col-form-label" (click)="downloadPdf(data.filesId)" style="color: rgba(24, 101, 228, 1); cursor: pointer; list-style-type:none;" *ngIf="data?.uploadedFrom == 2">{{data?.files?.filename}}</li>
                                            </div>
                                        </div>
                                        <div *ngIf="detailTask?.files.length == 0" class="text-center">
                                            <label class="mt-1">Tidak Ada File</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-md-8">
                                <div class="card" style="border: 1px solid rgba(24, 101, 228, 0.24)">
                                    <div class="card-header" style="background-color: rgba(24, 101, 228, 0.12);">
                                        <label>Comment Panel</label>
                                    </div>
                                    <div class="card-body">
                                        <textarea class="w-100 mb-2" placeholder="tulis komentar...." [(ngModel)]="addNewCommentChat"></textarea>
                                        <div class="text-end mb-2">
                                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; cursor: pointer" (click)="addNewCommentForStaff()" [disabled]="!addNewCommentChat || loadingComment">
                                                <label class="mb-0" style="cursor: pointer">
                                                    <label class="mb-0" *ngIf="!loadingComment">Post</label>
                                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingComment"></i>
                                                </label>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
                                                <ul class="list-unstyled chat-list">
                                                    <li class="" *ngFor="let data of detailTask?.comments" style="border: transparent">
                                                        <a>
                                                            <div class="media" *ngIf="data?.createdFrom == 1">
                                                                <div class="align-self-center me-3">
                                                                    <img [src]="detailTask.filePhotoCreatedTask" class="rounded-circle avatar-xs" alt="">
                                                                </div>
                                                                <div class="media-body overflow-hidden">
                                                                    <h5 class="text-truncate font-size-14 mb-1">{{ detailTask?.createdByResources?.user?.firstName }} {{ detailTask?.createdByResources?.user?.lastName }}</h5>
                                                                    <p class="text-truncate mb-0">{{ data.message }}</p>
                                                                </div>
                                                                <div class="font-size-11">{{ data.createdAt }}</div>
                                                            </div>
                                                            <div class="media" *ngIf="data?.createdFrom == 2">
                                                                <div class="align-self-center me-3">
                                                                    <img [src]="detailTask.filePhoto" class="rounded-circle avatar-xs" alt="">
                                                                </div>
                                                                <div class="media-body overflow-hidden">
                                                                    <h5 class="text-truncate font-size-14 mb-1">{{ detailTask?.createdForResources?.user?.firstName }} {{ detailTask?.createdForResources?.user?.lastName }}</h5>
                                                                    <p class="text-truncate mb-0">{{ data.message }}</p>
                                                                </div>
                                                                <div class="font-size-11">{{ data.createdAt }}</div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </ngx-simplebar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 0">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="nextActDetailTask(1, null)" [disabled]="loadingActionTask">
                            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;" (click)="nextActDetailTask(1, null)">Terima</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                        </button>
                        <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);width: 10%; color: white" (click)="openModal(notificationDelete)" [disabled]="loadingActionTask">
                            <label class="mb-0" *ngIf="!loadingActionTask">Tolak</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 1 || detailTask?.status == 2">
                    <div class="text-end">
                        <button class="btn me-2 w-md" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="openModal(notificationDoneTask)" [disabled]="loadingActionTask" *ngIf="detailTask?.status == 1">
                            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;">Telah Dikerjakan</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                        </button>
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);"  (click)="doUpload(0, false)" [disabled]="loadingActionTask" *ngIf="detailTask?.status == 2">
                            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;">Batal Dikerjakan</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                        </button>
                        <button class="btn me-2 w-md" style="background: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1);" (click)="goToListTask()" [disabled]="loadingActionTask">
                            <label class="mb-0" *ngIf="!loadingActionTask">Keluar</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 4">
                    <div class="text-end">
                        <label>Ditolak, oleh {{detailTask?.createdForResources?.user?.firstName}} {{detailTask?.createdForResources?.user?.lastName}}, pada {{detailTask?.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 3">
                    <div class="text-end">
                        <label>Telah selesai pada {{detailTask.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #notificationDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Alasan Penolakan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%)" (click)="nextActDetailTask(2, null)" [disabled]="loadingActionTask">
            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;" (click)="nextActDetailTask(2, null)">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingActionTask">
            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
        </button>
    </div>
</ng-template>

<ng-template #notificationDoneTask let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Konfirmasi Tugas</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label class="mb-0">Konfirmasi Tugas Apakah Anda yakin telah menyelesaikan tugas?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%)" (click)="doUpload(0, true)" [disabled]="loadingActionTask">
            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;" (click)="doUpload(0, true)">Yakin</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingActionTask">
            <label class="mb-0" *ngIf="!loadingActionTask" style="cursor:pointer;">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingActionTask"></i>
        </button>
    </div>
</ng-template>
