<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToListStaf()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div *ngIf="finishLoadData">
        <div class="mt-3 form-check-inline">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="title-header">{{resourcesDetailModel?.user?.firstName}} {{resourcesDetailModel?.user?.lastName}}</label>
                </div>
                <div class="col-md-12" *ngIf="roles.hasAuthority('Administrator') && allowEdit">
                    <button class="btn form-control text-white mt-1" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="goToEditStaf()">Edit</button>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card" style="background: rgba(246, 246, 246, 1);">
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="text-center mb-2">
                                    <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile">
                                    <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Jabatan</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16">: {{resourcesDetailModel?.position?.name}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Supervisor</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16" *ngIf="resourcesDetailModel.supervisiorId">: {{listSupervisor?.user?.firstName}} {{listSupervisor?.user?.lastName}}</label>
                                        <label class="font-size-16" *ngIf="!resourcesDetailModel.supervisiorId">: - </label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Unit</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16">: {{resourcesDetailModel?.position?.unit?.name}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="resourcesDetailModel?.position?.unit?.name === 'PMU'">
                                    <label class="col-md-5 font-size-16">Komponen</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16">: {{resourcesDetailModel?.user?.component?.code}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Role Aplikasi</label>
                                    <div class="col-md-7" >
                                        <label class="font-size-16">: <label class="mb-0" *ngFor="let dataRoles of resourcesDetailModel?.user?.roles; let i = last">{{dataRoles?.role?.name}}<label class="mb-0" *ngIf="!i">, &nbsp;</label></label></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Email</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16">: {{resourcesDetailModel?.user?.email}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-5 font-size-16">Nomor HP</label>
                                    <div class="col-md-7">
                                        <label class="font-size-16">: {{resourcesDetailModel?.phoneNumber}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="row">
                <div class="col-12">
                    <div class="row" style="margin-bottom: -20px">
                        <div class="col-md-6 font-size-24" style="">
                            JADWAL | <label style="color: #397CEA">{{titleDate | date: 'MMMM'}} - {{titleDate | date: 'yyyy'}}</label>
                        </div>
                        <div class="col-md-6" style="align-self: center">
                            <div class="row row-cols-lg-auto" style="justify-content: end">
                                <label class="mb-0 me-3 font-size-18" style="cursor: pointer" (click)="moveDateCalender(2)"><i class="fa fa-chevron-left" style="cursor:pointer;"></i>&nbsp; <label class="mb-0" style="color: rgba(57, 124, 234, 1); cursor: pointer">{{previousDate | date: 'MMMM'}} - {{previousDate | date: 'yyyy'}}</label></label>
                                <label class="mb-0 font-size-18" (click)="moveDateCalender(1)"><label style="color: rgba(57, 124, 234, 1); cursor: pointer">{{nextDate | date: 'MMMM'}} - {{nextDate | date: 'yyyy'}}</label>&nbsp;<i class="fa fa-chevron-right" style="cursor: pointer"></i></label>
                            </div>
                        </div>
                    </div>
                    <div class="app-calendar">
                        <!-- calendar -->
                        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Add New Event MODAL -->
<ng-template #modalShow let-modal>
    <div class="modal-content" style="background: rgba(45, 156, 219, 1);">
        <div class="modal-body p-4">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3" *ngFor="let data of listEvent; let i = index">
                        <div class="col-md-6">
                            <label class="control-label font-size-16 text-white">{{data.title}}</label>
                        </div>
                        <div *ngIf="loadingDetailEvent" class="text-center text-white">
                            <i class="bx bx-loader bx-spin font-size-30 align-middle"></i>
                        </div>
                        <div class="col-md-12" *ngIf="!loadingDetailEvent">
                            <label class="control-label font-size-16 text-white" *ngIf="data.extendedProps.taskType != 3 && data.extendedProps.taskType != 6">{{data.extendedProps?.description}}</label>
                            <label class="control-label font-size-16 text-white" *ngIf="data.extendedProps.taskType == 3">
                                <div *ngFor="let dataDesc of data.extendedProps.splitDescription">
                                    <label class="mt-1">{{dataDesc}}</label>
                                </div>
                            </label>
                            <div *ngIf="data.extendedProps.taskType == 6">
                                <label class="control-label font-size-16 text-white">Nama Event : {{dataDetailEvent.name}}</label>
                                <label class="control-label font-size-16 text-white">Tim Pelaksana
                                    <div *ngFor="let data of dataDetailEvent.staff">
                                        <li class="ms-4">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} (Komponen {{data?.resources?.user?.component?.code}})</li>
                                    </div>
                                    <div *ngIf="dataDetailEvent?.otherStaff.length > 0">
                                        <div *ngFor="let data of dataDetailEvent.otherStaff">
                                            <li class="ms-4">{{data?.name}}, {{data?.position?.name}}, {{data?.institution}}</li>
                                        </div>
                                    </div>
                                </label><br>
                                <label class="control-label font-size-16 text-white">Waktu Pelaksanaan
                                    <div>
                                        <li class="ms-4">{{dataDetailEvent?.convertStartDate | date:'dd MMMM yyyy'}} - {{dataDetailEvent?.convertEndDate | date:'dd MMMM yyyy'}}</li>
                                    </div>
                                </label><br>
                                <label class="control-label font-size-16 text-white">Tempat Pelaksanaan
                                    <div>
                                        <li class="ms-4">{{dataDetailEvent?.province?.name}} <label class="mb-0" *ngIf="dataDetailEvent?.regency">({{dataDetailEvent?.regency?.name}})</label></li>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="text-end">
                        <label class="font-size-20" style="color: rgba(255, 255, 255, 0.3);">{{startDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal dialog-->
</ng-template>
<!-- end modal-->

<!-- Edit event modal -->
<ng-template #editmodalShow let-modal>
    <div class="modal-content" style="background: rgba(45, 156, 219, 1);">
        <div class="modal-body p-4" style="color: rgba(45, 156, 219, 1);">
            <form [formGroup]="formEditData">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="font-size-20 text-white">{{tittleEventSelected}}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div *ngIf="loadingDetailEvent" class="text-center text-white">
                            <i class="bx bx-loader bx-spin font-size-30 align-middle"></i>
                        </div>
                        <div class="mb-3" *ngIf="!loadingDetailEvent">
                            <label class="font-size-16 text-white" *ngIf="taskTypeEventSelected != 3 && taskTypeEventSelected != 6">{{descriptionEventSelected}}</label>
                            <label class="font-size-16 text-white" *ngIf="taskTypeEventSelected == 3">
                                <div *ngFor="let data of listDescriptionEventSelected">
                                    <label class="mt-1">{{data}}</label>
                                </div>
                            </label>
                            <div *ngIf="taskTypeEventSelected == 6">
                                <label class="control-label font-size-16 text-white">Nama Event : {{dataDetailEvent.name}}</label>
                                <label class="control-label font-size-16 text-white">Tim Pelaksana
                                    <div *ngFor="let data of dataDetailEvent.staff">
                                        <li class="ms-4">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} (Komponen {{data?.resources?.user?.component?.code}})</li>
                                    </div>
                                    <div *ngIf="dataDetailEvent?.otherStaff.length > 0">
                                        <div *ngFor="let data of dataDetailEvent.otherStaff">
                                            <li class="ms-4">{{data?.name}}, {{data?.position?.name}}, {{data?.institution}}</li>
                                        </div>
                                    </div>
                                </label>
                                <label class="control-label font-size-16 text-white">Waktu Pelaksanaan
                                    <div>
                                        <li class="ms-4">{{dataDetailEvent?.convertStartDate | date:'dd MMMM yyyy'}} - {{dataDetailEvent?.convertEndDate | date:'dd MMMM yyyy'}}</li>
                                    </div>
                                </label><br>
                                <label class="control-label font-size-16 text-white">Tempat Pelaksanaan
                                    <div>
                                        <li class="ms-4">{{dataDetailEvent?.province?.name}} <label class="mb-0" *ngIf="dataDetailEvent?.regency">({{dataDetailEvent?.regency?.name}})</label></li>
                                    </div>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="text-end">
                        <label class="font-size-20" style="color: rgba(255, 255, 255, 0.3);">{{startDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
