<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListMonev()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'output'">Target Output Kegiatan</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'intermediate'">Target Intermediate Outcome</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Midterm'">Target Midterm Outcome</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Longterm'">Target Longterm Outcome</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">{{nameIndicator}}</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Data {{nameIndicator}} beserta indikator keberhasilannya</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Pertanyaan Penilaian {{nameIndicator}}</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Pertanyaan untuk menilai hasil {{nameIndicator}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <div class="row mt-3" *ngIf="fieldSubstantiv === 1">
                        <div class="col-12">
                            <div class="mb-3 row">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Tahun :</label>
                                    <div class="col-md-6">
                                        <input class="form-control" value="{{listMonev?.year}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                    <label class="col-md-3 col-form-label">Komponen :</label>
                                    <div class="col-md-6">
                                        <textarea type="text" class="form-control" value="{{listMonev?.component?.code}} - {{listMonev?.component?.description}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                    <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                    <div class="col-md-6">
                                        <textarea type="text" class="form-control" value="{{listMonev?.subComponent?.code}} - {{listMonev?.subComponent?.description}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="!validateYear && from !== 'Longterm'">
                                    <label class="col-md-3 col-form-label">{{parentName}} :</label>
                                    <div class="col-md-6" *ngIf="!loadingListComponent">
                                        <textarea type="text" class="form-control" value="{{selectedChainCodeParent?.code}} - {{selectedChainCodeParent?.name}}" disabled *ngIf="selectedChainCodeParent && !loadingListComponent"></textarea>
                                        <textarea type="text" class="form-control" value="-" disabled *ngIf="!selectedChainCodeParent && !loadingListComponent"></textarea>
                                    </div>
                                    <div class="col-md-6" *ngIf="loadingListComponent">
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                    </div>
                                </div>

                                <div class="mb-3 row" *ngIf="validateYear && from !== 'Longterm'">
                                    <label class="col-md-3 col-form-label">{{parentName}}</label>
                                    <div class="col-md-6">
                                        <div class="dropdown" ngbDropdown container="body" #parentId="ngbDropdown">
                                            <button class="btn w-100" style="border: black solid 1px" type="button"
                                                    ngbDropdownToggle>
                                                <div class="row" *ngIf="!loadingListComponent">
                                                    <div class="col-md-10 text-start">
                                                        <label class="mb-0" *ngIf="!selectedChainCodeParent">Pilih {{parentName}}</label>
                                                        <label class="mb-0" *ngIf="selectedChainCodeParent" style="white-space: normal">{{selectedChainCodeParent?.code}} - {{selectedChainCodeParent?.name}}</label>
                                                    </div>
                                                    <div class="col-md-2 text-end" *ngIf="selectedChainCodeParent" style="align-self: center">
                                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedParent()"></i>
                                                    </div>
                                                </div>
                                                <div *ngIf="loadingListComponent">
                                                    <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                </div>
                                            </button>
                                            <div class="dropdown-menu" style="width: 67vh" ngbDropdownMenu>
                                                <div class="search-box me-2">
                                                    <div>
                                                        <div class="position-relative ms-3 me-3">
                                                            <i class="bx bx-search-alt search-icon"></i>
                                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterParent($event)">
                                                        </div>
                                                        <div class="overflow" *ngIf="listChainCodeParent?.length > 0">
                                                            <div class="ms-4 mt-1" *ngFor="let data of listChainCodeParent; let index = last">
                                                                <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedParent(data); parentId.close()">{{data?.code}} - {{data?.name}}</label>
                                                                <hr class="m-0" *ngIf="!index">
                                                            </div>
                                                        </div>
                                                        <div *ngIf="listChainCodeParent?.length == 0">
                                                            <div class="ms-4 mt-1">
                                                                <label class="form-check-label font-size-16">{{parentName}} tidak ditemukan</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="!validateYear">
                                    <label class="col-md-3 col-form-label">Ouput Kegiatan :</label>
                                    <div class="col-md-6">
                                        <textarea type="text" class="form-control" value="{{listMonev?.code}} - {{listMonev?.name}}" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="validateYear">
                                    <label class="col-md-3 col-form-label">Ouput Kegiatan :</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <textarea class="form-control" value="{{listMonev?.code}}" style="white-space: normal; max-width: 20%" disabled ></textarea>
                                            <textarea class="form-control" placeholder="Masukkan Indikator Keberhasilan" [(ngModel)]="outputIndicatorName" style="white-space: normal"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Indikator Keberhasilan : </label>
                                    <div class="col-md-6">
                                        <div class="dropdown" ngbDropdown container="body" #parentId="ngbDropdown">
                                            <button class="btn w-100" style="border: black solid 1px" type="button"
                                                    ngbDropdownToggle>
                                                <div class="row">
                                                    <div class="col-md-10 text-start">
                                                        <label class="mb-0" *ngIf="!selectedSuccessIndicator">Pilih Indikator Keberhasilan</label>
                                                        <label class="mb-0" *ngIf="selectedSuccessIndicator" style="white-space: normal">{{selectedSuccessIndicator?.code}} - {{selectedSuccessIndicator?.name}}</label>
                                                    </div>
                                                    <div class="col-md-2 text-end" *ngIf="selectedSuccessIndicator" style="align-self: center">
                                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedIndicator()"></i>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="dropdown-menu" style="width: 67vh" ngbDropdownMenu>
                                                <div class="search-box me-2">
                                                    <div>
                                                        <div class="position-relative ms-3 me-3">
                                                            <i class="bx bx-search-alt search-icon"></i>
                                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSuccessIndicator($event)">
                                                        </div>
                                                        <div class="overflow" *ngIf="listSuccessIndicator?.length > 0">
                                                            <div class="ms-4 mt-1" *ngFor="let data of listSuccessIndicator; let index = last">
                                                                <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedListIndicator(data); parentId.close()">{{data?.code}} - {{data?.name}}</label>
                                                                <hr class="m-0" *ngIf="!index">
                                                            </div>
                                                        </div>
                                                        <div *ngIf="listSuccessIndicator?.length == 0">
                                                            <div class="ms-4 mt-1">
                                                                <label class="form-check-label font-size-16">Indikator Keberhasilan tidak ditemukan</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedSuccessIndicator">
                                    <label class="col-md-3 col-form-label">PDO <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <ng-select [items]="selectValuePdo"
                                                   bindLabel="name"
                                                   placeholder="Pilih PDO"
                                                   [multiple]="false"
                                                   [(ngModel)]="selectedPdo"
                                                   [ngModelOptions]="{standalone: true}">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedSuccessIndicator">
                                    <label class="col-md-3 col-form-label">IRI <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <ng-select [items]="selectValueIri"
                                                   bindLabel="name"
                                                   placeholder="Pilih IRI"
                                                   [multiple]="false"
                                                   [(ngModel)]="selectedIri"
                                                   [ngModelOptions]="{standalone: true}">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedSuccessIndicator">
                                    <label class="col-md-3 col-form-label">Nilai Baseline <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="baseLineValue">
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedSuccessIndicator">
                                    <label class="col-md-3 col-form-label">Target Total <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="totalTarget">
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedSuccessIndicator">
                                    <label class="col-md-3 col-form-label">Target Tahunan</label>
                                    <div class="table-responsive col-md-6">
                                        <table class="table table-bordered mb-3">
                                            <thead class="table-light">
                                            <tr>
                                                <th class="text-center">Tahun</th>
                                                <th class="text-center">Target</th>
                                                <th class="text-center">Belum Final</th>
                                                <th class="text-center">Not Applicable</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle; width: 20%">2020</td>
                                                <td class="text-start" style="vertical-align: middle;">
                                                    <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2020" (keyup)="changeValueTargetYear(2020)" [disabled]="disableFormTarget1">
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2020" [checked]="target2020" [(ngModel)]="target2020" (ngModelChange)="disableInputTarget(2020)">
                                                    </div>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2020Applicable" [checked]="notApplicable2020" [(ngModel)]="notApplicable2020" (ngModelChange)="disableInputTargetByApplicable(2020)">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle; width: 20%">2021</td>
                                                <td class="text-start" style="vertical-align: middle;">
                                                    <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2021" (keyup)="changeValueTargetYear(2021)" [disabled]="disableFormTarget2">
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2021" [checked]="target2021" [(ngModel)]="target2021" (ngModelChange)="disableInputTarget(2021)">
                                                    </div>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2021Applicable" [checked]="notApplicable2021" [(ngModel)]="notApplicable2021" (ngModelChange)="disableInputTargetByApplicable(2021)">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2022</td>
                                                <td class="text-start" style="vertical-align: middle;">
                                                    <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2022" (keyup)="changeValueTargetYear(2022)" [disabled]="disableFormTarget3">
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2022" [checked]="target2022" [(ngModel)]="target2022" (ngModelChange)="disableInputTarget(2022)">
                                                    </div>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2022Applicable" [checked]="notApplicable2022" [(ngModel)]="notApplicable2022" (ngModelChange)="disableInputTargetByApplicable(2022)">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2023</td>
                                                <td class="text-start" style="vertical-align: middle;">
                                                    <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2023" (keyup)="changeValueTargetYear(2023)" [disabled]="disableFormTarget4">
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2023" [checked]="target2023" [(ngModel)]="target2023" (ngModelChange)="disableInputTarget(2023)">
                                                    </div>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2023Applicable" [checked]="notApplicable2023" [(ngModel)]="notApplicable2023" (ngModelChange)="disableInputTargetByApplicable(2023)">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-start" style="vertical-align: middle;">2024</td>
                                                <td class="text-start" style="vertical-align: middle;">
                                                    <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2024" (keyup)="changeValueTargetYear(2024)" [disabled]="disableFormTarget5">
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2024" [checked]="target2024" [(ngModel)]="target2024" (ngModelChange)="disableInputTarget(2024)">
                                                    </div>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <div>
                                                        <input class="form-check-input" type="checkbox" id="2024Applicable" [checked]="notApplicable2024" [(ngModel)]="notApplicable2024" (ngModelChange)="disableInputTargetByApplicable(2024)">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="fieldSubstantiv === 2">
                        <div class="mb-3 mt-3 row" style="justify-content: center" *ngIf="!validateYear">
                            <div class="col-md-8 text-center" style="background: rgba(24, 101, 228, 0.06); border: 1px solid rgba(24, 101, 228, 1)">
                                <label class="mb-0 p-2 font-size-16" style="color: rgba(24, 101, 228, 1);">
                                    Pertanyaan {{nameIndicator}} pada tahun berjalan tidak bisa diedit
                                </label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-12" *ngIf="listQuestionFromSelectedChainCode?.length > 0">
                                <div *ngFor="let data of listQuestionFromSelectedChainCode; let i = index">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="mb-3 row">
                                                <label class="col-md-1 col-form-label text-end">{{i + 1}}.</label>
                                                <div class="col-md-11" style="align-self: center; background: rgba(245, 245, 245, 1);">
                                                    <label class="mb-0 p-1">{{data?.monevQuestion?.question}}</label>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="data?.monevQuestion?.yesOrNo">
                                                <label class="col-md-1 col-form-label text-end"></label>
                                                <div class="col-md-11">
                                                    <div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                            <label class="form-check-label" for="yes">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary">
                                                            <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                            <label class="form-check-label" for="no">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="!data?.monevQuestion?.yesOrNo">
                                                <label class="col-md-2 col-form-label text-end">Penjelasan</label>
                                                <div class="col-md-10" style="padding-right: 0px;">
                                                    <input class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="margin-top: 10px" *ngIf="validateYear">
                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="deleteNewQuestionsExisting(i, data)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div *ngFor="let data of newQuestion; let i = index">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="mb-3 row">
                                                <label class="col-md-1 col-form-label text-end">{{i + 1 + listQuestionFromSelectedChainCode?.length}}.</label>
                                                <div class="col-md-11" style="padding-right: 0;">
                                                    <ng-select [items]="selectValueQustion"
                                                               bindLabel="name"
                                                               placeholder="Pilih Pertanyaan"
                                                               [multiple]="false"
                                                               [(ngModel)]="data.question"
                                                               [ngModelOptions]="{standalone: true}"
                                                               [addTag]="CreateNew">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="data?.yesOrNo">
                                                <label class="col-md-1 col-form-label text-end"></label>
                                                <div class="col-md-11">
                                                    <div class="mb-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                            <label class="form-check-label" for="yes">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                            <label class="form-check-label" for="no">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="!data?.yesOrNo">
                                                <div class="mb-3 row">
                                                    <label class="col-md-2 col-form-label text-end">Penjelasan</label>
                                                    <div class="col-md-10">
                                                        <input class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="margin-top: 10px" *ngIf="validateYear">
                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="deleteNewQuestions(i)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row" style="justify-content: center" *ngIf="validateYear">
                            <div class="col-md-9 text-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1)">
                                            <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2)">
                                            <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12" *ngIf="fieldSubstantiv === 1">
                        <div class="row">
                            <div class="col-6 text-start">
                                <button type="button" class="btn btn-secondary me-2" style="width: 120px" (click)="goToListMonev()">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Keluar</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px"  (click)="changeMenuFieldProgress(2)" [disabled]="!selectedSuccessIndicator || disabledStep1()">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Lanjut</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="fieldSubstantiv === 2">
                        <div class="row">
                            <div class="col-6 text-start">
                                <button type="button" class="btn btn-secondary me-2" style="width: 120px" (click)="goToListMonev()">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Keluar</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                            </div>
                            <div class="col-6 text-end">
                                <button class="btn text-white me-2" style="background: rgba(255, 92, 92, 1); width: 170px"  (click)="openModal(notificationDelete)" [disabled]="loadingUpdateMonev" *ngIf="selectedSuccessIndicator">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Hapus Indikator Ini</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                                <button class="btn text-white me-2" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px"  (click)="changeMenuFieldProgress(1)" [disabled]="loadingUpdateMonev">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Sebelumnya</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                                <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px"  (click)="saveEditTarget(0)" [disabled]="loadingUpdateMonev || !disabledStep2()">
                                    <label class="mb-0" *ngIf="!loadingUpdateMonev">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #notificationDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Konfirmasi Hapus Indikator Keberhasilan - {{selectedSuccessIndicator?.code}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="listMonev?.successIndicator.length == 1">
            <label class="mb-0 font-size-16">{{nameIndicator}} {{listMonev?.code}} ini memiliki {{listMonev?.successIndicator.length}} indikator keberhasilan <br><br>
                Anda yakin ingin hapus indikator keberhasilan ini?</label>
        </div>
        <div *ngIf="listMonev?.successIndicator.length > 1">
            <label class="mb-0 font-size-16">Anda yakin ingin hapus indikator keberhasilan ini ?</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="closeModal()" style="width: 130px; background-color: rgba(224, 224, 224, 1);" [disabled]="loadingUpdateMonev">
            <label class="mb-0" *ngIf="!loadingUpdateMonev">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background: rgba(255, 92, 92, 1); width: 130px" (click)="saveEditTarget(1)" [disabled]="loadingUpdateMonev">
            <label class="mb-0" *ngIf="!loadingUpdateMonev">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateMonev"></i>
        </button>
    </div>
</ng-template>

