.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal!important;
}

div.overflow {
  background-color: transparent;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  margin: auto;
  overflow: auto;
}

.dropdown-toggle::after {
  display:none;
}


.stepper-top-navigation {
  border: 1px solid rgba(210, 214, 220, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-top: 1px;
  padding-right: 0px;
}



.stepper-top-navigation-substantiev {
  border: 1px solid rgba(210, 214, 220, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-top: 1px;
  //border-radius: 0 100px 100px 0;
}
