.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  display:none;
}

div.overflow2 {
  background-color: transparent;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  margin: auto;
  overflow: auto;
}


.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.weekend {
  border-radius: 1rem;
  color: red;
}

.classSelected {
  color: red!important;
}

ul.steps-indicator li:last-child .done .step-indicator{
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}

:host::ng-deep aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done .step-indicator {
  border-color: transparent;
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}
