<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;" (click)="backToPage()">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Tugas</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div *ngIf="detailPage == 1">
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Status</label>
                            <div class="col-md-6">
                                <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="detailTask?.status == 0">Menunggu</span>
                                <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color:  rgba(3, 129, 23, 0.12); rgba(3, 129, 23, 1); color: rgba(3, 129, 23, 1);" *ngIf="detailTask?.status == 1">Diproses</span>
                                <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(238, 129, 0, 0.12); color: rgba(157, 85, 0, 1);" *ngIf="detailTask?.status == 2">Telah Dikerjakan</span>
                                <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="detailTask?.status == 3">Selesai</span>
                                <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="detailTask?.status == 4">Ditolak</span>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Nama Penerima Tugas</label>
                            <div class="col-md-6">
                                <button class="btn dropdown-toggle w-100 text-start" style="background-color: rgba(245, 245, 245, 1);" type="button">
                                    <img [src]="detailTask?.filePhoto" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="detailTask?.filePhoto">
                                    <img src="assets/images/no-profile.svg" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="!detailTask?.filePhoto">
                                    <label class="ms-2 mb-0" style="cursor: pointer">{{detailTask?.createdForResources?.user?.firstName}} {{detailTask?.createdForResources?.user?.lastName}}</label>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Judul Tugas</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [value]="detailTask?.title" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Tenggat/Deadline Tugas</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" [value]="detailTask?.deadlineDate" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Deskripsi Tugas</label>
                            <div class="col-md-6">
                                <textarea type="text" class="form-control" disabled>{{detailTask?.description}}</textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">PDO</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [value]="detailTask?.pdo?.name" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">IRI</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [value]="detailTask?.iri?.name" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Download File (Optional)</label>
                            <div class="col-md-6">
                                <div *ngIf="detailTask?.files.length > 0">
                                    <div *ngFor="let data of detailTask?.files">
                                        <li class="col-form-label" (click)="downloadPdf(data.filesId)" style="color: rgba(24, 101, 228, 1); cursor: pointer; list-style-type:none;" *ngIf="data?.uploadedFrom == 1">{{data?.files?.filename}}</li>
                                    </div>
                                </div>
                                <div *ngIf="detailTask?.files.length == 0">
                                    -
                                </div>

                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Tag (Optional)</label>
                            <div class="col-md-6">
                                <button class="btn dropdown-toggle w-100 text-start" style="background-color: rgba(245, 245, 245, 1);" type="button">
                                    <div *ngIf="detailTask?.tags.length > 0">
                                        <div *ngFor="let dataTag of detailTask?.tags">
                                            <label class="ms-1 mb-0 row" style="cursor: pointer">
                                                {{dataTag?.taskResourcesTag?.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <div *ngIf="detailTask?.tags.length == 0">
                                        <label class="ms-1 mb-0 row" style="cursor: pointer">
                                            -
                                        </label>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="detailTask?.status != 0 && detailTask?.status != 4">
                            <div class="mb-3 row">
                                <div class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">
                                    <label class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">Upload Tugas</label>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Upload Tugas</label>
                                <div class="col-md-6">
                                    <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32); background-color: rgba(245, 245, 245, 1);">
                                        <div class="ms-2">
                                            <div *ngIf="detailTask?.files.length > 0">
                                                <div *ngFor="let data of detailTask?.files">
                                                    <li class="col-form-label" (click)="downloadPdf(data.filesId)" style="color: rgba(24, 101, 228, 1); cursor: pointer; list-style-type:none;" *ngIf="data?.uploadedFrom == 2">{{data?.files?.filename}}</li>
                                                </div>
                                            </div>
                                            <div *ngIf="detailTask?.files.length == 0" class="text-center">
                                                <label class="mt-1">Tidak Ada File</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="col-md-8">
                                    <div class="card" style="border: 1px solid rgba(24, 101, 228, 0.24)">
                                        <div class="card-header" style="background-color: rgba(24, 101, 228, 0.12);">
                                            <label>Comment Panel</label>
                                        </div>
                                        <div class="card-body">
                                            <textarea class="w-100 mb-2" placeholder="tulis komentar...." [(ngModel)]="addNewCommentChat"></textarea>
                                            <div class="text-end mb-2">
                                                <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; cursor: pointer" (click)="addNewCommentForSupervisor()" [disabled]="!addNewCommentChat || loadingComment">
                                                    <label class="mb-0" style="cursor: pointer">
                                                        <label class="mb-0" *ngIf="!loadingComment">Post</label>
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingComment"></i>
                                                    </label>
                                                </button>
                                            </div>
                                            <div class="col-md-12">
                                                <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
                                                    <ul class="list-unstyled chat-list">
                                                        <li class="" *ngFor="let data of detailTask?.comments" style="border: transparent">
                                                            <a>
                                                                <div class="media" *ngIf="data?.createdFrom == 1">
                                                                    <div class="align-self-center me-3">
                                                                        <img [src]="detailTask.filePhotoCreatedTask" class="rounded-circle avatar-xs" alt="" *ngIf="detailTask.filePhotoCreatedTask">
                                                                        <img src="assets/images/no-profile.svg" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="!detailTask.filePhotoCreatedTask">
                                                                    </div>
                                                                    <div class="media-body overflow-hidden">
                                                                        <h5 class="text-truncate font-size-14 mb-1">{{ detailTask?.createdByResources?.user?.firstName }} {{ detailTask?.createdByResources?.user?.lastName }}</h5>
                                                                        <p class="text-truncate mb-0">{{ data.message }}</p>
                                                                    </div>
                                                                    <div class="font-size-11">{{ data.createdAt }}</div>
                                                                </div>
                                                                <div class="media" *ngIf="data?.createdFrom == 2">
                                                                    <div class="align-self-center me-3">
                                                                        <img [src]="detailTask.filePhoto" class="rounded-circle avatar-xs" alt="" *ngIf="detailTask.filePhoto">
                                                                        <img src="assets/images/no-profile.svg" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="!detailTask.filePhoto">
                                                                    </div>
                                                                    <div class="media-body overflow-hidden">
                                                                        <h5 class="text-truncate font-size-14 mb-1">{{ detailTask?.createdForResources?.user?.firstName }} {{ detailTask?.createdForResources?.user?.lastName }}</h5>
                                                                        <p class="text-truncate mb-0">{{ data.message }}</p>
                                                                    </div>
                                                                    <div class="font-size-11">{{ data.createdAt }}</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </ngx-simplebar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row" *ngIf="detailTask?.status == 4">
                            <label class="col-md-2 col-form-label">Pesan</label>
                            <label class="col-md-6 col-form-label">{{detailTask?.rejectedMessage}}</label>
                        </div>
                    </div>
                    <div *ngIf="detailPage == 2">
                        <div class="mt-3 mb-3 row">
                            <label class="col-md-2 col-form-label">Nama Penerima Tugas</label>
                            <div class="col-md-6">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row">
                                            <div class="col-md-6 text-start">
                                                <label class="mb-0" *ngIf="!selectedResourceModel">Pilih penerima tugas</label>
                                                <div *ngIf="selectedResourceModel" style="text-align: start">
                                                    <img [src]="selectedResourceModel.filePhoto" alt="" class="rounded-circle avatar-xs">
                                                    <img src="assets/images/no-profile.svg" class="rounded-circle avatar-xs" alt="user-pic" *ngIf="!selectedResourceModel.filePhoto">
                                                    <label class="ms-2 mb-0">{{selectedResourceModel?.user?.firstName}} {{selectedResourceModel?.user?.lastName}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>

                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div class="search-box me-2">
                                            <div style="overflow: auto">
                                                <div class="position-relative ms-3 me-3">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                    <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                                </div>
                                                <div class="overflow" *ngIf="resourcesReplacement?.length > 0">
                                                    <div class="ms-4 mt-2 mb-2" *ngFor="let data of resourcesReplacement; let i = last" style="cursor: pointer">
                                                        <img [src]="data.filePhoto" alt="" class="rounded-circle avatar-xs">
                                                        <label class="ms-1" style="cursor: pointer" (click)="selectResourcePlacement(data)">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                                        <hr class="mb-0 mt-1" *ngIf="!i">
                                                    </div>
                                                </div>
                                                <div *ngIf="resourcesReplacement?.length == 0">
                                                    <div class="ms-4 mt-1">
                                                        <label class="form-check-label font-size-16">Tidak Ada Pengganti</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Judul Tugas</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Masukkan judul tugas" [(ngModel)]="editModelDetailTask.title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Tenggat/Deadline tugas</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dp" ngbDatepicker #d="ngbDatepicker"
                                           [minDate]="minDate" [dayTemplate]="customDay" [(ngModel)]="editDate"
                                    >
                                    <ng-template
                                        #customDay
                                        let-date
                                        let-currentMonth="currentMonth"
                                        let-selected="selected"
                                        let-disabled="disabled"
                                        let-focused="focused">
                                  <span
                                          class="custom-day"
                                          [ngClass]="myClass(date)"
                                          [class.weekend]="isWeekend(date)"
                                          [class.focused]="focused"
                                  >{{ date.day }}
                                  </span>
                                    </ng-template>
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Deskirpsi Tugas</label>
                            <div class="col-md-6">
                                <textarea type="text" class="form-control" placeholder="Masukkan judul tugas" [(ngModel)]="editModelDetailTask.description">{{editModelDetailTask?.description}}</textarea>
                            </div>
                        </div>
                        <div class="mt-3 mb-3 row">
                            <label class="col-md-2 col-form-label">PDO</label>
                            <div class="col-md-6">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row">
                                            <div class="col-md-6 text-start">
                                                <label class="mb-0" *ngIf="!selectPdo">Pilih PDO</label>
                                                <div *ngIf="selectPdo" style="text-align: start">
                                                    <label class="ms-2 mb-0">{{selectPdo?.name}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div class="search-box me-2">
                                            <div style="overflow: auto">
                                                <div class="position-relative ms-3 me-3">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                    <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPdo($event)">
                                                </div>
                                                <div *ngIf="pdoModel?.length > 0">
                                                    <div class="ms-4 mt-2 mb-2" *ngFor="let data of pdoModel; let i = last" style="cursor: pointer">
                                                        <label class="ms-1" style="cursor: pointer" (click)="selectedPdo(data)">{{data?.name}}</label>
                                                        <hr class="mb-0 mt-1" *ngIf="!i">
                                                    </div>
                                                </div>
                                                <div *ngIf="pdoModel?.length == 0">
                                                    <div class="ms-4 mt-1">
                                                        <label class="form-check-label font-size-16">Pdo tidak ditemukan</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 mb-3 row">
                            <label class="col-md-2 col-form-label">IRI</label>
                            <div class="col-md-6">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row">
                                            <div class="col-md-6 text-start">
                                                <label class="mb-0" *ngIf="!selectIri">Pilih IRI</label>
                                                <div *ngIf="selectIri" style="text-align: start">
                                                    <label class="ms-2 mb-0">{{selectIri?.name}}</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <div class="search-box me-2">
                                            <div style="overflow: auto">
                                                <div class="position-relative ms-3 me-3">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                    <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterIri($event)">
                                                </div>
                                                <div *ngIf="iriModel?.length > 0">
                                                    <div class="ms-4 mt-2 mb-2" *ngFor="let data of iriModel; let i = last" style="cursor: pointer">
                                                        <label class="ms-1" style="cursor: pointer" (click)="selectedIri(data)">{{data?.name}}</label>
                                                        <hr class="mb-0 mt-1" *ngIf="!i">
                                                    </div>
                                                </div>
                                                <div *ngIf="iriModel?.length == 0">
                                                    <div class="ms-4 mt-1">
                                                        <label class="form-check-label font-size-16">IRI tidak tersedia</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Upload File <label class="mb-0">(Optional)</label></label>
                            <div class="col-md-6">
                                <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32);">
                                    <div class="card-body">
                                        <file-upload name="uploadSelfie" style="background: white !important"
                                                     [control]="fileUploadControl"
                                                     fileslimit="1"
                                                     filesize= "3mb"
                                        >
                                            <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                                <span *ngIf="isFileDragDropAvailable">
                                    <div class="row">
                                        <div><i class="fa fa-upload font-size-30 mb-2 me-3"></i>Pilih File atau Geser File</div>
                                    </div>
                                </span>
                                                <span *ngIf="!isFileDragDropAvailable">click</span>
                                            </ng-template>
                                        </file-upload>
                                        <div class="file-list" *ngIf="fileUploadControl.value.length > 0">
                                            <hr>
                                            <div class="file-item"
                                                 *ngFor="let file of fileUploadControl.value">
                                                <div class="row mb-1">
                                                    <div class="col-1 text-end">
                                                        <i class="fa fa-file-alt font-size-20"></i>
                                                    </div>
                                                    <div class="col-8 text-start">
                                                        {{ file.name }}
                                                    </div>
                                                    <div class="col-2 text-end" style="align-self: center">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer"  (click)="fileUploadControl.removeFile(file)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-list" *ngIf="filesEdit.length > 0">
                                            <hr *ngIf="fileUploadControl.value.length == 0">
                                            <div class="file-item"
                                                 *ngFor="let data of filesEdit">
                                                <div class="row mb-1" *ngIf="data?.uploadedFrom == 1">
                                                    <div class="col-1 text-end">
                                                        <i class="fa fa-file-alt font-size-20"></i>
                                                    </div>
                                                    <div class="col-8 text-start">
                                                        {{ data.files.filename }}
                                                    </div>
                                                    <div class="col-2 text-end" style="align-self: center">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeFileExist(data)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Pilih Tag <label class="mb-0">(Optional)</label></label>
                            <div class="col-md-6">
                                <ng-select [items]="tagName"
                                           bindLabel="name"
                                           placeholder="Pilih Tag"
                                           [multiple]="true"
                                           [(ngModel)]="selectedCity"
                                           addTagText="Create New"
                                           [addTag]="CreateNew">
                                </ng-select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label"></label>
                            <div class="col-md-6">
                                <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);width: 15%; margin-right: 5px; "(click)="doUpload(0)" [disabled]="!selectedResourceModel || loadingEdit || !editModelDetailTask.title || !editModelDetailTask.description">
                                    <label class="mb-0" style="cursor: pointer; color: white" *ngIf="!loadingEdit">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingEdit"></i>
                                </button>
                                <button class="btn" (click)="backToPage()" style="border: black solid 1px; width: 15%; margin-right: 5px">Batal</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPage == 1 && detailTask?.status == 0">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="goToEditPage()">Edit</button>
                        <button class="btn "style="background: transparent; color: rgba(255, 92, 92, 1);" (click)="openModal(notificationDeleteTask)"><i class="fa fa-trash"></i> Hapus Tugas</button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPage == 1 && detailTask?.status == 1">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateTaskFormReciever(1)" [disabled]="loadingUpdateTask">
                            <label class="mb-0" *ngIf="!loadingUpdateTask" style="cursor:pointer;">Tugas Selesai</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateTask"></i>
                        </button>
                        <button class="btn me-2 w-md" style="background: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1);" (click)="goToListTask()" [disabled]="loadingUpdateTask">
                            <label class="mb-0" *ngIf="!loadingUpdateTask" style="cursor:pointer;">Keluar</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateTask"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPage == 1 &&  detailTask?.status == 2">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateTaskFormReciever(1)" [disabled]="loadingUpdateTask">
                            <label class="mb-0" *ngIf="!loadingUpdateTask" style="cursor:pointer;">Menyetujui</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateTask"></i>
                        </button>
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="updateTaskFormReciever(2)" [disabled]="loadingUpdateTask" *ngIf="detailPage == 1 && detailTask?.status == 2">
                            <label class="mb-0" *ngIf="!loadingUpdateTask" style="cursor:pointer;">Revisi</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateTask"></i>
                        </button>
                        <button class="btn me-2 w-md" style="background: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1);" (click)="goToListTask()" [disabled]="loadingUpdateTask">
                            <label class="mb-0" *ngIf="!loadingUpdateTask" style="cursor:pointer;">Keluar</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateTask"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 3">
                    <div class="text-end">
                        <label>Telah Selesai pada {{detailTask?.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailTask?.status == 4">
                    <div class="text-end">
                        <label>Ditolak oleh {{detailTask?.createdForResources?.user?.firstName}} {{detailTask?.createdForResources?.user?.lastName}}, pada {{detailTask.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #notificationDeleteTask let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Peringatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label>Apakah anda yakin ingin menghapus tugas yang anda berikan ?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background-color: rgba(255, 92, 92, 1);" (click)="deleteTaskGiven()" [disabled]="loadingDeletedTask">
            <label class="mb-0" *ngIf="!loadingDeletedTask" style="cursor:pointer;" (click)="deleteTaskGiven()">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeletedTask"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingDeletedTask">
            <label class="mb-0" *ngIf="!loadingDeletedTask" style="cursor:pointer;">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeletedTask"></i>
        </button>
    </div>
</ng-template>
