<div class="modal-header" style="border-bottom: 0 none; padding: 20px 32px 0;">
    <h4 class="modal-title title-text" id="modal-basic-title">File: {{dataPass.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="loader center-page" *ngIf="loadingFiles"></div>
    <div class="row mt-3 ms-1" *ngIf="!loadingFiles">
        <div class="col-md-12">
            <div class="row mt-3" *ngFor="let data of listFiles; let i = index">
                <div class="col-md-7">
                    <span class="list-text">{{i + 1}}. Versi {{data.version}}
                        <i style="color: #858585">
                            Diupload pada {{data?.convertCreatedAt | date : 'dd MMMM yyyy, HH:mm'}} WIB</i>
                    </span>
                </div>
                <div class="col-md-5 options-text" style="text-align: right;">
                    <span class="underline-on-hover options-text" (click)="openModal(viewPdf, data.filesId)"
                          style="cursor: pointer;font-style: normal;color: #1865E4; padding-right: 12px">Lihat </span> |
                            <span class="underline-on-hover options-text" (click)="downloadPdf(data.filesId)"
                                  style="cursor: pointer;font-style: normal;color: #1865E4; padding: 12px 12px 0"> Download </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn text-black" style="background-color: #E0E0E0" (click)="modal.close('Save click')">Keluar</button>
</div>

<ng-template #viewPdf let-modal>
    <div class="modal-body">
        <pdf-viewer [src]="pdfSrc"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 100%; height: 500px">
        </pdf-viewer>
    </div>
</ng-template>
