.underline-on-hover:hover {
  text-decoration: underline;
}

.title-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #1865E4;
}

.list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.options-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
