<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="changePageView()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Persetujuan Kegiatan Luar Kota</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Status</label>
                        <div class="col-md-6">
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(51, 51, 51, 0.12); color: rgba(51, 51, 51, 1);" *ngIf="detailEventModel?.approveStatus == 0">Pengusulan</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="detailEventModel?.approveStatus == 1">Disetujui</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="detailEventModel?.approveStatus == 2">Ditolak</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tanggal Kegiatan Di Luar Kota</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.convertStartActivity | date: 'dd-MMM-yyyy'}} s.d {{detailEventModel?.convertEndActivity | date: 'dd-MMM-yyyy'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Kegiatan Di Luar Kota (Total hari)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" value="{{detailEventModel?.daysLength}}" disabled>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Kegiatan: </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.event?.awp?.name}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Unit/Komponen Kegiatan</label>
                        <div class="col-md-6">
                            <textarea type="text" class="form-control" style="white-space: normal" disabled>{{detailEventModel?.event?.awp?.component?.description}}</textarea>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Peserta Kegiatan</label>
                        <div class="col-md-4">
                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)" disabled="true">
                                <div *ngIf="detailEventModel?.details.length > 0">
                                    <li class="list-group-item" *ngFor="let data of detailEventModel?.details">
                                        <label class="form-check-label">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}</label>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Agenda Kegiatan</label>
                        <div class="col-md-6">
                            <textarea class="form-control" disabled>{{detailEventModel?.description}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Alamat Kegiatan</label>
                        <div class="col-md-6">
                            <textarea class="form-control" disabled>{{detailEventModel?.address}}</textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">Jadwal Transportasi</label>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Moda Transportasi: </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="{{detailEventModel?.transportation?.name}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Dari (tempat asal) :</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.origin}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Ke (tempat tujuan) :</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.description}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Jadwal Mulai Transportasi</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.transportationStartTime}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Jadwal Akhir Transportasi</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.transportationEndTime}}" disabled>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Kode Transportasi: <br> <label>(Opsional)</label></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailEventModel?.transportationCode}}" disabled *ngIf="detailEventModel?.transportationCode">
                            <input type="text" class="form-control" value="-" disabled *ngIf="!detailEventModel?.transportationCode">
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailEventModel?.approveStatus == 0">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="sendDataListTask(1)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                        <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="openModal(approveNotes)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Tolak</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailEventModel?.approveStatus == 1">
                    <div class="text-end">
                        <label>Disetujui, pada {{detailEventModel?.convertUpdatedAt| date: 'dd MMMM yyyy HH:mm'}} WIB</label>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailEventModel?.approveStatus == 2">
                    <div class="text-end">
                        <label>Ditolak, pada {{detailEventModel?.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #approveNotes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="sendDataListTask(2)" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>

</ng-template>
