<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div>
        <label class="title-header">Project Component</label><br>
    </div>
    <div class="col-md-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="2020">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2020</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2021">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2021</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2022">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2022</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2023">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2023</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2024">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2024</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="col-md-12"*ngIf="finishLoadData">
        <div class="card" style="background: #F8F8F8">
            <div class="card-body">
                <div *ngIf="component?.length > 0">
                    <div *ngFor="let data of component">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9">
                                    <div class="card" style="background-color: #99790B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildComponent(data)">
                                        <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedComponent?.id || !data.open">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card" style="margin: 0 0 0 10px; background-color: #FAEFC9; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedComponent?.id">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="data.id === selectedComponent?.id">
                            <div *ngFor="let data of selectedComponent?.subComponent; let index = last">
                                <div class="row">
                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                    </div>
                                    <div class="col-1" *ngIf="!index">
                                        <div class="vl" style="margin-left: 50%"></div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="card" style="background: #4B4B4B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubComponent(data)">
                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubComponent?.id || !data.open">
                                                        <div class="card-body">
                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                        </div>
                                                    </div>
                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E7E7E7; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubComponent?.id">
                                                        <div class="card-body">
                                                            <label>
                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data.id === selectedSubComponent?.id">
                                            <div *ngFor="let data of selectedSubComponent?.subComponent; let index = last">
                                                <div class="row">
                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                    </div>
                                                    <div class="col-1" *ngIf="!index">
                                                        <div class="vl" style="margin-left: 50%"></div>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <div class="card" style="background-color: #3E7914; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubSubComponent(data)">
                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubSubComponent?.id || !data.open">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E3F0DA; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubSubComponent?.id">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="data.id === selectedSubSubComponent?.id">
                                                            <div *ngFor="let dataDetailSubSubComponent of selectedSubSubComponent?.subComponent; let index = last">
                                                                <div class="row">
                                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                                    </div>
                                                                    <div class="col-1" *ngIf="!index">
                                                                        <div class="vl" style="margin-left: 50%"></div>
                                                                    </div>
                                                                    <div class="col-11">
                                                                        <div class="row">
                                                                            <div class="col-10">
                                                                                <div class="card" style="background-color: #4E94FF;border-radius: 0px; margin-bottom: 6px; cursor: pointer">
                                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px">
                                                                                        <div class="card-body">
                                                                                            <label>
                                                                                                <label class="font-weight-bold">Komponen</label> {{dataDetailSubSubComponent.code}}: {{dataDetailSubSubComponent.description}}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="col-md-12"*ngIf="finishLoadData">
        <div class="card" style="background: #F8F8F8">
            <div class="card-body">
                <div *ngIf="component?.length > 0">
                    <div *ngFor="let data of component">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9">
                                    <div class="card" style="background-color: #99790B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildComponent(data)">
                                        <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedComponent?.id || !data.open">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card" style="margin: 0 0 0 10px; background-color: #FAEFC9; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedComponent?.id">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="data.id === selectedComponent?.id">
                            <div *ngFor="let data of selectedComponent?.subComponent; let index = last">
                                <div class="row">
                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                    </div>
                                    <div class="col-1" *ngIf="!index">
                                        <div class="vl" style="margin-left: 50%"></div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="card" style="background: #4B4B4B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubComponent(data)">
                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubComponent?.id || !data.open">
                                                        <div class="card-body">
                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                        </div>
                                                    </div>
                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E7E7E7; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubComponent?.id">
                                                        <div class="card-body">
                                                            <label>
                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data.id === selectedSubComponent?.id">
                                            <div *ngFor="let data of selectedSubComponent?.subComponent; let index = last">
                                                <div class="row">
                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                    </div>
                                                    <div class="col-1" *ngIf="!index">
                                                        <div class="vl" style="margin-left: 50%"></div>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <div class="card" style="background-color: #3E7914; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubSubComponent(data)">
                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubSubComponent?.id || !data.open">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E3F0DA; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubSubComponent?.id">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="data.id === selectedSubSubComponent?.id">
                                                            <div *ngFor="let dataDetailSubSubComponent of selectedSubSubComponent?.subComponent; let index = last">
                                                                <div class="row">
                                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                                    </div>
                                                                    <div class="col-1" *ngIf="!index">
                                                                        <div class="vl" style="margin-left: 50%"></div>
                                                                    </div>
                                                                    <div class="col-11">
                                                                        <div class="row">
                                                                            <div class="col-10">
                                                                                <div class="card" style="background-color: #4E94FF;border-radius: 0px; margin-bottom: 6px; cursor: pointer">
                                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px">
                                                                                        <div class="card-body">
                                                                                            <label>
                                                                                                <label class="font-weight-bold">Komponen</label> {{dataDetailSubSubComponent.code}}: {{dataDetailSubSubComponent.description}}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent3>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="col-md-12"*ngIf="finishLoadData">
        <div class="card" style="background: #F8F8F8">
            <div class="card-body">
                <div *ngIf="component?.length > 0">
                    <div *ngFor="let data of component">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-9">
                                    <div class="card" style="background-color: #99790B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildComponent(data)">
                                        <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedComponent?.id || !data.open">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="card" style="margin: 0 0 0 10px; background-color: #FAEFC9; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedComponent?.id">
                                            <div class="card-body">
                                                <label>
                                                    <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="data.id === selectedComponent?.id">
                            <div *ngFor="let data of selectedComponent?.subComponent; let index = last">
                                <div class="row">
                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                    </div>
                                    <div class="col-1" *ngIf="!index">
                                        <div class="vl" style="margin-left: 50%"></div>
                                    </div>
                                    <div class="col-11">
                                        <div class="row">
                                            <div class="col-10">
                                                <div class="card" style="background: #4B4B4B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubComponent(data)">
                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubComponent?.id || !data.open">
                                                        <div class="card-body">
                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                        </div>
                                                    </div>
                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E7E7E7; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubComponent?.id">
                                                        <div class="card-body">
                                                            <label>
                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data.id === selectedSubComponent?.id">
                                            <div *ngFor="let data of selectedSubComponent?.subComponent; let index = last">
                                                <div class="row">
                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                    </div>
                                                    <div class="col-1" *ngIf="!index">
                                                        <div class="vl" style="margin-left: 50%"></div>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <div class="card" style="background-color: #3E7914; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubSubComponent(data)">
                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubSubComponent?.id || !data.open">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card" style="margin: 0 0 0 10px; background-color: #E3F0DA; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubSubComponent?.id">
                                                                        <div class="card-body">
                                                                            <label>
                                                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="data.id === selectedSubSubComponent?.id">
                                                            <div *ngFor="let dataDetailSubSubComponent of selectedSubSubComponent?.subComponent; let index = last">
                                                                <div class="row">
                                                                    <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                                        <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                                    </div>
                                                                    <div class="col-1" *ngIf="!index">
                                                                        <div class="vl" style="margin-left: 50%"></div>
                                                                    </div>
                                                                    <div class="col-11">
                                                                        <div class="row">
                                                                            <div class="col-10">
                                                                                <div class="card" style="background-color: #4E94FF;border-radius: 0px; margin-bottom: 6px; cursor: pointer">
                                                                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px">
                                                                                        <div class="card-body">
                                                                                            <label>
                                                                                                <label class="font-weight-bold">Komponen</label> {{dataDetailSubSubComponent.code}}: {{dataDetailSubSubComponent.description}}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent4>
    <div class="card" style="background: #F8F8F8">
        <div class="card-body">
            <div *ngIf="component?.length > 0">
                <div *ngFor="let data of component">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9">
                                <div class="card" style="background-color: #99790B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildComponent(data)">
                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedComponent?.id || !data.open">
                                        <div class="card-body">
                                            <label>
                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card" style="margin: 0 0 0 10px; background-color: #FAEFC9; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedComponent?.id">
                                        <div class="card-body">
                                            <label>
                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data.id === selectedComponent?.id">
                        <div *ngFor="let data of selectedComponent?.subComponent; let index = last">
                            <div class="row">
                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                </div>
                                <div class="col-1" *ngIf="!index">
                                    <div class="vl" style="margin-left: 50%"></div>
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card" style="background: #4B4B4B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubComponent(data)">
                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubComponent?.id || !data.open">
                                                    <div class="card-body">
                                                        <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                    </div>
                                                </div>
                                                <div class="card" style="margin: 0 0 0 10px; background-color: #E7E7E7; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubComponent?.id">
                                                    <div class="card-body">
                                                        <label>
                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="data.id === selectedSubComponent?.id">
                                        <div *ngFor="let data of selectedSubComponent?.subComponent; let index = last">
                                            <div class="row">
                                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                </div>
                                                <div class="col-1" *ngIf="!index">
                                                    <div class="vl" style="margin-left: 50%"></div>
                                                </div>
                                                <div class="col-11">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="card" style="background-color: #3E7914; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubSubComponent(data)">
                                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubSubComponent?.id || !data.open">
                                                                    <div class="card-body">
                                                                        <label>
                                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="card" style="margin: 0 0 0 10px; background-color: #E3F0DA; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubSubComponent?.id">
                                                                    <div class="card-body">
                                                                        <label>
                                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="data.id === selectedSubSubComponent?.id">
                                                        <div *ngFor="let dataDetailSubSubComponent of selectedSubSubComponent?.subComponent; let index = last">
                                                            <div class="row">
                                                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                                </div>
                                                                <div class="col-1" *ngIf="!index">
                                                                    <div class="vl" style="margin-left: 50%"></div>
                                                                </div>
                                                                <div class="col-11">
                                                                    <div class="row">
                                                                        <div class="col-10">
                                                                            <div class="card" style="background-color: #4E94FF;border-radius: 0px; margin-bottom: 6px; cursor: pointer">
                                                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px">
                                                                                    <div class="card-body">
                                                                                        <label>
                                                                                            <label class="font-weight-bold">Komponen</label> {{dataDetailSubSubComponent.code}}: {{dataDetailSubSubComponent.description}}
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent5>
    <div class="card" style="background: #F8F8F8">
        <div class="card-body">
            <div *ngIf="component?.length > 0">
                <div *ngFor="let data of component">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9">
                                <div class="card" style="background-color: #99790B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildComponent(data)">
                                    <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedComponent?.id || !data.open">
                                        <div class="card-body">
                                            <label>
                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="card" style="margin: 0 0 0 10px; background-color: #FAEFC9; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedComponent?.id">
                                        <div class="card-body">
                                            <label>
                                                <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data.id === selectedComponent?.id">
                        <div *ngFor="let data of selectedComponent?.subComponent; let index = last">
                            <div class="row">
                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                </div>
                                <div class="col-1" *ngIf="!index">
                                    <div class="vl" style="margin-left: 50%"></div>
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card" style="background: #4B4B4B; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubComponent(data)">
                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubComponent?.id || !data.open">
                                                    <div class="card-body">
                                                        <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                    </div>
                                                </div>
                                                <div class="card" style="margin: 0 0 0 10px; background-color: #E7E7E7; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubComponent?.id">
                                                    <div class="card-body">
                                                        <label>
                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="data.id === selectedSubComponent?.id">
                                        <div *ngFor="let data of selectedSubComponent?.subComponent; let index = last">
                                            <div class="row">
                                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                </div>
                                                <div class="col-1" *ngIf="!index">
                                                    <div class="vl" style="margin-left: 50%"></div>
                                                </div>
                                                <div class="col-11">
                                                    <div class="row">
                                                        <div class="col-10">
                                                            <div class="card" style="background-color: #3E7914; border-radius: 0px; margin-bottom: 6px; cursor: pointer" (click)="openModalChildSubSubComponent(data)">
                                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px; cursor: pointer" *ngIf="data.id !== selectedSubSubComponent?.id || !data.open">
                                                                    <div class="card-body">
                                                                        <label>
                                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="card" style="margin: 0 0 0 10px; background-color: #E3F0DA; border-radius: 0px; cursor: pointer" *ngIf="data.open && data.id === selectedSubSubComponent?.id">
                                                                    <div class="card-body">
                                                                        <label>
                                                                            <label class="font-weight-bold">Komponen</label> {{data.code}} : {{data.description}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="data.id === selectedSubSubComponent?.id">
                                                        <div *ngFor="let dataDetailSubSubComponent of selectedSubSubComponent?.subComponent; let index = last">
                                                            <div class="row">
                                                                <div class="col-1" *ngIf="index" style="margin-bottom: 10px">
                                                                    <div class="vl" style="margin-left: 50%; margin-bottom: 10px" ></div>
                                                                </div>
                                                                <div class="col-1" *ngIf="!index">
                                                                    <div class="vl" style="margin-left: 50%"></div>
                                                                </div>
                                                                <div class="col-11">
                                                                    <div class="row">
                                                                        <div class="col-10">
                                                                            <div class="card" style="background-color: #4E94FF;border-radius: 0px; margin-bottom: 6px; cursor: pointer">
                                                                                <div class="card" style="margin: 0 0 0 10px; border-radius: 0px">
                                                                                    <div class="card-body">
                                                                                        <label>
                                                                                            <label class="font-weight-bold">Komponen</label> {{dataDetailSubSubComponent.code}}: {{dataDetailSubSubComponent.description}}
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

