<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="mb-3">
        <button class="btn btn-light mb-2" type="button" (click)="goToListAWP()">
            <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
        </button>
    </div>
    <div class="row">
        <div class="col-6">
            <label class="font-size-24">Export Annual Work Plan (AWP) ke Excel </label><br>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-5" [hidden]="!finishLoadData" >
        <div class="mb-3 row" style="align-self: center">
            <label class="col-4 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1)">Daftar Kegiatan AWP</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 row row-cols-lg-auto">
                    <div class="col-md-12" style="align-self: center">
                        <label class="mb-0">Filter :</label>
                    </div>
                    <div class="col-md-12">
                        <div class="dropdown" ngbDropdown container="body">
                            <button class="btn dropdown-toggle w-100 text-start"
                                    [ngStyle]="{'background-color': (!selectedYearRetain) ?
                                    'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}"
                                    style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button"
                                    id="dropdownMenuButton2" ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!selectedYearRetain">Semua Tahun</label>
                                        <label class="mb-0" *ngIf="selectedYearRetain">AWP Tahun {{selectedYearRetain}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                        </div>
                                        <div *ngIf="dataListYear?.length > 0">
                                            <div class="ms-4 mt-3 mb-2" *ngFor="let data of dataListYear; let i = last" style="cursor: pointer" (click)="selectedAwpYear(data)">
                                                <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedYearRetain == data) ? 'rgba(24, 101, 228, 1)' : 'black'}">AWP Tahun {{data}}</label>
                                                <hr class="mb-0 mt-1" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="dataListYear?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Tahun tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterYear()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dropdown" ngbDropdown container="body"  *ngIf="!this.roles.hasAuthority('LSP')">
                            <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterComponent) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle [disabled]="loadingExportExcel">
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0">Filter <label class="mb-0" *ngIf="!selectedFilterComponent">Komponen</label> <label class="mb-0" *ngIf="selectedFilterComponent">{{selectedFilterComponent}}</label> <label class="mb-0" *ngIf="selectedFilterSubComponent">&nbsp;({{selectedFilterSubComponent.replace('Sub-Komponen ', '')}})</label></label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                <div class="search-box me-2">
                                    <div class="p-3">
                                        <div class="mb-3">
                                            <ng-select [items]="selectComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Komponen"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterComponent()">
                                            </ng-select>
                                        </div>
                                        <div class="mb-3">
                                            <ng-select [items]="selectSubComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Sub Komponen"
                                                       [disabled]="selectSubComponent.length == 0"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterSubComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterSubComponent()"
                                            >
                                            </ng-select>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="justify-content: end">
                    <div class="col-md-2 text-end" style="align-self: end">
                        <label>Pencarian : </label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-md-2">
                        <button class="btn form-control text-white" type="submit" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3 row p-3" style="background: rgba(241, 241, 241, 1); text-align: center; justify-content: center">
            <button class="btn btn-lg mb-3 mt-2 text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 35%" (click)="exportExcelAwp()" [disabled]="idAwpExport.length == 0 || loadingExportExcel">
                <label class="mb-0" *ngIf="!loadingExportExcel">Export AWP ke Excel</label>
                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportExcel"></i>
            </button>
            <label class="mb-0" style="color: rgba(51, 51, 51, 1);">Pilih AWP pada tabel dibawah ini yang mau di Export ke file Excel</label>
        </div>
        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-center">Komponen</th>
                    <th class="text-center">Kode Kegiatan</th>
                    <th class="text-center">Nama Kegiatan</th>
                    <th class="text-center">Pagu Anggaran AWP</th>
                    <th class="text-center">Deskripsi</th>
                    <th class="text-center">Tujuan Kegiatan</th>
                    <th class="text-center" style="width: 5%">
                        <input class="form-check-input" type="checkbox" id="formCheck1" style="width: 16px; height: 16px" [(ngModel)]="checkedAllAwp" (change)="selectAllExportAwp()">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelAwp;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 10%; vertical-align: middle">
                        <div ngbTooltip="{{data?.component?.description}}" placement="left">
                            {{data?.component?.code}}
                        </div>
                    </td>
                    <td class="text-center" style="width: 10%; vertical-align: middle">
                        <div ngbTooltip="{{data?.componentCode?.description}}" placement="right">
                            {{data?.componentCode?.code}}
                        </div>
                    </td>
                    <td class="text-start" style="vertical-align: middle;">{{data?.name}}</td>
                    <td class="text-start" style="vertical-align: middle;">Rp. {{data?.budgetAwp | mask: 'separator':'.'}}</td>
                    <td class="text-start" *ngIf="data?.description.length >= 100" style="vertical-align: middle">
                        <ng-template #tipContentDescription> <div [innerHTML]="data?.description"></div></ng-template>
                        <div [ngbTooltip]="tipContentDescription" placement="left" [innerHTML]="data?.description.substring(0,100) + '...'" container="body">
                        </div>
                    </td>
                    <td class="text-justify" style="vertical-align: middle" *ngIf="data?.description.length < 100" [innerHTML]=data?.description></td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.purpose.length >= 100">
                        <ng-template #tipContent> <div [innerHTML]="data?.purpose"></div></ng-template>
                        <div [ngbTooltip]="tipContent" placement="left" [innerHTML]="data?.purpose.substring(0,100) + '...'" container="body">
                        </div>
                    </td>
                    <td class="text-start" *ngIf="data?.purpose.length < 100" style="vertical-align: middle" [innerHTML]=data?.purpose></td>
                    <td class="text-center" style="width: 5%; vertical-align: middle">
                        <input class="form-check-input" type="checkbox" id="{{data.id}}" [checked]="data.checked" [(ngModel)]="data.checked" style="width: 16px; height: 16px" (change)="addAwpExportExcel(data)">
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="modelAwp?.length == 0">
                <tr>
                    <td colspan="6" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
