<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToListTask()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
        <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Tambah Tugas</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Penerima Tugas</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <div class="row">
                                        <div class="col-md-6 text-start">
                                            <label class="mb-0" *ngIf="!selectedResourceModel">Pilih penerima tugas</label>
                                            <div *ngIf="selectedResourceModel" style="text-align: start">
                                                <img [src]="selectedResourceModel.filePhoto" alt="" class="rounded-circle avatar-xs"  *ngIf="selectedResourceModel.filePhoto">
                                                <img src="assets/images/no-profile.svg" alt="" class="rounded-circle avatar-xs" *ngIf="!selectedResourceModel.filePhoto">
                                                <label class="ms-2 mb-0">{{selectedResourceModel?.user?.firstName}} {{selectedResourceModel?.user?.lastName}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>

                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 120%">
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                            </div>
                                            <div class="overflow" *ngIf="resourcesReplacement?.length > 0">
                                                <div class="ms-4 mt-2 mb-2" *ngFor="let data of resourcesReplacement; let i = last" style="cursor: pointer">
                                                    <img [src]="data.filePhoto" alt="" class="rounded-circle avatar-xs" *ngIf="data?.filePhoto">
                                                    <img src="assets/images/no-profile.svg" alt="" class="rounded-circle avatar-xs" *ngIf="!data?.filePhoto">
                                                    <label class="ms-1" style="cursor: pointer" (click)="selectResourcePlacement(data)">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="resourcesReplacement?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Penerima tidak ditemukan</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Judul Tugas</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Masukkan judul tugas" [(ngModel)]="tittleTask">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tenggat/Deadline tugas</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dp" ngbDatepicker #d="ngbDatepicker"
                                       [minDate]="minDate" [dayTemplate]="customDay" [(ngModel)]="selectedFinishTaskDate"
                                >
                                <ng-template
                                    #customDay
                                    let-date
                                    let-currentMonth="currentMonth"
                                    let-selected="selected"
                                    let-disabled="disabled"
                                    let-focused="focused">
                                  <span
                                          class="custom-day"
                                          [ngClass]="myClass(date)"
                                          [class.weekend]="isWeekend(date)"
                                          [class.focused]="focused"
                                          >{{ date.day }}
                                  </span>
                                </ng-template>
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Deskripsi Tugas</label>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Masukkan deskripsi tugas" [(ngModel)]="descriptionTask"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Upload File <label class="mb-0">(Optional)</label></label>
                        <div class="col-md-6">
                            <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32);">
                                <div class="card-body">
                                    <file-upload name="uploadSelfie" style="background: white !important"
                                                 [control]="fileUploadControl"
                                                 fileslimit="1"
                                                 filesize= "3mb"
                                    >
                                        <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                                <span *ngIf="isFileDragDropAvailable">
                                    <div class="row">
                                        <div><i class="fa fa-upload font-size-30 mb-2 me-3"></i>Pilih File atau Geser File</div>
                                    </div>
                                </span>
                                            <span *ngIf="!isFileDragDropAvailable">click</span>
                                        </ng-template>
                                    </file-upload>
                                    <div class="file-list" *ngIf="fileUploadControl.value.length > 0">
                                        <hr>
                                        <div class="file-item"
                                             *ngFor="let file of fileUploadControl.value">
                                            <div class="row mb-1">
                                                <div class="col-1 text-end">
                                                    <i class="fa fa-file-alt font-size-20"></i>
                                                </div>
                                                <div class="col-8 text-start">
                                                    {{ file.name }}
                                                </div>
                                                <div class="col-2 text-end" style="align-self: center">
                                                    <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer"  (click)="fileUploadControl.removeFile(file)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">PDO</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <div class="row">
                                        <div class="col-md-6 text-start">
                                            <label class="mb-0" *ngIf="!selectPdo">Pilih PDO</label>
                                            <div *ngIf="selectPdo" style="text-align: start">
                                                <label class="ms-2 mb-0">{{selectPdo?.name}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu w-100" ngbDropdownMenu>
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPdo($event)">
                                            </div>
                                            <div *ngIf="pdoModel?.length > 0">
                                                <div class="ms-4 mt-2 mb-2" *ngFor="let data of pdoModel; let i = last" style="cursor: pointer">
                                                    <label class="ms-1" style="cursor: pointer" (click)="selectedPdo(data)">{{data?.name}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="pdoModel?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Pdo tidak ditemukan</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">IRI</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <div class="row">
                                        <div class="col-md-6 text-start">
                                            <label class="mb-0" *ngIf="!selectIri">Pilih IRI</label>
                                            <div *ngIf="selectIri" style="text-align: start">
                                                <label class="ms-2 mb-0">{{selectIri?.name}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu w-100" ngbDropdownMenu>
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterIri($event)">
                                            </div>
                                            <div *ngIf="iriModel?.length > 0">
                                                <div class="ms-4 mt-2 mb-2" *ngFor="let data of iriModel; let i = last" style="cursor: pointer">
                                                    <label class="ms-1" style="cursor: pointer" (click)="selectedIri(data)">{{data?.name}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="iriModel?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">IRI tidak tersedia</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Pilih Tag <label class="mb-0">(Optional)</label></label>
                        <div class="col-md-6">
                            <ng-select [items]="tagName"
                                       bindLabel="name"
                                       placeholder="Pilih Tag"
                                       [multiple]="true"
                                       [(ngModel)]="selectedCity"
                                       addTagText="Create New"
                                       [addTag]="CreateNew">
                            </ng-select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" (click)="doUpload(0)" [disabled]="!selectedResourceModel || !tittleTask || !selectedFinishTaskDate || !descriptionTask || !descriptionTask || !selectPdo || !selectIri || !selectedCity || loadingSaveTask">
                                <label class="mb-0" *ngIf="!loadingSaveTask">Simpan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveTask"></i>
                            </button>
                            <button class="btn "style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="goToListTask()">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
