.ng-select .ng-dropdown-panel .ng-option.ng-option-marked:hover {
  color: black !important;
}

.form-group.hidden {
  width: 0 !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.dropdown-toggle::after {
  display:none;
}

.weekend {
  border-radius: 1rem;
  color: red;
}

.classSelected {
  color: red!important;
}


div.overflow {
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  margin: auto;
  overflow: auto;
}
