.stepper-top-navigation-substantiev {
  border: 1px solid rgba(210, 214, 220, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-top: 1px;
  //border-radius: 0 100px 100px 0;
}

.stepper-top-navigation {
  border: 1px solid rgba(210, 214, 220, 1);
  background-color: rgba(255, 255, 255, 1);
  padding-top: 1px;
  padding-right: 0px;
}



.star {
  font-size: 1.5rem;
  color: rgba(242, 242, 242, 1);;
}
.filled {
  color: rgba(223, 179, 0, 1);
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

div.overflowQuestion {
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  max-height: 600px;
  margin: auto;
  overflow: auto;
}
