<app-header-application></app-header-application>
<div class="container-fluid p-0">
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="row g-0" [hidden]="!finishLoadData" >
        <div class="row justify-content-center" style="margin-top: 3%; margin-bottom: 10%">
            <div class="col-md-9">
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);" *ngIf="!hasAuthorizeFiles">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/VectorFile.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">File yang anda minta sedang di proses, mohon untuk menunggu</label><br><br>
                                <label class="mb-0 font-size-16">Jika File tidak terunduh dalam waktu 30 detik, silahkah refresh halaman ini</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="background: rgba(248, 248, 248, 1);box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2);" *ngIf="hasAuthorizeFiles">
                    <div class="card-body">
                        <div class="row row-cols-lg-auto p-5">
                            <div class="col-md-12">
                                <img class="img-fluid avatar-lg" src="assets/images/VectorFileFailed.svg">
                            </div>
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0 font-weight-bold font-size-18">Anda tidak memiliki akses untuk melakuan unduh file</label><br><br>
                                <label class="mb-0 font-size-16">Silahkan login kedalam website PMRMS</label><br><br><br>
                                <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToHomePage()">
                                    <label class="mb-0" style="cursor:pointer;" >Ke Website PMRMS <i class="fa fa-up-right-from-square"></i></label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="background-footer">
        <div class="container">
            <div class="col-md-12">
                <div class="text-center">
                    <label>Copyright © 2022 | Kementerian Agama Republik Indonesia</label>
                </div>
            </div>
        </div>
    </div>
</div>
