<header id="page-topbar">
  <div class="navbar-header" style="margin-top: 5px; margin-bottom: 2px">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logo.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="17">
          </span>
        </a>

        <a class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo-kemenag.svg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo-kemenag-admin.png" alt="" height="55">
          </span>
        </a>
      </div>

      <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
        <i class="fa fa-fw fa-bars"></i>
      </button>
    </div>

    <div class="d-flex">
      <div class="d-flex">
        <div class="dropdown d-inline-block" style="margin-right: 10px" ngbDropdown #myDrop="ngbDropdown">
          <button type="button" class="btn btn-light noti-icon mt-1" id="page-header-notifications-dropdown"
                  ngbDropdownToggle>
            <i class="bx bx-bell bx-tada" style="color: rgba(170, 170, 170, 1);"></i>
            <span class="badge bg-success rounded-pill" *ngIf="countNewMessage > 0">{{countNewMessage}}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
               aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu >
            <div class="p-3">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="m-0" *ngIf="countNewMessage > 0">Pemberitahuan Baru ({{countNewMessage}})</h6>
                  <h6 class="m-0" *ngIf="countNewMessage == 0">Pemberitahuan</h6>
                  <hr class="mt-1 mb-2">
                  <div class="search-box-notification me-2">
                    <div class="position-relative">
                      <i class="bx bx-search-alt search-icon"></i>
                      <input type="text" class="form-control border-0" placeholder="Cari Pemberitahuan" (input)="searchFilter($event)">
                    </div>
                  </div>
                  <hr class="mt-2 mb-1">
                </div>
               </div>
            </div>
            <ngx-simplebar style="position: relative; height: 230px;">
              <div *ngIf="!loadingGoToTask">
                <div *ngIf="listNotification?.length > 0">
                  <a href="javascript: void(0);" class="text-reset notification-item" *ngFor="let data of listNotification" disabled>
                    <div class="media" *ngIf="data.readed" style="cursor: pointer" (click)="goToDetailListTask(data); myDrop.close();">
                      <img src="assets/images/Vector.png" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                      <div class="media-body">
                        <div class="font-size-12 text-muted">
                          <label class="mb-1" style="color: rgba(51, 51, 51, 1); cursor: pointer"><label class="font-weight-bold mb-0" style="cursor: pointer">{{data?.createdByUser?.firstName}} {{data?.createdByUser?.lastName}}</label> {{data?.message}}</label>
                          <label class="mb-0"  style="cursor: pointer">{{data?.convertDateCreated | date: 'dd MMMM yyyy HH:mm'}} WIB</label>
                        </div>
                      </div>
                    </div>
                    <div class="media" style="background: rgba(24, 101, 228, 0.08); cursor: pointer" *ngIf="!data.readed" (click)="goToDetailListTask(data); myDrop.close();">
                      <img src="assets/images/Vector.png" class="me-3 rounded-circle avatar-xs" alt="user-pic">
                      <div class="media-body">
                        <div class="font-size-12 text-muted">
                          <label class="mb-1" style="color: rgba(51, 51, 51, 1); cursor: pointer"><label class="font-weight-bold mb-0"  style="cursor: pointer">{{data?.createdByUser?.firstName}} {{data?.createdByUser?.lastName}}</label> {{data?.message}}</label>
                          <label class="mb-0"  style="cursor: pointer">{{data?.convertDateCreated | date: 'dd MMMM yyyy HH:mm'}} WIB</label>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div *ngIf="listNotification?.length == 0">
                  <div class="media" style="cursor: pointer">
                    <div class="media-body" style="text-align: center">
                      <div class="font-size-12 text-muted">
                        <label class="mb-1" style="color: rgba(51, 51, 51, 1)">Tidak ada notifikasi saat ini</label>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="loader center-page" *ngIf="loadingGoToTask"></div>
            </ngx-simplebar>
            <div class="p-2 border-top d-grid" (click)="goToMenuListTask(); myDrop.close()">
              <a class="btn btn-sm btn-link font-size-14 text-center">
                <span key="t-view-more">Lihat Semua</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown" ngbDropdown>
        <button type="button" class="profile-button" ngbDropdownToggle>
          <div class="col-8 col-sm-6">
            <div class="row mb-0 mt-0">
              <div class="col-4 text-start">
                <img class="header-profile-user" src="assets/images/no-profile.svg" width="100%" *ngIf="!existProfilePicture">
                <img class="header-profile-user" [src]="urlPhotoProfile" width="100%" *ngIf="existProfilePicture">
              </div>
              <div class="col-6 text-start login-align" style="margin-left: 11%">
                <span>{{userLogged?.firstName}} {{userLogged?.lastName}}</span>
                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
              </div>
            </div>
          </div>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a class="dropdown-item" style="cursor: pointer" (click)="goToMenuProfile()"><i class="fa fa-user font-size-16 align-middle me-1"></i>
            {{ 'HEADER.LOGIN.PROFILE' | translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor: pointer" (click)="goToMenuListTask()"><i
                  class="fa fa-list-ul font-size-16 align-middle me-1"></i>
            Daftar Tugas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" style="cursor: pointer" (click)="logout()"><i
                  class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            {{ 'HEADER.LOGIN.LOGOUT' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
      <div class="collapse navbar-collapse active" id="topnav-menu-content">
        <ul class="navbar-nav">
          <ng-container *ngFor="let item of menuItems; let i = index">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" *ngIf="!item.subItems && i !== 0" href="javascript: void(0);" (click)="clickMenu($event)"
                id="topnav-components" [routerLink]="item.link" role="button">
                <i class="bx {{item.icon}} me-2"></i>{{ item.label | translate }} <div class="arrow-down"
                  *ngIf="hasItems(item)"></div>
              </a>
              <a class="nav-link dropdown-toggle arrow-none" *ngIf="!item.subItems && i === 0" (click)="clickMenu($event)"
                 id="topnav-components" [routerLink]="item.link" role="button">
                <i class="bx {{item.icon}} me-2 ms-3"></i>{{ item.label | translate }} <div class="arrow-down"
                  *ngIf="hasItems(item)"></div>
              </a>

              <a *ngIf="item.subItems" class="nav-link dropdown-toggle arrow-none" (click)="onMenuClick($event)"
                href="javascript: void(0);" id="topnav-components" role="button">
                <i class="bx {{item.icon}} me-1"></i>
                {{item.label| translate }}
                <div class="arrow-down"></div>
              </a>

              <div class="dropdown-menu text-white" [ngClass]="{'dropdown-mega-menu-xl px-2':  item.subItems.length > 11}" aria-labelledby="topnav-dashboard" *ngIf="hasItems(item)" style="background-color: rgba(14, 141, 42, 1); width: 180%">
                <ng-template ngFor let-i="index" let-subitem [ngForOf]="item.subItems">
                  <a *ngIf="item.subItems.length < 11 && !hasItems(subitem)" class="col dropdown-item side-nav-link-ref" style="margin-right: 20px"
                  [routerLink]="subitem.link"
                  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                   {{subitem.label | translate }}
                    <span class="badge rounded-pill float-end mt-1" style="background-color: rgba(0, 189, 30, 1);" *ngIf="subitem.badge">{{subitem.badge.text |
                            translate}}</span>
                  </a>
              <div *ngIf="item.subItems.length > 11">
                  <div *ngIf="i % 3 == 0" class="row">
                      <div class="col-lg-4"><a class="dropdown-item side-nav-link-ref" routerLinkActive="active" [routerLink]="subitem.link">{{item.subItems[i].label | translate}}</a></div>
                      <div class="col-lg-4"><a class="dropdown-item side-nav-link-ref" routerLinkActive="active" [routerLink]="item.subItems[i + 1]?.link">{{item.subItems[i + 1]?.label | translate}}</a></div>
                      <div class="col-lg-4"><a class="dropdown-item side-nav-link-ref" routerLinkActive="active" [routerLink]="item.subItems[i + 2]?.link">{{item.subItems[i + 2]?.label | translate}}</a></div>
                  </div>
              </div>

                <div class="dropdown" *ngIf="hasItems(subitem)">
                  <a class="dropdown-item dropdown-toggle" href="javascript: void(0);"
                    (click)="onMenuClick($event)">{{ subitem.label | translate }}
                    <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" style="background-color: rgba(14, 141, 42, 1);">
                    <ng-template ngFor let-subSubitem [ngForOf]="subitem.subItems">
                      <a class="dropdown-item side-nav-link-ref" *ngIf="!hasItems(subSubitem)"
                        href="javascript: void(0);" [routerLink]="subSubitem.link"
                        routerLinkActive="active">{{ subSubitem.label | translate }}</a>
                      <div class="dropdown" *ngIf="hasItems(subSubitem)">

                        <a class="dropdown-item dropdown-toggle" href="javascript: void(0);"
                          (click)="onMenuClick($event)">{{ subSubitem.label | translate }}
                          <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu">
                          <ng-template ngFor let-subSubSubitem [ngForOf]="subSubitem.subItems">
                            <a class="dropdown-item side-nav-link-ref" href="javascript: void(0);"
                              [routerLink]="subSubSubitem.link"
                              routerLinkActive="active">{{ subSubSubitem.label | translate }}</a>
                          </ng-template>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </ng-template>
             </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </nav>
  </div>
</div>
