.noti-icon .badge {
  top: 0 !important;
  right: -3px !important;
  font-size: 12px;
}

.topnav .navbar-nav .dropdown-item {
  color: rgba(255, 255, 255, 1) !important;
  background-color: transparent;
}

.topnav .navbar-nav .dropdown-item:hover {
  background-color: transparent !important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}
