<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div>
        <label class="title-header">Profile</label><br>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" *ngIf="finishLoadData">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 offset-4">
                    <div class="text-center">
                        <ngb-alert type="success" *ngIf="successChangePassword" [dismissible]="false">Ubah Password Berhasil !</ngb-alert>
                    </div>
                </div>
                <div class="card" style="box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                    <div class="card-body">
                        <div *ngIf="changePageProfile == 1">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="text-center mb-2">
                                        <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile">
                                        <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px">
                                    </div>
                                </div>
                                <div class="col-md-10 mt-2">
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Nama Lengkap</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.firstName}} {{profileModel?.lastName}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Email</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.email}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="changeEmailModel.length > 0">
                                        <label class="col-md-2 col-form-label">Email Baru</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{changeEmailModel[0].email}}" class="form-control" disabled>
                                            <div class="text-end">
                                                <label class="mb-0 font-size-12" style="color: rgba(51, 51, 51, 1); cursor: pointer ;font-style: normal" (click)="openModal(notificationDeleteEmail)"><u>Batal ubah alamat email</u></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Role</label>
                                        <div class="col-md-6">
                                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)">
                                                <li class="list-group-item" *ngFor="let data of profileModel?.roles">{{data.role?.name}}</li>
                                                <div *ngFor="let dataUpdate of validationModel?.detail">
                                                    <li class="list-group-item" style="background-color: rgba(255, 215, 215, 1); " *ngIf="dataUpdate.requestStatus == 0">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-6">{{dataUpdate.role?.name}}</div>
                                                            <div class="col-md-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Role dihapus</div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item" style="background-color: rgba(224, 242, 255, 1); " *ngIf="dataUpdate.requestStatus == 1">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-6">{{dataUpdate.role?.name}}</div>
                                                            <div class="col-md-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Role ditambahkan</div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Unit Kerja</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.resources?.position?.unit?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="profileModel?.resources?.position?.unit">
                                            <input type="text" value="Tidak memiliki unit" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!profileModel?.resources?.position?.unit">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="profileModel?.resources?.position?.unit?.name === 'PMU'">
                                        <label class="col-md-2 col-form-label">Komponen</label>
                                        <div class="col-md-6">
                                            <input type="text" value="Komponen {{profileModel?.component?.code}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="profileModel?.component">
                                            <input type="text" value="Tidak memiliki Komponen" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!profileModel?.component">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="profileModel?.resources?.position?.unit?.name === 'PCU'">
                                        <label class="col-md-2 col-form-label">Provinsi</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.province?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="profileModel?.province?.name">
                                            <input type="text" value="Tidak memiliki provinsi" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!profileModel?.province?.name">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="rolesLspExist">
                                        <label class="col-2 col-form-label">Durasi Aktif : </label>
                                        <div class="col-6">
                                            <input type="text" value="{{profileModel.convertExpiredStartDate | date: 'dd MMMM yyyy'}} s.d {{profileModel.convertExpiredEndDate | date : 'dd MMMM yyyy'}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" >
                                        </div>
                                    </div>
                                    <div *ngIf="profileModel?.resources">
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Jabatan</label>
                                            <div class="col-6">
                                                <input type="text" value="{{profileModel?.resources?.position?.name}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Supervisor</label>
                                            <div class="col-6">
                                                <input type="text" value="{{selectedSupervisorExist?.user?.firstName}} {{selectedSupervisorExist?.user?.lastName}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="profileModel?.resources?.supervisiorId">
                                                <input type="text" value="Tidak memiliki supervisor" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white" *ngIf="!profileModel?.resources?.supervisiorId">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-2 col-form-label">Nomor HP</label>
                                            <div class="col-6">
                                                <input type="text" value="{{profileModel?.resources?.phoneNumber}}" class="form-control" disabled = true style="border: 1px solid rgba(206, 212, 218, 1); background-color: white">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="validationModel">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-6">
                                            <label style="color: rgba(0, 78, 134, 1);">Di edit pada {{profileModel?.createdAt}}</label><br>
                                            <label style="color: rgba(0, 78, 134, 1); ">Perubahan role menunggu persetujuan admin terlebih dahulu</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label"></label>
                                        <div class="col-md-6">
                                            <button class="btn" (click)="goToEditPage()" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); color: white; width: 25%; margin-right: 8px">Edit</button>
                                            <button class="btn" (click)="goToChangePassword()" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); color: rgba(30, 30, 30, 1); margin-right: 5px;">Ubah Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="changePageProfile == 2">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="text-center mb-2" style="position: relative;">
                                        <img src="assets/images/no-profile.svg" *ngIf="!urlPhotoProfile" (click)="openModal(fileUploadPhotoProfile)">
                                        <img [src]="urlPhotoProfile" width="100%" *ngIf="urlPhotoProfile" style="border-radius: 15px; cursor: pointer; filter: grayscale(50%);" (click)="openModal(fileUploadPhotoProfile)">
                                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); cursor: pointer" (click)="openModal(fileUploadPhotoProfile)">
                                            <i class="fa fa-edit font-size-30" style="color: white"></i><br>
                                            <label class="text-white font-size-16">Ubah Photo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 mt-2">
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Nama Depan</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.firstName}}" class="form-control" [(ngModel)]="editFirstName">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Nama Belakang</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.lastName}}" class="form-control" [(ngModel)]="editLastName">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Email</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{profileModel?.email}}" class="form-control" disabled *ngIf="!editEmailUser">
                                            <div class="input-group" *ngIf="editEmailUser">
                                                <input type="text" class="form-control" [(ngModel)]="editEmail" (keypress)="keyPressAlphaNumeric($event)" placeholder="Masukan alamat email">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">@madrasah.kemenag.go.id</span>
                                                </div>
                                            </div>
                                            <div *ngIf="changeEmailModel.length == 0">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label style="font-style: italic; color: rgba(220, 53, 69, 1);" *ngIf="showWarningFormatEmail">Format Email Salah</label>
                                                    </div>
                                                    <div class="col-md-6 text-end">
                                                        <label class="mb-0" style="color: rgba(51, 51, 51, 1); cursor: pointer ;font-style: normal" (click)="changeAccessEditEmail()"><u>Ubah alamat email</u></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="changeEmailModel.length > 0">
                                        <label class="col-md-2 col-form-label">Email Baru</label>
                                        <div class="col-md-6">
                                            <input type="text" value="{{changeEmailModel[0].email}}" class="form-control" disabled>
                                            <div class="text-end">
                                                <label class="mb-0 font-size-12" style="color: rgba(51, 51, 51, 1); cursor: pointer ;font-style: normal" (click)="openModal(notificationDeleteEmail)"><u>Batal ubah alamat email</u></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-2 col-form-label">Role</label>
                                        <div class="col-md-6">
                                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)">
                                                <li class="list-group-item" *ngIf="roleRequest.length == 0">Belom memiliki role</li>
                                                <li class="list-group-item" *ngFor="let data of roleRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-md-6">
                                                            <label class="form-check-label">{{data.name}}</label>
                                                        </div>
                                                        <div class="col-md-6 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" *ngIf="!validationModel && !includesRoleLsp &&!includesRolePcu" (click)="addDeleteRolesSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                                <div *ngFor="let dataUpdate of validationModel?.detail">
                                                    <li class="list-group-item" style="background-color: rgba(255, 215, 215, 1); " *ngIf="dataUpdate.requestStatus == 0">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-6">{{dataUpdate.role?.name}}</div>
                                                            <div class="col-md-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Role dihapus</div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item" style="background-color: rgba(224, 242, 255, 1); " *ngIf="dataUpdate.requestStatus == 1">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-6">{{dataUpdate.role?.name}}</div>
                                                            <div class="col-md-6 text-end" style="font-style: italic; color: rgba(73, 80, 87, 1)">Role ditambahkan</div>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="validationModel">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-6">
                                            <label style="color: rgba(0, 78, 134, 1);">Di edit pada {{profileModel?.createdAt}}</label><br>
                                            <label style="color: rgba(0, 78, 134, 1); ">Perubahan role menunggu persetujuan admin terlebih dahulu</label>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="!includesRoleLsp && !includesRolePcu">
                                        <label class="col-md-2 col-form-label"></label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" *ngIf="!validationModel">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton" (click)="openFilterRoles()"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Role
                                                </button>
                                                <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                                    <div class="search-box me-2">
                                                        <div style="overflow: auto">
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" (input)="searchFilter($event)" placeholder="Search..." >
                                                            </div>
                                                            <div *ngIf="listRolesSelectedExist.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listRolesSelectedExist">
                                                                    <label class="form-check-label font-size-16" (click)="addDeleteRolesSelected(data, 1)">{{data.name}}</label>
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listRolesSelectedExist.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Role tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-5 row">
                                        <label class="col-md-2 col-form-label"></label>
                                        <div class="col-md-6">
                                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" (click)="doUploadPhotoProfile()" [disabled]="editLastName == '' || editFirstName == '' || !loadingEditProfile || roleRequest.length == 0" >
                                                <label class="mb-0" *ngIf="loadingEditProfile">Simpan</label>
                                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingEditProfile"></i>
                                            </button>
                                            <button class="btn " style="background-color: rgba(255, 255, 255, 1); border: 1px solid rgba(24, 101, 228, 1); color: rgba(24, 101, 228, 1); width: 25%; margin-right: 5px" *ngIf="validationModel" (click)="openModal(notificationDelete)">Batalkan Edit Role</button>
                                            <button class="btn " (click)="goToDetailPage()" style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%">Batal</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="changePageProfile == 3">
                            <form class="form-horizontal" [formGroup]="changePasswordForm" (ngSubmit)="saveChangePassword()">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Password Lama</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showOldPasswordInput ? 'text' : 'password'" formControlName="passwordLast" class="form-control" placeholder="Password Sebelumnya"
                                                   [ngClass]="{ 'is-invalid': validateOldPassword}"/>
                                            <button class="btn btn-light ms-0" type="button" (click)="showOldPasswordInputUser()"><i
                                                    [class]="showOldPasswordInput ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <span class="text-danger" *ngIf="validateOldPassword">{{errorRespChangePassword}}</span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Password Terakhir</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showPasswordInputUsers ? 'text' : 'password'" formControlName="password" class="form-control" id="email" placeholder="Password Baru"
                                                   [ngClass]="{ 'is-invalid': validateNewPassword}"/>
                                            <button class="btn btn-light ms-0" type="button" (click)="showPasswordInput()"><i
                                                    [class]="showPasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <div class="row mt-3 ">
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('minlength')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Minimal 8 Karakter</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasCapitalCase')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Huruf Besar</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSmallCase')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Huruf Kecil</label>
                                            </label>
                                            <label   [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasNumber')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Angka</label>
                                            </label>
                                            <label [ngClass]="changePasswordForm.controls['password'].hasError('required') || changePasswordForm.controls['password'].hasError('hasSpecialCharacters')  ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Symbol</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Konfirmasi Password Baru</label>
                                    <div class="col-md-6">
                                        <div class="input-group auth-pass-inputgroup">
                                            <input [type]="showRetypePasswordInputUsers ? 'text' : 'password'" class="form-control" formControlName="reTypePassword" placeholder="Ulangi Password"
                                                   [ngClass]="{ 'is-invalid': validateRetypePassword}" aria-label="Password"
                                                   aria-describedby="password-addon">
                                            <button class="btn btn-light ms-0" type="button" (click)="showRetypePasswordInput()"><i
                                                    [class]="showRetypePasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                                        </div>
                                        <div class="mt-2">
                                            <label [ngClass]="changePasswordForm.controls['reTypePassword'].hasError('NoPassswordMatch') ? 'text-muted' : 'text-success'">
                                                <i class="fa fa-check font-size-18"></i>
                                                <label class="font-size-14" style="margin-left: 6px">Password Sama</label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-6">
                                        <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);width: 15%; margin-right: 5px; " [disabled]="changePasswordForm.invalid || !loadingChangePassword ">
                                            <label class="mb-0" style="cursor: pointer; color: white" *ngIf="loadingChangePassword">Simpan</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingChangePassword"></i>
                                        </button>
                                        <button class="btn" (click)="goToDetailPage()" style="border: black solid 1px; width: 15%; margin-right: 5px">Batal</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #fileUploadPhotoProfile let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Foto Profile</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFilePhotoProfile"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.jpg,.png,.jpeg'"
                     filesize= "3mb">
        </file-upload>
        <label class="text-danger mt-1" *ngIf="validationUploadFileEmpty">File foto tidak boleh kosong</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>


<ng-template #notificationDelete let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Peringatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label>Apakah anda yakin ingin menghapus permintaan perubahan role ?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background-color: rgba(255, 92, 92, 1);" (click)="cancelPermissionRole()" [disabled]="loadingDeleteRoles">
            <label class="mb-0" *ngIf="!loadingDeleteRoles" style="cursor:pointer;" (click)="cancelPermissionRole()">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteRoles"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingDeleteRoles">
            <label class="mb-0" *ngIf="!loadingDeleteRoles" style="cursor:pointer;">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteRoles"></i>
        </button>
    </div>
</ng-template>


<ng-template #notificationDeleteEmail let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Peringatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label>Apakah anda yakin ingin menghapus permintaan perubahan email ?</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background-color: rgba(255, 92, 92, 1);" (click)="deleteChangeEmail()" [disabled]="loadingDeleteChangeEmail">
            <label class="mb-0" *ngIf="!loadingDeleteChangeEmail" style="cursor:pointer;" (click)="deleteChangeEmail()">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteChangeEmail"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingDeleteChangeEmail">
            <label class="mb-0" *ngIf="!loadingDeleteChangeEmail" style="cursor:pointer;">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteChangeEmail"></i>
        </button>
    </div>
</ng-template>
