<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="row">
            <div class="col-6">
                <label class="title-header">Persetujuan Kegiatan Luar Kota</label><br>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-6 text-start" style="align-self: end">
                    <label class="font-size-16" style="color: #1865E4;">Daftar Persetujuan Kegiatan di Luar Kota</label>
                </div>
                <div class="col-6 text-end">
                    <div class="row row-cols-lg-auto justify-content-end">
                        <div class="col-12">
                            <input type="text" class="form-control" [(ngModel)]="filterEvent">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-blue-white text-white w-md" (click)="refreshDatatable()">Cari</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-start">Nama Kegiatan</th>
                    <th class="text-start">Tanggal</th>
                    <th class="text-start">Peserta Kegiatan</th>
                    <th class="text-center">Lama Kegiatan</th>
                    <th class="text-start">Status</th>
                    <th class="text-start" style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of eventModel;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 30%">{{data?.event?.name}}</td>
                    <td class="text-start" style="vertical-align: middle;">{{data?.createdAt}}</td>
                    <td class="text-start" style="vertical-align: middle;" *ngIf="data?.details?.length == 1">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}}</td>
                    <td class="text-start" style="vertical-align: middle;" *ngIf="data?.details?.length > 1">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} ({{data?.details?.length}})</td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">{{data?.daysLength}} Hari</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1); color: rgba(51, 51, 51, 1);" *ngIf="data.approveStatus == 0">Pengusulan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data.approveStatus == 1">Disetujui</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="data.approveStatus == 2">Ditolak</span>
                    </td>
                    <td class="text-center" style="width: 15%">
                        <button class="btn btn-green-white text-white w-100" (click)="goToDetailApplicationEvent(data?.id)">Lihat</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="eventModel?.length == 0">
                <tr>
                    <td colspan="6" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
