<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="back()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <div class="row" *ngIf="roles?.hasAuthority('LSP')">
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Data Kegiatan</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Berisi data umum kegiatan untuk laporan kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Data Event</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Data event yang ada pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 3) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Ringkasan Pelaksanaan Kegiatan</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Data ringkasan pelaksanaan pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!roles?.hasAuthority('LSP')">
                    <div class="col-md-3">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Data Kegiatan</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Berisi data umum kegiatan untuk laporan kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Data Event</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Data event yang ada pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 3) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Ringkasan Pelaksanaan Kegiatan</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Data ringkasan pelaksanaan pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 4) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0 font-size-14" style="cursor: pointer">Monev</label><br>
                                <label class="mb-0 font-size-12" style="cursor: pointer; color: #697386;">Ringkasan pada target indikator output kegiatan</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Edit Laporan Kegiatan - {{dataDetailKegiatan?.awpImplementation?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0 0 16px 0 rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <div *ngIf="fieldSubstantiv == 1">
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Nama Proyek</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" [(ngModel)]="projectName" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Tahun</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" disabled value="{{dataDetailKegiatan?.awpImplementation?.awp?.year}}">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Komponen :</label>
                                    <div class="col-md-6">
                                        <div class="dropdown" ngbDropdown container="body">
                                            <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-md-12 text-start">
                                                        <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                        <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                    <div class="col-md-6">
                                        <div class="dropdown" ngbDropdown container="body">
                                            <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                <div class="row">
                                                    <div class="col-md-12 text-start">
                                                        <label class="mb-0" *ngIf="!dataDetailKegiatan?.awpImplementation?.subComponent">-</label>
                                                        <label class="mb-0" *ngIf="dataDetailKegiatan?.awpImplementation?.subComponent" style="white-space: normal">{{dataDetailKegiatan?.awpImplementation?.subComponent.code}} - {{dataDetailKegiatan?.awpImplementation?.subComponent.description}}</label>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Sub-Sub-Komponen :</label>
                                    <div class="col-md-6">
                                        <div class="dropdown" ngbDropdown container="body">
                                            <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button" >
                                                <div class="row text-start">
                                                    <div class="col-md-12 text-start">
                                                        <label class="mb-0" *ngIf="!dataDetailKegiatan?.awpImplementation?.subSubComponent">-</label>
                                                        <label class="mb-0" *ngIf="dataDetailKegiatan?.awpImplementation?.subSubComponent" style="white-space: normal">{{dataDetailKegiatan?.awpImplementation?.subSubComponent.code}} - {{dataDetailKegiatan?.awpImplementation?.subSubComponent.description}}</label>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Nama Kegiatan :</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [value]="dataDetailKegiatan?.awpImplementation?.name" disabled></textarea>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Moda Kegiatan</label>
                                    <div class="col-md-6">
                                        <form class="row row-cols-lg-auto">
                                            <div *ngFor="let data of listModaType">
                                                <div class="col-md-2">
                                                    <div class="form-check col-form-label">
                                                        <input class="form-check-input" type="radio" name="formRadios"
                                                               id="{{data?.id}}" [value]="data?.id"
                                                               [(ngModel)]="selectedModaActivity.id"
                                                               [checked]="selectedModaActivity?.id">
                                                        <label class="form-check-label" for="{{data?.id}}">
                                                            {{data?.name}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Keterangan Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="OtherInfoAwp" [(ngModel)]="otherInformationAwp"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Kode Akun</label>
                                    <div class="col-md-6">
                                        <div *ngIf="pokExisting.length > 0">
                                            <div *ngFor="let data of pokExisting; let index = first">
                                                <label class="col-form-label">
                                                    <li class="ms-2">{{data?.pok?.code}} - {{data?.pok?.title}}</li>
                                                </label>
                                            </div>
                                        </div>
                                        <div *ngIf="pokExisting?.length == 0">
                                            <label class="col-form-label">: -</label>
                                        </div>
<!--                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pokRequest.length > 0 || pokExisting?.length > 0">-->
<!--                                            <li class="list-group-item" *ngFor="let data of pokExisting">-->
<!--                                                <div class="row" style="justify-content: space-between">-->
<!--                                                    <div class="col-9">-->
<!--                                                        <label class="form-check-label" style="white-space: normal">{{data?.pok?.code}} - {{data?.pok?.title}}</label>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-3 text-end">-->
<!--                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removePokExisting(data)"></i>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                            <li class="list-group-item" *ngFor="let data of pokRequest">-->
<!--                                                <div class="row" style="justify-content: space-between">-->
<!--                                                    <div class="col-9">-->
<!--                                                        <label class="form-check-label" style="white-space: normal">{{data?.code}} - {{data?.title}}</label>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-3 text-end">-->
<!--                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPokSelected(data, 2)"></i>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                        <div class="dropdown" ngbDropdown container="body" #pok = "ngbDropdown">-->
<!--                                            <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"-->
<!--                                                    ngbDropdownToggle>-->
<!--                                                <i class="fa fa-plus"></i> Tambah Kode POK-->
<!--                                            </button>-->
<!--                                            <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>-->
<!--                                                <div class="search-box me-2">-->
<!--                                                    <div>-->
<!--                                                        <div class="position-relative ms-3 me-3 mb-2">-->
<!--                                                            <i class="bx bx-search-alt search-icon"></i>-->
<!--                                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPok($event)">-->
<!--                                                        </div>-->
<!--                                                        <div class="overflow2" *ngIf="listCodePok?.length > 0">-->
<!--                                                            <div *ngFor="let data of listCodePok; let i = last" (click)="addPokSelected(data, 1); pok.close()" style="cursor:pointer;">-->
<!--                                                                <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal" >{{data.code}} - {{data?.title}}</label>-->
<!--                                                                <hr class="mb-1 mt-1" *ngIf="!i">-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div *ngIf="listCodePok?.length == 0">-->
<!--                                                            <div class="ms-4 mt-1">-->
<!--                                                                <label class="form-check-label font-size-16">Kode tidak tersedia</label>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Deskripsi Kegiatan :</label>
                                    <div class="col-md-6">
                                        <label class="col-form-label" [innerHtml]="dataDetailKegiatan?.awpImplementation?.description"></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Tujuan Kegiatan :</label>
                                    <div class="col-md-6">
                                        <label class="col-form-label" [innerHtml]="dataDetailKegiatan?.awpImplementation?.purpose"></label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Unsur Peserta <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                    <div class="col-md-6">
                                        <ckeditor [editor]="participantTarget" [(ngModel)]="targetParticipant"></ckeditor>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Project Officer :</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="{{dataDetailKegiatan?.awpImplementation?.projectOfficerResources?.user?.firstName}} {{dataDetailKegiatan?.awpImplementation?.projectOfficerResources?.user?.lastName}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Cara Pengelolaan Kegiatan :</label>
                                    <div class="col-md-6">
                                        <label class="mb-0 col-form-label">{{dataDetailKegiatan?.awpImplementation?.eventManagementType?.name}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                    <label class="col-md-3 col-form-label">Nomor Kontrak LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Nomor Kontrak LSP" value="{{dataDetailKegiatan?.awpImplementation?.lspContractNumber ? dataDetailKegiatan?.awpImplementation?.lspContractNumber : '-'}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                    <label class="col-md-3 col-form-label">Data Kontrak LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Data Kontrak LSP" value="{{dataDetailKegiatan?.awpImplementation?.lspContractData ? dataDetailKegiatan?.awpImplementation?.lspContractData : '-'}}" disabled>
                                    </div>
                                </div>
                                <div class="mb-3 row" *ngIf="selectedEventTypeIsPenyedia == true">
                                    <label class="col-md-3 col-form-label">PIC LSP <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                    <div class="col-md-6">
                                        <label class="mb-0 col-form-label">{{dataDetailKegiatan?.awpImplementation?.lspPicUser?.firstName}} {{dataDetailKegiatan?.awpImplementation?.lspPicUser?.lastName}}</label>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Waktu Pelaksanaan Kegiatan :</label>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <form class="form-inline">
                                                <div class="form-group hidden">
                                                    <div class="input-group">
                                                        <input name="datepicker"
                                                               class="form-control"
                                                               type="hidden"
                                                               ngbDatepicker
                                                               #datepicker="ngbDatepicker"
                                                               [autoClose]="'outside'"
                                                               [minDate]="minDate"
                                                               [maxDate]="maxDate"
                                                               (dateSelect)="onDateSelection($event, datepicker)"
                                                               [displayMonths]="2"
                                                               [dayTemplate]="customDay"
                                                               outsideDays="hidden"
                                                               [startDate]="fromDate!"
                                                               tabindex="-1"
                                                        >
                                                        <ng-template
                                                            #customDay
                                                            let-date
                                                            let-currentMonth="currentMonth"
                                                            let-selected="selected"
                                                            let-disabled="disabled"
                                                            let-focused="focused">
                                                              <span
                                                                      class="custom-day"
                                                                      [ngClass]="myClass(date)"
                                                                      [class.weekend]="isWeekend(date)"
                                                                      [class.focused]="focused"
                                                                      [class.bg-primary]="selected"
                                                                      [class.text-muted]="disabled"
                                                                      [class.range]="isRange(date)"
                                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                                      (mouseenter)="hoveredDate = date"
                                                                      (mouseleave)="hoveredDate = null">
                                                                {{ date.day }}
                                                              </span>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                </div>
                                                                <input #dpFromDate
                                                                       class="form-control" placeholder="Pilih tanggal mulai"
                                                                       name="dpFromDate"
                                                                       [value]="formatter.format(fromDate)"
                                                                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1" style="align-self: end; text-align: center">
                                                        <label>s.d</label>
                                                    </div>
                                                    <div class="col-md">
                                                        <div class="form-group ml-2">
                                                            <div class="input-group">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                </div>
                                                                <input #dpToDate
                                                                       class="form-control" placeholder="Pilih tanggal akhir"
                                                                       name="dpToDate"
                                                                       [value]="formatter.format(toDate)"
                                                                       (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Informasi Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Informasi Tambahan Waktu Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="editWaktuInformasiLainnya">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Provinsi dan Kota Kegiatan :</label>
                                    <div class="col-md-6">
                                        <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="selectedProvinceAndCity?.length > 0 || provinceAndRegenciesExist.length > 0">
                                            <li class="list-group-item" *ngFor="let data of provinceAndRegenciesExist">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-9">
                                                        <label class="form-check-label">{{data?.province?.name}}
                                                            <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                                                (<label class="mb-0" *ngFor="let dataCity of data?.regencies; let i = last">
                                                                {{dataCity?.regency?.name}}
                                                                <label class="mb-0" *ngIf="!i">,</label>
                                                            </label>)
                                                            </label>
                                                        </label>
                                                    </div>
                                                    <div class="col-3 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeProvinceRegenciesExist(data)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item" *ngFor="let data of selectedProvinceAndCity">
                                                <div class="row" style="justify-content: space-between">
                                                    <div class="col-9">
                                                        <label class="form-check-label">{{data?.provinceId?.name}}
                                                            <label *ngIf="data?.regencyId.length > 0">
                                                                (<label class="mb-0" *ngFor="let dataCity of data?.regencyId; let i = last">
                                                                {{dataCity}}
                                                                <label class="mb-0" *ngIf="!i">,</label>
                                                            </label>)
                                                            </label>
                                                        </label>
                                                    </div>
                                                    <div class="col-3 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedProvinceAndCity(data)"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="dropdown" ngbDropdown container="body">
                                            <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addProvinceAndCity)"
                                                    ngbDropdownToggle>
                                                <i class="fa fa-plus"></i> Tambah Lokasi
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Informasi Lain Tempat Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Informasi Tambahan Tempat Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="tempatInformasiLainnya">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Volume Event :</label>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control" placeholder="Volume Event" (keydown)="numberOnly($event)" [(ngModel)]="editVolumeEvent">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv == 2">
                        <div class="card" style="border: 1px solid rgba(51, 51, 51, 0.32); background: rgba(250, 250, 250, 1); ">
                            <div class="card-body">
                                <label>Laporan Event (laporan event yang ditampilkan) : {{listSelectedEvent?.event?.name}}</label>
                                <div class="card" style="margin-bottom: 0px;">
                                    <div class="card-body" style="border: 1px solid rgba(51, 51, 51, 0.32); background: rgba(255, 255, 255, 1);">
                                        <div class="overflow2">
                                            <div class="form-check mb-3" *ngFor="let data of dataAllEvent">
                                                <input class="form-check-input" type="radio" name="formRadios" id="{{data?.id}}" [value]="data" [(ngModel)]="listSelectedEvent" (change)="changeEventType()"
                                                       checked>
                                                <label class="form-check-label" for="{{data?.id}}">
                                                    {{data?.event?.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Nama Event</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.event?.name}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Waktu Pelaksanaan Event</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{fromDateIntroduction | date: 'dd MMMM yyyy'}} s.d {{toDateIntroduction | date: 'dd MMMM yyyy'}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.eventOtherInformation ? listSelectedEvent?.eventOtherInformation : '-'}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Provinsi dan Kota</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  value="{{listSelectedEvent?.province?.name}} ({{listSelectedEvent?.regency?.name}})" *ngIf="listSelectedEvent?.regency" disabled>
                                <input type="text" class="form-control"  value="{{listSelectedEvent?.province?.name}}" *ngIf="!listSelectedEvent?.regency" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Lokasi Event</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.location}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Tujuan Event</label>
                            <div class="col-md-6">
                                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="listSelectedEvent?.event?.purpose"></label></label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Output Event</label>
                            <div class="col-md-6">
                                <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="listSelectedEvent?.event?.eventOutput"></label></label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Cara Pengelolaan Kegiatan</label>
                            <div class="col-md-6">
                                <label class="mb-0 col-form-label">{{listSelectedEvent?.event?.awpImplementation.eventManagementType?.name}}</label>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Jumlah Pagu Anggaran</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="listSelectedEvent.budgetCeiling" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Jumlah Anggaran</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="listSelectedEvent.rraBudget" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Total Peserta Event</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.participantCount}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Peserta Laki Laki</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.participantMale ? listSelectedEvent?.participantMale : '-'}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Peserta Perempuan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.participantFemale ? listSelectedEvent?.participantFemale : '-'}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{listSelectedEvent?.participantOtherInformation ? listSelectedEvent?.participantOtherInformation : '-'}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv == 3">
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Budget POK</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="dataDetailKegiatan.awpImplementation.budgetPok" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Budget AWP</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="dataDetailKegiatan.awpImplementation.budgetAwp" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Anggaran Kegiatan</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="totalAllRealitationEvent" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Jumlah dari seluruh anggaran event yg ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Persentase Anggaran Kegiatan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{percentageAllRealitationEvent}} %" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Nilai Persentase = Realisasi Anggaran Kegiatan / Realisasi Budget POK" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Total Peserta Kegiatan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{totalAllParticipantEvent}}" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Jumlah dari seluruh peserta event yg ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Persentase Total Peserta Kegiatan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{percentageAllParticipantEvent}} %" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Persentase dari seluruh peserta event yang ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Total Peserta Laki-laki</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{totalAllParticipantMaleEvent}}" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Jumlah dari seluruh peserta (laki-laki saja) event yg ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Persentase Total Peserta Laki-laki</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{percentageAllParticipantMaleEvent}} %" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Persentase dari seluruh peserta (laki-laki saja) event yang ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Realisasi Total Peserta Perempuan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{totalAllParticipantFemaleEvent}}" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Jumlah dari seluruh anggaran event yg ada di kegiatan ini" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Persentase Total Peserta Perempuan</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{percentageAllParticipantFemaleEvent}} %" disabled>
                            </div>
                            <div class="col-sm-1" style="align-self: center">
                                <div ngbTooltip="Nilai Persentase = Realisasi Anggaran Kegiatan / Realisasi Budget POK" placement="right">
                                    <i class="fas fa-info-circle font-size-22"></i>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" [(ngModel)]="editInformasiPeserta">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Ringkasan Pelaksanaan Kegiatan</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="summaryActivity" [(ngModel)]="activitySummary"></ckeditor>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Kesimpulan dan Saran</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="conclusionActivity" [(ngModel)]="activityConclusion"></ckeditor>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">RAB Kegiatan :</label>
                            <div class="col-md-6">
                                <label class="mb-0" *ngIf="dataDetailKegiatan?.awpImplementation?.rabFile" (click)="downloadFile(dataDetailKegiatan?.awpImplementation?.rabFile?.id, dataDetailKegiatan?.awpImplementation?.rabFile?.filename)" style="cursor:pointer; color: rgba(24, 101, 228, 1);">{{dataDetailKegiatan?.awpImplementation?.rabFile?.filename}}</label>
                                <label class="mb-0" *ngIf="!dataDetailKegiatan?.awpImplementation?.rabFile">: -</label>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">RAB Event :</label>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table mb-0">

                                        <thead class="table-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Name Event</th>
                                            <th>RAB</th>
                                            <th>Realisasi Anggaran</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngFor="let data of dataRAB; let i = index">
                                        <tr>
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{data.event.name}}</td>
                                            <td>
                                                <div *ngIf="data?.event?.rabFileId == undefined || data?.event?.rabFileId == null">
                                                  -
                                                </div>
                                                <div *ngIf="data.event.rabFileId !== undefined" class="row" style="justify-content: space-between">
                                                    <div class="col-md-10">
                                                        {{data?.event?.rabFile?.filename}}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div *ngIf="data.rraFileId == undefined">
                                                    <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModalComp(data, i, 'anggaran')">
                                                        <i class="fa fa-plus"></i> Upload Anggaran
                                                    </button>
                                                </div>
                                                <div *ngIf="data.rraFileId !== undefined" class="row" style="justify-content: space-between">
                                                    <div class="col-md-10">
                                                        {{data?.rraFile?.filename}}
                                                    </div>
                                                    <div class="col-md-2 text-end">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="deleteAnggaran(i)"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Dokumentasi Kegiatan :</label>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                        <tr>
                                            <th>No</th>
                                            <th>Name Event</th>
                                            <th>Dokumentasi</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngFor="let data of dataAllEvent; let i = index">
                                        <tr>
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{data.event.name}}</td>
                                            <td>
                                                <label class="mb-0" (click)="openModalDocumentationEvent(data, documentationEvent)" style="color: rgba(24, 101, 228, 1); cursor:pointer;">Lihat Dokumentasi</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Upload Lampiran BAST</label>
                            <div class="col-md-6">
                                <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadBast)">
                                    <div class="text-start">
                                        <i class="fa fa-folder-open me-2"></i>
                                        <label class="mb-0" *ngIf="uploadFileBast.length == 0 && dataDetailKegiatan?.bastFile">{{dataDetailKegiatan?.bastFile?.filename}}</label>
                                        <label class="mb-0" *ngIf="uploadFileBast.length == 0 && !dataDetailKegiatan?.bastFile">Upload File BAST</label>
                                        <label class="mb-0" *ngIf="uploadFileBast.length > 0">{{uploadFileBast[0].name}}</label>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv == 4">
                        <div class="col-md-12" *ngFor="let data of listMonevExisting; let i = index">
                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel title="Hasil Output {{data?.resultChain?.code}}">
                                    <ng-template ngbPanelContent>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                            <label class="col-md-6 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{data?.resultChain?.code}}</label> - {{data?.resultChain?.name}}</label>
                                        </div>
                                        <div class="table-responsive col-md-9">
                                            <table class="table table-bordered mb-3">
                                                <thead class="thead-dark" style="background: #F1F1F1;">
                                                <tr>
                                                    <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                                                    <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let dataResultIndicator of data?.successIndicator">
                                                    <td style="width: 40%">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label class="mb-0">{{dataResultIndicator?.successIndicator?.code}} - {{dataResultIndicator?.successIndicator?.name}}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" *ngIf="!dataResultIndicator?.existing || dataResultIndicator?.allowDelete" (click)="removeNewIndicatorExist(dataResultIndicator)"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 40%"><textarea class="form-control" placeholder="Masukkan Ringkasan Indikator Kontribusi Kegiatan" style="white-space: normal" [(ngModel)]="dataResultIndicator.successIndicator.name"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" colspan="2">
                                                        <button class="btn" style="border: 1px solid #4D4D4D" (click)="openModalAddIndicator(addIndicatorActivity, data?.resultChain, false)">
                                                            <i class="fa fa-plus"></i> Tambah Indikator Output Kegiatan</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                        <div class="col-md-12" *ngFor="let data of listSelectedChainCodeAndIndicator; let i = index">
                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel title="Hasil Output {{data?.resultChainId?.code}}">
                                    <ng-template ngbPanelContent>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                            <label class="col-md-6 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{data?.resultChainId?.code}}</label> - {{data?.resultChainId?.name}}</label>
                                        </div>
                                        <div class="table-responsive col-md-9">
                                            <table class="table table-bordered mb-3">
                                                <thead class="thead-dark" style="background: #F1F1F1;;">
                                                <tr>
                                                    <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                                                    <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let dataResultIndicator of data?.successIndicatorIds">
                                                    <td style="width: 40%">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <label class="mb-0">{{dataResultIndicator?.code}} - {{dataResultIndicator?.name}}</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeNewIndicatorNew(dataResultIndicator)"></i>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="width: 40%"><textarea class="form-control" placeholder="Masukkan Ringkasan Indikator Kontribusi Kegiatan" style="white-space: normal" [(ngModel)]="dataResultIndicator.resultIndicator"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" colspan="2">
                                                        <button class="btn" style="border: 1px solid #4D4D4D" (click)="openModalAddIndicator(addIndicatorActivity, data?.resultChainId, true)">
                                                            <i class="fa fa-plus"></i> Tambah Indikator Output Kegiatan</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                        <div class="col-md-12" style="align-self: center; justify-content: center; text-align: center">
                            <button class="btn" style="border: 1px solid #4D4D4D; background-color: #1865E4; color: white; width: 500px" (click)="openModalAddIndicator(addIndicatorActivity, null, null)">
                                <i class="fa fa-plus"></i> Tambah Output Kegiatan</button>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div *ngIf="fieldSubstantiv === 1">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="back()">
                                    <label class="mb-0" *ngIf="!loadingSaveKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="changeMenuFieldProgress(2)" [disabled]="(pokRequest.length == 0 && pokExisting.length == 0) || !fromDate || !toDate || (selectedProvinceAndCity.length == 0 && provinceAndRegenciesExist.length == 0)">Lanjut</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv === 2">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="back()">
                                    <label class="mb-0" *ngIf="!loadingSaveKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveKegiatan"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(1)">Sebelumnya</button>
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="changeMenuFieldProgress(3)">Lanjut</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv === 3">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="back()" [disabled]="loadingCreateKegiatan">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end" *ngIf="roles?.hasAuthority('LSP')">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(2)">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Sebelumnya</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                                <button type="button" class="btn btn-primary" (click)="doUploadAttachmentFile()" [disabled]="loadingCreateKegiatan || !activitySummary || !activityConclusion" style="width: 120px">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end" *ngIf="!roles?.hasAuthority('LSP')">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(2)">Sebelumnya</button>
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="changeMenuFieldProgress(4)" [disabled]="loadingCreateKegiatan || !activitySummary || !activityConclusion || (uploadFileBast.length == 0 && !dataDetailKegiatan?.bastFile)">Lanjut</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv === 4">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="back()" [disabled]="loadingCreateKegiatan">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(3)">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Sebelumnya</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                                <button type="button" class="btn btn-primary" (click)="doUploadAttachmentFile()" [disabled]="validationForm()" style="width: 120px">
                                    <label class="mb-0" *ngIf="!loadingCreateKegiatan">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateKegiatan"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addProvinceAndCity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Provinsi dan Kota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kota="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedProvinceExist">{{selectedProvinceExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedProvinceExist">Pilih Provinsi</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterProvince($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listProvinceAll?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listProvinceAll; let index = last" (click)="selectedProvince(data); Kota.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listProvinceAll?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Provinsi tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Kabupaten/Kota <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px">(Optional)</label></label>
                <div class="col-md-9">
                    <ng-select [items]="listCityFromApi" [multiple]="true" [disabled]="!selectedProvinceExist" [(ngModel)]="selectedCityFromList"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedProvinceAndCity()">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadRab let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload File RAB</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcel"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "2mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="showFileInfo(0, uploadFileExcel)">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>


<ng-template #fileUploadRabKegiatan let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload File RAB</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcel"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "2mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #documentationEvent let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Dokumentasi Kegiatan {{selectedDocumentationEvent?.event?.name}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 350px;" #scrollEle>
            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)">
                <li class="list-group-item" *ngFor="let data of selectedDocumentationEvent?.documents" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.fileId, data?.file?.filename)">
                    <div class="row" style="justify-content: space-between">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="align-self: center;">
                                    <i class="fa fa-file font-size-30"></i>
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <label class="form-check-label font-size-14" style="white-space: normal">{{data?.title}}</label>
                                        <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                        <label class="mb-0 font-size-12" *ngIf="!data?.date && !data?.place && !data?.description">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addIndicatorActivity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Kontribusi Output Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Output Kegiatan</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #ChainCode="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false"
                                ngbDropdownToggle>
                            <div class="row text-start" *ngIf="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false">
                                <label class="mb-0" *ngIf="selectedChainCode" style="white-space: normal">{{selectedChainCode?.code}} - {{selectedChainCode?.name}}</label>
                            </div>
                            <div class="row text-start" *ngIf="createNewIndicatorSuccess === null">
                                <label class="mb-0" *ngIf="selectedChainCode" style="white-space: normal">{{selectedChainCode?.code}} - {{selectedChainCode?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedChainCode">Pilih Output Kegiatan</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterChainCode($event)">
                                    </div>
                                    <div class="overflow" *ngIf="listChainCode?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listChainCode; let index = last" (click)="selectedChainCodeFromList(data); ChainCode.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1" style="white-space: normal">{{data?.code}} - {{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listChainCode?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Indikator tidak ditemukan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Indikator Output Kegiatan</label>
                <div class="col-md-9">
                    <ng-select [items]="listIndicatorSuccessApi" [multiple]="true" [disabled]="!selectedChainCode" [(ngModel)]="selectedIndicatorSuccess"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedResultChainAndIndicatorSuccess()" [disabled]="selectedIndicatorSuccess.length == 0" *ngIf="createNewIndicatorSuccess === null">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-primary" (click)="addSelectedResultChainAndIndicatorSuccessExisting()" [disabled]="selectedIndicatorSuccess.length == 0" *ngIf="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadBast let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Lampiran BAST</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileBast"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.docx, .doc, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
