<div class="container-login p-0">
  <div class="row g-0">
    <div class="col-xl-7">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100 text-center">
          <div class="bg-overlay"></div>
          <div class="">
            <img src="assets/images/login-page2.webp" class="img-fluid img-login" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="auth-full-page-content p-md-5 p-4">
        <div class="w-100">
          <div class="d-flex flex-column h-100">
            <div class="text-center">
              <img src="assets/images/logo-login.webp" class="img-fluid avatar-md me-4" alt="Responsive image">
              <img src="assets/images/logo-description2.webp" alt="Responsive image">
            </div>
            <div class="my-auto">
              <div class="col-md-12">
                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{error}}</ngb-alert>
              </div>
              <div>
                <label class="font-size-16">Selamat Datang</label>
                <br>
                <label class="font-size-30 font-weight-bold">Silahkan Masuk untuk Mengakses PMRMS</label>
              </div>
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email">Username</label>
                  <input type="email" formControlName="email" class="form-control" id="email" [(ngModel)]="RequestLoginModels.email"
                         [ngClass]="{ 'is-invalid': submittedEmail, 'is-valid': succesValidateEmail }" />
                </div>

                <div class="mb-3">
                  <label for="password">Password</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input [type]="showPasswordInputUsers ? 'text' : 'password'" class="form-control" formControlName="password" [(ngModel)]="RequestLoginModels.password"
                           [ngClass]="{ 'is-invalid': submittedPassword, 'is-valid': succesValidatePassword}" aria-label="Password"
                           aria-describedby="password-addon">
                    <button class="btn btn-light ms-0" type="button" id="password-addon" (click)="showPasswordInput()"><i
                            [class]="showPasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
                  </div>
                </div>

                <div class="form-check">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="right-text-login">
                          <label class="change-pointer" routerLink="/admin/reset-password/1">Lupa Password ?</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3 d-grid">
                  <button class="btn" type="submit" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%);">
                    <label class="mb-0 text-white" *ngIf="!finishLogin" (click)="onSubmit()">Masuk</label>
                    <i class="bx bx-loader bx-spin font-size-20 align-middle me-2 text-white" *ngIf="finishLogin"></i>
                  </button>
                </div>
                <div class="mt-3 d-grid text-center">
                  <label class="change-pointer" routerLink="/" style="color: rgba(15, 132, 69, 1);">Kembali ke Home</label>
                </div>
              </form>
            </div>

            <div class="mt-4 mt-md-5 text-center">
              <p class="mb-0">©
                Copyright © 2022 | Kementerian Agama Republik Indonesia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
