.right-text-login {
  text-align: right;
  color: rgba(15, 132, 69, 1);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none !important;
}

.change-pointer {
  cursor: pointer;
}

.right-button-header {
  text-align: right;
}

.was-validated .form-control:valid, .form-control.is-valid {
  background-image: none !important;
}
