<div class="loader center-page" *ngIf="!finishLoadData"></div>
<div [hidden]="!finishLoadData">
    <div class="row">
        <div class="col-md-6" style="align-self: center"></div>
        <div class="col-md-6">
            <div class="row mb-3" style="justify-content: end">
                <div class="col-3" style="text-align: end; align-self: end">
                    <label>Pencarian : </label>
                </div>
                <div class="col-4">
                    <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                </div>
                <div class="col-2">
                    <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
            <thead class="table-light">
            <tr>
                <th class="text-center" style="width: 10%">Tanggal</th>
                <th class="text-start">Nama Event</th>
                <th class="text-start">Jenis Event</th>
                <th class="text-center" style="width: 15%">Tempat</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of modelEvent;  let i = index">
                <td class="text-center" style="vertical-align: middle; width: 10%">{{data?.convertStartDate | date : 'dd MMMM yyyy'}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.name}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.eventType?.name}}</td>
                <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.province?.name}}  <label *ngIf="data?.regency">({{data?.regency?.name}})</label></td>
                <td class="text-center" style="width: 10%; vertical-align: middle"><button class="btn w-100 text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="goToDetailKegiatan(data.id, data.status)">Lihat</button></td>
            </tr>
            </tbody>
            <tbody *ngIf="modelEvent?.length == 0">
            <tr>
                <td colspan="6" class="no-data-available text-center">No data!</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
