<div>
    <div class="background-header">
        <div class="container" style="width: 85%">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="row mt-2 mb-2">
                            <img src="assets/images/logo-kemenag.svg" style="width: 100px; height: 100px">
                            <div class="col login-align">
                                <div><label class="font-size-16 text-white" style="margin-bottom: 0;font-weight: bold;margin-top:5px">PROJECT MANAGEMENT</label></div>
                                <div><label class="font-size-14 text-white">REPORTING MONITORING SYSTEM</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col login-align">
                        <div class="right-button-header" style="text-align: right">
                            <button class="btn btn-outline-light me-5" style="color: white; background-color: transparent; border: transparent; font-size: 16px" (click)="goToHome()">Home</button>
                            <button class="btn btn-outline-light" style="color: white; font-size: 16px" (click)="goToLogin()">Masuk Akun <i class="fa fa-sign-in-alt ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 2%; width: 85%" >
        <button class="btn btn-light mb-2" type="button" (click)="goToHome()">
            <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
        </button>
        <div class="mt-3">
            <label class="title-header" style="color: rgba(51, 51, 51, 1); font-size: 28px">Komponen 3 : Kebijakan dan Pengembangan Keprofesian Berkelanjutan untuk Guru, Tenaga Kependidikan di Madrasah dan Hibah Kelompok Kerja.</label>
            <div class="row mt-3">
                <div class="col-md-6">
                    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen3/componen3-1.png" alt="first slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen3/componen3-2.png" alt="second slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen3/componen3-3.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen3/componen3-4.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px; color: rgba(51, 51, 51, 1); text-align: justify">
                        Secara umum komponen 3 ditujukan untuk mendukung kebijakan dan program kementerian tentang Pengembangan Keprofesian Berkelanjutan (PKB) untuk Guru, Kepala Madrasah, Pengawas, Pustakawan, Laboran, calon Kepala Madrasah dan calon Pengawas di madrasah negeri dan swasta, yang tersebar di 34 Provinsi. Kegiatan ini dilakukan dengan memberikan penguatan dan pengembangan melalui kelompok kerja (KKG – MGMP/MGBK – KKM, dan Pokjawas), penguatan dan penyiapan calon kepala madrasah dan calon pengawas madrasah. Pengembangan sumber belajar untuk guru, assesmen kompetensi guru, dan penguatan kapasitas guru, kepala madrasah, pengawas madrasah, pustakawan, laboran melalui pelatihan secara berjenjang. Penyiapan calon kepala madrasah dan calon pengawas madrasah akan dilakukan Pusdiklat Tenaga Teknis Pendidikan Kementerian Agama, sedangkan penguatan kompetensi pengawas akan dilakukan oleh Balai Diklat Keagamaan yang tersebar di 14 Provinsi. Selain itu Widyaiswara dari Pusdiklat dan Balai Diklat Kementerian Agama akan dilibatkan dalam pelatihan guru, kepala madrasah, dan pengawas madrasah.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="loader center-page" *ngIf="loadingTableau"></div>
        <div *ngIf="!loadingTableau" style="height: 100px">
            <ngx-tableau
                    [tableauVizUrl]="urlTableu"
                    [options]="options"
            ></ngx-tableau>
        </div>
    </div>
</div>
