<app-header-application></app-header-application>
<div class="container-fluid p-0" style="background-color: white">
  <div class="row g-0">
    <div class="row justify-content-center" style="margin-top: 3%; margin-bottom: 14%">
      <div class="col-md-5">
        <div class="row">
          <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <div class="text-center pt-sm-5">
                <div class="text-center">
                  <div class="col-md-8 offset-2">
                    <ngb-alert type="success" *ngIf="successResetPassword" [dismissible]="false">{{textResponse}}</ngb-alert>
                    <ngb-alert type="danger" *ngIf="failedResetPassword" [dismissible]="false">{{textResponse}}</ngb-alert>
                  </div>
                </div>
                <label style="font-size: 30px">Setel Ulang Password</label>
                <br>
                <label style="font-size: 16px">Minimal 8 karakter terdiri dari huruf besar, huruf <br> kecil, angka, dan simbol.</label>
              </div>
              <label for="email">Password Baru</label>
              <div class="input-group auth-pass-inputgroup">
                <input [type]="showPasswordInputUsers ? 'text' : 'password'" formControlName="password" class="form-control" id="email" placeholder="Password..."/>
                <button class="btn btn-light ms-0" type="button" id="password-addon" (click)="showPasswordInput()"><i
                        [class]="showPasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
              </div>

              <div class="row mt-2">
                <label [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('minlength')  ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Minimal 8 Karakter</label>
                </label>
                <label [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('hasCapitalCase')  ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Huruf Besar</label>
                </label>
                <label [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('hasSmallCase')  ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Huruf Kecil</label>
                </label>
                <label   [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('hasNumber')  ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Angka</label>
                </label>
                <label [ngClass]="loginForm.controls['password'].hasError('required') || loginForm.controls['password'].hasError('hasSpecialCharacters')  ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Symbol</label>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label for="password">Konfirmasi Password Baru</label>
              <div class="input-group auth-pass-inputgroup">
                <input [type]="showRetypePasswordInputUsers ? 'text' : 'password'" class="form-control" formControlName="reTypePassword" placeholder="Ulangi Password..."
                       [ngClass]="{ 'is-invalid': submitted && f.reTypePassword.errors}" aria-label="Password"
                       aria-describedby="password-addon">
                <button class="btn btn-light ms-0" type="button" (click)="showRetypePasswordInput()"><i
                        [class]="showRetypePasswordInputUsers ? 'mdi mdi-eye-outline' : 'mdi mdi-eye-off'"></i></button>
              </div>
              <div class="mt-2">
                <label [ngClass]="loginForm.controls['reTypePassword'].hasError('NoPassswordMatch') ? 'text-muted' : 'text-success'">
                  <i class="fa fa-check font-size-18"></i>
                  <label class="font-size-14" style="margin-left: 6px">Password Sama</label>
                </label>
              </div>
            </div>
            <div class="mt-3 d-grid" *ngIf="!responSuccess">
              <button class="btn" type="submit" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%)" [disabled]="loginForm.invalid || !disableButton">
                <label class="mb-0 text-white" style="cursor: pointer" *ngIf="!loadingChangePassword">Setel Ulang Password</label>
                <i class="bx bx-loader bx-spin font-size-20 align-middle me-2 text-white" *ngIf="loadingChangePassword"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-aplication></app-footer-aplication>
