<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row row-cols-lg-auto">
        <div class="col-md-12">
            <label class="title-header">Kegiatan</label>
        </div>
        <div class="col-md-12">
            <label class="font-size-20" style="background: rgba(24, 101, 228, 0.12); border-radius: 6px; padding: 6px; color: rgba(24, 101, 228, 1);" *ngIf="unitLogin === 'PMU'">Komponen {{componentLogin}}</label>
            <label class="font-size-20" style="background: rgba(24, 101, 228, 0.12); border-radius: 6px; padding: 6px; color: rgba(24, 101, 228, 1);" *ngIf="unitLogin === 'PCU'">PCU</label>
        </div>
    </div>
    <div class="mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">Daftar Kegiatan</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">Kalender Kegiatan</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData" >
        <div class="row">
            <div class="row mb-3">
                <div class="col-4" style="align-self: center">
                    <label class="font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar Kegiatan</label>
                </div>
                <div class="col-8">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row row-cols-lg-auto">
                    <div class="col-md-12" style="align-self: center">
                        <label class="mb-0">Filter :</label>
                    </div>
                    <div class="col-md-12">
                        <div class="dropdown" ngbDropdown container="body">
                            <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedYear) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0" *ngIf="!selectedYear">Semua Tahun</label>
                                        <label class="mb-0" *ngIf="selectedYear">AWP Tahun {{selectedYear}}</label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                        </div>
                                        <div *ngIf="dataListYear?.length > 0">
                                            <div class="ms-4 mt-3 mb-2" *ngFor="let data of dataListYear; let i = last" style="cursor: pointer" (click)="selectedAwpYear(data)">
                                                <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedYear == data) ? 'rgba(24, 101, 228, 1)' : 'black'}">AWP Tahun {{data}}</label>
                                                <hr class="mb-0 mt-1" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="dataListYear?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Tahun tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterYear()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="unitLogin !== 'PCU'">
                        <div class="dropdown" ngbDropdown container="body"  *ngIf="!this.roles.hasAuthority('LSP')">
                            <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterComponent) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0">Filter <label class="mb-0" *ngIf="!selectedFilterComponent">Komponen</label> <label class="mb-0" *ngIf="selectedFilterComponent">{{selectedFilterComponent}}</label> <label class="mb-0" *ngIf="selectedFilterSubComponent">&nbsp;({{selectedFilterSubComponent.replace('Sub-Komponen ', '')}})</label></label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                <div class="search-box me-2">
                                    <div class="p-3">
                                        <div class="mb-3">
                                            <ng-select [items]="selectComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Komponen"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterComponent()">
                                            </ng-select>
                                        </div>
                                        <div class="mb-3">
                                            <ng-select [items]="selectSubComponent"
                                                       bindLabel="name"
                                                       placeholder="Pilih Sub Komponen"
                                                       [disabled]="selectSubComponent.length == 0"
                                                       [multiple]="false"
                                                       [clearable]="false"
                                                       [(ngModel)]="selectedFilterSubComponent"
                                                       [ngModelOptions]="{standalone: true}"
                                                       (ngModelChange)="changeFilterSubComponent()"
                                            >
                                            </ng-select>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="justify-content: end">
                    <div class="col-2 text-end" style="align-self: end">
                        <label>Pencarian : </label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-2">
                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-3">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-center" style="width: 1%">Komponen</th>
                    <th class="text-center">Kode Kegiatan</th>
                    <th class="text-center">Nama Kegiatan</th>
                    <th class="text-center">Pagu AWP</th>
                    <th class="text-center">Pagu POK</th>
                    <th class="text-center">Kode Akun</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" style="width: 15%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelKegiatan;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 1%; vertical-align: middle">
                        <div ngbTooltip="{{data?.component?.description}}" placement="right">
                            {{data?.component?.code}}
                        </div>
                    </td>
                    <td class="text-center" style="width: 10%; vertical-align: middle">
                        <div ngbTooltip="{{data?.componentCode?.description}}" placement="right">
                            {{data?.componentCode?.code}}
                        </div>
                    </td>
                    <td class="text-start" style="vertical-align: middle;">{{data?.name}}</td>
                    <td class="text-end" style="vertical-align: middle;">Rp. {{data?.budgetAwp | mask: 'separator':'.'}}</td>
                    <td class="text-end" style="vertical-align: middle;" *ngIf="data?.budgetPok">Rp. {{data?.budgetPok | mask: 'separator':'.'}}</td>
                    <td class="text-end" style="vertical-align: middle;" *ngIf="!data?.budgetPok">-</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.pok.length > 0"><div *ngFor="let dataPok of data?.pok"><li class="text-start ms-2">{{dataPok?.pok?.code}} - {{dataPok?.pok?.title}}</li></div></td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.pok.length == 0">-</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Baru</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 1">Perencanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)" *ngIf="data?.status == 2">Revisi Perencanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)" *ngIf="data?.status == 3">Menunggu Persetujuan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);" *ngIf="data?.status == 4">Tinjau Ulang</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 5">Pelaksanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 6">Selesai</span>

                    </td>
                    <td class="text-center" style="width: 15%; vertical-align: middle">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 100%" (click)="goToDetailKegiatan(data.id, data.status)" [disabled]="loadingExportWord">
                                    <label class="mb-0" style="cursor:pointer;" *ngIf="!loadingExportWord">Lihat</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn text-white col text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 100%" (click)="downloadWordReportActivity(data)" *ngIf="!data?.allowedDownloadReport" disabled>
                                    <i class="fa fa-file-download" *ngIf="!loadingExportWord"></i>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                                <button class="btn text-white col text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 100%" (click)="downloadWordReportActivity(data)" *ngIf="data?.allowedDownloadReport" [disabled]="loadingExportWord">
                                    <i class="fa fa-file-download" *ngIf="!loadingExportWord"></i>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="modelKegiatan?.length == 0">
                <tr>
                    <td colspan="8" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="loader center-page" *ngIf="finishLoadDataCalender"></div>
    <div class="mt-3" *ngIf="!finishLoadDataCalender">
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-bottom: -20px">
                    <div class="col-md-8 font-size-24" style="">
                        <div class="row row-cols-lg-auto">
                            <label class="mb-0">JADWAL</label>| <label style="color: #397CEA">{{titleDate | date: 'MMMM'}} - {{titleDate | date: 'yyyy'}}</label>
                            <!--Remove conditional componentLogin == '4.4'-->
                            <div class="col-md-12" *ngIf="!this.roles.hasAuthority('LSP')">
                                <div class="dropdown" ngbDropdown container="body" style="width: 20vh">
                                    <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (checkedComponent?.length == 0) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0">Filter <label class="mb-0" *ngIf="checkedComponent.length > 0">({{checkedComponent.length}})</label></label>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 25vh">
                                        <div class="search-box me-2">
                                            <div style="overflow: auto">
                                                <div class="ms-4 me-3 mt-2">
                                                    <div *ngIf="listComponentStaffCalender?.length > 0">
                                                        <div class="form-check mb-3" *ngFor="let data of listComponentStaffCalender">
                                                            <input class="form-check-input" type="checkbox" id="{{data.id}}" [checked]="data.checked" [(ngModel)]="data.checked" (change)="selectedComponent()">
                                                            <label class="form-check-label" for="{{data.id}}" >
                                                                {{data.code}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="border-top d-grid">
                                                    <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterCalender()">
                                                        <span key="t-view-more">Matikan Filter</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="!this.roles.hasAuthority('LSP')">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedManagement) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton2"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0" *ngIf="!selectedManagement">Pengelolaan</label>
                                                <label class="mb-0" *ngIf="selectedManagement">Pengelolaan ({{selectedManagement?.name}})</label>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                        <div class="search-box me-2">
                                            <div style="overflow: auto">
                                                <div *ngIf="listAllManagementType?.length > 0">
                                                    <div class="ms-4 mt-3 mb-2" *ngFor="let data of listAllManagementType; let i = last" style="cursor: pointer" (click)="selectedManagementType(data)">
                                                        <label class="ms-1" style="cursor: pointer" [ngStyle]="{'color': (selectedManagement == data) ? 'rgba(24, 101, 228, 1)' : 'black'}">{{data?.name}}</label>
                                                        <hr class="mb-0 mt-1" *ngIf="!i">
                                                    </div>
                                                </div>
                                                <div *ngIf="listAllManagementType?.length == 0">
                                                    <div class="ms-4 mt-1">
                                                        <label class="form-check-label font-size-16">Pengelolaan tidak ditemukan</label>
                                                    </div>
                                                </div>
                                                <div class="border-top d-grid">
                                                    <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterManagementType()">
                                                        <span key="t-view-more">Matikan Filter</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="align-self: center">
                        <div class="row row-cols-lg-auto" style="justify-content: end">
                            <label class="mb-0 me-3 font-size-18" style="cursor: pointer" (click)="moveDateCalender(2)"><i class="fa fa-chevron-left" style="cursor:pointer;"></i>&nbsp; <label class="mb-0" style="color: rgba(57, 124, 234, 1); cursor: pointer">{{previousDate | date: 'MMMM'}} - {{previousDate | date: 'yyyy'}}</label></label>
                            <label class="mb-0 font-size-18" (click)="moveDateCalender(1)"><label style="color: rgba(57, 124, 234, 1); cursor: pointer">{{nextDate | date: 'MMMM'}} - {{nextDate | date: 'yyyy'}}</label>&nbsp;<i class="fa fa-chevron-right" style="cursor: pointer"></i></label>
                        </div>
                    </div>
                </div>
                <div class="app-calendar">
                    <!-- calendar -->
                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                </div>
                <div class="mt-3">
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(24, 101, 228, 1);"></i> Komponen 1</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(255, 92, 92, 1);"></i> Komponen 2</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(255, 187, 55, 1);"></i> Komponen 3</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(157, 85, 0, 1);"></i> Komponen 4</label>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- Edit event modal -->
<ng-template #editmodalShow let-modal>
    <div class="modal-content" style="background: rgba(45, 156, 219, 1);">
        <div class="modal-body p-4" style="color: rgba(45, 156, 219, 1);">
            <form [formGroup]="formEditData">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="font-size-20 text-white">Kegiatan</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label font-size-16 text-white">Nama Kegiatan : {{tittleEventSelected}}</label>
                            <label class="control-label font-size-16 text-white">Cara Pengelolaan Kegiatan : {{managementType?.name}}</label>
                            <label class="control-label font-size-16 text-white">Waktu Pelaksanaan
                                <div>
                                    <li class="ms-4">{{startDateEvent | date:'dd MMMM yyyy'}} - {{endDateEvent | date:'dd MMMM yyyy'}}</li>
                                </div>
                            </label><br>
                            <label class="control-label font-size-16 text-white">Tempat Pelaksanaan
                                <div *ngFor="let data of province">
                                    <li class="ms-4">{{data?.province?.name}}
                                        <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                            (<label class="mb-0" *ngFor="let dataCity of data?.regencies; let i = last">
                                                {{dataCity?.regency?.name}}
                                            <label class="mb-0" *ngIf="!i">,</label>
                                        </label>)
                                        </label>
                                    </li>
                                </div>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="text-end">
                        <label class="font-size-20" style="color: rgba(255, 255, 255, 0.3);">{{startDateEvent | date:'dd MMMM yyyy'}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
