<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToAdministrasiEvent()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Formulir Pengajuan Kegiatan di Luar Kota</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 mt-3 row">
                        <label class="col-md-2 col-form-label">Tanggal Kegiatan Di Luar Kota</label>
                        <div class="col-md-6">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="form-group hidden">
                                        <div class="input-group">
                                            <input name="datepicker"
                                                   type="hidden"
                                                   ngbDatepicker
                                                   #datepicker="ngbDatepicker"
                                                   [autoClose]="'outside'"
                                                   [minDate]="minDate"
                                                   (dateSelect)="onDateSelection($event)"
                                                   [displayMonths]="2"
                                                   [dayTemplate]="customDay"
                                                   outsideDays="hidden"
                                                   [startDate]="fromDate!"
                                                   tabindex="-1">
                                            <ng-template
                                                #customDay
                                                let-date
                                                let-currentMonth="currentMonth"
                                                let-selected="selected"
                                                let-disabled="disabled"
                                                let-focused="focused">
                                              <span
                                                      class="custom-day"
                                                      [ngClass]="myClass(date)"
                                                      [class.weekend]="selectedWeekend(date)"
                                                      [class.focused]="focused"
                                                      [class.bg-primary]="selected"
                                                      [class.text-muted]="disabled"
                                                      [class.range]="isRange(date)"
                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                      (mouseenter)="hoveredDate = date"
                                                      (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                              </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                    </div>
                                                    <input #dpFromDate
                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                           name="dpFromDate"
                                                           [value]="formatter.format(fromDate)"
                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                            <label>s.d</label>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-group ml-2">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                    </div>
                                                    <input #dpToDate
                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                           name="dpToDate"
                                                           [value]="formatter.format(toDate)"
                                                           (input)="toDate = validateInput(toDate, dpToDate.value)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Kegiatan Di Luar Kota (Total hari)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" value="{{countDates}}" disabled>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Kegiatan: </label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button"
                                        ngbDropdownToggle>
                                    <label class="mb-0"  *ngIf="!selectedEventActivity">Pilih Kegiatan</label>
                                    <div *ngIf="selectedEventActivity" style="text-align: start">
                                        <label class="mb-0" style="white-space: normal">{{selectedEventActivity?.name}}</label>
                                    </div>
                                </button>
                                <div class="dropdown-menu" style="width: 140%" ngbDropdownMenu>
                                    <div class="search-box">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterActivityEvent($event)">
                                            </div>
                                            <div *ngIf="listEventActivity?.length > 0">
                                                <div class="ms-4 mt-2 mb-2 me-2" *ngFor="let data of listEventActivity; let i = last" style="cursor: pointer">
                                                    <label class="ms-1" style="cursor: pointer" (click)="changeEventActivity(data)">{{data?.name}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="listEventActivity?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Tidak ada kegiatan</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Unit/Komponen Kegiatan</label>
                        <div class="col-md-6">
                            <textarea type="text" class="form-control" value="{{selectedEventActivity?.awp?.component?.description}}" style="white-space: normal" disabled></textarea>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-2 col-form-label">Peserta Kegiatan</label>
                        <div class="col-md-4">
                            <ul class="list-group" style="border: 1px solid rgba(206, 212, 218, 1)">
                                <li class="list-group-item">{{firstNameLogged}} {{lastNameLogged}}</li>
                                <li class="list-group-item" *ngFor="let data of selectedUsersResources">
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-md-8">
                                            <label class="form-check-label">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                        </div>
                                        <div class="col-md-4 text-end">
                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer"  (click)="deleteChangeUserResources(data)"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-4">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button"
                                        ngbDropdownToggle>
                                    <i class="fa fa-plus"></i> Tambah Peserta
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 150%">
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterUserResources($event)">
                                            </div>
                                            <div *ngIf="listAllUserResourcesExist?.length > 0">
                                                <div class="ms-4 mt-1" *ngFor="let data of listAllUserResourcesExist">
                                                    <label class="form-check-label font-size-16 me-1" (click)="changeUserResources(data)">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                                </div>
                                            </div>
                                            <div *ngIf="listAllUserResourcesExist?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">User tidak tersedia</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Agenda Kegiatan</label>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Masukkan agenda kegiatan" [(ngModel)]="descriptionDestination"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Alamat Kegiatan</label>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Masukkan alamat kegiatan" [(ngModel)]="addressDestination"></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">
                            <label class="col-md-8 col-form-label" style="background-color: rgba(228, 228, 228, 1);">Jadwal Transportasi</label>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Moda Transportasi: </label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <label class="mb-0" *ngIf="!selectedlistTransportation">Pilih moda transportasi</label>
                                    <div *ngIf="selectedlistTransportation" style="text-align: start">
                                        <label class="mb-0" style="white-space: normal">{{selectedlistTransportation?.name}}</label>
                                    </div>
                                </button>
                                <div class="dropdown-menu" style="width: 200%" ngbDropdownMenu>
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterTransportation($event)">
                                            </div>
                                            <div *ngIf="listTransportation?.length > 0">
                                                <div class="ms-4 mt-2 mb-2" *ngFor="let data of listTransportation; let i = last" style="cursor: pointer">
                                                    <label class="ms-1" style="cursor: pointer" (click)="changeTransportation(data)">{{data?.name}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="listTransportation?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Tidak Ada Transportasi</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Dari (tempat asal) :</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Tulis tempat asal" [(ngModel)]="originTransportation">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Ke (tempat tujuan) :</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Tulis tempat tujuan" [(ngModel)]="destinationTransportation">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Jadwal Mulai Transportasi: </label>
                        <div class="col-md-6">
                            <label class="col-form-label">
                                <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [min]="validateDateStartTransportation" [max]="startTransportation" [(ngModel)]="selectedStartDate" [disabled]="!startTransportation || !fromDate">
                                <owl-date-time #dt></owl-date-time>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Jadwal Akhir Transportasi: </label>
                        <div class="col-md-6">
                            <label class="col-form-label">
                                <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="selectedEndDate" [min]="selectedStartDate" [max]="endTransportation"  #dateTime="ngModel" [disabled]="!startTransportation || !fromDate">
                                <owl-date-time #dt2></owl-date-time>
                            </label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Kode Transportasi: <br> <label>(Opsional)</label></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Tulis kode transportasi (opsional)" [(ngModel)]="transportationCode">
                        </div>
                    </div>

<!--                    <div class="row" *ngIf="validateDate">-->
<!--                        <label class="col-md-2 col-form-label"></label>-->
<!--                        <div class="col-md-6">-->
<!--                            <label class="text-danger" style="font-style: italic">Waktu lama izin melebihi waktu yang ditentukan</label>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" (click)="saveEventActivity()" [disabled]="!fromDate || !toDate || !selectedEventActivity || !descriptionDestination || !addressDestination || !selectedlistTransportation || !originTransportation || !destinationTransportation || !selectedStartDate || !selectedEndDate">
                                <label class="mb-0" *ngIf="!loadingSave">Simpan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSave"></i>
                            </button>
                            <button class="btn "style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="goToAdministrasiEvent()">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
