<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToListKegiatan()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Kegiatan - {{dataDetailKegiatan?.componentCode?.code}}</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label font-weight-bold">Status </label>
                        <label class="col-md-9 col-form-label"  *ngIf="dataDetailKegiatan?.status == 1">: <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(51, 51, 51, 1); border: 1px solid rgba(51, 51, 51, 1) ;">Perencanaan</span></label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 2">: <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1); border: 1px solid rgba(51, 51, 51, 1) ;">Revisi Perencanaan</span></label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 3">: <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background: rgba(24, 101, 228, 1); border: 1px solid rgba(51, 51, 51, 1) ;">Menunggu Persetujuan</span></label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 4">: <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);">Tinjau Ulang</span></label>
                        <label class="col-md-9 col-form-label" *ngIf="dataDetailKegiatan?.status == 5">: <span class="badge rounded-pill p-2 w-sm font-size-12" style="background: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);">Pelaksanaan</span></label>

                    </div>
                    <div class="mb-3 row" *ngIf="dataDetailKegiatan?.approvalNotes.length > 0">
                        <label class="col-md-3 col-form-label font-weight-bold">Catatan</label>
                        <div class="col-md-8">
                            <label class="mb-0" style="color: rgba(24, 101, 228, 1);">: &nbsp;{{dataDetailKegiatan?.approvalNotes[0].user?.firstName}} {{dataDetailKegiatan?.approvalNotes[0].user?.lastName}}</label><br>
                            <label class="mb-0 me-1">&nbsp;&nbsp;&nbsp;{{dataDetailKegiatan?.approvalNotes[0]?.note}}</label>
                        </div>
                        <label class="col-form-label col-md-1 text-decoration-underline" style="color: rgba(24, 101, 228, 1); cursor: pointer" (click)="openModalHistory(History)">History</label>
                    </div>
                    <div class="mb-3 row" *ngIf="dataDetailKegiatan?.awpImplementationQualityAtEntryAnswers[0].answer != null">
                        <label class="col-md-3 col-form-label font-weight-bold">Quality At Entry</label>
                        <label class="col-md-9 col-form-label">
                            <div class="card" style="border: 1px solid rgba(128, 128, 128, 1); background-color: rgba(250, 250, 250, 1);">
                                <div class="card-body pt-1 pb-1">
                                    <div class="mb-2 row">
                                        <label class="col-md-2 col-form-label font-weight-bold mb-0" style="align-self: center">Score</label>
                                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting >= 5">: <button class="btn text-white" style="background: rgba(0, 189, 30, 1);">{{countEntryTrueExisting}}.0</button></label>
                                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting === 4 || countEntryTrueExisting === 3">: <button class="btn text-white" style="background: rgba(255, 187, 55, 1)">{{countEntryTrueExisting}}.0</button></label>
                                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting <= 2">: <button class="btn text-white" style="background: rgba(255, 92, 92, 1);">{{countEntryTrueExisting}}.0</button></label>
                                    </div>
                                    <div class="mb-2 row">
                                        <label class="col-md-2 col-form-label font-weight-bold">Keterangan</label>
                                        <label class="col-md-10 col-form-label">: {{showToolTipStatus()}}</label>
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-3">
                            <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                            <tr>
                                <th class="text-center" colspan="2" style="width: 60%">Data Umum</th>
                                <th style="width: 40%"><label class="mb-0 font-weight-bold">Implementasi</label> - Data Umum</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Tahun</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.year}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.awp?.year}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Komponen</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.component?.code}} - {{dataDetailKegiatan?.awp?.component?.description}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.component?.code}} - {{dataDetailKegiatan?.component?.description}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Sub-Komponen</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.subComponent?.code}} - {{dataDetailKegiatan?.awp?.subComponent?.description}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.subComponent?.code}} - {{dataDetailKegiatan?.subComponent?.description}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Sub-Sub-Komponen</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.subSubComponent?.code}} - {{dataDetailKegiatan?.awp?.subSubComponent?.description}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.subSubComponent?.code}} - {{dataDetailKegiatan?.subSubComponent?.description}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Nama Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.name}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.name}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Moda Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.activityMode?.name}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.activityMode?.name}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Kode Akun</label></td>
                                <td style="width: 40%"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <div *ngIf="dataDetailKegiatan?.pok.length > 0">
                                                <div *ngFor="let data of dataDetailKegiatan?.pok; let index = first">
                                                    <label class="col-form-label">
                                                        <li class="ms-2">{{data?.pok?.code}} - {{data?.pok?.title}}</li>
                                                    </label>
                                                </div>
                                            </div>
                                            <div *ngIf="dataDetailKegiatan?.pok.length == 0">
                                                <label class="col-form-label">: -</label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Keterangan Kegiatan</label></td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.awp?.nameOtherInformation"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.nameOtherInformation"></label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.awp?.nameOtherInformation"><label class="mb-0">-</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.nameOtherInformation"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);" *ngIf="dataDetailKegiatan?.nameOtherInformation">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.nameOtherInformation"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Budget POK</label></td>
                                <td style="width: 40%">
                                    <label class="mb-0" *ngIf="dataDetailKegiatan?.awp?.budgetPok">Rp. {{dataDetailKegiatan?.awp?.budgetPok | mask: 'separator':'.'}}</label>
                                    <label class="mb-0" *ngIf="!dataDetailKegiatan?.awp?.budgetPok">-</label>
                                </td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.budgetPok"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);" *ngIf="dataDetailKegiatan?.budgetPok">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">Rp. {{dataDetailKegiatan?.budgetPok | mask: 'separator':'.'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Budget AWP</label></td>
                                <td style="width: 40%"><label class="mb-0">Rp. {{dataDetailKegiatan?.awp?.budgetAwp | mask: 'separator':'.'}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">Rp. {{dataDetailKegiatan?.budgetAwp | mask: 'separator':'.'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Project Officer</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.projectOfficerResources?.user?.firstName}} {{dataDetailKegiatan?.projectOfficerResources?.user?.lastName}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">Cara Pengelolaan Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.eventManagementType?.name}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.eventManagementType?.name}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak'">
                                <td style="width: 20%"><label class="mb-0">Nomor Kontrak LSP</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.lspContractNumber ? dataDetailKegiatan?.lspContractNumber : '-'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak'">
                                <td style="width: 20%"><label class="mb-0">Data Kontrak LSP</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.lspContractData ? dataDetailKegiatan?.lspContractData : '-'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="dataDetailKegiatan?.eventManagementType?.name === 'Kontrak'">
                                <td style="width: 20%"><label class="mb-0">PIC LSP</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.lspPicUser">{{dataDetailKegiatan?.lspPicUser?.firstName}} {{dataDetailKegiatan?.lspPicUser?.lastName}}</label>
                                            <label class="mb-0" *ngIf="!dataDetailKegiatan?.lspPicUser">-</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered mb-3">
                            <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                            <tr>
                                <th class="text-center" colspan="2" style="width: 60%">Kegiatan</th>
                                <th style="width: 40%"><label class="mb-0 font-weight-bold">Implementasi</label> - Kegiatan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">1. Tujuan Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.purpose"></label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.purpose"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">2. Deskripsi Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.description"></label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.description"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><label class="mb-0">3. Waktu Pelaksanaan</label></td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Mulai Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.convertStartDate | date: 'dd MMMM yyyy'}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.convertStartDate | date: 'dd MMMM yyyy'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">b. Akhir Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.convertEndDate | date: 'dd MMMM yyyy'}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.convertEndDate | date: 'dd MMMM yyyy'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">c. Informasi lainnya</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.eventOtherInformation ? dataDetailKegiatan?.awp?.eventOtherInformation : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.eventOtherInformation"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.eventOtherInformation">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.eventOtherInformation}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered mb-3">
                            <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                            <tr>
                                <th class="text-center" colspan="2" style="width: 60%">Kegiatan</th>
                                <th style="width: 40%"><label class="mb-0 font-weight-bold">Implementasi</label> - Kegiatan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3"><label class="mb-0">4. Tempat Pelaksanaan</label></td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-4"><li>Provinsi, Kota</li></label></td>
                                <td style="width: 40%">
                                    <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.awp?.provincesRegencies?.length > 0">
                                        <li *ngFor="let data of dataDetailKegiatan?.awp?.provincesRegencies">
                                            {{data?.province?.name}}
                                            <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                                (<label class="mb-0" *ngFor="let dataRegencies of data.regencies; let i = last">
                                                    {{dataRegencies?.regency?.name}}<label class="mb-0" *ngIf="!i">, &nbsp;</label>
                                                </label>)
                                            </label>
                                        </li>
                                    </label>
                                    <label class="mb-0" *ngIf="dataDetailKegiatan?.provincesRegencies.length == 0">
                                        -
                                    </label>
                                </td>
                                <td *ngIf="dataDetailKegiatan?.provincesRegencies.length == 0">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.provincesRegencies.length > 0">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.provincesRegencies?.length > 0">
                                                <li *ngFor="let data of dataDetailKegiatan?.provincesRegencies">
                                                    {{data?.province?.name}}
                                                    <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                                        (<label class="mb-0" *ngFor="let dataRegencies of data.regencies; let i = last">
                                                        {{dataRegencies?.regency?.name}}<label class="mb-0" *ngIf="!i">, &nbsp;</label>
                                                    </label>)
                                                    </label>
                                                </li>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Informasi Tempat Pelaksanaan</label></td>
                                <td style="width: 40%"><label>{{dataDetailKegiatan?.awp?.locationOtherInformation ? dataDetailKegiatan?.awp?.locationOtherInformation : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.locationOtherInformation">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.locationOtherInformation">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.locationOtherInformation}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">5. Volume Event</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.eventVolume}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.eventVolume}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">6. Jenis Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.eventType?.name}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.eventType?.name}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><label class="mb-0">7. Narasumber Kegiatan</label></td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Asal Lembaga Narasumber</label></td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.awp?.nsInstitution"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.nsInstitution"></label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.awp?.nsInstitution"><label class="mb-0">-</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.nsInstitution"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.nsInstitution">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.nsInstitution"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">b. Narasumber Laki-laki</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.nsMale">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.nsMale">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.nsMale}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">c. Narasumber Perempuan</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.nsFemale">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.nsFemale">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.nsFemale}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">d. Jumlah Narasumber</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.nsCount}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.nsCount}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">e. Informasi lainnya</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.nsOtherInformation ? dataDetailKegiatan?.awp?.nsOtherInformation : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.nsOtherInformation">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.nsOtherInformation">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.nsOtherInformation}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-bordered mb-3">
                            <thead class="thead-dark" style="background: rgba(228, 228, 228, 1);">
                            <tr>
                                <th class="text-center" colspan="2" style="width: 60%">Peserta</th>
                                <th style="width: 40%"><label class="mb-0 font-weight-bold">Implementasi</label> - Peserta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3"><label class="mb-0">8. Peserta Kegiatan</label></td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Peserta Laki-laki</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.participantMale ? dataDetailKegiatan?.awp?.participantMale : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.participantMale"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.participantMale">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.participantMale}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">b. Peserta Perempuan</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.participantFemale ? dataDetailKegiatan?.awp?.participantFemale : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.participantFemale">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.participantFemale">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.participantFemale}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">c. Jumlah Peserta</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.participantCount ? dataDetailKegiatan?.awp?.participantCount : '-'}}</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.participantCount}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">d. Sasaran Peserta</label></td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.awp?.participantTarget"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.participantTarget"></label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.awp?.participantTarget"><label class="mb-0">-</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.participantTarget"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.participantTarget">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.participantTarget"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">e. Informasi Lainnya</label></td>
                                <td style="width: 40%"><label class="mb-0">{{dataDetailKegiatan?.awp?.participantOtherInformation ? dataDetailKegiatan?.awp?.participantOtherInformation : '-'}}</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.participantOtherInformation"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.participantOtherInformation">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.participantOtherInformation}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">9. Output Kegiatan</label></td>
                                <td style="width: 40%"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.eventOutput"></label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.eventOutput"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">10. Kontribusi Output Kegiatan</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.monev.length > 0">
                                                <div *ngFor="let data of dataDetailKegiatan?.monev">
                                                    <li>{{data?.resultChain?.code}}</li>
                                                    <div class="mb-0 ms-3" *ngIf="data?.successIndicator.length > 0">
                                                        <li class="mb-0" *ngFor="let dataRegencies of data.successIndicator; let i = last">
                                                            {{dataRegencies?.successIndicator?.code}} - {{dataRegencies?.successIndicator?.name}}<label class="mb-0" *ngIf="!i">, &nbsp;</label>
                                                        </li>
                                                    </div>
                                                </div>
                                            </label>
                                            <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.monev.length == 0">-</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">11. Kontribusi Hasil Terhadap PDOI</label></td>
                                <td style="width: 40%">
                                    <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.awp?.pdo.length > 0">
                                        <li *ngFor="let data of dataDetailKegiatan?.awp?.pdo">
                                            {{data?.pdo?.description}}
                                        </li>
                                    </label>
                                    <label class="mb-0" *ngIf="dataDetailKegiatan?.awp?.pdo.length == 0">-</label>
                                </td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.pdo.length == 0">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.pdo.length > 0">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0 ms-1">
                                                <li *ngFor="let data of dataDetailKegiatan?.pdo">
                                                    {{data?.pdo?.description}}
                                                </li>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">12. Kontribusi Hasil Terhadap IRI</label></td>
                                <td style="width: 40%">
                                    <label class="mb-0 ms-1" *ngIf="dataDetailKegiatan?.awp?.iri.length > 0">
                                        <li *ngFor="let data of dataDetailKegiatan?.awp?.iri">
                                            {{data?.iri?.description}}
                                        </li>
                                    </label>
                                    <label class="mb-0" *ngIf="dataDetailKegiatan?.awp?.iri?.length == 0">-</label>
                                </td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.iri.length == 0">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.iri.length > 0">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0 ms-1">
                                                <li *ngFor="let data of dataDetailKegiatan?.iri">
                                                    {{data?.iri?.description}}
                                                </li>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><label class="mb-0">13. Komponen Pembiayaann</label></td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Upload RAB Kegiatan</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.rabFile">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.rabFile">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" (click)="downloadFile(dataDetailKegiatan?.rabFile?.id, dataDetailKegiatan?.rabFile?.filename)"><i>{{dataDetailKegiatan?.rabFile?.filename}}</i></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">14. Asumsi</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.assumption">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.assumption">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.assumption"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="mb-0">15. Potensi Risiko</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.awp?.descriptionRisk"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.awp?.descriptionRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.descriptionRisk"></label>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.descriptionRisk"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.descriptionRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.descriptionRisk"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">a. Keterangan Risiko</label></td>
                                <td style="width: 40%"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1);">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.risk ? dataDetailKegiatan?.risk : '-'}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">b. Dampak</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.impactRisk">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.impactRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.impactRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label>Tidak Berpengaruh</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.impactRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label>Kurang Berpengaruh</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.impactRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label>Agak Berpengaruh</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.impactRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label>Cukup Berpengaruh</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.impactRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label>Berpengaruh</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0 ms-2">c. Kemungkinan Terjadi</label></td>
                                <td style="width: 40%">-</td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.potentialRisk">-</td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.potentialRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 1"><label class="mb-0 font-weight-bold">Level 1 : </label>Tidak Pernah</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 2"><label class="mb-0 font-weight-bold">Level 2 : </label>Jarang</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 3"><label class="mb-0 font-weight-bold">Level 3 : </label>Kadang-kadang</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 4"><label class="mb-0 font-weight-bold">Level 4 : </label>Sering</label>
                                            <label class="mb-0" *ngIf="dataDetailKegiatan?.potentialRisk == 5"><label class="mb-0 font-weight-bold">Level 5 : </label>Hampir selalu</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">16. Mitigasi Risiko</label></td>
                                <td style="width: 40%" *ngIf="dataDetailKegiatan?.awp?.mitigationRisk"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.mitigationRisk"></label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.awp?.mitigationRisk"><label class="mb-0" [innerHtml]="dataDetailKegiatan?.awp?.mitigationRisk">-</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.mitigationRisk"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.mitigationRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0" [innerHtml]="dataDetailKegiatan?.mitigationRisk"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%"><label class="mb-0">17. Gejala Risiko</label></td>
                                <td style="width: 40%"><label class="mb-0">-</label></td>
                                <td style="width: 40%" *ngIf="!dataDetailKegiatan?.symptomsRisk"><label class="mb-0">-</label></td>
                                <td style="width: 40%; background: rgba(245, 245, 245, 1)" *ngIf="dataDetailKegiatan?.symptomsRisk">
                                    <div class="card" style="margin-bottom: 0">
                                        <div class="card-body">
                                            <label class="mb-0">{{dataDetailKegiatan?.symptomsRisk}}</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <div class="text-start" *ngIf="roles?.hasAuthority('Coordinator') || dataEditQualityEntry[0]?.answer != null">
                                <div class="row row-cols-lg-auto">
                                    <button class="btn" [ngClass]="neverEditQualityEntry ? 'quality-start' : countEntryTrue >= 5 ? 'quality-success' : (countEntryTrue == 3 || countEntryTrue == 4) ? 'quality-warning': countEntryTrue <= 2 ?'quality-danger':''" (click)="openModalQuality(QualityAtEntry)">
                                            <i class="fa fa-check-circle me-2" *ngIf="neverEditQualityEntry"></i>
                                            <i class="fa fa-check-circle me-2" *ngIf="countEntryTrue >= 5 && !neverEditQualityEntry"></i>
                                            <i class="fa fa-exclamation-circle me-2" *ngIf="(countEntryTrue == 3 || countEntryTrue == 4) && !neverEditQualityEntry"></i>
                                            <i class="fa fa-exclamation-triangle me-2" *ngIf="countEntryTrue <= 2 && !neverEditQualityEntry"></i>
                                            <label class="mb-0" style="align-self: center; cursor: pointer">Quality at Entry</label>
                                    </button>
                                    <div style="align-self: center" *ngIf="!neverEditQualityEntry">
                                        <div [ngbTooltip]="showToolTip()" placement="right">
                                            <i class="fas fa-info-circle font-size-22"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngIf="dataDetailKegiatan?.creatorAllowedEdit">
                                <div class="text-end">
                                    <div class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToImplementKegiatan()">Edit Implementasi</div>
                                    <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
                                </div>
                            </div>
                            <div *ngIf="dataDetailKegiatan?.coordinatorAllowedApprove">
                                <div class="row">
                                    <div class="text-end">
                                        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModalApproveReject(rejectNotes, 1)" [disabled]="dataQualityEntryRequest.length == 0">
                                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                                        </button>
                                        <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModalApproveReject(rejectNotes, 2)" [disabled]="dataQualityEntryRequest.length == 0">
                                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                                        </button>
                                        <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">
                                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end" *ngIf="dataDetailKegiatan?.pmuAllowedApprove">
                                <div class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModalApproveReject(rejectNotesPmu ,1)">
                                    <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                                </div>
                                <div class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModalApproveReject(rejectNotesPmu, 2)">
                                    <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle" *ngIf="!loadingSaveData"></i>
                                </div>
                                <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">
                                    <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                                </div>
                            </div>
                            <div class="text-end" *ngIf="!dataDetailKegiatan?.creatorAllowedEdit && !dataDetailKegiatan?.coordinatorAllowedApprove && !dataDetailKegiatan?.pmuAllowedApprove">
                                <div class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToListKegiatan()">Keluar</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #QualityAtEntry let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Quality At Entry</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="!isDisabled()">
            <div *ngFor="let data of dataEditQualityEntry; let i = index" [ngStyle]="{'background-color': (isDisabled()) ? 'rgba(245, 245, 245, 1)' : null}">
                <label class="mb-0">{{i + 1}}. {{data?.qualityAtEntryQuestion?.question}}</label>
                <div class="col-xl-3 col-sm-6">
                    <div class="mt-2">
                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                            <input class="form-check-input" type="radio" name="{{data?.qualityAtEntryQuestion?.number}}" id="{{data.id}}" [value]="true" [(ngModel)]="data.answer" (change)="changeValueEntry()" [disabled]="isDisabled()">
                            <label class="form-check-label" for="{{data.id}}">
                                Iya
                            </label>
                        </div>
                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                            <input class="form-check-input" type="radio" name="{{data?.qualityAtEntryQuestion?.number}}" id="{{data.id}} + 1"  [value]="false" [(ngModel)]="data.answer" (change)="changeValueEntry()" [disabled]="isDisabled()">
                            <label class="form-check-label" for="{{data.id}} + 1">
                                Tidak
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3" *ngIf="data.answer == false">
                    <div class="row">
                        <label class="col-form-label col-md-1">Perbaikan:</label>
                        <div class="col-md me-2">
                            <textarea class="form-control" [(ngModel)]="data.revision" [disabled]="isDisabled()"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="ms-2 me-2" style="border: 1px solid rgba(51, 51, 51, 1)">
            <div class="mt-3">
                <div class="card ms-2 me-2" style="border: 1px solid rgba(128, 128, 128, 1); background-color: rgba(250, 250, 250, 1);">
                    <div class="card-body pt-2 pb-1">
                        <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">Hasil Analisis</label>
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label font-weight-bold mb-0" style="align-self: center">Score</label>
                            <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrue >= 5">: <button class="btn text-white" style="background: rgba(0, 189, 30, 1);">{{countEntryTrue}}.0</button></label>
                            <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrue === 4 || countEntryTrue === 3">: <button class="btn text-white" style="background: rgba(255, 187, 55, 1)">{{countEntryTrue}}.0</button></label>
                            <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrue <= 2">: <button class="btn text-white" style="background: rgba(255, 92, 92, 1);">{{countEntryTrue}}.0</button></label>
                        </div>
                        <div class="mb-2 row">
                            <label class="col-md-2 col-form-label font-weight-bold">Keterangan</label>
                            <label class="col-md-10 col-form-label">: {{showToolTipStatusViewer()}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isDisabled()">
        <div class="mb-3" *ngFor="let data of dataEditQualityEntry; let i = index" style="background-color: rgba(245, 245, 245, 1)">
            <label class="col-form-label ms-2">{{i + 1}}. {{data?.qualityAtEntryQuestion?.question}}</label><br>
            <label class="col-form-label ms-2" *ngIf="data.answer">Jawaban : Iya</label>
            <label class="col-form-label ms-2" *ngIf="!data.answer">Jawaban : Tidak</label>
            <div *ngIf="data.answer == false">
                <div class="row">
                    <label class="col-form-label ms-2">Perbaikan:</label>
                    <div class="col-md">
                        <textarea class="form-control ms-2" style="width: 95%" [(ngModel)]="data.revision" [disabled]="isDisabled()" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ms-2 me-5" style="border: 1px solid rgba(51, 51, 51, 1)">
        <div class="mb-3">
            <div class="card ms-2 me-5" style="border: 1px solid rgba(128, 128, 128, 1); background-color: rgba(250, 250, 250, 1);">
                <div class="card-body pt-2 pb-1">
                    <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">Hasil Analisis</label>
                    <div class="mb-2 row">
                        <label class="col-md-2 col-form-label font-weight-bold mb-0" style="align-self: center">Score</label>
                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting >= 5">: <button class="btn text-white" style="background: rgba(0, 189, 30, 1);">{{countEntryTrueExisting}}.0</button></label>
                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting === 4 || countEntryTrueExisting === 3">: <button class="btn text-white" style="background: rgba(255, 187, 55, 1)">{{countEntryTrueExisting}}.0</button></label>
                        <label class="col-md-10 col-form-label mb-0" *ngIf="countEntryTrueExisting <= 2">: <button class="btn text-white" style="background: rgba(255, 92, 92, 1);">{{countEntryTrueExisting}}.0</button></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-2 col-form-label font-weight-bold">Keterangan</label>
                        <label class="col-md-10 col-form-label">: {{showToolTipStatusViewer()}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="!isDisabled()">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="saveDataQuality()" [disabled]="disableButtonSaveQuality()">
            Simpan
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
    <div class="modal-footer" *ngIf="isDisabled()">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Tutup</button>
    </div>
</ng-template>

<ng-template #rejectNotes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="this.flagApproveReject == 2 && countEntryTrue >= 5">
            <div class="col-md-12 mb-3" style="background: rgba(51, 51, 51, 1); border-radius: 5px">
                <p class="ms-2 text-white col-form-label">Anda yakin ingin merevisi?</p>
            </div>
            <div class="col-md-12 mb-3" style="background: rgba(0, 189, 30, 1); border-radius: 5px">
                <p class="ms-2 text-white col-form-label">{{showToolTip()}}</p>
            </div>
        </div>
        <div *ngIf="this.flagApproveReject == 1 && countEntryTrue <= 2">
            <div class="col-md-12 mb-3" style="background: rgba(51, 51, 51, 1);  border-radius: 5px">
                <p class="ms-2 text-white col-form-label">Anda yakin ingin menyetujui?</p>
            </div>
            <div class="col-md-12 mb-3" style="background: rgba(255, 92, 92, 1);  border-radius: 5px">
                <p class="ms-2 text-white col-form-label">{{showToolTip()}}</p>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Catatan :</label>
            <div class="col-md-9">
                <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromCoordinator()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #rejectNotesPmu let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromPmu()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #History let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">History Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
            <ul class="list-unstyled chat-list">
                <li class="" *ngFor="let data of dataDetailKegiatan?.approvalNotes" style="border: transparent; background-color: rgba(251, 251, 251, 1); ">
                    <a>
                        <div class="media" *ngIf="data?.createdFrom == 1">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 2">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 3">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2 ">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>
