.quality-success {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 189, 30, 1);
  color: rgba(0, 189, 30, 1);
}

.quality-warning {
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 187, 55, 1);
  border: 1px solid rgba(255, 187, 55, 1)
}

.quality-danger {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 92, 92, 1);
  color: rgba(255, 92, 92, 1);
}

.quality-normal {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(51, 51, 51, 1)
}

.quality-start {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(51, 51, 51, 1);
}

::ng-deep .tooltip-inner {
  width: 500px;
}
