<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;" (click)="changePageStatus()">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Pengajuan Izin/Cuti</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Status</label>
                        <div class="col-md-6">
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(51, 51, 51, 0.12); color: rgba(51, 51, 51, 1);" *ngIf="detailPermissionModel?.approveStatus == 0">Menunggu Persetujuan</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="detailPermissionModel?.approveStatus == 1">Disetujui</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 92, 92, 0.12); color: rgba(255, 92, 92, 1);" *ngIf="detailPermissionModel?.approveStatus == 2">Ditolak</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Jenis Izin/Cuti</label>
                        <div class="col-md-6">
                            <label>{{detailPermissionModel?.leaveRequestType?.name}}</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Lengkap</label>
                        <div class="col-md-6">
                            <label>{{detailPermissionModel?.resources?.user?.firstName}} {{detailPermissionModel?.resources?.user?.lastName}}</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Tanggal Izin/Cuti</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailPermissionModel?.convertStartDate | date : 'dd-MMM-yyyy'}} s.d {{detailPermissionModel?.convertEndDate | date : 'dd-MMM-yyyy'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Izin/Cuti (Hari Kerja)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" [value]="detailPermissionModel?.worksDays" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Izin/Cuti (Hari Libur)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" [value]="detailPermissionModel?.holidays" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Alasan :</label>
                        <div class="col-md-6">
                            <textarea class="form-control" [value]="detailPermissionModel?.description" disabled></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Alamat Selama Izin/Cuti :</label>
                        <div class="col-md-6">
                            <textarea class="form-control" [value]="detailPermissionModel?.address" disabled></textarea>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Pelaksanaan Tugas Selama Izin</label>
                        <div class="col-md-6">
                            <button class="btn dropdown-toggle w-100 text-start" style="background-color: rgba(245, 245, 245, 1);" type="button">
                                <img [src]="replaceResource?.filePhoto" class="rounded-circle avatar-xs" alt="user-pic">
                                <label class="ms-1" style="cursor: pointer">{{replaceResource?.resources?.user?.firstName}} {{replaceResource?.resources?.user?.lastName}}</label>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPermissionModel?.approveStatus == 0">
                    <div class="text-end">
                        <button class="btn me-2 w-md text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%)" (click)="sendDataListTask(1)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                        <button class="btn w-md text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="openModal(approveNotes)">
                            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Tolak</label>
                            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                        </button>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPermissionModel?.approveStatus == 1">
                    <div class="text-end">
                        <label>Disetujui, pada {{detailPermissionModel?.convertUpdatedAt| date: 'dd MMMM yyyy HH:mm'}} WIB</label>
                    </div>
                </div>
                <div class="card-footer" *ngIf="detailPermissionModel?.approveStatus == 2">
                    <div class="text-end">
                        <label>Ditolak, pada {{detailPermissionModel?.convertUpdatedAt | date: 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #approveNotes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="sendDataListTask(2)" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>

</ng-template>
