<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-light mb-2" type="button" (click)="goToDetailKegiatan()">
                <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
            </button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Detail Laporan Kegiatan - {{detailActivity?.awpImplementation?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Status</label>
                    <label class="col-md-9 col-form-label" *ngIf="detailActivity?.status == 0">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)">Persetujuan Laporan Kegiatan</span></label>
                    <label class="col-md-9 col-form-label" *ngIf="detailActivity?.status == 1">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)">Revisi Laporan Kegiatan</span></label>
                    <label class="col-md-9 col-form-label" *ngIf="detailActivity?.status == 2">: &nbsp;<span class="badge rounded-pill p-2 w-sm font-size-12" style="background: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);">Laporan Kegiatan Disetujui</span></label>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Tanggal Upload</label>
                    <div class="col-md-9">
                        <label class="mb-0 col-form-label">:&nbsp;&nbsp;{{detailActivity?.convertCreatedAt | date : 'dd MMMM yyyy, HH:mm'}} WIB</label>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-3 col-form-label font-weight-bold">Catatan</label>
                    <div class="col-md-8" *ngIf="detailActivity?.approvalNotes.length == 0">
                        <label class="mb-0 col-form-label">: -</label>
                    </div>
                    <div class="col-md-8" *ngIf="detailActivity?.approvalNotes.length > 0">
                        <label class="mb-0" style="color: rgba(24, 101, 228, 1);">: &nbsp;{{detailActivity?.approvalNotes[0].user?.firstName}} {{detailActivity?.approvalNotes[0].user?.lastName}}</label><br>
                        <label class="mb-0 me-1">&nbsp;&nbsp;&nbsp;{{detailActivity?.approvalNotes[0]?.note}}</label>
                    </div>
                    <label class="col-form-label col-md-1 text-decoration-underline" style="color: rgba(24, 101, 228, 1); cursor: pointer" (click)="openModalHistory(History)">History</label>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Data Kegiatan</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi data umum kegiatan untuk laporan kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" (click)="changeMenuFieldProgress(2)" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Data Event</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi data event yang ada pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" (click)="changeMenuFieldProgress(3)" [ngStyle]="{'background-color': (fieldSubstantiv == 3) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Ringkasan Pelaksanaan Kegiatan</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi data ringkasan pelaksanaan yang ada pada kegiatan</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
            <div class="card-body">
                <div *ngIf="fieldSubstantiv == 3">
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Budget POK</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="detailActivity.awpImplementation.budgetPok" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Budget AWP</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="detailActivity.awpImplementation.budgetAwp" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Anggaran Kegiatan</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="totalAllRealitationEvent" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Jumlah dari seluruh anggaran event yg ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Persentase Anggaran Kegiatan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{percentageAllRealitationEvent}} %" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Nilai Persentase = Realisasi Anggaran Kegiatan / Realisasi Budget POK" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Total Peserta Kegiatan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{totalAllParticipantEvent}}" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Jumlah dari seluruh peserta event yg ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Persentase Total Peserta Kegiatan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{percentageAllParticipantEvent}} %" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Persentase dari seluruh peserta event yang ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Total Peserta Laki-laki</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{totalAllParticipantMaleEvent}}" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Jumlah dari seluruh peserta (laki-laki saja) event yg ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Persentase Total Peserta Laki-laki</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{percentageAllParticipantMaleEvent}} %" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Persentase dari seluruh peserta (laki-laki saja) event yang ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Total Peserta Perempuan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{totalAllParticipantFemaleEvent}}" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Jumlah dari seluruh peserta (perempuan saja) event yg ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Persentase Total Peserta Perempuan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{percentageAllParticipantFemaleEvent}} %" disabled>
                        </div>
                        <div class="col-sm-1" style="align-self: center">
                            <div ngbTooltip="Jumlah dari seluruh peserta (perempuan saja) event yg ada di kegiatan ini" placement="right">
                                <i class="fas fa-info-circle font-size-22"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{detailActivity?.participantOtherInformation ? detailActivity?.participantOtherInformation : '-'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Ringkasan Pelaksanaan Kegiatan</label>
                        <div class="col-md-6">
                            <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="detailActivity?.summary"></label></label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Kesimpulan dan Saran</label>
                        <div class="col-md-6">
                            <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="detailActivity?.conclusionsAndRecommendations"></label></label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">RAB Event</label>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Name Event</th>
                                        <th>RAB</th>
                                        <th>Realisasi Anggaran</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let data of dataAllEvent; let i = index">
                                    <tr>
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{data.event.name}}</td>
                                        <td>
                                            <label class="mb-0" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="data?.event?.rabFile" (click)="downloadFile(data?.event?.rabFile?.id, data?.event?.rabFile?.filename)">{{data?.event?.rabFile? data?.event?.rabFile?.filename : '-'}}</label>
                                            <label class="mb-0" *ngIf="!data?.event?.rabFile">-</label>
                                        </td>
                                        <td>
                                            <label class="mb-0" style="cursor: pointer; color: rgba(24, 101, 228, 1);" (click)="downloadFile(data?.rraFile?.id, data?.rraFile?.filename)" *ngIf="data?.rraFile">{{data?.rraFile? data?.rraFile?.filename : '-'}}</label>
                                            <label class="mb-0" *ngIf="!data?.rraFile">-</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Dokumentasi Kegiatan :</label>
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Name Event</th>
                                        <th>Dokumentasi</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let data of dataAllEvent; let i = index">
                                    <tr>
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{data.event.name}}</td>
                                        <td>
                                            <label class="mb-0" (click)="openModalDocumentationEvent(data, documentationEvent)" style="color: rgba(24, 101, 228, 1); cursor:pointer;">Lihat Dokumentasi</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label">File Upload BAST</label>
                        <div class="col-md-9">
                            <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="detailActivity?.bastFile && detailActivity?.bastFile?.fileExt !== 'pdf'" (click)="downloadFile(detailActivity?.bastFile?.id, detailActivity?.bastFile?.filename)"><i>{{detailActivity?.bastFile?.filename}}</i></label>
                            <label class="col-form-label mb-0 text-decoration-underline" style="cursor:pointer; color: rgba(24, 101, 228, 1);" *ngIf="detailActivity?.bastFile && detailActivity?.bastFile?.fileExt === 'pdf'" (click)="openModalHistory(pdfBastFile)"><i>{{detailActivity?.bastFile?.filename}}</i></label>
                            <label class="col-form-label mb-0" *ngIf="!detailActivity?.bastFile">: -</label>
                        </div>
                    </div>
                </div>
                <div *ngIf="fieldSubstantiv == 2">
                    <div class="card" style="border: 1px solid rgba(51, 51, 51, 0.32); background: rgba(250, 250, 250, 1); ">
                        <div class="card-body">
                            <label>Laporan Event (laporan event yang ditampilkan) : {{listSelectedEvent?.event?.name}}</label>
                            <div class="card" style="margin-bottom: 0px;">
                                <div class="card-body" style="border: 1px solid rgba(51, 51, 51, 0.32); background: rgba(255, 255, 255, 1);">
                                    <div class="overflow2">
                                        <div class="form-check mb-3" *ngFor="let data of dataAllEvent">
                                            <input class="form-check-input" type="radio" name="formRadios" id="{{data?.id}}" [value]="data" [(ngModel)]="listSelectedEvent" (change)="changeEventType()"
                                                   checked>
                                            <label class="form-check-label" for="{{data?.id}}">
                                                {{data?.event?.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Nama Event</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.event?.name}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Waktu Pelaksanaan Event</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{fromDateIntroduction | date: 'dd MMMM yyyy'}} s.d {{toDateIntroduction | date: 'dd MMMM yyyy'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.eventOtherInformation ? listSelectedEvent?.eventOtherInformation : '-'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Provinsi dan Kota</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control"  value="{{listSelectedEvent?.province?.name}} ({{listSelectedEvent?.regency?.name}})" *ngIf="listSelectedEvent.regency" disabled>
                            <input type="text" class="form-control"  value="{{listSelectedEvent?.province?.name}}" *ngIf="!listSelectedEvent.regency" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Lokasi Event</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.location}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Tujuan Event</label>
                        <div class="col-md-6">
                            <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="listSelectedEvent?.event?.purpose"></label></label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Output Event</label>
                        <div class="col-md-6">
                            <label class="col-md-9 col-form-label"><label class="mb-0" [innerHTML]="listSelectedEvent?.event?.eventOutput"></label></label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Cara Pengelolaan Kegiatan</label>
                        <div class="col-md-6">
                            <label class="mb-0 col-form-label">{{listSelectedEvent?.event?.awpImplementation.eventManagementType?.name}}</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Jumlah Pagu Anggaran</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="listSelectedEvent.budgetCeiling" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Jumlah Anggaran</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="listSelectedEvent.rraBudget" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Total Peserta Event</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.participantCount}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Peserta Laki Laki</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.participantMale ? listSelectedEvent?.participantMale : '-'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Realisasi Peserta Perempuan</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.participantFemale ? listSelectedEvent?.participantFemale : '-'}}" disabled>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-3 col-form-label">Informasi Lainnya</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" value="{{listSelectedEvent?.participantOtherInformation ? listSelectedEvent?.participantOtherInformation : '-'}}" disabled>
                        </div>
                    </div>
                </div>
                <div *ngIf="fieldSubstantiv == 1">
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">1. Nama Proyek</label>
                        <label class="col-md-9 col-form-label">: REP-MEQR</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">2. Tahun</label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.awp?.year}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">3. Komponen </label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.component?.code}} - {{detailActivity?.awpImplementation?.component?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">4. Sub-Komponen </label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.subComponent?.code}} - {{detailActivity?.awpImplementation?.subComponent?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">5. Sub-Sub-Komponen :</label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.subSubComponent?.code}} - {{detailActivity?.awpImplementation?.subSubComponent?.description}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">6. Nama Kegiatan</label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">7. Moda Kegiatan</label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.activityMode?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">8. Keterangan Kegiatan</label>
                        <label class="col-md-9 col-form-label" *ngIf="!detailActivity?.nameOtherInformation && detailActivity?.awpImplementation?.awp?.nameOtherInformation" [innerHtml]="detailActivity?.awpImplementation?.awp?.nameOtherInformation"></label>
                        <label class="col-md-9 col-form-label" *ngIf="detailActivity?.nameOtherInformation" [innerHtml]="detailActivity?.nameOtherInformation"></label>
                        <label class="col-md-9 col-form-label" *ngIf="!detailActivity?.nameOtherInformation && !detailActivity?.awpImplementation?.awp?.nameOtherInformation">: -</label>

                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">9. Kode Akun</label>
                        <div class="col-md-9">
                            <div *ngIf="detailActivity?.pok.length > 0">
                                <div *ngFor="let data of detailActivity?.pok; let index = first">
                                    <label class="col-form-label">
                                        <li class="ms-2">{{data?.pok?.code}} - {{data?.pok?.title}}</li>
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="detailActivity?.pok.length == 0">
                                <label class="col-form-label">: -</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">10. Deskripsi Kegiatan</label>
                        <label class="col-md-9 col-form-label" [innerHtml]="detailActivity?.awpImplementation?.description"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">11. Tujuan Kegiatan</label>
                        <label class="col-md-9 col-form-label" [innerHtml]="detailActivity?.awpImplementation?.purpose"></label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">12. Unsur Peserta</label>
                        <label class="col-md-9 col-form-label" [innerHtml]="detailActivity?.participantTarget" *ngIf="detailActivity?.participantTarget"></label>
                        <label class="col-md-9 col-form-label" *ngIf="!detailActivity?.participantTarget">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">13. Project Officer</label>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.awpImplementation?.projectOfficerResources?.user?.firstName}} {{detailActivity?.awpImplementation?.projectOfficerResources?.user?.lastName}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">14. Cara Pengelolaan Event</label>
                        <label class="col-md-6 col-form-label">: {{detailActivity?.awpImplementation?.eventManagementType?.name}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">15. Nomor Kontrak LSP</label>
                        <label class="col-md-6 col-form-label">: {{detailActivity?.awpImplementation?.lspContractNumber ? detailActivity?.awpImplementation?.lspContractNumber : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">16. Data Kontrak LSP</label>
                        <label class="col-md-6 col-form-label">: {{detailActivity?.awpImplementation?.lspContractData ? detailActivity?.awpImplementation?.lspContractData : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">17. PIC LSP</label>
                        <label class="col-md-6 col-form-label" *ngIf="detailActivity?.awpImplementation?.lspPicUser">: {{detailActivity?.awpImplementation?.lspPicUser?.firstName}} {{detailActivity?.awpImplementation?.lspPicUser?.lastName}}</label>
                        <label class="col-md-6 col-form-label" *ngIf="!detailActivity?.awpImplementation?.lspPicUser">: -</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">18. Waktu Pelaksanaan Kegiatan</label>
                        <label class="col-md-9 col-form-label"></label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Tanggal Mulai</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.convertStartDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Tanggal Akhir</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.convertEndDate | date:'dd MMMM yyyy'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">c. Informasi Lainnya</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.eventOtherInformation ? detailActivity?.eventOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">19. Tempat Pelaksanaan</label>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">a. Provinsi, Kota</label>
                        </div>
                        <label class="col-md-9 col-form-label">
                            <label class="mb-0 ms-1" *ngIf="detailActivity?.provincesRegencies?.length > 0">
                                <li *ngFor="let data of detailActivity?.provincesRegencies">
                                    {{data?.province?.name}}
                                    <label class="mb-0" *ngIf="data?.regencies.length > 0">
                                        (<label class="mb-0" *ngFor="let dataRegencies of data.regencies; let i = last">
                                        {{dataRegencies?.regency?.name}}<label class="mb-0" *ngIf="!i">, &nbsp;</label>
                                    </label>)
                                    </label>
                                </li>
                            </label>
                        </label>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-3">
                            <label class="col-form-label ms-3 font-weight-bold">b. Informasi Lain Tempat Pelaksanaan</label>
                        </div>
                        <label class="col-md-9 col-form-label">: {{detailActivity?.locationOtherInformation ? detailActivity?.locationOtherInformation : '-'}}</label>
                    </div>
                    <div class="mb-2 row">
                        <label class="col-md-3 col-form-label font-weight-bold">20. Volume Event</label>
                        <label class="col-md-6 col-form-label">: {{detailActivity?.eventVolume}}</label>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="border: 1px solid #DCDCDC; background-color: #FAFAFA;">
                <div class="row">
                    <div class="col-6">
                        <button class="btn" style="background-color: #FFFFFF; border: 1px solid #333333" (click)="openModalMonitoringEvaluation(MonitoringEvaluation)" [disabled]="(!detailActivity?.allowApprove && detailActivity?.monev.length == 0)">
                            <i class="fa fa-check-circle me-2"></i>
                            <label class="mb-0" style="align-self: center; cursor: pointer">Monitoring & Evaluasi</label>
                        </button>
                    </div>
                    <div class="col-6 text-end">
                        <div *ngIf="detailActivity?.creatorAllowedEdit">
                            <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditKegiatan()">Edit Laporan Kegiatan</button>
                            <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailKegiatan()">Keluar</button>
                        </div>
                        <div *ngIf="detailActivity?.coordinatorConsultanAllowEdit">
                            <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 230px" (click)="downloadWordReportActivity()" [disabled]="!loadingSaveData" *ngIf="detailActivity?.awpImplementation?.allowedDownloadReport">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Download Laporan Kegiatan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn text-white me-3" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 180px" (click)="goToEditKegiatan()" [disabled]="!loadingSaveData">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Edit Laporan Kegiatan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailKegiatan()" [disabled]="!loadingSaveData">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Keluar</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                        </div>
                        <div *ngIf="detailActivity?.allowApprove">
                            <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="openModal(Notes, 1)" [disabled]="validationForm()">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Setuju</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="openModal(Notes, 2)" [disabled]="validationForm()">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Revisi</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn me-2" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailKegiatan()">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Batal</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                        </div>
                        <div class="text-end" *ngIf="!detailActivity?.creatorAllowedEdit && !detailActivity?.allowApprove && !detailActivity?.coordinatorConsultanAllowEdit">
                            <button class="btn text-white me-2" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 230px" (click)="downloadWordReportActivity()" [disabled]="!loadingSaveData" *ngIf="detailActivity?.awpImplementation?.allowedDownloadReport">
                                <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Download Laporan Kegiatan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
                            </button>
                            <button class="btn" style="background-color: rgba(224, 224, 224, 1); color: rgba(51, 51, 51, 1); width: 120px" (click)="goToDetailKegiatan()">Keluar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #documentationEvent let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Dokumentasi Kegiatan {{selectedDocumentationEvent?.event?.name}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 350px;" #scrollEle>
            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)">
                <li class="list-group-item" *ngFor="let data of selectedDocumentationEvent?.documents" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.fileId, data?.file?.filename)">
                    <div class="row" style="justify-content: space-between">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="align-self: center;">
                                    <i class="fa fa-file font-size-30"></i>
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <label class="form-check-label font-size-14" style="white-space: normal">{{data?.title}}</label>
                                        <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                        <label class="mb-0 font-size-12" *ngIf="!data?.date && !data?.place && !data?.description">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<ng-template #documentationEvent let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Dokumentasi Kegiatan {{selectedDocumentationEvent?.event?.name}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 350px;" #scrollEle>
            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)">
                <li class="list-group-item" *ngFor="let data of selectedDocumentationEvent?.documents" style="padding: 0.47rem 0.75rem" (click)="downloadFile(data?.fileId, data?.file?.filename)">
                    <div class="row" style="justify-content: space-between">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1" style="align-self: center;">
                                    <i class="fa fa-file font-size-30"></i>
                                </div>
                                <div class="col-11">
                                    <div class="row">
                                        <label class="form-check-label font-size-14" style="white-space: normal">{{data?.title}}</label>
                                        <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                        <label class="mb-0 font-size-12" *ngIf="!data?.date && !data?.place && !data?.description">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #Notes let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateReportActivity()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #NotesCoordinator let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromCoordinator()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #NotesTreasure let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromTreasure()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #NotesHeadPmu let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 1">Catatan Setuju</h5>
        <h5 class="modal-title mt-0" *ngIf="flagApproveReject === 2">Catatan Revisi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <textarea class="w-100" [(ngModel)]="rejectMessage"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="updateFromHeadPmu()" [disabled]="!rejectMessage || !loadingSaveData">
            <label class="mb-0" style="cursor:pointer;" *ngIf="loadingSaveData">Kirim</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveData"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<ng-template #History let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">History Catatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <ngx-simplebar style="position: relative; height: 410px;" #scrollEle>
            <ul class="list-unstyled chat-list">
                <li class="" *ngFor="let data of detailActivity?.approvalNotes" style="border: transparent; background-color: rgba(251, 251, 251, 1); ">
                    <a>
                        <div class="media" *ngIf="data?.createdFrom == 1">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(3, 129, 23, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 2">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 187, 55, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                        <div class="media" *ngIf="data?.createdFrom == 3">
                            <div class="media-body overflow-hidden">
                                <div class="row mb-2 ">
                                    <div class="col-md-9">
                                        <label *ngIf="data?.approvalStatus == 1"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Disetujui]</label>
                                        <label *ngIf="data?.approvalStatus == 2"><label class="mb-0" style="color: rgba(255, 92, 92, 1);">{{data?.user?.firstName}} {{data?.user?.lastName}} - <label class="mb-0">{{data?.user?.resources?.position?.name}}</label></label> [Mengajukan Revisi]</label>                                    </div>
                                    <div class="col-md-3 text-end">
                                        <div class="font-size-11">{{ data.createdAt}} WIB</div>
                                    </div>
                                </div>
                                <label class="text-truncate mb-0">{{ data.note }}</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </ngx-simplebar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>


<ng-template #MonitoringEvaluation let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Laporan Kegiatan - Monitoring dan Evaluasi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="overflow3">
            <div *ngIf="detailActivity.monev.length > 0 && !detailActivity?.allowApprove">
                <div class="col-md-12" *ngFor="let data of detailActivity?.monev; let i = index">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Hasil Output {{data?.resultChain?.code}}">
                            <ng-template ngbPanelContent>
                                <div class="mb-3 row">
                                    <label class="col-md-4 col-form-label">Output Kegiatan</label>
                                    <label class="col-md-7 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{data?.resultChain?.code}}</label> - {{data?.resultChain?.name}}</label>
                                </div>
                                <div class="table-responsive col-md-11">
                                    <table class="table table-bordered mb-3">
                                        <thead class="thead-dark" style="background: #F1F1F1;">
                                        <tr>
                                            <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                                            <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let dataResultIndicator of data?.successIndicator">
                                            <td style="width: 40%">
                                                <label class="mb-0">{{dataResultIndicator?.successIndicator?.code}} - {{dataResultIndicator?.successIndicator?.name}}</label>
                                            </td>
                                            <td style="width: 40%">
                                                <label class="mb-0">{{dataResultIndicator?.contribution}}</label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
            <div *ngIf="detailActivity?.allowApprove">
                <div class="col-md-12" *ngFor="let data of listMonevExisting; let i = index">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Hasil Output {{data?.resultChain?.code}}">
                            <ng-template ngbPanelContent>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                    <label class="col-md-6 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{data?.resultChain?.code}}</label> - {{data?.resultChain?.name}}</label>
                                </div>
                                <div class="table-responsive col-md-9">
                                    <table class="table table-bordered mb-3">
                                        <thead class="thead-dark" style="background: #F1F1F1;">
                                        <tr>
                                            <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                                            <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let dataResultIndicator of data?.successIndicator">
                                            <td style="width: 40%">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label class="mb-0">{{dataResultIndicator?.successIndicator?.code}} - {{dataResultIndicator?.successIndicator?.name}}</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" *ngIf="!dataResultIndicator?.existing" (click)="removeNewIndicatorExist(dataResultIndicator)"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 40%"><textarea class="form-control" placeholder="Masukkan Ringkasan Indikator Kontribusi Kegiatan" style="white-space: normal" [(ngModel)]="dataResultIndicator.successIndicator.resultIndicator"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <button class="btn" style="border: 1px solid #4D4D4D" (click)="openModalAddIndicator(addIndicatorActivity, data?.resultChain, false)">
                                                    <i class="fa fa-plus"></i> Tambah Indikator Output Kegiatan</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="col-md-12" *ngFor="let data of listSelectedChainCodeAndIndicator; let i = index">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Hasil Output {{data?.resultChainId?.code}}">
                            <ng-template ngbPanelContent>
                                <div class="mb-3 row">
                                    <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                    <label class="col-md-6 col-form-label" style="color: #1865E4;"><label class="font-weight-bold mb-0">{{data?.resultChainId?.code}}</label> - {{data?.resultChainId?.name}}</label>
                                </div>
                                <div class="table-responsive col-md-9">
                                    <table class="table table-bordered mb-3">
                                        <thead class="thead-dark" style="background: #F1F1F1;;">
                                        <tr>
                                            <th class="text-center" style="width: 40%">Indikator Output Kegiatan</th>
                                            <th style="width: 60%">Ringkasan Indikator Kontribusi Kegiatan</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let dataResultIndicator of data?.successIndicatorIds">
                                            <td style="width: 40%">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <label class="mb-0">{{dataResultIndicator?.code}} - {{dataResultIndicator?.name}}</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeNewIndicatorNew(dataResultIndicator)"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 40%"><textarea class="form-control" placeholder="Masukkan Ringkasan Indikator Kontribusi Kegiatan" style="white-space: normal" [(ngModel)]="dataResultIndicator.resultIndicator"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <button class="btn" style="border: 1px solid #4D4D4D" (click)="openModalAddIndicator(addIndicatorActivity, data?.resultChainId, true)">
                                                    <i class="fa fa-plus"></i> Tambah Indikator Output Kegiatan</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="col-md-12" style="align-self: center; justify-content: center; text-align: center">
                    <button class="btn" style="border: 1px solid #4D4D4D; background-color: #1865E4; color: white; width: 500px" (click)="openModalAddIndicator(addIndicatorActivity, null, null)">
                        <i class="fa fa-plus"></i> Tambah Output Kegiatan</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" *ngIf="detailActivity?.allowApprove">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="modal.close()" [disabled]="validationForm()">
            Simpan
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Batal</button>
    </div>
    <div class="modal-footer" *ngIf="detailActivity.monev?.length > 0 && !detailActivity?.allowApprove">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Tutup</button>
    </div>
</ng-template>

<ng-template #addIndicatorActivity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Kontribusi Output Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Output Kegiatan</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #ChainCode="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false"
                                ngbDropdownToggle>
                            <div class="row text-start" *ngIf="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false">
                                <label class="mb-0" *ngIf="selectedChainCode" style="white-space: normal">{{selectedChainCode?.code}} - {{selectedChainCode?.name}}</label>
                            </div>
                            <div class="row text-start" *ngIf="createNewIndicatorSuccess === null">
                                <label class="mb-0" *ngIf="selectedChainCode" style="white-space: normal">{{selectedChainCode?.code}} - {{selectedChainCode?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedChainCode">Pilih Output Kegiatan</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterChainCode($event)">
                                    </div>
                                    <div class="overflow" *ngIf="listChainCode?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listChainCode; let index = last" (click)="selectedChainCodeFromList(data); ChainCode.close()" style="cursor:pointer;">
                                            <label class="form-check-label font-size-16 me-1" style="white-space: normal">{{data?.code}} - {{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listChainCode?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Indikator tidak ditemukan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Indikator Output Kegiatan</label>
                <div class="col-md-9">
                    <ng-select [items]="listIndicatorSuccessApi" [multiple]="true" [disabled]="!selectedChainCode" [(ngModel)]="selectedIndicatorSuccess"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedResultChainAndIndicatorSuccess(); modal.close()" [disabled]="selectedIndicatorSuccess.length == 0" *ngIf="createNewIndicatorSuccess === null">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-primary" (click)="addSelectedResultChainAndIndicatorSuccessExisting(); modal.close()" [disabled]="selectedIndicatorSuccess.length == 0" *ngIf="createNewIndicatorSuccess === true || createNewIndicatorSuccess === false">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close()">Close</button>
    </div>
</ng-template>


<ng-template #pdfBastFile let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">PDF Viewer</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="detailActivity?.bastFile?.fileExt === 'pdf'">
            <div class="col-md-12" *ngFor="let item of pdfCountKegiatan; let i = index">
                <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-two">
                    <ngb-panel title="{{detailActivity?.bastFile?.filename}}" id="config-panel-two">
                        <ng-template ngbPanelContent>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(detailActivity?.bastFile?.id, detailActivity?.bastFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                            <pdf-viewer [src]="item.src" [zoom]="item.pdfZoom" [fit-to-page]="true" [original-size]="true" style="width: 100%; height: 100vh"
                                        [show-all]="false" [page]="item.page" (after-load-complete)="afterLoadComplete($event, item)">
                            </pdf-viewer>
                            <div class="text-center">
                                <button [title]="'Halaman Sebelumnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page > 1 && item.page <= item.totalPages" type="button" (click)="previousPage(item)"
                                ><i class="fa fa-chevron-left font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Halaman Selanjutnya'" class="btn btn-sm btn-primary"
                                        *ngIf="item.page < item.totalPages" type="button" (click)="nextPage(item)"
                                ><i class="fa fas fa-chevron-right font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom Out'" class="btn btn-sm btn-primary" type="button" [disabled]="item.pdfZoom == 1"
                                        (click)="zoomOut(item)"><i class="fa fa-search-minus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Zoom In'" class="btn btn-sm btn-primary"  type="button" [disabled]="item.pdfZoom >= 2"
                                        (click)="zoomIn(item)"><i class="fa fa-search-plus font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Refresh'" class="btn btn-sm btn-primary"  type="button" (click)="resetZoom(item)"
                                        [disabled]="item.pdfZoom == 1"><i class="fa fa-undo font-size-16"></i></button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button [title]="'Download'" class="btn btn-sm btn-primary"  type="button" (click)="downloadFile(detailActivity?.bastFile?.id, detailActivity?.bastFile?.filename)">
                                    <i class="fa fa-file-download  font-size-16"></i>
                                </button>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Keluar</button>
    </div>
</ng-template>
