<div class="loader center-page" *ngIf="!finishLoadData"></div>
<div [hidden]="!finishLoadData">
    <div class="row">
        <div class="col-md-12`">
            <div class="row">
                <label class="col-6 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar {{monevType}}</label>
                <div class="col-6 text-end">
                    <div>
                        <div class="row">
                            <div class="col-md-2 offset-md-4" style="align-self: end">
                                <label>Pencarian : </label>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                            </div>
                            <div class="col-md-2">
                                <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
            <thead class="table-light">
            <tr>
                <th class="text-center" style="width: 5%">No</th>
                <th class="text-center">Kode Result Chain</th>
                <th class="text-center">Output Kegiatan</th>
                <th class="text-center">kode Indikator Keberhasilan</th>
                <th class="text-center">Indikator Keberhasilan</th>
                <th class="text-center">Target Total</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of listMonev; let i = index">
                <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i)}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.resultChainCode ? data?.resultChainCode : '-'}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.result ? data?.result : '-'}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.successIndicatorCode ? data?.successIndicatorCode : '-'}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.successIndicator ? data?.successIndicator : '-'}}</td>
                <td class="text-start" style="vertical-align: middle;">{{data?.targetTotal ? data?.targetTotal : '-'}}</td>
                <td class="text-center" style="width: 10%; vertical-align: middle">
                    <div class="row" style="padding-left: 10px;padding-right: 10px;">
                        <button class="btn w-100 text-white col spacing" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToDetailMonev(data.id)"><i class="fa fa-eye"></i></button>
                        <button class="btn w-100 text-white col" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="goToEditMonev(data.id)">Edit</button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="listMonev?.length == 0">
            <tr>
                <td colspan="7" class="no-data-available text-center">No data!</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
