<div class="container-login p-0">
  <div class="row g-0">
    <div class="col-xl-7">
      <div class="auth-full-bg pt-lg-5 p-4">
        <div class="w-100 text-center">
          <div class="bg-overlay"></div>
          <div class="">
            <img src="assets/images/login-page2.webp" class="img-fluid img-login" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="auth-full-page-content p-md-5 p-4">
        <div class="w-100">

          <div class="d-flex flex-column h-100">
            <div class="text-center">
              <img src="assets/images/logo-login.webp" class="img-fluid avatar-md me-4" alt="Responsive image">
              <img src="assets/images/logo-description2.webp" alt="Responsive image">
            </div>
            <div class="my-auto">
              <div>
                <label class="font-weight-semibold font-size-24">Setel Ulang Password</label>
                <br>
                <label>Link configurasi telah dikirim, silahkan atur password baru anda sebelum jam {{dateExpired}}.</label>
              </div>
              <div class="mt-3 d-grid">
                <button class="btn text-white" type="submit" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%);" (click)="GoToPageLogin()">Kembali Ke Login</button>
              </div>
          </div>
        </div>
          <div class="text-center">
            <p class="mb-0">©
              Copyright © 2022 | Kementerian Agama Republik Indonesia</p>
          </div>
      </div>
    </div>
  </div>
</div>

