<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-6">
            <div class="row row-cols-lg-auto">
                <div class="col-md-12">
                    <label class="title-header">Event</label>
                </div>
                <div class="col-md-12">
                    <label class="font-size-20" style="background: rgba(24, 101, 228, 0.12); border-radius: 6px; padding: 6px; color: rgba(24, 101, 228, 1);" *ngIf="unitLogin === 'PMU'">Komponen {{componentLogin}}</label>
                    <label class="font-size-20" style="background: rgba(24, 101, 228, 0.12); border-radius: 6px; padding: 6px; color: rgba(24, 101, 228, 1);" *ngIf="unitLogin === 'PCU'">PCU</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row row-cols-lg-auto" style="justify-content: end">
                <div class="col-md-12" *ngIf="(roles?.hasAuthority('Consultan') || roles?.hasAuthority('Coordinator'))">
                    <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="openModal(selectCn)" [disabled]="loadingExportWord">
                        <label class="mb-0" *ngIf="!loadingExportWord">Tambah Concept Note</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">Daftar Event</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">Kalender Event</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">Tanggapan Peserta</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">Tanggapan Evaluator</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
                </ng-template>
            </li>
        </ul>
        <div *ngIf="checkedButton == 1">
            <div class="row mt-3 mb-3">
                <div class="col-4" style="align-self: center">
                    <label class="font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar Event</label>
                </div>
                <div class="col-8">
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row row-cols-lg-auto">
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0">Filter :</label>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn text-start" [ngStyle]="{'background-color': (!toDate) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0" *ngIf="!toDate" style="cursor: pointer">Tanggal Event</label>
                                                <label class="mb-0" *ngIf="toDate" style="cursor: pointer">{{fromDate.day}}-{{fromDate.month}}-{{fromDate.year}} s.d {{toDate.day}}-{{toDate.month}}-{{toDate.year}}</label>
                                            </div>
                                            <div class="col-md-6 text-end" *ngIf="!toDate">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [footerTemplate]="footerTemplate">
                                        </ngb-datepicker>

                                        <ng-template #t let-date let-focused="focused">
                                  <span class="custom-day"
                                        [ngClass]="myClass(date)"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                  </span>
                                        </ng-template>
                                        <ng-template #footerTemplate>
                                            <hr class="my-0">
                                            <button class="btn btn-sm m-2 float-end text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="clearFilterDate()">Matikan Filter</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="unitLogin === 'PMU'">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterComponent) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton2"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0">Filter <label class="mb-0" *ngIf="!selectedFilterComponent">Komponen</label> <label class="mb-0" *ngIf="selectedFilterComponent">{{selectedFilterComponent}}</label> <label class="mb-0" *ngIf="selectedFilterSubComponent">&nbsp;({{selectedFilterSubComponent.replace('Sub-Komponen ', '')}})</label></label>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                        <div class="search-box me-2">
                                            <div class="p-3">
                                                <div class="mb-3">
                                                    <ng-select [items]="selectComponent"
                                                               bindLabel="name"
                                                               placeholder="Pilih Komponen"
                                                               [multiple]="false"
                                                               [clearable]="false"
                                                               [(ngModel)]="selectedFilterComponent"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeFilterComponent()">
                                                    </ng-select>
                                                </div>
                                                <div class="mb-3">
                                                    <ng-select [items]="selectSubComponent"
                                                               bindLabel="name"
                                                               placeholder="Pilih Sub Komponen"
                                                               [disabled]="selectSubComponent.length == 0"
                                                               [multiple]="false"
                                                               [clearable]="false"
                                                               [(ngModel)]="selectedFilterSubComponent"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeFilterSubComponent()"
                                                    >
                                                    </ng-select>
                                                </div>
                                                <div class="border-top d-grid">
                                                    <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterComponent()">
                                                        <span key="t-view-more">Matikan Filter</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (!selectedFilterProvince) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0">Filter Provinsi/Kota</label>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                        <div class="search-box me-2">
                                            <div class="p-3">
                                                <div class="mb-3">
                                                    <ng-select [items]="selectProvince"
                                                               bindLabel="name"
                                                               placeholder="Pilih Provinsi"
                                                               [multiple]="false"
                                                               [clearable]="false"
                                                               [(ngModel)]="selectedFilterProvince"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeFilterProvince()">
                                                    </ng-select>
                                                </div>
                                                <div class="mb-3">
                                                    <ng-select [items]="selectCity"
                                                               bindLabel="name"
                                                               placeholder="Pilih Kota"
                                                               [disabled]="selectCity?.length == 0"
                                                               [multiple]="false"
                                                               [clearable]="false"
                                                               [(ngModel)]="selectedFilterCity"
                                                               [ngModelOptions]="{standalone: true}"
                                                               (ngModelChange)="changeFilterCity()"
                                                    >
                                                    </ng-select>
                                                </div>
                                                <div class="border-top d-grid">
                                                    <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilterProvinceRegencies()">
                                                        <span key="t-view-more">Matikan Filter</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row" style="justify-content: end">
                            <div class="col-3 text-end" style="align-self: end">
                                <label>Pencarian : </label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                            </div>
                            <div class="col-2">
                                <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="checkedButton == 3">
            <div class="row mt-3 mb-3">
                <div class="col-4" style="align-self: center">
                    <label class="font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar Tanggapan Peserta</label>
                </div>
                <div class="col-8">
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row row-cols-lg-auto">
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0">Filter :</label>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn text-start" [ngStyle]="{'background-color': (!toDateParticipant) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton2"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0" *ngIf="!toDateParticipant" style="cursor: pointer">Tanggal Event</label>
                                                <label class="mb-0" *ngIf="toDateParticipant" style="cursor: pointer">{{fromDateParticipant.day}}-{{fromDateParticipant.month}}-{{fromDateParticipant.year}} s.d {{toDateParticipant.day}}-{{toDateParticipant.month}}-{{toDateParticipant.year}}</label>
                                            </div>
                                            <div class="col-md-6 text-end" *ngIf="!toDateParticipant">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <ngb-datepicker #dp (dateSelect)="onDateSelectionParticipant($event)" [displayMonths]="2" [dayTemplate]="participant" outsideDays="hidden" [footerTemplate]="footerTemplate2">
                                        </ngb-datepicker>

                                        <ng-template #participant let-date2 let-focused2="focused">
                                  <span class="custom-day"
                                        [ngClass]="myClassParticipant(date2)"
                                        [class.focused]="focused2"
                                        [class.range]="isRangeParticipant(date2)"
                                        [class.faded]="isHoveredParticipant(date2) || isInsideParticipant(date2)"
                                        (mouseenter)="hoveredDateParticipant = date2"
                                        (mouseleave)="hoveredDateParticipant = null">
                                    {{ date2.day }}
                                  </span>
                                        </ng-template>
                                        <ng-template #footerTemplate2>
                                            <hr class="my-0">
                                            <button class="btn btn-sm m-2 float-end text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="clearFilterDateParticipant()">Matikan Filter</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row" style="justify-content: end">
                            <div class="col-3 text-end" style="align-self: end">
                                <label>Pencarian : </label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" [(ngModel)]="filterDataParticipant" (keydown.enter)="refreshDatatableParticipant()">
                            </div>
                            <div class="col-2">
                                <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatableParticipant()">Cari</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="checkedButton == 4">
            <div class="row mt-3 mb-3">
                <div class="col-4" style="align-self: center">
                    <label class="font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar Tanggapan Evaluator</label>
                </div>
                <div class="col-8">
                </div>
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row row-cols-lg-auto">
                            <div class="col-md-12" style="align-self: center">
                                <label class="mb-0">Filter :</label>
                            </div>
                            <div class="col-md-12">
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn text-start" [ngStyle]="{'background-color': (!toDateEvaluator) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton2"
                                            ngbDropdownToggle>
                                        <div class="row" style="justify-content: space-between">
                                            <div class="col-md-6">
                                                <label class="mb-0" *ngIf="!toDateEvaluator" style="cursor: pointer">Tanggal Event</label>
                                                <label class="mb-0" *ngIf="toDateEvaluator" style="cursor: pointer">{{fromDateEvaluator.day}}-{{fromDateEvaluator.month}}-{{fromDateEvaluator.year}} s.d {{toDateEvaluator.day}}-{{toDateEvaluator.month}}-{{toDateEvaluator.year}}</label>
                                            </div>
                                            <div class="col-md-6 text-end" *ngIf="!toDateEvaluator">
                                                <i class="fa fa-chevron-down"></i>
                                            </div>
                                        </div>
                                    </button>
                                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                                        <ngb-datepicker #dp (dateSelect)="onDateSelectionEvaluator($event)" [displayMonths]="2" [dayTemplate]="evaluator" outsideDays="hidden" [footerTemplate]="footerTemplate3">
                                        </ngb-datepicker>

                                        <ng-template #evaluator let-date3 let-focused3="focused">
                                  <span class="custom-day"
                                        [ngClass]="myClassEvaluator(date3)"
                                        [class.focused]="focused3"
                                        [class.range]="isRangeEvaluator(date3)"
                                        [class.faded]="isHoveredEvaluator(date3) || isInsideEvaluator(date3)"
                                        (mouseenter)="hoveredDateEvaluator = date3"
                                        (mouseleave)="hoveredDateEvaluator = null">
                                    {{ date3.day }}
                                  </span>
                                        </ng-template>
                                        <ng-template #footerTemplate3>
                                            <hr class="my-0">
                                            <button class="btn btn-sm m-2 float-end text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="clearFilterDateEvaluator()">Matikan Filter</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="row" style="justify-content: end">
                            <div class="col-3 text-end" style="align-self: end">
                                <label>Pencarian : </label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" [(ngModel)]="filterDataEvaluator" (keydown.enter)="refreshDatatableEvaluator()">
                            </div>
                            <div class="col-2">
                                <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatableEvaluator()">Cari</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center" style="width: 5%">Komponen</th>
                    <th class="text-center" style="width: 5%;">Kode Kegiatan</th>
                    <th class="text-start">Kegiatan</th>
                    <th class="text-start">Nama Event</th>
                    <th class="text-center" style="width: 10%">Tanggal Mulai</th>
                    <th class="text-center" style="width: 15%">Tempat</th>
                    <th class="text-center" style="width: 5%">Status</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelEvent;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 5%; vertical-align: middle">
                        <div ngbTooltip="{{data?.awpImplementation?.component?.description}}" placement="right">
                            {{data?.awpImplementation?.component?.code}}
                        </div>
                    </td>
                    <td class="text-center" style="width: 5%; vertical-align: middle">
                        <div ngbTooltip="{{data?.awpImplementation?.componentCode?.description}}" placement="right">
                            {{data?.awpImplementation?.componentCode?.code}}
                        </div>
                    </td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.awpImplementation?.name}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.name}}</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%">{{data?.convertStartDate | date : 'dd MMMM yyyy'}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.province?.name}}  <label class="mb-0" *ngIf="data?.regency">({{data?.regency?.name}})</label></td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Perencanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)" *ngIf="data?.status == 1">Revisi</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(238, 129, 0, 1);" *ngIf="data?.status == 2">Evaluasi Anggaran</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);" *ngIf="data?.status == 3">Tinjau Ulang</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)" *ngIf="data?.status == 4">Menunggu Persetujuan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 102, 15, 0.12); color: rgba(255, 102, 15, 1);" *ngIf="data?.status == 5">RAB Ditolak</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 6">Pelaksanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 7">Selesai</span>

                    </td>
                    <td class="text-center" style="vertical-align: middle; width: 15%">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn w-100 text-white col" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 100%" (click)="goToDetailKegiatan(data.id, data.status)">
                                    <label class="mb-0" *ngIf="!loadingExportWord">Lihat</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn text-white col text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 100%" (click)="downloadWordConceptNote(data)" *ngIf="(data?.status !== 6 && data?.status !== 7)" disabled>
                                    <i class="fa fa-file-download" *ngIf="!loadingExportWord"></i>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                                <button class="btn text-white col text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 100%" (click)="downloadWordConceptNote(data)" *ngIf="(data?.status === 6 || data?.status === 7)" [disabled]="loadingExportWord">
                                    <i class="fa fa-file-download" *ngIf="!loadingExportWord"></i>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingExportWord"></i>
                                </button>
                            </div>
                        </div>
                    </td>

                </tr>
                </tbody>
                <tbody *ngIf="modelEvent?.length == 0">
                <tr>
                    <td colspan="10" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #TabContent2>
    <div class="loader center-page" *ngIf="finishLoadDataCalender"></div>
    <div class="mt-3" *ngIf="!finishLoadDataCalender">
        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-bottom: -20px">
                    <div class="col-md-8 font-size-24" style="">
                        <div class="row row-cols-lg-auto">
                            <label class="mb-0">JADWAL</label>| <label style="color: #397CEA">{{titleDate | date: 'MMMM'}} - {{titleDate | date: 'yyyy'}}</label>
                            <!--Remove conditional componentLogin == '4.4'-->
                            <div class="dropdown" ngbDropdown container="body" style="width: 27vh" *ngIf="!this.roles.hasAuthority('LSP')">
                                <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (checkedComponent?.length == 0) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <div class="row" style="justify-content: space-between">
                                        <div class="col-md-6">
                                            <label class="mb-0">Filter <label class="mb-0" *ngIf="checkedComponent.length > 0">({{checkedComponent.length}})</label></label>
                                        </div>
                                        <div class="col-md-6 text-end">
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 30vh">
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="ms-4 me-3 mt-2">
                                                <div *ngIf="listComponentStaff?.length > 0">
                                                    <div class="form-check mb-3" *ngFor="let data of listComponentStaff">
                                                        <input class="form-check-input" type="checkbox" id="{{data.id}}" [checked]="data.checked" [(ngModel)]="data.checked" (change)="selectedComponent()">
                                                        <label class="form-check-label" for="{{data.id}}" >
                                                            {{data.code}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="border-top d-grid">
                                                <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                    <span key="t-view-more">Matikan Filter</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="align-self: center">
                        <div class="row row-cols-lg-auto" style="justify-content: end">
                            <label class="mb-0 me-3 font-size-18" style="cursor: pointer" (click)="moveDateCalender(2)"><i class="fa fa-chevron-left" style="cursor:pointer;"></i>&nbsp; <label class="mb-0" style="color: rgba(57, 124, 234, 1); cursor: pointer">{{previousDate | date: 'MMMM'}} - {{previousDate | date: 'yyyy'}}</label></label>
                            <label class="mb-0 font-size-18" (click)="moveDateCalender(1)"><label style="color: rgba(57, 124, 234, 1); cursor: pointer">{{nextDate | date: 'MMMM'}} - {{nextDate | date: 'yyyy'}}</label>&nbsp;<i class="fa fa-chevron-right" style="cursor: pointer"></i></label>
                        </div>
                    </div>
                </div>
                <div class="app-calendar">
                    <!-- calendar -->
                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                </div>
                <div class="mt-3">
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(24, 101, 228, 1);"></i> Komponen 1</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(255, 92, 92, 1);"></i> Komponen 2</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(255, 187, 55, 1);"></i> Komponen 3</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(157, 85, 0, 1);"></i> Komponen 4.1</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(0, 189, 30, 1);"></i> Komponen 4.2</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(212, 24, 228, 1);"></i> Komponen 4.3</label>
                    <label class="mb-0 font-size-16 me-lg-5"><i class="fa fa-circle" style="color: rgba(238, 129, 0, 1);"></i> Komponen 4.4</label>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #TabContent3>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions2" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-start">Kode Kegiatan</th>
                    <th class="text-start">Nama Event</th>
                    <th class="text-center" style="width: 5%">Status Event</th>
                    <th class="text-center" style="width: 5%">Broadcast Formulir</th>
                    <th class="text-center" style="width: 3%">Hasil Formulir</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelEventParticipant;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 5%; vertical-align: middle">{{data?.awpImplementation?.componentCode?.code}}
                    </td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.name}}</td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Perencanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)" *ngIf="data?.status == 1">Revisi</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(238, 129, 0, 1);" *ngIf="data?.status == 2">Evaluasi Anggaran</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);" *ngIf="data?.status == 3">Tinjau Ulang</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)" *ngIf="data?.status == 4">Menunggu Persetujuan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 102, 15, 0.12); color: rgba(255, 102, 15, 1);" *ngIf="data?.status == 5">RAB Ditolak</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 6">Pelaksanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 7">Selesai</span>
                    </td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">
                        <div class="row" style="padding-right: 10px; padding-left: 10px;">
                            <button class="btn text-white col me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 50%" [disabled]="!data?.allowUploadQuestionnaireForm" (click)="openModalForm(fileUploadEmailParticipant, 2, data, true)">
                                <i class="fa fa-envelope" *ngIf="!loadingExportWord"></i>
                            </button>
                            <button class="btn col" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 50%" [disabled]="!data?.countUploadedFormFiles" (click)="openModalForm(confirmationSuccessEmail, 2, data, false)">
                                <i class="fa fa-list" *ngIf="!loadingExportWord"></i>
                            </button>
                        </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle; width: 3%">
                        <button class="btn text-white col" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 50%" (click)="goToSummaryQuestionnaire(data?.id)">
                            <i class="fa fas fa-external-link-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="modelEventParticipant?.length == 0">
                <tr>
                    <td colspan="6" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #TabContent4>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions3" class="table table-bordered mb-0" style="width: 100%">
                <thead class="table-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-start">Kode Kegiatan</th>
                    <th class="text-start">Nama Event</th>
                    <th class="text-center" style="width: 5%">Status Event</th>
                    <th class="text-center" style="width: 5%">Broadcast Formulir</th>
                    <th class="text-center" style="width: 3%">Hasil Formulir</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of modelEventEvaluator;  let i = index">
                    <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-center" style="width: 5%; vertical-align: middle">{{data?.awpImplementation?.componentCode?.code}}
                    </td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.name}}</td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: transparent; border: 1px solid rgba(51, 51, 51, 1) ;color: rgba(51, 51, 51, 1);" *ngIf="data?.status == 0">Perencanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(140, 140, 140, 1)" *ngIf="data?.status == 1">Revisi</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(238, 129, 0, 1);" *ngIf="data?.status == 2">Evaluasi Anggaran</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(175, 116, 0, 0.12); color: rgba(175, 116, 0, 1);" *ngIf="data?.status == 3">Tinjau Ulang</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 1); border: 1px solid rgba(24, 101, 228, 1)" *ngIf="data?.status == 4">Menunggu Persetujuan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 102, 15, 0.12); color: rgba(255, 102, 15, 1);" *ngIf="data?.status == 5">RAB Ditolak</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);" *ngIf="data?.status == 6">Pelaksanaan</span>
                        <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(24, 101, 228, 0.12); color: rgba(24, 101, 228, 1);" *ngIf="data?.status == 7">Selesai</span>
                    </td>
                    <td class="text-center" style="vertical-align: middle; width: 5%">
                        <div class="row" style="padding-right: 10px; padding-left: 10px;">
                            <button class="btn text-white col me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 50%" [disabled]="!data?.allowUploadQuestionnaireForm" (click)="openModalForm(fileUploadEmailParticipant, 1, data, true)">
                                <i class="fa fa-envelope" *ngIf="!loadingExportWord"></i>
                            </button>
                            <button class="btn col" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 50%" [disabled]="!data?.countUploadedFormFiles" (click)="openModalForm(confirmationSuccessEmail, 1, data, false)">
                                <i class="fa fa-list" *ngIf="!loadingExportWord"></i>
                            </button>
                        </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle; width: 3%">
                        <button class="btn text-white col" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 50%" (click)="goToSummaryQuestionnaireEvaluator(data?.id)">
                            <i class="fa fas fa-external-link-alt"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="modelEventEvaluator?.length == 0">
                <tr>
                    <td colspan="6" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>



<ng-template #selectCn let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Concept Note</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <label>Pilih Kegiatan yang ingin dibuat Concept Note.</label>
        <div class="input-group mb-3">
            <div class="dropdown" ngbDropdown>
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)"
                        ngbDropdownToggle>
                    <div *ngIf="!selectedCode">
                        <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                    </div>
                    <div *ngIf="selectedCode">
                        <label class="mb-0 me-2" *ngIf="selectedCode">{{selectedCode.componentCode?.code}}</label>
                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCode()"></i>
                    </div>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu style="width: 40vh">
                    <div class="overflow2" *ngIf="modelKegiatan.length > 0">
                        <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of modelKegiatan" (click)="selectedCodeFromList(dataExist)">
                            <div *ngIf="dataExist?.status == 5">
                                {{dataExist?.componentCode?.code}} - {{dataExist?.name}}
                            </div>
                        </label>
                    </div>
                    <div *ngIf="modelKegiatan.length == 0">
                        <label class="mb-0 ms-2">Data Tidak Tersedia</label>
                    </div>
                </div>
            </div>
            <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="kegiatan" disabled></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToCreateCn(selectedCode)" [disabled]="!selectedCode">Buat Concept Note</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>

<!-- Edit event modal -->
<ng-template #editmodalShow let-modal>
    <div class="modal-content" style="background: rgba(45, 156, 219, 1);">
        <div class="modal-body p-4" style="color: rgba(45, 156, 219, 1);">
            <form [formGroup]="formEditData">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="font-size-20 text-white">Event</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="control-label font-size-16 text-white">Nama Event : {{tittleEventSelected}}</label><br>
                            <div class="mb-1 row">
                                <label class="control-label font-size-16 text-white">
                                    <label class="mb-0">Tim Pelaksana</label>
                                    <div *ngIf="listStaffEvent.length > 0">
                                        <div *ngFor="let data of listStaffEvent">
                                            <li class="ms-4" *ngIf="data?.resources?.user?.component?.code !== '-'">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} (Komponen {{data?.resources?.user?.component?.code}})</li>
                                            <li class="ms-4" *ngIf="data?.resources?.user?.component?.code === '-'">{{data?.resources?.user?.firstName}} {{data?.resources?.user?.lastName}} (PCU)</li>
                                        </div>
                                    </div>
                                    <div *ngIf="otherStaffEvent.length > 0">
                                        <div *ngFor="let data of otherStaffEvent">
                                            <li class="ms-4">{{data?.name}}, {{data?.position}}, {{data?.institution}}</li>
                                        </div>
                                    </div>
                                    <div *ngIf="listStaffEvent.length === 0 && otherStaffEvent.length === 0">
                                        <li class="ms-4">Tidak Ada Peserta Pelaksana</li>
                                    </div>
                                </label>
                            </div>
                            <div class="mb-1 row">
                                <label class="control-label font-size-16 text-white">Waktu Pelaksanaan
                                    <div>
                                        <li class="ms-4">{{startDateEvent | date:'dd MMMM yyyy'}} - {{endDateEvent | date:'dd MMMM yyyy'}}</li>
                                    </div>
                                </label>
                            </div>
                            <label class="control-label font-size-16 text-white">Tempat Pelaksanaan
                                <div>
                                    <li class="ms-4">{{province?.name}} <label class="mb-0" *ngIf="regencies">({{regencies.name}})</label></li>
                                </div>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="text-end">
                        <label class="font-size-20" style="color: rgba(255, 255, 255, 0.3);">{{startDateEvent | date:'dd MMMM yyyy'}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>

<!-- upload modal form -->
<ng-template #fileUploadEmailParticipant let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 1" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 2" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 mt-3" style="justify-content: center">
            <div class="col-md-12" style="background: rgba(24, 101, 228, 0.06); border: 1px solid rgba(24, 101, 228, 1); border-radius: 4px">
                <label class="mb-0 p-2 font-size-14" style="color: rgba(24, 101, 228, 1);">
                    Upload file excel (.xls/.xlsx) yang berisi email peserta. <label class="mb-0 font-weight-bold" (click)="exportExcelTempalateForm()" style="cursor: pointer"><u>Download template excel</u></label> <i class="bx bx-loader bx-spin font-size-20 align-middle ms-3" *ngIf="loadingExportWord"></i>
                </label>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Upload File</label>
            <div class="col-md-9">
                <file-upload name="uploadForm"
                             [(ngModel)]="uploadFileExcelForm"
                             [fileslimit]="1"
                             [multiple]="false"
                             [accept]="'.xlsx, .xlx'"
                             filesize= "20mb">
                </file-upload>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="doUploadFileEmailParticipant(selectedForFormEmail)" [disabled]="uploadFileExcelForm.length == 0 || loadingUploadFormParticipant">
            <label class="mb-0" *ngIf="!loadingUploadFormParticipant">Broadcast Email</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle" *ngIf="loadingUploadFormParticipant"></i>
        </button>
    </div>
</ng-template>

<ng-template #confirmationSuccessEmail let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 1" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 2" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="loader center-page" *ngIf="loadingGetDataSuccessEmailParticipant"></div>
        <div *ngIf="!loadingGetDataSuccessEmailParticipant">
            <div class="mb-3 row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label">Nama File : {{modelSuccessEmailParticipant?.fileName}}</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-12 p-2" style="background: rgba(0, 189, 30, 0.12); border-radius: 6px">
                    <label class="mb-0 font-size-16" style="color: rgba(3, 129, 23, 1);">
                        Sukses Terkirim
                    </label><br><br>
                    <label class="mb-0 font-size-14" style="color: rgba(3, 129, 23, 1);">
                        {{modelSuccessEmailParticipant?.successCount}} email berhasil terkirim
                    </label>
                </div>
            </div>
            <div class="mb-3" *ngIf="modelSuccessEmailParticipant?.failed.length > 0">
                <div class="col-md-12 p-2" style="background: rgba(255, 92, 92, 0.12); border-radius: 6px">
                    <label class="mb-0 font-size-16" style="color: rgba(191, 0, 0, 1);">
                        Gagal Terkirim
                    </label><br><br>
                    <div *ngFor="let data of modelSuccessEmailParticipant?.failed">
                        <label class="mb-0 font-size-14" style="color: rgba(191, 0, 0, 1);">{{data}}</label><br>
                    </div><br>
                    <label class="mb-0 font-size-14" style="color: rgba(191, 0, 0, 1);">
                        Periksa kembali email yang anda upload dan broadcast ulang
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%)" (click)="checkStatusEmailStatus()" [disabled]="loadingGetDataSuccessEmailParticipant">
            <label class="mb-0" *ngIf="!loadingGetDataSuccessEmailParticipant">Refresh Data</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingGetDataSuccessEmailParticipant"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingGetDataSuccessEmailParticipant">
            <label class="mb-0" *ngIf="!loadingGetDataSuccessEmailParticipant">Close</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingGetDataSuccessEmailParticipant"></i>
        </button>
    </div>
</ng-template>
