<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToDetailEvent()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Laporan Event - {{dataDetailKegiatan?.componentCode?.code}}</label>
            </div>
        </div>
        <div class="mt-3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation" (click)="changeMenuFieldProgress(1)" style="flex: 1 ;cursor: pointer" [ngStyle]="{'background-color': (fieldSubstantiv == 1) ? '#eaecfb' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Laporan Substansi</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi laporan yang sifatnya substansi</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 2) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Laporan Keuangan</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi laporan tentang keuangan event</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card stepper-top-navigation-substantiev" style="cursor: pointer;" [ngStyle]="{'background-color': (fieldSubstantiv == 3) ? 'rgba(24, 101, 228, 0.1)' : 'rgba(255, 255, 255, 1)'}">
                            <div class="card-body">
                                <label class="mb-0" style="cursor: pointer">Kata Pengantar</label><br>
                                <label class="mb-0" style="cursor: pointer">Berisi kata pengantar laporan event</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <div *ngIf="fieldSubstantiv == 1">
                        <aw-wizard [navBarLayout]="'large-empty-symbols'">
                            <aw-wizard-step stepTitle="Data Umum">
                                <ng-template awWizardStepSymbol>
                                    <i class="fas fa-check"></i>
                                </ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="mb-3 row">
                                            <label class="mb-0 col-md-3 col-form-label">Tahun :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" value="{{dataDetailKegiatan?.awp?.year}}" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Komponen :</label>
                                            <div class="col-md-6">
                                                <div class="dropdown" ngbDropdown container="body">
                                                    <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-12 text-start">
                                                                <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                                <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                            <div class="col-md-6">
                                                <div class="dropdown" ngbDropdown container="body">
                                                    <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button">
                                                        <div class="row">
                                                            <div class="col-md-12 text-start">
                                                                <label class="mb-0" *ngIf="!selectedSubComponentExist">-</label>
                                                                <label class="mb-0" *ngIf="selectedSubComponentExist" style="white-space: normal">{{selectedSubComponentExist?.code}} - {{selectedSubComponentExist?.description}}</label>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Sub-Sub-Komponen :</label>
                                            <div class="col-md-6">
                                                <div class="dropdown" ngbDropdown container="body">
                                                    <button class="btn w-100" style="border: black solid 1px; background: rgba(245, 245, 245, 1);" type="button" >
                                                        <div class="row text-start">
                                                            <div class="col-md-12 text-start">
                                                                <label class="mb-0" *ngIf="!selectedSubSubComponentExist">-</label>
                                                                <label class="mb-0" *ngIf="selectedSubSubComponentExist" style="white-space: normal">{{selectedSubSubComponentExist?.code}} - {{selectedSubSubComponentExist?.description}}</label>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-2 row">
                                            <label class="col-md-3 col-form-label">Nama Kegiatan :</label>
                                            <div class="col-md-6">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" style="max-width: 90px;" [(ngModel)]="codeSelected" disabled>
                                                        <option selected>{{codeSelected}}</option>
                                                    </select>
                                                    <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="kegiatanName" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Moda Kegiatan</label>
                                            <div class="col-md-6">
                                                <form class="row row-cols-lg-auto">
                                                    <div *ngFor="let data of listModaType">
                                                        <div class="col-md-2">
                                                            <div class="form-check col-form-label">
                                                                <input class="form-check-input" type="radio" name="formRadios" id="{{data.id}}" [value]="data?.id" [(ngModel)]="selectedModaActivity.id" [checked]="selectedModaActivity?.id">
                                                                <label class="form-check-label" for="{{data.id}}">
                                                                    {{data?.name}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Keterangan Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="OtherInfoAwp" [(ngModel)]="otherInformationAwp"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Kode Akun</label>
                                            <div class="col-md-6">
                                                <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pokRequest.length > 0">
                                                    <li class="list-group-item" *ngFor="let data of pokRequest">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-9">
                                                                <label class="form-check-label" style="white-space: normal">{{data?.code}} - {{data?.title}}</label>
                                                            </div>
                                                            <div class="col-3 text-end">
                                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPokSelected(data, 2)"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="dropdown" ngbDropdown container="body" #pok = "ngbDropdown">
                                                    <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                            ngbDropdownToggle>
                                                        <i class="fa fa-plus"></i> Tambah Kode POK
                                                    </button>
                                                    <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                        <div class="search-box me-2">
                                                            <div>
                                                                <div class="position-relative ms-3 me-3 mb-2">
                                                                    <i class="bx bx-search-alt search-icon"></i>
                                                                    <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPok($event)">
                                                                </div>
                                                                <div class="overflow2" *ngIf="listCodePok?.length > 0">
                                                                    <div *ngFor="let data of listCodePok; let i = last" (click)="addPokSelected(data, 1); pok.close()" style="cursor:pointer;">
                                                                        <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal" >{{data.code}} - {{data?.title}}</label>
                                                                        <hr class="mb-1 mt-1" *ngIf="!i">
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="listCodePok?.length == 0">
                                                                    <div class="ms-4 mt-1">
                                                                        <label class="form-check-label font-size-16">Kode tidak tersedia</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Nama Event :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Nama Event" [(ngModel)]="eventName">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Tema Event :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Tema Event" [(ngModel)]="themeEvent">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Kode Event :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Kode Event" [(ngModel)]="eventCode">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Jenis Event</label>
                                            <div class="col-md-6">
                                                <div class="dropdown" ngbDropdown container="body" #JenisEvent="ngbDropdown">
                                                    <button class="btn w-100" style="border: black solid 1px" type="button"
                                                            ngbDropdownToggle>
                                                        <div class="row text-start">
                                                            <label class="mb-0" *ngIf="selectedEvent"><label class="mb-0">{{selectedEvent?.type == 1 ? 'Pelatihan' : 'Rapat'}}</label> - {{selectedEvent?.name}}</label>
                                                            <label class="mb-0" *ngIf="!selectedEvent">Pilih Jenis Kegiatan</label>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="mb-0 col-md-3 col-form-label">Cara Pengelolaan Event</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" value="{{dataDetailKegiatan?.eventManagementType?.name}}" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Pelaksana Teknis :</label>
                                            <div class="col-md-6">
                                                <div class="dropdown" ngbDropdown container="body">
                                                    <button class="btn w-100" style="border: black solid 1px" type="button">
                                                        <div class="row text-start">
                                                            <div class="col-md-10">
                                                                <label class="mb-0">{{dataDetailKegiatan?.lspPicUser?.firstName}} {{dataDetailKegiatan?.lspPicUser?.lastName}}</label>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToDetailEvent()">Batal</button>
                                    </li>
                                    <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="!themeEvent || !eventCode ">Lanjut</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="Pelaksanaan">
                                <ng-template awWizardStepSymbol>
                                    <i class="fas fa-check"></i>
                                </ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Waktu Pelaksanaan Event :</label>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <form class="form-inline">
                                                        <div class="form-group hidden">
                                                            <div class="input-group">
                                                                <input name="datepicker"
                                                                       class="form-control"
                                                                       type="hidden"
                                                                       ngbDatepicker
                                                                       #datepicker="ngbDatepicker"
                                                                       [autoClose]="'outside'"
                                                                       [minDate]="minDate"
                                                                       [maxDate]="maxDate"
                                                                       (dateSelect)="onDateSelection($event, datepicker)"
                                                                       [displayMonths]="2"
                                                                       [dayTemplate]="customDay"
                                                                       outsideDays="hidden"
                                                                       [startDate]="fromDate!"
                                                                       tabindex="-1"
                                                                >
                                                                <ng-template
                                                                    #customDay
                                                                    let-date
                                                                    let-currentMonth="currentMonth"
                                                                    let-selected="selected"
                                                                    let-disabled="disabled"
                                                                    let-focused="focused">
                                                              <span
                                                                      class="custom-day"
                                                                      [ngClass]="myClass(date)"
                                                                      [class.weekend]="isWeekend(date)"
                                                                      [class.focused]="focused"
                                                                      [class.bg-primary]="selected"
                                                                      [class.text-muted]="disabled"
                                                                      [class.range]="isRange(date)"
                                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                                      (mouseenter)="hoveredDate = date"
                                                                      (mouseleave)="hoveredDate = null">
                                                                {{ date.day }}
                                                              </span>
                                                                </ng-template>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                        </div>
                                                                        <input #dpFromDate
                                                                               class="form-control" placeholder="Pilih tanggal mulai"
                                                                               name="dpFromDate"
                                                                               [value]="formatter.format(fromDate)"
                                                                               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1" style="align-self: end; text-align: center">
                                                                <label>s.d</label>
                                                            </div>
                                                            <div class="col-md">
                                                                <div class="form-group ml-2">
                                                                    <div class="input-group">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                        </div>
                                                                        <input #dpToDate
                                                                               class="form-control" placeholder="Pilih tanggal akhir"
                                                                               name="dpToDate"
                                                                               [value]="formatter.format(toDate)"
                                                                               (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Informasi Waktu Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Informasi Tambahan Waktu Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="timeOtherInformation">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Tempat Pelaksanaan :</label>
                                            <div class="col-md-6">
                                                <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="selectedProvinceAndCity?.length > 0">
                                                    <li class="list-group-item" *ngFor="let data of selectedProvinceAndCity" style="padding: 0.47rem 0.75rem">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-9">
                                                                <label class="form-check-label mb-0">{{data?.provinceId?.name}}
                                                                    <label class="mb-0" *ngIf="data?.regencyId">({{data?.regencyId?.name}})</label>
                                                                </label>
                                                            </div>
                                                            <div class="col-3 text-end">
                                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedProvinceAndCity(data)"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="dropdown" ngbDropdown container="body" *ngIf="selectedProvinceAndCity?.length == 0">
                                                    <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addProvinceAndCity)" [disabled]="selectedProvinceAndCity.length > 0"
                                                            ngbDropdownToggle>
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-md-10 text-start">
                                                                <label class="mb-0">Pilih Tempat Pelaksanaan</label>
                                                            </div>
                                                            <div class="col-md-2 text-end">
                                                                <i class="fa fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Informasi Lain Tempat Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Informasi Tambahan Tempat Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="tempatInformasiLainnya">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-form-label col-md-3 mb-0">Lokasi :</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" [(ngModel)]="location">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToDetailEvent()">Batal</button>
                                    </li>
                                    <li class="next list-inline-item float-end">
                                        <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                        <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="!fromDate || !toDate || selectedProvinceAndCity.length == 0 || !location">Lanjut</button>
                                    </li>
                                </ul>
                            </aw-wizard-step>

                            <aw-wizard-step stepTitle="Data Event & Peserta">
                                <ng-template awWizardStepSymbol>
                                    <i class="fas fa-check"></i>
                                </ng-template>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label" style="align-self: center">Overview Proyek :</label>
                                            <label class="col-md-6 col-form-label">
                                                <ngb-accordion #acc="ngbAccordion">
                                                    <ngb-panel title="Proyek Realizing Education’s Promise: Support to Indonesia’s Ministry of Religious Affairs for Improved Qua...">
                                                        <ng-template ngbPanelContent>
                                                            <div class="">
                                                                <label class="mb-0">
                                                                    Proyek Realizing Education’s Promise: Support to Indonesia’s Ministry of Religious Affairs for Improved Quality of Education –selanjutnya disebut Realizing Education’s Promise- (Madrasah Education Quality Reform) (Loan 8992-ID) bertujuan untuk meningkatkan mutu pengelolaan dan layanan pendidikan madrasah dalam binaan Kementerian Agama. Proyek ini dilaksanakan dalam waktu lima tahun, dimulai pada awal tahun 2020 dan berakhir pada tahun 2024 dengan pembiayaan dari Bank Dunia. Proyek ini akan dilaksanakan di 34 provinsi dan 514 kabupaten/kota di seluruh Indonesia.
                                                                    Proyek ini terdiri atas empat komponen proyek yang dapat meningkatkan hasil belajar siswa dan sistem pengelolaan pendidikan di Kementerian Agama. Keempat komponen tersebut adalah: <br><br>

                                                                    &nbsp;&nbsp;1. Penerapan Sistem e-RKAM (Rencana Kerja dan Anggaran Madrasah berbasis elektronik) secara Nasional dan Pemberian Dana Bantuan untuk Madrasah. Sistem e-RKAM ini memungkinkan terjadinya peningkatan efektivitas pembelanjaan melalui sistem perencanaan dan penganggaran berbasis kinerja di madrasah dan sekolah penerima BOS di bawah Kemenag yang memungkinkan madrasah dan satuan pendidikan keagamaan lainnya untuk merencanakan, menganggarkan, dan memonitor penggunaan dana dengan lebih efektif. Pemberian dana bantuan dimaksudkan untuk mendukung percepatan pencapaian SNP berdasarkan hasil Evaluasi Diri Madrasah (EDM) dan penerapan e-RKAM.<br>
                                                                    &nbsp;&nbsp;2. Penerapan Sistem Penilaian Hasil Belajar di tingkat Madrasah Ibtidaiyah (MI) untuk Seluruh Peserta Didik Kelas 4 Secara Nasional. Asesmen ini diharapkan dapat mengukur dampak dari pendanaan terhadap hasil belajar siswa dan mengidentifikasi aspek-aspek apa saja yang perlu ditingkatkan.<br>
                                                                    &nbsp;&nbsp;3. Kebijakan dan Pengembangan Keprofesian Berkelanjutan untuk Guru, Kepala Madrasah, dan Tenaga Kependidikan Madrasah. Peningkatan akses terhadap pelatihan yang bermutu memungkinkan terjadinya peningkatan kompetensi guru dan tenaga kependidikan.<br>
                                                                    &nbsp;&nbsp;4. Penguatan Sistem untuk Mendukung Peningkatan Mutu Pendidikan. Penguatan sistem pendataan sehingga menjadi basis dalam pembuatan kebijakan, serta penguatan sistem pengelolaan madrasah dan tata kelola di semua jenjang kantor Kemenag diharapkan dapat meningkatkan sistem penyelenggaran pendidikan yang bermutu di Kemenag.<br>
                                                                </label>
                                                            </div>
                                                        </ng-template>
                                                    </ngb-panel>
                                                </ngb-accordion>
                                            </label>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Deskripsi Event :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="descriptionEvent" [(ngModel)]="eventDescription"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Tujuan Event :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="purposeEvent" [(ngModel)]="eventPurpose"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Output Event :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="outputEvent" [(ngModel)]="eventOutput"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Sasaran Peserta Event : <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="participantTarget" [(ngModel)]="targetParticipant"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Jumlah Peserta Event</label>
                                            <div class="col-md-3">
                                                <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantCount" (keydown)="numberOnly($event)">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Peserta Laki-laki <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                            <div class="col-md-3">
                                                <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantMale" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 1)">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Peserta Perempuan <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                            <div class="col-md-3">
                                                <input type="number" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="participantFemale" (keydown)="numberOnly($event)" (keyup)="calculatePs($event, 2)">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Informasi Lainnya <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Informasi tambahan peserta jika ada" [(ngModel)]="participantOtherInformation">
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Ringkasan Pelaksanaan Event :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="summaryEvent" [(ngModel)]="summaryEventOutput"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Evaluasi Event :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="evaluationEvent" [(ngModel)]="evaluationEventOutput"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Formulir Evaluasi Event </label>
                                            <div class="col-md-6">
                                                <ng-select [items]="listLinkParticipant"
                                                           bindLabel="name"
                                                           placeholder="Pilih Formulir Evaluasi Kegiatan"
                                                           [multiple]="false"
                                                           [(ngModel)]="selectedLinkParticipant"
                                                           (ngModelChange)="changeSelectedFormQuestion()"
                                                           [ngModelOptions]="{standalone: true}">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="selectedLinkParticipant">
                                            <label class="col-md-3 col-form-label"></label>
                                            <div class="col-md-6">
                                                <div class="row-cols-lg-auto">
                                                    <button class="btn text-white p-2 me-2" style="background: #038117;" (click)="goToResultFormParticipant()">Buka Hasil Formulir Peserta <i class="fa fa-external-link-alt ms-1"></i></button>
                                                    <button class="btn text-white p-2" style="background: rgba(51, 128, 255, 1);" (click)="goToResultFormEvaluator()">Buka Hasil Formulir Evaluator <i class="fa fa-external-link-square-alt ms-1"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Kesimpulan dan Saran :</label>
                                            <div class="col-md-6">
                                                <ckeditor [editor]="outputEvent" [(ngModel)]="conclutionAndAdvice"></ckeditor>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Upload Dokumentasi Kegiatan</label>
                                            <div class="col-md-6">
                                                <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="documentationEvent.length > 0">
                                                    <li class="list-group-item" *ngFor="let data of documentationEvent" style="padding: 0.47rem 0.75rem">
                                                        <div class="row" style="justify-content: space-between">
                                                            <div class="col-10">
                                                                <div class="row">
                                                                    <div class="col-1" style="align-self: center">
                                                                        <i class="fa fa-file font-size-30"></i>
                                                                    </div>
                                                                    <div class="col-11">
                                                                        <div class="row">
                                                                            <label class="form-check-label" style="white-space: normal">{{data?.title}}</label>
                                                                            <label class="mb-0 font-size-12" *ngIf="data?.date || data?.place || data?.description" style="color: rgba(151, 151, 151, 1);"> <label class="mb-0" *ngIf="data?.description">{{data?.description}};</label> <label class="mb-0" *ngIf="data?.eventDocumentTypeName">{{data?.eventDocumentTypeName}};</label> <label class="mb-0" *ngIf="data?.date">{{data?.date}};</label> <label class="mb-0" *ngIf="data?.place">{{data?.place}}</label></label>
                                                                            <label class="mb-0" *ngIf="!data?.date && !data?.place && !data?.description">-</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-2 text-end">
                                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeDocumentationFile(data)"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadRab)">
                                                    <i class="fa fa-plus"></i> Upload Dokumentasi Kegiatan
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-md-3 col-form-label">Upload Lampiran</label>
                                            <div class="col-md-6">
                                                <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadAgendaKegiatan)">
                                                    <div class="text-start">
                                                        <i class="fa fa-folder-open me-2"></i>
                                                        <label class="mb-0" *ngIf="uploadFileExcelAgenda.length == 0">Upload Lampiran</label>
                                                        <label class="mb-0" *ngIf="uploadFileExcelAgenda.length > 0">{{uploadFileExcelAgenda[0].name}}</label>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline wizard mb-0">
                                    <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToDetailEvent()">
                                        Batal
                                    </button>
                                    </li>
                                    <li class="next list-inline-item float-end">
                                        <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>
                                            Sebelumnya
                                        </button>
                                        <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="changeMenuFieldProgress(2)" [disabled]="uploadFileExcelAgenda.length == 0 || documentationEvent.length == 0 || !summaryEventOutput || participantCount == null || !evaluationEventOutput  || !conclutionAndAdvice || !eventPurpose || !descriptionEvent || !selectedLinkParticipant">
                                            Lanjut
                                        </button>
                                    </li>
                                </ul>
                            </aw-wizard-step>
                        </aw-wizard>
                    </div>
                    <div *ngIf="fieldSubstantiv == 2">
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Budget POK : </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="budgetPok" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Budget AWP :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Budget AWP" [(ngModel)]="budgetAwp" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Sumber Anggaran :</label>
                            <div class="col-md-6">
                                <textarea class="form-control" placeholder="Isi Sumber Anggaran" [(ngModel)]="sourceFounds"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Tahun Anggaran :</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" value="{{dataDetailKegiatan?.awp?.year}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Nomor MAK :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Masukkkan Nomor MAK" [(ngModel)]="MakNumber">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Nilai Kontrak : </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="budgetCeiling">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Jumlah Realisasi : </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Rp -" [(ngModel)]="totalAnggaranRealitation">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Upload Rincian Realisasi : </label>
                            <div class="col-md-6">
                                <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadAgendaRaa)">
                                    <div class="text-start">
                                        <i class="fa fa-folder-open me-2"></i>
                                        <label class="mb-0" *ngIf="uploadFileRaa.length == 0">Upload Rincian Realisasi Anggaran</label>
                                        <label class="mb-0" *ngIf="uploadFileRaa.length > 0">{{uploadFileRaa[0].name}}</label>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="fieldSubstantiv == 3">
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Paragraf 1 :</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="paragraph1" [(ngModel)]="introductionParagraph1"></ckeditor>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Paragraf 2 :</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="paragraph2" [(ngModel)]="introductionParagraph2"></ckeditor>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Paragraf 3 :</label>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">a. Total Durasi :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Masukkan Total Durasi" [(ngModel)]="totalDurationParagraph3">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">b. Skema Event :</label>
                            <div class="col-md-6">
                                <div class="dropdown" ngbDropdown container="body" #JenisEvent="ngbDropdown">
                                    <button class="btn w-100" style="border: black solid 1px" type="button"
                                            ngbDropdownToggle>
                                        <div class="row text-start">
                                            <label class="mb-0" *ngIf="selectedEvent"><label class="mb-0">{{selectedEvent?.type == 1 ? 'Pelatihan' : 'Rapat'}}</label> - {{selectedEvent?.name}}</label>
                                            <label class="mb-0" *ngIf="!selectedEvent">Pilih Jenis Kegiatan</label>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">c. Tanggal Event :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" value="{{fromDateIntroduction | date: 'dd MMMM yyyy'}} s.d {{toDateIntroduction | date: 'dd MMMM yyyy'}}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">d. Lokasi Event :</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control"  value="{{location}}; {{selectedProvinceAndCity[0]?.provinceId?.name}} ({{selectedProvinceAndCity[0]?.regencyId?.name}})" *ngIf="selectedProvinceAndCity[0].regencyId?.name" disabled>
                                <input type="text" class="form-control"  value="{{location}}; {{selectedProvinceAndCity[0]?.provinceId?.name}}" *ngIf="!selectedProvinceAndCity[0].regencyId?.name" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">e. Sasaran Peserta :</label>
                            <div class="col-md-6">
                                <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="listParticipantTarget?.length > 0">
                                    <li class="list-group-item" *ngFor="let data of listParticipantTarget" style="padding: 0.47rem 0.75rem">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <label class="mb-1 font-size-15">{{data.newParticipantTarget}}</label><br>
                                                <label class="mb-0 font-size-13" style="color: rgba(24, 101, 228, 1);">Jumlah Peserta : {{data.value}}</label>
                                            </div>
                                            <div class="col-md-2 text-end">
                                                <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="clearNewParticipantTarget(data)"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="dropdown" ngbDropdown container="body">
                                    <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addParticipantTarget)"
                                            ngbDropdownToggle>
                                        <i class="fa fa-plus"></i> Tambah Sasaran Peserta
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Paragraf 4 :</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="paragraph4" [(ngModel)]="introductionParagraph4"></ckeditor>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Paragraf 5 :</label>
                            <div class="col-md-6">
                                <ckeditor [editor]="paragraph5" [(ngModel)]="introductionParagraph5"></ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="fieldSubstantiv == 2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 text-start">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToDetailEvent()">
                                    <label class="mb-0" *ngIf="!loadingSaveProgressEvent">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveProgressEvent"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(1)">
                                    Sebelumnya
                                </button>
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="changeMenuFieldProgress(3)" [disabled]="uploadFileRaa.length == 0 || !sourceFounds || !MakNumber || !totalAnggaranRealitation">
                                    Lanjut
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="fieldSubstantiv == 3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 text-start">
                                <button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToDetailEvent()">
                                    <label class="mb-0" *ngIf="!loadingSaveProgressEvent">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveProgressEvent"></i>
                                </button>
                            </div>
                            <div class="col-md-6 text-end">
                                <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" (click)="changeMenuFieldProgress(2)">
                                    <label class="mb-0" *ngIf="!loadingSaveProgressEvent">Sebelumnya</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveProgressEvent"></i>
                                </button>
                                <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" (click)="doUploadAttachmentFile()" [disabled]="(uploadFileRaa.length == 0 && !raaFile) || !introductionParagraph1 || !introductionParagraph2 || !introductionParagraph4 || !introductionParagraph5 || !totalDurationParagraph3 || !fromDateIntroduction || !toDateIntroduction || listParticipantTarget.length == 0">
                                    <label class="mb-0" *ngIf="!loadingSaveProgressEvent">Simpan</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveProgressEvent"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #fileUploadAgendaRaa let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Rincian Realisasi Anggaran</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileRaa"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addProvinceAndCity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Provinsi dan Kota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Province="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedProvinceExist">{{selectedProvinceExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedProvinceExist">Pilih Provinsi</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterProvince($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listProvinceExist?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listProvinceExist; let index = last" (click)="selectedProvince(data); Province.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listProvinceExist?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Provinsi tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Kabupaten/Kota <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px">(Optional)</label></label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kabupaten="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!selectedProvinceExist"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedCityExist">{{selectedCityExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedCityExist">Pilih Kota</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterCity($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listCityAllExist?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listCityAllExist; let index = last" (click)="selectedCity(data); Kabupaten.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listCityAllExist?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Kota tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedProvinceAndCity()" [disabled]="!selectedProvinceExist">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadRab let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Dokumen Kegiatan </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 row">
            <div class="col-md-12">
                <file-upload name="uploadSelfie"
                             [(ngModel)]="uploadFileDocumentationEvent"
                             [fileslimit]="1"
                             [multiple]="false"
                             [accept]="'.jpg, .png, .pdf, .docx, .doc, .mp4, .mpg, .avi'"
                             filesize= "20mb">
                </file-upload>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-4 mb-0">Judul :</label>
            <div class="col-md-8">
                <input type="text" class="form-control" [(ngModel)]="documentationEventName">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-4 mb-0">Jenis Dokumentasi :</label>
            <div class="col-md-8">
                <ng-select [items]="typeDocumentation"
                           bindLabel="name"
                           placeholder="Pilih Jenis Dokumentasi"
                           [multiple]="false"
                           [(ngModel)]="selectedTypeDocumentation"
                           [ngModelOptions]="{standalone: true}">
                </ng-select>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-4 mb-0">Deskripsi Kegiatan :</label>
            <div class="col-md-8">
                <input type="text" class="form-control" [(ngModel)]="documentationEventDescription">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-4 mb-0">Ket. Tanggal :</label>
            <div class="col-md-8">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" ngbDatepicker #d="ngbDatepicker"
                           [dayTemplate]="customDay" [(ngModel)]="documentationEventDate" [minDate]="minDate"
                           [maxDate]="maxDate"
                    >
                    <ng-template
                        #customDay
                        let-date
                        let-currentMonth="currentMonth"
                        let-selected="selected"
                        let-disabled="disabled"
                        let-focused="focused">
                                  <span
                                          class="custom-day"
                                          [ngClass]="myClass(date)"
                                          [class.weekend]="isWeekend(date)"
                                          [class.focused]="focused"
                                  >{{ date.day }}
                                  </span>
                    </ng-template>
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-form-label col-md-4 mb-0">Ket. Tempat :</label>
            <div class="col-md-8">
                <input type="text" class="form-control" [(ngModel)]="documentationEventPlace">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addDocumentationEvent()" [disabled]="!documentationEventName || !selectedTypeDocumentation || uploadFileDocumentationEvent.length == 0 || !documentationEventDate">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadAgendaKegiatan let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload Lampiran</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileExcelAgenda"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.docx, .doc, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #addPoinValue let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Point Evaluasi Event</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Judul :</label>
                <div class="col-md-6">
                    <ng-select [items]="selectValue"
                               bindLabel="name"
                               placeholder="Pilih Judul"
                               [multiple]="false"
                               addTagText="Buat Judul baru"
                               [(ngModel)]="evaluationTitle"
                               [ngModelOptions]="{standalone: true}"
                               [addTag]="CreateNew">
                    </ng-select>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0" style="align-self: center">Bintang :</label>
                <div class="col-md-6">
                    <ngb-rating [(rate)]="valueEvaluationRating">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star font-size-30" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Catatan :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="noteEvaluation">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addEvaluationPoint()" [disabled]="!evaluationTitle || !valueEvaluationRating">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>


<ng-template #addParticipantTarget let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Sasaran Peserta</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Asal Peserta :</label>
                <div class="col-md-6">
                    <ng-select [items]="selectValueParticipant"
                               bindLabel="name"
                               placeholder="Masukkan Asal Peserta"
                               [multiple]="false"
                               addTagText="Buat Asal Peserta Baru"
                               [(ngModel)]="fromParticipantTarget"
                               [ngModelOptions]="{standalone: true}"
                               [addTag]="CreateNewParticipantTarget">
                    </ng-select>
                </div>
            </div>
            <div class="mb-2 row">
                <label class="col-form-label col-md-3 mb-0">Jumlah Peserta :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="totalParticipantTarget" (keydown)="numberOnly($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewParticipantTarget()" [disabled]="!fromParticipantTarget || !totalParticipantTarget">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
