<footer class="footer">
    <div class="container-fluid">
        <div class="row text-center">
            <label>Copyright © 2022 | Kementerian Agama Republik Indonesia</label>
        </div>
    </div>
</footer>
