<div class="loader center-page" *ngIf="!finishLoadData"></div>
<div [hidden]="!finishLoadData">

    <div class="row">
        <div class="col-md-6" style="align-self: center">
            <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1)">Daftar Formulir Evaluasi Event</label>
        </div>
        <div class="col-md-6">
            <div class="row mb-3" style="justify-content: end">
                <div class="col-3" style="text-align: end; align-self: end">
                    <label>Pencarian : </label>
                </div>
                <div class="col-6">
                    <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                </div>
                <div class="col-3">
                    <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
            <thead class="table-light">
            <tr>
                <th class="text-center" rowspan="2" style="vertical-align: middle">No</th>
                <th class="text-start" rowspan="2" style="vertical-align: middle">Formulir Evaluasi Event oleh Peserta</th>
                <th class="text-center" colspan="2" style="vertical-align: middle">Peserta</th>
                <th class="text-center" colspan="2" style="vertical-align: middle">Evaluator</th>
            </tr>
            <tr>
                <th class="text-center text-white" style="vertical-align: middle; background: rgba(24, 101, 228, 1); width: 3%">Formulir</th>
                <th class="text-center text-white" style="vertical-align: middle; background: rgba(24, 101, 228, 1); width: 3%">Hasil</th>
                <th class="text-center text-white" style="vertical-align: middle; background: rgba(24, 101, 228, 1); width: 3%">Formulir</th>
                <th class="text-center text-white" style="vertical-align: middle; background: rgba(24, 101, 228, 1); width: 3%">Hasil</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of modelEventParticipant;  let i = index">
                <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i +1)}}</td>
                <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.name}}</td>
                <td class="text-center" style="vertical-align: middle; width: 5%">
                    <div class="row" style="padding-right: 10px; padding-left: 10px;">
                        <button class="btn text-white col me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 50%" (click)="openModalForm(fileUploadEmailParticipant,2, data, true)" [disabled]="!data?.allowUploadQuestionnaireForm">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button class="btn col" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 50%" (click)="openModalForm(confirmationSuccessEmail,2, data, false)" [disabled]="!data?.countUploadedFormFiles">
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle; width: 3%">
                    <button class="btn text-white col text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 100%" (click)="goToSummaryQuestionnaire(data?.id)">
                        <i class="fa fas fa-external-link-alt"></i>
                    </button>
                </td>
                <td class="text-center" style="vertical-align: middle; width: 5%">
                    <div class="row" style="padding-right: 10px; padding-left: 10px;">
                        <button class="btn text-white col me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 50%" (click)="openModalForm(fileUploadEmailParticipant,1, data, true)" [disabled]="!data?.allowUploadQuestionnaireForm">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <button class="btn col" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 50%" (click)="openModalForm(confirmationSuccessEmail,1, data, false)" [disabled]="!data?.countUploadedFormFiles">
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </td>
                <td class="text-center" style="vertical-align: middle; width: 3%">
                    <button class="btn text-white col text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 100%" (click)="goToSummaryQuestionnaireEvaluator(data?.id)">
                        <i class="fa fas fa-external-link-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tbody *ngIf="modelEventParticipant?.length == 0">
            <tr>
                <td colspan="6" class="no-data-available text-center">No data!</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #fileUploadEmailParticipant let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 1">Broadcast Formulir</h5>
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 2">Broadcast Formulir</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3 mt-3" style="justify-content: center">
            <div class="col-md-12" style="background: rgba(24, 101, 228, 0.06); border: 1px solid rgba(24, 101, 228, 1); border-radius: 4px">
                <label class="mb-0 p-2 font-size-14" style="color: rgba(24, 101, 228, 1);">
                    Upload file excel (.xls/.xlsx) yang berisi email peserta. <label class="mb-0 font-weight-bold" (click)="exportExcelTempalateForm()" style="cursor: pointer"><u>Download template excel</u></label> <i class="bx bx-loader bx-spin font-size-20 align-middle ms-3" *ngIf="loadingExportTemplate"></i>
                </label>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-md-3 col-form-label">Upload File</label>
            <div class="col-md-9">
                <file-upload name="uploadForm"
                             [(ngModel)]="uploadFileExcelForm"
                             [fileslimit]="1"
                             [multiple]="false"
                             [accept]="'.xlsx, .xlx'"
                             filesize= "20mb">
                </file-upload>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="doUploadFileEmailParticipant(selectedForFormEmail)" [disabled]="uploadFileExcelForm.length == 0 || loadingUploadFormParticipant">
            <label class="mb-0" *ngIf="!loadingUploadFormParticipant">Broadcast Email</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle" *ngIf="loadingUploadFormParticipant"></i>
        </button>
    </div>
</ng-template>

<ng-template #confirmationSuccessEmail let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 1" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <h5 class="modal-title mt-0" *ngIf="selectedForFormEmail === 2" style="color: rgba(24, 101, 228, 1);">Broadcast Formulir</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="loader center-page" *ngIf="loadingGetDataSuccessEmailParticipant"></div>
        <div *ngIf="!loadingGetDataSuccessEmailParticipant">
            <div class="mb-3 row">
                <div class="col-md-12">
                    <label class="col-md-12 col-form-label">Nama File : {{modelSuccessEmailParticipant?.fileName}}</label>
                </div>
            </div>
            <div class="mb-3">
                <div class="col-md-12 p-2" style="background: rgba(0, 189, 30, 0.12); border-radius: 6px">
                    <label class="mb-0 font-size-16" style="color: rgba(3, 129, 23, 1);">
                        Sukses Terkirim
                    </label><br><br>
                    <label class="mb-0 font-size-14" style="color: rgba(3, 129, 23, 1);">
                        {{modelSuccessEmailParticipant?.successCount}} email berhasil terkirim
                    </label>
                </div>
            </div>
            <div class="mb-3" *ngIf="modelSuccessEmailParticipant?.failed.length > 0">
                <div class="col-md-12 p-2" style="background: rgba(255, 92, 92, 0.12); border-radius: 6px">
                    <label class="mb-0 font-size-16" style="color: rgba(191, 0, 0, 1);">
                        Gagal Terkirim
                    </label><br><br>
                    <div *ngFor="let data of modelSuccessEmailParticipant?.failed">
                        <label class="mb-0 font-size-14" style="color: rgba(191, 0, 0, 1);">{{data}}</label><br>
                    </div><br>
                    <label class="mb-0 font-size-14" style="color: rgba(191, 0, 0, 1);">
                        Periksa kembali email yang anda upload dan broadcast ulang
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%)" (click)="checkStatusEmailStatus()" [disabled]="loadingGetDataSuccessEmailParticipant">
            <label class="mb-0" *ngIf="!loadingGetDataSuccessEmailParticipant">Refresh Data</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingGetDataSuccessEmailParticipant"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" [disabled]="loadingGetDataSuccessEmailParticipant">
            <label class="mb-0" *ngIf="!loadingGetDataSuccessEmailParticipant">Close</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingGetDataSuccessEmailParticipant"></i>
        </button>
    </div>
</ng-template>
