<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-6">
            <label class="title-header">Dokumen Umum</label><br>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="goToUploadFile()">Upload File</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="mb-3 row">
            <label class="col-6 font-size-20" style="color: rgba(24, 101, 228, 1); margin-bottom: -20px">Daftar Dokumen</label>
            <div class="col-6 text-end">
                <div class="row ">
                    <div class="col-3 offset-md-3" style="align-self: end">
                        <label>Cari Dokumen : </label>
                    </div>
                    <div class="col-4">
                        <input class="form-control" [(ngModel)]="filterName" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-2">
                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 row row-cols-lg-auto">
            <div class="col-md-12" style="align-self: center">
                <label class="mb-0">Filter :</label>
            </div>
            <div class="col-md-12">
                <div class="dropdown" ngbDropdown container="body">
                    <button class="btn text-start" [ngStyle]="{'background-color': (!toDate) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                            ngbDropdownToggle>
                        <div class="row" style="justify-content: space-between">
                            <div class="col-md-6">
                                <label class="mb-0" *ngIf="!toDate" style="cursor: pointer">Tanggal Dokumen</label>
                                <label class="mb-0" *ngIf="toDate" style="cursor: pointer">{{fromDate.day}}-{{fromDate.month}}-{{fromDate.year}} s.d {{toDate.day}}-{{toDate.month}}-{{toDate.year}}</label>
                            </div>
                            <div class="col-md-6 text-end" *ngIf="!toDate">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </button>
                    <div class="dropdown-menu w-100" ngbDropdownMenu>
                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [footerTemplate]="footerTemplate">
                        </ngb-datepicker>

                        <ng-template #t let-date let-focused="focused">
                                  <span class="custom-day"
                                        [ngClass]="myClass(date)"
                                        [class.focused]="focused"
                                        [class.range]="isRange(date)"
                                        [class.faded]="isHovered(date) || isInside(date)"
                                        (mouseenter)="hoveredDate = date"
                                        (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                  </span>
                        </ng-template>
                        <ng-template #footerTemplate>
                            <hr class="my-0">
                            <button class="btn btn-sm m-2 float-end text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="clearFilterDate()">Matikan Filter</button>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="align-self: center">
                <label class="mb-0">Tag :</label>
            </div>
            <div class="col-md-12">
                <ng-select [items]="tagName"
                           bindLabel="name"
                           placeholder="Pilih Tag"
                           [multiple]="true"
                           [(ngModel)]="selectedTag"
                           [ngModelOptions]="{standalone: true}"
                           (ngModelChange)="filterTagExist()"
                           >
                </ng-select>
            </div>
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead>
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-start">Nama File</th>
                    <th class="text-start">Tipe File</th>
                    <th class="text-start" style="width: 10%">Unit Penanggung Jawab</th>
                    <th class="text-start">Tags</th>
                    <th class="text-start">Tanggal Upload</th>
                    <th class="text-start" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of listFilePustaka;  let i = index">
                    <td class="text-center" style="vertical-align: middle; width: 5%">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.name}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.files?.attachmentType?.fileType}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 10%">{{data?.component ? data?.component?.code : '-'}}</td>
                    <td class="text-start" style="vertical-align: middle">
                        <label class="mb-0" *ngIf="data.tags.length == 0">-</label>
                        <label class="mb-0" *ngIf="data.tags.length > 0">
                            <label class="mb-0" *ngFor="let dataTags of data.tags; let i = last">
                                {{dataTags.generalDocumentsTag.name}}<label class="mb-0" *ngIf="!i">,&nbsp;</label>
                            </label>
                        </label>
                    </td>
                    <td class="text-start" style="vertical-align: middle">{{data.createdAt}}</td>
                    <td class="text-center" style="width: 10%">
                        <div class="row row-cols-lg-auto" style="justify-content: space-evenly">
                            <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="openModalList(data)">Lihat</button>
                            <button class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="downloadPdf(data.filesId)">
                                <label class="mb-0" *ngIf="!loadingSavePdf" style="cursor:pointer;"><i class="fa fa-file-download font-size-16"></i></label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSavePdf"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="listFilePustaka?.length == 0">
                <tr>
                    <td colspan="8" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #fileUploadPhotoProfile let-modal>
    <div class="modal-body">
        <pdf-viewer [src]="pdfSrc"
                    [render-text]="true"
                    [original-size]="false"
                    style="width: 100%; height: 500px">
        </pdf-viewer>
    </div>
</ng-template>
