<app-header-application></app-header-application>
<div class="loader center-page" *ngIf="!finishLoadData"></div>
<div class="container-fluid p-0" style="background-color: white">
    <div class="row g-0" >
        <div class="row justify-content-center" >
            <div class="col-md-6" style="margin-top: 15%; margin-bottom: 20%">
                <div class="row" [hidden]="!finishLoadData">
                    <label class="title-header" *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == false">Ubah Alamat Email</label>
                    <label class="title-header" *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == true">Konfirmasi Alamat Email Baru</label>
                    <label class="title-header" *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == null">Permintaan perubahan email tidak ditemukan</label>
                    <label class="title-header" *ngIf="emailValidatePosition.identity == 2 && emailValidatePosition.confirmFromOldEmail == false">Konfirmasi Perubahan Email Baru</label>
                    <label class="title-header" *ngIf="emailValidatePosition.identity == 2 && (emailValidatePosition.confirmFromOldEmail || emailValidatePosition.confirmFromNewEmail == null)">Konfirmasi pergantian email tidak ditemukan</label>

                    <label *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == false" class="font-size-16">Alamat email aplikasi PMRMS <label class="mb-0" style="color: #1765E4">{{emailValidatePosition.oldEmail}}</label> berubah menjadi <label class="mb-0" style="color: #1765E4">{{emailValidatePosition.newEmail}}</label>. Klik batal jika tidak ingin melanjutkan.</label>
                    <label *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == true" class="font-size-16">Silahkan cek email <label class="mb-0" style="color: #1765E4">{{emailValidatePosition.newEmail}}</label> anda untuk konfirmasi perubahan</label>
                    <label *ngIf="emailValidatePosition.identity == 1 && emailValidatePosition.confirmFromOldEmail == null" class="font-size-16">Permintaan perubahan email tidak ditemukan</label>


                    <label *ngIf="emailValidatePosition.identity == 2 && emailValidatePosition.confirmFromNewEmail == false" class="font-size-16">Konfirmasi email aplikasi PMRMS <label class="mb-0" style="color: #1765E4">{{emailValidatePosition.oldEmail}}</label> berubah menjadi <label class="mb-0" style="color: #1765E4">{{emailValidatePosition.newEmail}}</label>. Klik batal jika tidak ingin melanjutkan.</label>
                    <label *ngIf="emailValidatePosition.identity == 2 && (emailValidatePosition.confirmFromNewEmail || emailValidatePosition.confirmFromNewEmail == null)" class="font-size-16">Konfirmasi pergantian email tidak ditemukan</label>
                </div>
                <div class="text-end mt-5" *ngIf="(emailValidatePosition.confirmFromOldEmail != true && emailValidatePosition.confirmFromNewEmail != null) && emailValidatePosition.identity == 1" [hidden]="!finishLoadData">
                    <button class="btn" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%); color: white; width: 25%; margin-right: 5px" (click)="confirmEmail(1)" [disabled]="loadingSaveReset">
                        <label class="mb-0" (click)="confirmEmail(1)" *ngIf="!loadingSaveReset">Ya, Ubah Email Saya</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveReset"></i>
                    </button>
                    <button class="btn " style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="confirmEmail(2)">
                        <label class="mb-0" (click)="confirmEmail(2)" *ngIf="!loadingSaveReset">Batal</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-black" *ngIf="loadingSaveReset"></i>
                    </button>
                </div>

                <div class="text-end mt-5" *ngIf="(emailValidatePosition.confirmFromNewEmail != true && emailValidatePosition.confirmFromNewEmail != null) && emailValidatePosition.identity == 2" [hidden]="!finishLoadData">
                    <button class="btn" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%); color: white; width: 25%; margin-right: 5px" (click)="confirmEmail(1)" [disabled]="loadingSaveReset">
                        <label class="mb-0" (click)="confirmEmail(1)" *ngIf="!loadingSaveReset">Ya, Konfirmasi Perubahan</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveReset"></i>
                    </button>
                    <button class="btn " style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="confirmEmail(2)">
                        <label class="mb-0" (click)="confirmEmail(2)" *ngIf="!loadingSaveReset">Batal</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-black" *ngIf="loadingSaveReset"></i>
                    </button>
                </div>
                <div class="text-end mt-5" *ngIf="!emailValidatePosition.oldEmail">
                    <button class="btn" style="background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%); color: white; width: 25%; margin-right: 5px" (click)="goToLogin()">Login Aplikasi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-aplication></app-footer-aplication>
