<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToListStaf()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Edit {{firstName}} {{lastName}}</label><br>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Email :</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" (keypress)="keyPressAlphaNumeric($event)" placeholder="Masukan alamat email" [(ngModel)]="editEmail">
                                <div class="input-group-append">
                                    <span class="input-group-text">@madrasah.kemenag.go.id</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Nama Lengkap</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Nama Depan" [(ngModel)]="resourcesDetailModelEdit?.user.firstName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Nama Belakang" [(ngModel)]="resourcesDetailModelEdit?.user.lastName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Nomor HP</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text">+62</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nomor Telepon" [(ngModel)]="resourcesDetailModelEdit.phoneNumber" (keydown)="numberOnly($event)">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                        <label class="col-md-2 col-form-label">Provinsi</label>
                        <div class="col-md-6">
                            <ng-select [items]="listProvinceApi"
                                       bindLabel="name"
                                       placeholder="Masukkan Provinsi"
                                       [multiple]="false"
                                       [(ngModel)]="selectedProvince"
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="changeSuperVisorPcu()">
                            </ng-select>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                        <label class="col-md-2 col-form-label">Komponen</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                        ngbDropdownToggle>
                                    <div class="row text-start">
                                        <label class="mb-0" style="white-space: normal" *ngIf="selectedComponentExist">{{selectedComponentExist?.code}}</label>
                                        <label class="mb-0" style="white-space: normal" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                    </div>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 100%">
                                    <div class="search-box me-2">
                                        <div>
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterUnit($event)">
                                            </div>
                                            <div *ngIf="listComponentStaff?.length > 0">
                                                <div class="ms-4 mt-1 " *ngFor="let data of listComponentStaff; let i = last">
                                                    <label class="form-check-label font-size-16 me-1" (click)="selectedUnit(data)">{{data?.code}}</label>
                                                    <hr class="mb-0 mt-0" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="listComponentStaff?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Unit tidak tersedia</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PMU'">
                        <label class="col-md-2 col-form-label">Jabatan</label>
                        <div class="col-md-6">
                            <ng-select [items]="listPositionApi"
                                       bindLabel="name"
                                       placeholder="Pilih Jabatan"
                                       [multiple]="false"
                                       [(ngModel)]="resourcesDetailModelEdit?.position.name"
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="changeSuperVisorPcu()"
                                       [addTag]="CreateNew">
                            </ng-select>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="selectedWorkUnit === 'PCU'">
                        <label class="col-md-2 col-form-label">Jabatan</label>
                        <div class="col-md-6">
                            <ng-select [items]="listPositionApi"
                                       bindLabel="name"
                                       placeholder="Pilih Jabatan"
                                       [multiple]="false"
                                       [(ngModel)]="resourcesDetailModelEdit?.position.name"
                                       [ngModelOptions]="{standalone: true}"
                                       (ngModelChange)="changeSuperVisorPcu()"
                                       [addTag]="CreateNew">
                            </ng-select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Supervisor</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                        ngbDropdownToggle [disabled]="disabledSelectSupervisor() || loadingGetListSuperVisor">
                                    <div *ngIf="loadingGetListSuperVisor">
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle" ></i>
                                    </div>
                                    <div class="row text-start" *ngIf="!loadingGetListSuperVisor">
                                        <label class="mb-0" *ngIf="selectedSupervisorExist">{{selectedSupervisorExist?.user?.firstName}} {{selectedSupervisorExist?.user?.lastName}}</label>
                                        <label class="mb-0" *ngIf="!selectedSupervisorExist">Pilih Supervisor</label>

                                    </div>
                                </button>
                                <div class="dropdown-menu" ngbDropdownMenu style="width: 65vh">
                                    <div class="search-box me-2">
                                        <div>
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSuperVisor($event)">
                                            </div>
                                            <div *ngIf="listSupervisor?.length > 0">
                                                <div class="ms-4 mt-1" *ngFor="let data of listSupervisor; let index = last">
                                                    <label class="form-check-label font-size-16 me-1" (click)="selectedSupervisor(data)">{{data?.user?.firstName}} {{data?.user?.lastName}} ({{data?.position?.name}})</label>
                                                    <hr class="m-0" *ngIf="!index">
                                                </div>
                                            </div>
                                            <div *ngIf="listSupervisor?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Supervisor tidak tersedia</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <button class="btn" (click)="updateDataUser()" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" [disabled]="!editEmail || !resourcesDetailModelEdit?.user.firstName || !resourcesDetailModelEdit?.phoneNumber || !resourcesDetailModelEdit?.position || loadingUpdateStaff">
                                <label class="mb-0" (click)="updateDataUser()" *ngIf="!loadingUpdateStaff">Simpan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingUpdateStaff"></i>
                            </button>
                            <button class="btn "style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="goToListStaf()">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
