<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-6">
            <label class="title-header">Formulir</label><br>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="openModal(selectType)">Tambah Formulir</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-5" [hidden]="!finishLoadData">
        <div class="mb-3 row">
            <div class="col-6">
                <label class="font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1)">Daftar Formulir</label>
            </div>
            <div class="col-6">
                <div class="row" style="justify-content: end">
                    <div class="col-md-2" style="align-self: end">
                        <label>Search : </label>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" [(ngModel)]="filterName" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-md-2">
                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead>
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-start">Formulir</th>
                    <th class="text-start" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of listEventForm;  let i = index">
                    <td class="text-center" style="width: 5%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.eventType?.name}}</td>
                    <td class="text-center" style="width: 20%; vertical-align: middle">
                        <div class="row" style="padding-left: 10px;padding-right: 10px;">
                            <button class="btn w-100 text-white col spacing" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="openModalDetail(DetailSelectType, data)"><i class="fa fa-eye"></i></button>
                            <button class="btn w-100 text-white col spacing" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="goToEditForm(data)">Edit</button>
                            <button class="btn w-100 text-white col" style="background: rgba(255, 92, 92, 1);" (click)="openModalDelete(DeleteSelectType, data)"><i class="fa fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="listEventForm?.length == 0">
                    <tr>
                        <td colspan="3" class="no-data-available text-center">No data!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #selectType let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Tambah Formulir - Pilih Tipe Kegiatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <label class="col-md-3 col-form-label">Tipe Kegiatan :</label>
                <div class="col-md-9">
                    <ng-select [items]="tagName"
                               bindLabel="name"
                               placeholder="Pilih Tipe Kegiatan"
                               [multiple]="false"
                               [(ngModel)]="selectedTag"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToAddForm(selectedTag)" [disabled]="!selectedTag">Buat Formulir</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Batal</button>
    </div>
</ng-template>


<ng-template #DeleteSelectType let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Peringatan</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row">
                <label class="mb-0 font-size-16">Apakah anda yakin akan menghapus formulir pertanyaan {{selectedEventType?.eventType?.name}} ?</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: rgba(255, 92, 92, 1);" (click)="deleteForm()" [disabled]="loadingDeleteEventForm">
            <label class="mb-0" *ngIf="!loadingDeleteEventForm">Hapus</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteEventForm"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">
            <label class="mb-0" *ngIf="!loadingDeleteEventForm">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteEventForm"></i>
        </button>
    </div>
</ng-template>

<ng-template #DetailSelectType let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Detail Formulir {{selectedDetailEventType?.eventType?.name}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="mt-2">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>
                                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                <span class="d-none d-sm-block font-size-18">Formulir Evaluator</span>
                            </a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>
                                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                <span class="d-none d-sm-block font-size-18">Formulir Peserta</span>
                            </a>
                            <ng-template ngbNavContent>
                                <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToEditForm(selectedDetailEventType)">
            <label class="mb-0" *ngIf="!loadingDeleteEventForm" (click)="goToEditForm(selectedDetailEventType)">Edit Formulir</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteEventForm"></i>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">
            <label class="mb-0" *ngIf="!loadingDeleteEventForm">Batal</label>
            <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingDeleteEventForm"></i>
        </button>
    </div>
</ng-template>

<ng-template #TabContent>
    <div class="mt-5">
        <div *ngIf="checkedButton === 1">
            <div class="mb-3 row" *ngIf="existingQuestionCompliance.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionCompliance; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionEconomy.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionEconomy; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionEfective.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionEfective; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionEfisiens.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionEfisiens; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="checkedButton === 2">
            <div class="mb-3 row" *ngIf="existingQuestionParticipantCompliance.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionParticipantCompliance; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionParticipantEconomy.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionParticipantEconomy; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionParticipantEffective.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionParticipantEffective; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionParticipantEffisiens.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionParticipantEffisiens; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
            <div class="mb-3 row" *ngIf="existingQuestionParticipantOtherQuestion.length > 0">
                <label class="mb-0 font-size-16" style="color: rgba(24, 101, 228, 1);">E. LAIN-LAIN (Pertanyaan) :</label>
                <div *ngFor="let data of existingQuestionParticipantOtherQuestion; let i = index">
                    <div class="row">
                        <label class="mb-0 col-form-label">{{i + 1}}. {{data?.question}} ({{data?.questionType === 1 ? 'Iya/Tidak' : data?.questionType === 2 ? 'Score' : 'Penjelasan'}})</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
