/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.account-pages {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0;
  }

  background-color: white;
  height: 100%;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0;
  }

  .sidebar {
    // $sidebar-width is the width of the columns
    flex: 0 0;
    // put the nav on the left
    order: -1;
  }

  .aside-menu {
    // $aside-menu-width is the width of the columns
    flex: 0 0;
  }
}

.login-align {
  align-self: center;
}

.background-header {
  background: linear-gradient(285.14deg, #006316 -20.57%, #8DA03C 124.02%);
  box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.16) !important;
}
.background-footer {
  background: white;
}

.title-header {
  font-size: 30px;
}

.text-justify{
  text-align: justify  !important;
}

.tooltip-inner {
  text-align: left !important;
}

.card-component {
  margin-top: 1px;
  background-color: #E5EA00;
  border-radius: 5px;
}

body {
  background-color: #ffffff !important;
}


.img-login {
  /* add bottom border */
  width: 60%;
  /* cut top corner */
  clip-path:polygon(0 0,100% 0,100% 100%,0 100%,0 30%);
}


.profile-button {
  border : #E3E3E3 solid 1px;
  background-color: white;
  border-radius: 10px
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0f8445;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:relative;
}

.center-page {
  margin-top: 15%;
}

.vl {
  border-left: 3px solid #7D7D7D;
  height: 100%;
}

.btn-green-white{
  background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);
}

.btn-blue-white {
  background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.hidden-input {
  width: 0 !important;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.btn-outline-light:hover {
  background-color: transparent !important;
}

.bg-komponen1 {
  background-color: rgba(24, 101, 228, 1) !important;;
}

.bg-komponen2 {
  background-color: rgba(255, 92, 92, 1) !important;
}

.bg-komponen3 {
  background-color: rgba(255, 187, 55, 1) !important;
}

.bg-komponen41 {
  background-color: rgba(157, 85, 0, 1) !important;;
}

.bg-komponen42 {
  background-color: rgba(0, 189, 30, 1) !important;;
}

.bg-komponen43 {
  background-color: rgba(212, 24, 228, 1) !important;;
}

.bg-komponen44 {
  background-color: rgba(238, 129, 0, 1) !important;;
}

.bg-komponenself {
  background-color: rgba(0, 189, 30, 1) !important;
}

.spacing {
  margin-right: 10px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal!important;
}

.fullscreen {
  background-color: red !important;
}

.container-login {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
