<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div>
            <label class="title-header">Upload File</label><br>
        </div>
        <div class="mt-3">
            <form class="form-horizontal" [formGroup]="fileUpload" (ngSubmit)="saveUploadFile()">
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Tipe File</label>
                    <div class="col-md-6">
                        <select class="form-select" formControlName="fileDocumentType" (change)="changeTypeFile($event.target.value)" [ngClass]="{ 'is-invalid': validateDocumentType}">
                            <option *ngFor="let data of listFileType" [value]="data.fileType">{{data.fileType}}</option>
                        </select>
                        <span class="text-danger" *ngIf="validateDocumentType">Form tidak boleh kosong</span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Unit Penanggung Jawab</label>
                    <div class="col-md-6">
                        <div class="dropdown" ngbDropdown container="body" #Unit = "ngbDropdown">
                            <button class="btn w-100" style="border: black solid 1px" type="button"
                                    ngbDropdownToggle>
                                <div class="row text-start">
                                    <div class="col-md-10">
                                        <label class="mb-0" style="white-space: normal" *ngIf="selectedComponentExist">{{selectedComponentExist?.code}}</label>
                                        <label class="mb-0" style="white-space: normal" *ngIf="!selectedComponentExist">Pilih Unit</label>
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <i class="fa fa-chevron-down" *ngIf="!selectedComponentExist"></i>
                                        <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" *ngIf="selectedComponentExist" (click)="clearSelectedUnit()"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu style="width: 80vh">
                                <div class="search-box me-2">
                                    <div>
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterUnit($event)">
                                        </div>
                                        <div *ngIf="listComponentStaff?.length > 0">
                                            <div class="ms-4 mt-1 " *ngFor="let data of listComponentStaff; let i = last">
                                                <label class="form-check-label font-size-16 me-1" (click)="selectedUnit(data); Unit.close()">{{data?.code}}</label>
                                                <hr class="mb-0 mt-0" *ngIf="!i">
                                            </div>
                                        </div>
                                        <div *ngIf="listComponentStaff?.length == 0">
                                            <div class="ms-4 mt-1">
                                                <label class="form-check-label font-size-16">Unit tidak tersedia</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Nama File</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName="fileName"
                               [ngClass]="{ 'is-invalid': validateFileName}">
                        <span class="text-danger" *ngIf="validateFileName">Form tidak boleh kosong</span>
                    </div>
                </div>
                <div class="mb-3 row" *ngIf="selectedTypeFile === 'MoM'">
                    <label class="col-md-2 col-form-label">Tanggal Rapat</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" ngbDatepicker #d="ngbDatepicker"
                                   [dayTemplate]="customDay" [(ngModel)]="meetingDate" [ngModelOptions]="{standalone: true}"
                            >
                            <ng-template
                                #customDay
                                let-date
                                let-currentMonth="currentMonth"
                                let-selected="selected"
                                let-disabled="disabled"
                                let-focused="focused">
                                  <span
                                          class="custom-day"
                                          [ngClass]="myClass(date)"
                                          [class.weekend]="isWeekend(date)"
                                          [class.focused]="focused"
                                  >{{ date.day }}
                                  </span>
                            </ng-template>
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Pilih Tag <label class="mb-0">(Optional)</label></label>
                    <div class="col-md-6">
                        <ng-select [items]="tagName"
                                   bindLabel="name"
                                   placeholder="Pilih Tag"
                                   [multiple]="true"
                                   [(ngModel)]="selectedTag"
                                   [ngModelOptions]="{standalone: true}"
                                   addTagText="Buat Tag"
                                   [addTag]="CreateNew">
                        </ng-select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Versi</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName="version"
                               [ngClass]="{ 'is-invalid': validateVersion}">
                        <span class="text-danger" *ngIf="validateVersion">Form tidak boleh kosong</span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-md-2 col-form-label">Upload File</label>
                    <div class="col-md-6">
                        <div class="card" style="box-shadow: 0px 2px 8px 0px rgba(164, 164, 164, 0.32);">
                            <div class="card-body">
                                <file-upload name="uploadSelfie" style="background: white !important"
                                             [control]="fileUploadControl"
                                             fileslimit="1"
                                             [multiple]="false"
                                             [accept]="'.pdf'"
                                             filesize= "3mb"
                                >
                                    <ng-template let-isFileDragDropAvailable="isFileDragDropAvailable" #placeholder>
                                <span *ngIf="isFileDragDropAvailable">
                                    <div class="col text-center"><i class="fa fa-upload font-size-30 mb-2"></i></div>
                                    <div class="col">Pilih File dalam bentuk .pdf atau Geser File</div>
                                </span>
                                        <span *ngIf="!isFileDragDropAvailable">click</span>
                                    </ng-template>
                                </file-upload>
                                <div class="file-list" *ngIf="fileUploadControl.value.length > 0">
                                    <div class="file-item"
                                         *ngFor="let file of fileUploadControl.value"
                                         (click)="fileUploadControl.removeFile(file)">
                                        <div class="card">
                                            <div class="card-body pt-2 pb-2" style="border: 1px solid rgba(206, 206, 206, 1); border-radius: 6px">
                                                <div class="row">
                                                    <div class="col-1 text-end">
                                                        <i class="fa fa-file-alt font-size-20"></i>
                                                    </div>
                                                    <div class="col-8 text-start">
                                                        {{ file.name }}
                                                    </div>
                                                    <div class="col-2" style="align-self: center">
                                                        <span class="badge bg-info float-end rounded-pill">{{progress}} %</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="validateFileType">{{errorFile}}</span>
                    </div>
                </div>
            </form>
            <div class="mb-3 row">
                <label class="col-2 col-form-label"></label>
                <div class="col-6">
                    <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 15%; color: white; margin-right: 8px" (click)="doUploadPhotoProfile()" [disabled]="disableButtons()">
                        <label *ngIf="loadingSaveFile" class="mb-0">Simpan</label>
                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="!loadingSaveFile"></i>
                    </button>
                    <button class="btn" style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 15%;" (click)="goToListPustaka()">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
