<div>
    <div class="background-header">
        <div class="container" style="width: 85%">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <div class="row mt-2 mb-2">
                            <img src="assets/images/logo-kemenag.svg" style="width: 100px; height: 100px">
                            <div class="col login-align">
                                <div><label class="font-size-16 text-white" style="margin-bottom: 0;font-weight: bold;margin-top:5px">PROJECT MANAGEMENT</label></div>
                                <div><label class="font-size-14 text-white">REPORTING MONITORING SYSTEM</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col login-align">
                        <div class="right-button-header" style="text-align: right">
                            <button class="btn btn-outline-light me-5" style="color: white; background-color: transparent; border: transparent; font-size: 16px" (click)="goToHome()">Home</button>
                            <button class="btn btn-outline-light" style="color: white; font-size: 16px" (click)="goToLogin()">Masuk Akun <i class="fa fa-sign-in-alt ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 2%; width: 85%" >
        <button class="btn btn-light mb-2" type="button" (click)="goToHome()">
            <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
        </button>
        <div class="mt-3">
            <label class="title-header" style="color: rgba(51, 51, 51, 1); font-size: 28px">Komponen 2 : Penerapan Sistem Penilaian Hasil Belajar di tingkat Madrasah Ibtidaiyah (MI) untuk Seluruh Peserta Didik Kelas 4 Secara Nasional</label>
            <div class="row mt-3">
                <div class="col-md-6">
                    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen2/componen2-1.png" alt="first slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen2/componen2-2.png" alt="second slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen2/componen2-3.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/landing-componen2/componen2-4.png" alt="third slide" class="d-block img-fluid w-100">
                        </ng-template>
                    </ngb-carousel>
                </div>
                <div class="col-md-6">
                    <label style="font-size: 16px; color: rgba(51, 51, 51, 1); text-align: justify">
                        Komponen ini bertujuan mengembangkan sistem penilaian siswa yang terstandar pada pendidikan dasar yang dapat memungkinkan Kemenag untuk mengukur hasil investasi dalam pembelajaran siswa dan mengidentifikasi area-area yang memerlukan perbaikan. Dalam rangka meningkatkan hasil belajar yang rendah di lembaga pendidikan di Indonesia pada saat ini, peserta didik yang ketinggalan harus diidentifikasi dan dibantu sejak dini. Proyek yang diusulkan ini akan memungkinkan dilaksanakannya sistem penilaian siswa kelas 4 di semua madrasah sehingga akan diperoleh informasi penting tentang hasil belajar siswa.
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="loader center-page" *ngIf="loadingTableau"></div>
        <div *ngIf="!loadingTableau" style="height: 100px">
            <ngx-tableau
                    [tableauVizUrl]="urlTableu"
                    [options]="options"
            ></ngx-tableau>
        </div>
    </div>
</div>
