<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-3" type="button" (click)="goToListPermission()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Formulir Pengajuan Izin/Cuti</label><br>
        <div class="mt-2">
            <div class="col-md-4 offset-4">
                <div class="text-center">
                    <ngb-alert type="success" *ngIf="successPermission" [dismissible]="false">Formulir izin/cuti berhasil dibuat !</ngb-alert>
                </div>
            </div>
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2);">
                <div class="card-body">
                    <div class="row">
                        <label class="col-md-2 col-form-label">Jenis Izin</label>
                        <div class="col-md-5">
                            <div class="form-check form-radio-info form-radio-outline mb-1" *ngFor="let data of notSpecialLeave">
                                <input class="form-check-input" type="radio" id="{{data.name}}" [(ngModel)]="checkedLeaveRequest" [value]="data">
                                <label class="form-check-label" for="{{data.name}}">
                                    {{data.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row" *ngIf="checkedLeaveRequest?.name === 'Cuti/Izin Khusus'">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-5">
                            <div class="form-check form-radio-info form-radio-outline ms-4" *ngFor="let data of specialLeave">
                                <input class="form-check-input" type="radio" [(ngModel)]="checkedSpecialLeave" [value]="data">
                                <label class="form-check-label" >{{data?.name}} <label *ngIf="data?.workDays" style="color: rgba(24, 101, 228, 1); font-style: italic">(maksimal {{data?.maxDayLength}} hari kerja)</label> <label *ngIf="!data?.workDays" style="color: rgba(24, 101, 228, 1); font-style: italic">(maksimal {{data?.maxDayLength}} hari kalender)</label></label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-3 row">
                        <label class="col-md-2 col-form-label">Tanggal Izin</label>
                        <div class="col-md-6">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="form-group hidden">
                                        <div class="input-group">
                                            <input name="datepicker"
                                                   type="hidden"
                                                   ngbDatepicker
                                                   #datepicker="ngbDatepicker"
                                                   [autoClose]="'outside'"
                                                   [minDate]="minDate"
                                                   (dateSelect)="onDateSelection($event)"
                                                   [displayMonths]="2"
                                                   [dayTemplate]="customDay"
                                                   outsideDays="hidden"
                                                   [startDate]="fromDate!"
                                                   tabindex="-1">
                                            <ng-template
                                                #customDay
                                                let-date
                                                let-currentMonth="currentMonth"
                                                let-selected="selected"
                                                let-disabled="disabled"
                                                let-focused="focused">
                                              <span
                                                      class="custom-day"
                                                      [ngClass]="myClass(date)"
                                                      [class.weekend]="isWeekend(date)"
                                                      [class.focused]="focused"
                                                      [class.bg-primary]="selected"
                                                      [class.text-muted]="disabled"
                                                      [class.range]="isRange(date)"
                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                      (mouseenter)="hoveredDate = date"
                                                      (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                              </span>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button" [disabled]="!checkedSpecialLeave && (!checkedLeaveRequest || checkedLeaveRequest?.name === 'Cuti/Izin Khusus')"><i class="fa fa-calendar"></i></button>
                                                    </div>
                                                    <input #dpFromDate
                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                           name="dpFromDate"
                                                           [value]="formatter.format(fromDate)"
                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)" [disabled]="!checkedSpecialLeave && (!checkedLeaveRequest || checkedLeaveRequest?.name === 'Cuti/Izin Khusus')">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                            <label>s.d</label>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-group ml-2">
                                                <div class="input-group">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button" [disabled]="!checkedSpecialLeave && (!checkedLeaveRequest || checkedLeaveRequest?.name === 'Cuti/Izin Khusus')"><i class="fa fa-calendar"></i></button>
                                                    </div>
                                                    <input #dpToDate
                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                           name="dpToDate"
                                                           [value]="formatter.format(toDate)"
                                                           (input)="toDate = validateInput(toDate, dpToDate.value)" [disabled]="!checkedSpecialLeave && (!checkedLeaveRequest || checkedLeaveRequest?.name === 'Cuti/Izin Khusus')">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Izin/Cuti (hari kerja)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" placeholder="00" [(ngModel)]="countDateCalenderWorkDays" disabled>
                        </div>
                        <div class="col-md-1" style="align-self: center" *ngIf="loadingGetListHolidays">
                            <div class="spinner-border text-primary"></div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label">Lama Izin/Cuti (hari libur)</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" placeholder="00" [(ngModel)]="countDateCalenderHolidays" disabled>
                        </div>
                        <div class="col-md-1" style="align-self: center"  *ngIf="loadingGetListHolidays">
                            <div class="spinner-border text-primary" role="status"></div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Alasan :</label>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Masukkan alasan" [(ngModel)]="descriptionPermission"></textarea>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Alamat Selama Izin :</label>
                        <div class="col-md-6">
                            <textarea class="form-control" placeholder="Masukkan alamat selama izin" [(ngModel)]="addressPermission"></textarea>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 row">
                        <label class="col-md-2 col-form-label">Pelaksana Tugas Selama Izin</label>
                        <div class="col-md-6">
                            <div class="dropdown" ngbDropdown container="body">
                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                        ngbDropdownToggle>
                                    <label class="mb-0" *ngIf="!selectedResourceModel">Pilih pelaksana tugas selama izin</label>
                                    <div *ngIf="selectedResourceModel" style="text-align: start">
                                        <img [src]="selectedResourceModel.filePhoto" alt="" class="rounded-circle avatar-xs">
                                        <label class="ms-2">{{selectedResourceModel?.user?.firstName}} {{selectedResourceModel?.user?.lastName}}</label>
                                    </div>
                                </button>
                                <div class="dropdown-menu w-100" ngbDropdownMenu>
                                    <div class="search-box me-2">
                                        <div style="overflow: auto">
                                            <div class="position-relative ms-3 me-3">
                                                <i class="bx bx-search-alt search-icon"></i>
                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilter($event)">
                                            </div>
                                            <div *ngIf="resourcesReplacement?.length > 0">
                                                <div class="ms-4 mt-2 mb-2" *ngFor="let data of resourcesReplacement; let i = last" style="cursor: pointer">
                                                    <img [src]="data.filePhoto" alt="" class="rounded-circle avatar-xs">
                                                    <label class="ms-1" style="cursor: pointer" (click)="selectResourcePlacement(data)">{{data?.user?.firstName}} {{data?.user?.lastName}}</label>
                                                    <hr class="mb-0 mt-1" *ngIf="!i">
                                                </div>
                                            </div>
                                            <div *ngIf="resourcesReplacement?.length == 0">
                                                <div class="ms-4 mt-1">
                                                    <label class="form-check-label font-size-16">Tidak Ada Pengganti</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="validateDate">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <label class="text-danger" style="font-style: italic">Waktu lama izin melebihi waktu yang ditentukan</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-md-2 col-form-label"></label>
                        <div class="col-md-6">
                            <button class="btn" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); color: white; width: 25%; margin-right: 5px" (click)="savePermission()" [disabled]="!descriptionPermission || !addressPermission || (!checkedLeaveRequest && !checkedSpecialLeave) || !selectedResourceModel || loadingSubmitPermission || !fromDate || !toDate">
                                <label class="mb-0" *ngIf="!loadingSubmitPermission">Simpan</label>
                                <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSubmitPermission"></i>
                            </button>
                            <button class="btn "style="background: rgba(255, 255, 255, 1); border: black solid 1px; width: 25%" (click)="goToListPermission()">Batal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
