<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListAWP()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali </label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">ANNUAL WORK PLAN (AWP)</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Data Umum">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tahun :</label>
                                        <div class="col-md-6">
                                            <input type="text" #dp="bsDatepicker" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY'}" minMode="year" [minDate]="minDateYear" [maxDate]="maxDateYear" (onShown)="onOpenCalendar($event)"
                                                   [(bsValue)]="date" (bsValueChange)="changeYearAwp()">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Komponen="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!date"
                                                        ngbDropdownToggle>
                                                    <div class="row" style="justify-content: space-between" *ngIf="!loadingListComponent">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedComponentExist" style="align-self: center">
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedComponent()"></i>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="loadingListComponent">
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2" >
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterComponent($event)">
                                                            </div>
                                                            <div *ngIf="component?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of component; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedComponent(data); Komponen.close()">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="component?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #subKomponen="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!selectedComponentExist"
                                                        ngbDropdownToggle>
                                                    <div class="row" *ngIf="!loadingListComponent">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubComponentExist">Pilih Sub Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedSubComponentExist" style="white-space: normal">{{selectedSubComponentExist?.code}} - {{selectedSubComponentExist?.description}}</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedSubComponentExist" style="align-self: center">
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedSubComponent()"></i>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="loadingListComponent">
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubComponent(data); subKomponen.close()">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sub-Sub-Komponen : <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group ">
                                                <div class="dropdown" ngbDropdown>
                                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)" [disabled]="!selectedSubComponentExist"
                                                            ngbDropdownToggle>
                                                        <div *ngIf="!selectedCodeSubSubComponent">
                                                            <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                                                        </div>
                                                        <div *ngIf="selectedCodeSubSubComponent">
                                                            <label class="mb-0 me-2" *ngIf="selectedCodeSubSubComponent">{{selectedCodeSubSubComponent.code}}</label>
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCodeSubSubComponent()"></i>
                                                        </div>
                                                    </button>
                                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 70vh">
                                                        <div class="overflow2" *ngIf="listCodeSelectedSubSubComponent?.length > 0">
                                                            <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of listCodeSelectedSubSubComponent" (click)="selectedCodeFromListSubSubComponent(dataExist)">
                                                                <label *ngIf="dataExist?.description">{{dataExist?.code}} - {{dataExist?.description}}</label>
                                                                <label *ngIf="!dataExist?.description">{{dataExist?.code}}</label>
                                                            </label>
                                                        </div>
                                                        <div *ngIf="listCodeSelectedSubSubComponent?.length == 0">
                                                            <label class="mb-0 ms-2">Code Sub-Sub Komponen tidak tersedia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" placeholder="Input kode manual" style="white-space: normal; max-width: 20%" [(ngModel)]="inputCodeManual" [disabled]="!selectedSubComponentExist" *ngIf="selectedCodeSubSubComponent?.id === '1'" (ngModelChange)="changeManualCodeSubSubComponent()" (keydown)="withoutDots($event)" (keydown.space)="$event.preventDefault();"></textarea>
                                                <textarea class="form-control" placeholder="Masukkan Sub Sub Komponen" style="white-space: normal" [(ngModel)]="subSubComponentName" [disabled]="validateNameSubSubComponent() || inputCodeManual?.length >= 20"></textarea>
                                            </div>
                                            <p class="text-danger" *ngIf="selectedManualCodeExist">Kode yang anda masukkan sudah ada</p>
                                            <p class="text-danger" *ngIf="inputCodeManual?.length >= 20">Kode Sub-Sub Komponen maksimal 20 karakter</p>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Nama Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="dropdown" ngbDropdown>
                                                    <button class="btn dropdown-toggle" type="button" id="activityName" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)" [disabled]="validateButtonKegiatan() || inputCodeManual?.length >= 20"
                                                            ngbDropdownToggle>
                                                        <div *ngIf="!selectedCode">
                                                            <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                                                        </div>
                                                        <div *ngIf="selectedCode">
                                                            <label class="mb-0 me-2" *ngIf="selectedCode">{{selectedCode.code}}</label>
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCode()"></i>
                                                        </div>
                                                    </button>
                                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 70vh">
                                                        <div class="overflow2" *ngIf="listCodeSelected.length > 0">
                                                            <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of listCodeSelected" (click)="selectedCodeFromList(dataExist)">
                                                                <label *ngIf="dataExist?.description">{{dataExist?.code}} - {{dataExist?.description}}</label>
                                                                <label *ngIf="!dataExist?.description">{{dataExist?.code}}</label>
                                                            </label>
                                                        </div>
                                                        <div *ngIf="listCodeSelected.length == 0">
                                                            <label class="mb-0 ms-2">Code tidak tersedia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" placeholder="Input kode manual" style="white-space: normal; max-width: 20%" [(ngModel)]="inputCodeManualKegiatan" *ngIf="selectedCode?.id === '2'" (keydown)="withoutDots($event)" (ngModelChange)="changeManualCodekegiatan()" (keydown.space)="$event.preventDefault();"></textarea>
                                                <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="kegiatan" [disabled]="validateName() || inputCodeManualKegiatan?.length >= 20"></textarea>
                                            </div>
                                            <p class="text-danger" *ngIf="selectedManualCodeKegiatanExist">Kode yang anda masukkan sudah ada</p>
                                            <p class="text-danger" *ngIf="inputCodeManualKegiatan?.length >= 20">Kode kegiatan maksimal 20 karakter</p>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Moda Kegiatan :</label>
                                        <div class="col-md-6">
                                            <form class="row row-cols-lg-auto">
                                                <div *ngFor="let data of listModaType">
                                                    <div class="col-md-2">
                                                        <div class="form-check col-form-label">
                                                            <input class="form-check-input" type="radio" name="formRadios" id="{{data.id}}" [value]="data" [(ngModel)]="selectedModaActivity">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                {{data?.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Keterangan Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="OtherInfoAwp" [(ngModel)]="otherInformationAwp"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Budget AWP :</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" mask="separator" prefix="Rp " thousandSeparator="." placeholder="Budget AWP" [(ngModel)]="budgetAwp">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Upload RAB Kegiatan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label> :</label>
                                        <div class="col-md-6">
                                            <button class="btn form-control" style="border: 1px solid rgba(206, 207, 210, 1)" (click)="openModal(fileUploadRab)">
                                                <div class="text-start">
                                                    <i class="fa fa-folder-open me-2"></i>
                                                    <label class="mb-0" *ngIf="uploadFileRab.length == 0">Upload RAB kegiatan</label>
                                                    <label class="mb-0" *ngIf="uploadFileRab.length > 0">{{uploadFileRab[0].name}}</label>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="!selectedComponentExist || !kegiatan || !budgetAwp || !date || !selectedSubComponentExist || !selectedModaActivity || validateNextButtonForSubComponent()" (click)="setTimeRangeEvent()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Kegiatan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tujuan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Purpose" [(ngModel)]="tujuanKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Deskripsi Kegiatan :</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Description" [(ngModel)]="deskripsiKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Cara Pengelolaan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <form class="row row-cols-lg-auto">
                                                <div *ngFor="let data of listManagementType">
                                                    <div class="col-md-2">
                                                        <div class="form-check col-form-label">
                                                            <input class="form-check-input" type="radio" name="formRadios2" id="{{data.id}}" [value]="data" [(ngModel)]="selectedValueEventType">
                                                            <label class="form-check-label" for="{{data.id}}">
                                                                {{data?.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="!tujuanKegiatan || !deskripsiKegiatan || !selectedValueEventType">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Pelaksanaan">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Volume Event :</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Volume Event" (keydown)="numberOnly($event)" [(ngModel)]="volumeEvent">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Waktu Pelaksanaan Kegiatan :</label>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <form class="form-inline">
                                                    <div class="form-group hidden">
                                                        <div class="input-group">
                                                            <input name="datepicker"
                                                                   class="form-control"
                                                                   type="hidden"
                                                                   ngbDatepicker
                                                                   #datepicker="ngbDatepicker"
                                                                   [autoClose]="'outside'"
                                                                   [minDate]="minDate"
                                                                   [maxDate]="maxDate"
                                                                   (dateSelect)="onDateSelection($event, datepicker)"
                                                                   [displayMonths]="2"
                                                                   [dayTemplate]="customDay"
                                                                   outsideDays="hidden"
                                                                   [startDate]="fromDate!"
                                                                   tabindex="-1"
                                                            >
                                                            <ng-template
                                                                #customDay
                                                                let-date
                                                                let-currentMonth="currentMonth"
                                                                let-selected="selected"
                                                                let-disabled="disabled"
                                                                let-focused="focused">
                                                              <span
                                                                      class="custom-day"
                                                                      [ngClass]="myClass(date)"
                                                                      [class.weekend]="isWeekend(date)"
                                                                      [class.focused]="focused"
                                                                      [class.bg-primary]="selected"
                                                                      [class.text-muted]="disabled"
                                                                      [class.range]="isRange(date)"
                                                                      [class.faded]="isHovered(date) || isInside(date)"
                                                                      (mouseenter)="hoveredDate = date"
                                                                      (mouseleave)="hoveredDate = null">
                                                                {{ date.day }}
                                                              </span>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpFromDate
                                                                           class="form-control" placeholder="Pilih tanggal mulai"
                                                                           name="dpFromDate"
                                                                           [value]="formatter.format(fromDate)"
                                                                           (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1" style="align-self: end; text-align: center">
                                                            <label>s.d</label>
                                                        </div>
                                                        <div class="col-md">
                                                            <div class="form-group ml-2">
                                                                <div class="input-group">
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </div>
                                                                    <input #dpToDate
                                                                           class="form-control" placeholder="Pilih tanggal akhir"
                                                                           name="dpToDate"
                                                                           [value]="formatter.format(toDate)"
                                                                           (input)="toDate = validateInput(toDate, dpToDate.value)" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Waktu Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Waktu Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="waktuInformasiLainnya">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tempat Pelaksanaan :</label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="selectedProvinceAndCity?.length > 0">
                                                <li class="list-group-item" *ngFor="let data of selectedProvinceAndCity">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label">{{data?.provinceId?.name}}
                                                                <label class="mb-0" *ngIf="data?.regencyId.length > 0">
                                                                    (<label class="mb-0" *ngFor="let dataCity of data?.regencyId; let i = last">
                                                                    {{dataCity}}
                                                                    <label class="mb-0" *ngIf="!i">,</label>
                                                                </label>)
                                                                </label>
                                                            </label>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="removeSelectedProvinceAndCity(data)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" (click)="openModal(addProvinceAndCity)"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Lokasi
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Tempat Pelaksanaan <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi Tambahan Tempat Pelaksanaan Kegiatan (jika ada)" [(ngModel)]="tempatInformasiLainnya">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jenis Kegiatan</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Kegiatan="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row text-start">
                                                        <label class="mb-0" *ngIf="selectedEvent">{{selectedEvent?.name}}</label>
                                                        <label class="mb-0" *ngIf="!selectedEvent">Pilih Jenis Kegiatan</label>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterEvent($event)">
                                                            </div>
                                                            <div *ngIf="listEvent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listEvent; let index = last" (click)="selectedEventType(data); Kegiatan.close()" style="cursor: pointer">
                                                                    <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listEvent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Jenis Kegiatan tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jumlah Narasumber <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Jumlah Narasumber" [(ngModel)]="jumlahNasrasumber" (keydown)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Asal Lembaga Narasumber <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="Institution" [(ngModel)]="asalLembagaNarasumber"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Narasumber <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi tambahan asal lembaga narasumber (jika ada)" [(ngModel)]="informasiLainNarasumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="selectedProvinceAndCity.length == 0 || !volumeEvent || !selectedEvent || !fromDate || !toDate">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Peserta">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-user"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Jumlah Peserta</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Jumlah Peserta" [(ngModel)]="totalPeserta" (keydown)="numberOnly($event)">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Sasaran Peserta <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label></label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="participantTarget" [(ngModel)]="targetParticipant"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Informasi Lain Peserta <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Informasi tambahan peserta jika ada" [(ngModel)]="informasiPeserta">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Output Kegiatan</label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="OutputEvent" [(ngModel)]="outputKegiatan"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Kontribusi Hasil terhadap PDOI <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label></label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="pdoRequest?.length > 0">
                                                <li class="list-group-item" *ngFor="let data of pdoRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.name}} - {{data?.description}}</label>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addPdoSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #Pdo = "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kontribusi PDOI
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterPdo($event)">
                                                            </div>
                                                            <div class="overflow2" *ngIf="listPdoAll?.length > 0">
                                                                <div *ngFor="let data of listPdoAll; let i = last" (click)="addPdoSelected(data, 1); Pdo.close()" style="cursor:pointer;">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal">{{data.name}} - {{data?.description}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listPdoAll?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kontribusi tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Kontribusi Hasil terhadap IRI <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label></label>
                                        <div class="col-md-6">
                                            <ul class="list-group mb-3" style="border: 1px solid rgba(206, 212, 218, 1)" *ngIf="iriRequest?.length > 0">
                                                <li class="list-group-item" *ngFor="let data of iriRequest">
                                                    <div class="row" style="justify-content: space-between">
                                                        <div class="col-10">
                                                            <label class="form-check-label" style="white-space: normal">{{data?.name}} - {{data?.description}}</label>
                                                        </div>
                                                        <div class="col-2 text-end">
                                                            <i class="fa fa-trash-alt text-end" style="color: red; cursor: pointer" (click)="addIriSelected(data, 2)"></i>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="dropdown" ngbDropdown container="body" #Iri = "ngbDropdown">
                                                <button class="btn dropdown-toggle w-100" style="border: black solid 1px" type="button" id="dropdownMenuButton"
                                                        ngbDropdownToggle>
                                                    <i class="fa fa-plus"></i> Tambah Kontribusi IRI

                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3 mb-2">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterIri($event)">
                                                            </div>
                                                            <div *ngIf="listIriAll?.length > 0">
                                                                <div *ngFor="let data of listIriAll; let i = last" (click)="addIriSelected(data, 1); Iri.close()" style="cursor: pointer">
                                                                    <label class="form-check-label font-size-16 ms-4 me-4" style="white-space: normal">{{data.name}} {{data?.description}}</label>
                                                                    <hr class="mb-1 mt-1" *ngIf="!i">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listIriAll?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Kontribusi tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Potensi Risiko : <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label></label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="riskPotential" [(ngModel)]="potentialRisk"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Mitigasi Risiko <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <ckeditor [editor]="riskMitigation" [(ngModel)]="mitigationRisk"></ckeditor>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Keterangan Resiko <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <ng-select [items]="listAllRisk"
                                                       bindLabel="name"
                                                       placeholder="Pilih Keterangan Resiko"
                                                       [multiple]="false"
                                                       [(ngModel)]="selectedRisk"
                                                       [addTag]="CreateNew"
                                                       [ngModelOptions]="{standalone: true}">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row ">
                                        <label class="col-md-3 col-form-label">Kemungkinan Terjadi <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <div class="row row-cols-lg-auto col-form-label">
                                                <label>Tidak Berpengaruh</label>
                                                <form action="">
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 1" (click)="kemungkinanTerjadi = 1"><label>1</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 2" (click)="kemungkinanTerjadi = 2"><label>2</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 3" (click)="kemungkinanTerjadi = 3"><label>3</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 4" (click)="kemungkinanTerjadi = 4"><label>4</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="kemungkinanTerjadi >= 5" (click)="kemungkinanTerjadi = 5"><label>5</label>
                                                    </div>
                                                </form>
                                                <label>Sangat Berpengaruh</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row ">
                                        <label class="col-md-3 col-form-label">Dampak <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <div class="row row-cols-lg-auto col-form-label" style="margin-left: 23px">
                                                <label>Tidak Pernah</label>
                                                <form action="">
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="dampak >= 1" (click)="dampak = 1"><label>1</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="dampak >= 2" (click)="dampak = 2"><label>2</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="dampak >= 3" (click)="dampak = 3"><label>3</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="dampak >= 4" (click)="dampak = 4"><label>4</label>
                                                    </div>
                                                    <div class="radio-box">
                                                        <input type="radio" name="sex" value="male" [checked]="dampak >= 5" (click)="dampak = 5"><label>5</label>
                                                    </div>
                                                </form>
                                                <label>Selalu</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Gejala Resiko <br><label class="mb-0" style="color: rgba(24, 101, 228, 1);">(Optional)</label></label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Gejala Resiko" [(ngModel)]="gejalaResiko">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListAWP()" [disabled]="loadingSaveData">
                                    <label class="mb-0" *ngIf="!loadingSaveData">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveData"></i>
                                </button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep [disabled]="loadingSaveData">
                                        <label class="mb-0" *ngIf="!loadingSaveData">Sebelumnya</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveData"></i>
                                    </button>
                                    <button class="btn btn-primary" [disabled]="!outputKegiatan || loadingSaveData" (click)="doUploadRab()" style="width: 120px">
                                        <label class="mb-0" *ngIf="!loadingSaveData">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingSaveData"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addProvinceAndCity let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Pilih Provinsi dan Kota</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Provinsi</label>
                <div class="col-md-9">
                    <div class="dropdown" ngbDropdown container="body" #Kota="ngbDropdown">
                        <button class="btn w-100" style="border: black solid 1px" type="button"
                                ngbDropdownToggle>
                            <div class="row text-start">
                                <label class="mb-0" *ngIf="selectedProvinceExist">{{selectedProvinceExist?.name}}</label>
                                <label class="mb-0" *ngIf="!selectedProvinceExist">Pilih Provinsi</label>
                            </div>
                        </button>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <div class="search-box me-2">
                                <div>
                                    <div class="position-relative ms-3 me-3">
                                        <i class="bx bx-search-alt search-icon"></i>
                                        <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterProvince($event)">
                                    </div>
                                    <div class="overflow2" *ngIf="listProvinceAll?.length > 0">
                                        <div class="ms-4 mt-1" *ngFor="let data of listProvinceAll; let index = last" (click)="selectedProvince(data); Kota.close()" style="cursor: pointer">
                                            <label class="form-check-label font-size-16 me-1">{{data?.name}}</label>
                                            <hr class="m-0" *ngIf="!index">
                                        </div>
                                    </div>
                                    <div *ngIf="listProvinceAll?.length == 0">
                                        <div class="ms-4 mt-1">
                                            <label class="form-check-label font-size-16">Provinsi tidak diketahui</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">Kabupaten/Kota <br><label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px">(Optional)</label></label>
                <div class="col-md-9">
                    <ng-select [items]="listCityFromApi" [multiple]="true" [disabled]="!selectedProvinceExist" [(ngModel)]="selectedCityFromList"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addSelectedProvinceAndCity()" [disabled]="!selectedProvinceExist">
            <label class="mb-0" style="cursor: pointer">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #fileUploadRab let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Upload RAB</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <file-upload name="uploadSelfie"
                     [(ngModel)]="uploadFileRab"
                     [fileslimit]="1"
                     [multiple]="false"
                     [accept]="'.xlsx, .pdf'"
                     filesize= "20mb">
        </file-upload>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">
            <label class="mb-0">Simpan</label>
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</ng-template>
