<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row row-cols-lg-auto">
        <div class="col-md-12">
            <label class="title-header">Hasil - <label class="mb-0" style="color: rgba(24, 101, 228, 1);">{{monevType}}</label></label>
        </div>
    </div>
    <div class="col-md-12 mt-5">
        <ul ngbNav #nav="ngbNav" [(activeId)]="checkedButton" class="nav-tabs" (navChange)="refreshCalender($event)">
            <li [ngbNavItem]="2020">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2020</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2021">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2021</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2022">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                    <span class="d-none d-sm-block font-size-18">2022</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2023">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2023</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
            <li [ngbNavItem]="2024">
                <a ngbNavLink style="width: 150px; text-align: center">
                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                    <span class="d-none d-sm-block font-size-18">2024</span>
                </a>
                <ng-template ngbNavContent>
                    <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>

<ng-template #TabContent>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData" >
        <div class="mt-5">
            <div class="row">
                <div class="col-md-12`">
                    <div class="row">
                        <label class="col-6 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1);">Daftar {{monevType}}</label>
                        <div class="col-6 text-end">
                            <div>
                                <div class="row">
                                    <div class="col-md-2 offset-md-4" style="align-self: end">
                                        <label>Pencarian : </label>
                                    </div>
                                    <div class="col-md-4">
                                        <input class="form-control" [(ngModel)]="filterData" (keydown.enter)="refreshDatatable()">
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                    <thead class="table-light">
                    <tr>
                        <th class="text-center" style="width: 5%">No</th>
                        <th class="text-center">Kode Result Chain</th>
                        <th class="text-center">Output Kegiatan</th>
                        <th class="text-center">Hasil 2020</th>
                        <th class="text-center">Hasil 2021</th>
                        <th class="text-center">Hasil 2022</th>
                        <th class="text-center">Hasil 2023</th>
                        <th class="text-center">Hasil 2024</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of listMonev; let i = index">
                        <td class="text-center" style="width: 2%; vertical-align: middle">{{ start + (i + 1)}}</td>
                        <td class="text-start" style="vertical-align: middle;">{{data?.code ? data?.code : '-'}}</td>
                        <td class="text-start" style="vertical-align: middle;">{{data?.name ? data?.name : '-'}}</td>
                        <td class="text-center" style="vertical-align: middle;">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data?.status2020 === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data?.status2020 === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data?.status2020 === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data?.status2020 === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data?.status2020 === 5">Achieved</span>
                            <label *ngIf="!data?.status2020">-</label>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data?.status2021 === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data?.status2021 === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data?.status2021 === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data?.status2021 === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data?.status2021 === 5">Achieved</span>
                            <label *ngIf="!data?.status2021">-</label>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data?.status2022 === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data?.status2022 === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data?.status2022 === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data?.status2022 === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data?.status2022 === 5">Achieved</span>
                            <label *ngIf="!data?.status2022">-</label>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data?.status2023 === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data?.status2023 === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1)" *ngIf="data?.status2023 === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data?.status2023 === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data?.status2023 === 5">Achieved</span>
                            <label *ngIf="!data?.status2023">-</label>
                        </td>
                        <td class="text-center" style="vertical-align: middle;">
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(151, 151, 151, 1)" *ngIf="data?.status2024 === 1">Not Applicable</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(255, 92, 92, 1)" *ngIf="data?.status2024 === 2">Off-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(255, 187, 55, 1); color: rgba(84, 84, 84, 1);" *ngIf="data?.status2024 === 3">Partially On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(0, 189, 30, 1)" *ngIf="data?.status2024 === 4">On-Track</span>
                            <span class="badge rounded-pill p-2 w-sm font-size-12 text-white" style="background-color: rgba(24, 101, 228, 1); color: rgba(51, 51, 51, 1)" *ngIf="data?.status2024 === 5">Achieved</span>
                            <label *ngIf="!data?.status2024">-</label>
                        </td>
                        <td class="text-center" style="width: 10%; vertical-align: middle">
                            <div class="row" style="padding-left: 10px;padding-right: 10px;">
                                <button class="btn w-100 text-white col spacing" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="goToDetailMonev(data.id)"><i class="fa fa-eye"></i></button>
                                <button class="btn w-100 text-white col" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" *ngIf="roles?.hasAuthority('Consultan')" (click)="goToEditMonev(data.id)">Edit</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody *ngIf="listMonev?.length == 0">
                    <tr>
                        <td colspan="7" class="no-data-available text-center">No data!</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>
