::ng-deep table.dataTable td.dataTables_empty {
  display: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background: rgba(15, 132, 69, 0.05);
  color: rgba(15, 132, 69, 1);
}
