<div class="modal-header">
    <h5 class="modal-title mt-0">Tambah Kegiatan untuk LSP</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
    </button>
</div>
<div class="modal-body">
    <label>Pilih Kegiatan yang ingin di-assign ke LSP ini (Kegiatan yg dipilih sudah berstatus “Pelaksanaan”).</label>
    <div class="input-group mb-3">
        <div class="dropdown" ngbDropdown>
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)"
                    ngbDropdownToggle>
                <div *ngIf="!selectedCode">
                    <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                </div>
                <div *ngIf="selectedCode">
                    <label class="mb-0 me-2" *ngIf="selectedCode">{{selectedCode.componentCode?.code}}</label>
                    <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCode()"></i>
                </div>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu style="width: 40vh">
                <div class="overflow2" *ngIf="modelKegiatan?.length != 0">
                    <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of modelKegiatan" (click)="selectedCodeFromList(dataExist)">
                        {{dataExist?.componentCode?.code}} - {{dataExist?.name}}
                    </label>
                </div>
                <div *ngIf="modelKegiatan?.length == 0">
                    <label class="mb-0 ms-2">Data Tidak Tersedia</label>
                </div>
            </div>
        </div>
        <textarea class="form-control" placeholder="Masukkan Kegiatan" style="white-space: normal" [(ngModel)]="kegiatan" disabled></textarea>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="add()" [disabled]="!selectedCode">Tambah</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.dismiss()">Batal</button>
</div>
