<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListMonev()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'output'">Tambah Target Output Kegiatan</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'intermediate'">Tambah Target Intermediate Outcome</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Midterm'">Tambah Target Midterm Outcome</label>
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);" *ngIf="from === 'Longterm'">Tambah Target Longterm Outcome</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="{{monevType}}">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Tahun :</label>
                                        <div class="col-md-6">
                                            <input type="text" #dp="bsDatepicker" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY'}" minMode="year" [minDate]="minDateYear" [maxDate]="maxDateYear" (onShown)="onOpenCalendar($event)"
                                                   [(ngModel)]="date" (ngModelChange)="changeYearAwp()">
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                        <label class="col-md-3 col-form-label">Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #Komponen="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!date || loadingListComponent"
                                                        ngbDropdownToggle>
                                                    <div class="row" style="justify-content: space-between" *ngIf="!loadingListComponent">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="!selectedComponentExist">Pilih Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedComponentExist" style="white-space: normal">{{selectedComponentExist?.code}} - {{selectedComponentExist?.description}}</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedComponentExist" style="align-self: center">
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedComponent()"></i>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="loadingListComponent">
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2" >
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterComponent($event)">
                                                            </div>
                                                            <div *ngIf="component?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of component; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedComponent(data); Komponen.close()">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="component?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="from === 'output' || from === 'intermediate'">
                                        <label class="col-md-3 col-form-label">Sub-Komponen :</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #subKomponen="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button" [disabled]="!selectedComponentExist"
                                                        ngbDropdownToggle>
                                                    <div class="row" *ngIf="!loadingListComponent">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="!selectedSubComponentExist">Pilih Sub Komponen</label>
                                                            <label class="mb-0" *ngIf="selectedSubComponentExist" style="white-space: normal">{{selectedSubComponentExist?.code}} - {{selectedSubComponentExist?.description}}</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedSubComponentExist" style="align-self: center">
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedSubComponent()"></i>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="loadingListComponent">
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterSubComponent($event)">
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of selectedSubComponentExistMaster?.subComponent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedSubComponent(data); subKomponen.close()">{{data?.code}} - {{data?.description}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="selectedSubComponentExistMaster?.subComponent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">Sub Komponen tidak tersedia</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row" *ngIf="selectedCode?.id === 1 && from !== 'Longterm'">
                                        <label class="col-md-3 col-form-label">{{parentName}}</label>
                                        <div class="col-md-6">
                                            <div class="dropdown" ngbDropdown container="body" #parentId="ngbDropdown">
                                                <button class="btn w-100" style="border: black solid 1px" type="button"
                                                        ngbDropdownToggle>
                                                    <div class="row" *ngIf="!loadingListComponent">
                                                        <div class="col-md-10 text-start">
                                                            <label class="mb-0" *ngIf="!selectedChainCodeParent">Pilih {{parentName}}</label>
                                                            <label class="mb-0" *ngIf="selectedChainCodeParent" style="white-space: normal">{{selectedChainCodeParent?.code}} - {{selectedChainCodeParent?.name}}</label>
                                                        </div>
                                                        <div class="col-md-2 text-end" *ngIf="selectedChainCodeParent" style="align-self: center">
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeSelectedParent()"></i>
                                                        </div>
                                                    </div>
                                                    <div *ngIf="loadingListComponent">
                                                        <i class="bx bx-loader bx-spin font-size-20 align-middle"></i>
                                                    </div>
                                                </button>
                                                <div class="dropdown-menu" style="width: 80vh" ngbDropdownMenu>
                                                    <div class="search-box me-2">
                                                        <div>
                                                            <div class="position-relative ms-3 me-3">
                                                                <i class="bx bx-search-alt search-icon"></i>
                                                                <input type="text" class="form-control border-0" placeholder="Search..." (input)="searchFilterParent($event)">
                                                            </div>
                                                            <div *ngIf="listChainCodeParent?.length > 0">
                                                                <div class="ms-4 mt-1" *ngFor="let data of listChainCodeParent; let index = last">
                                                                    <label class="form-check-label font-size-16 me-1" style="white-space: normal" (click)="selectedParent(data); parentId.close()">{{data?.code}} - {{data?.name}}</label>
                                                                    <hr class="m-0" *ngIf="!index">
                                                                </div>
                                                            </div>
                                                            <div *ngIf="listChainCodeParent?.length == 0">
                                                                <div class="ms-4 mt-1">
                                                                    <label class="form-check-label font-size-16">{{parentName}} tidak ditemukan</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">{{indicatorName}} :</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="dropdown" ngbDropdown>
                                                    <button class="btn dropdown-toggle" type="button" id="activityName" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)" [disabled]="validationCreateIndicatorWithoutComponent()"
                                                            ngbDropdownToggle>
                                                        <div *ngIf="!selectedCode">
                                                            <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                                                        </div>
                                                        <div *ngIf="selectedCode">
                                                            <label class="mb-0 me-2" *ngIf="selectedCode">{{selectedCode.code}}</label>
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCode()"></i>
                                                        </div>
                                                    </button>
                                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 70vh">
                                                        <div class="overflow2" *ngIf="listCodeSelected.length > 0">
                                                            <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of listCodeSelected" (click)="selectedCodeFromList(dataExist)">
                                                                <label *ngIf="dataExist?.name">{{dataExist?.code}} - {{dataExist?.name}}</label>
                                                                <label *ngIf="!dataExist?.name">{{dataExist?.code}}</label>
                                                            </label>
                                                        </div>
                                                        <div *ngIf="listCodeSelected.length == 0">
                                                            <label class="mb-0 ms-2">Code tidak tersedia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" placeholder="Input Result Chain Code" style="white-space: normal; max-width: 20%" [(ngModel)]="inputCodeManualOutput" (ngModelChange)="checkSameCodeOutputKegiatan(); inputCodeManualOutput = $event.toUpperCase()" (keydown.space)="$event.preventDefault();" *ngIf="selectedCode?.id === 1"></textarea>
                                                <textarea class="form-control" placeholder="Masukkan Output Kegiatan" [(ngModel)]="outputDescription" [disabled]=" !validateYear || validateNameOutputIndicator()" style="white-space: normal"></textarea>
                                            </div>
                                            <p class="text-danger" *ngIf="codeInputSame">Kode yang anda masukkan sudah ada</p>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Indikator Keberhasilan :</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="dropdown" ngbDropdown>
                                                    <button class="btn dropdown-toggle" type="button" id="indicatorSuccess" style="height: 100%; background-color: rgba(245, 245, 245, 1); border: 1px solid rgba(206, 207, 210, 1)" [disabled]="!outputDescription"
                                                            ngbDropdownToggle>
                                                        <div *ngIf="!selectedCodeIndicator">
                                                            <label class="mb-0 me-2">Pilih</label> <i class="mdi mdi-chevron-down"></i>
                                                        </div>
                                                        <div *ngIf="selectedCodeIndicator">
                                                            <label class="mb-0 me-2" *ngIf="selectedCodeIndicator">{{selectedCodeIndicator.code}}</label>
                                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="clearSelectedCodeIndicator()"></i>
                                                        </div>
                                                    </button>
                                                    <div class="dropdown-menu" ngbDropdownMenu style="width: 70vh">
                                                        <div class="overflow2" *ngIf="dataExistSuccessCode.length > 0">
                                                            <label class="dropdown-item" style="cursor: pointer; white-space: normal" *ngFor="let dataExist of dataExistSuccessCode" (click)="selectedCodeIndicatorFromList(dataExist)">
                                                                <label *ngIf="dataExist?.id !== 1">{{dataExist?.code}} - {{dataExist?.name}}</label>
                                                                <label *ngIf="dataExist?.id == 1">{{dataExist?.code}}</label>
                                                            </label>
                                                        </div>
                                                        <div *ngIf="listCodeSelected.length == 0">
                                                            <label class="mb-0 ms-2">Code tidak tersedia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <textarea class="form-control" placeholder="Input Result Chain Code" style="white-space: normal; max-width: 20%" [(ngModel)]="inputCodeManualIndicator" (ngModelChange)="checkValidationCodeExist()" (keydown.space)="$event.preventDefault();" *ngIf="selectedCodeIndicator?.id === 1"></textarea>
                                                <textarea class="form-control" placeholder="Masukkan Indikator Keberhasilan" [(ngModel)]="outputIndicatorDescription" [disabled]="validateNameOutputIndicatorSuccess()" style="white-space: normal"></textarea>
                                            </div>
                                            <p class="text-danger" *ngIf="codeIndicatorInputSame">Kode indikator yang anda masukkan sudah ada</p>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">PDO <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <ng-select [items]="selectValuePdo"
                                                       bindLabel="name"
                                                       placeholder="Pilih PDO"
                                                       [multiple]="false"
                                                       [(ngModel)]="selectedPdo"
                                                       [ngModelOptions]="{standalone: true}">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">IRI <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <ng-select [items]="selectValueIri"
                                                       bindLabel="name"
                                                       placeholder="Pilih IRI"
                                                       [multiple]="false"
                                                       [(ngModel)]="selectedIri"
                                                       [ngModelOptions]="{standalone: true}">
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Nilai Baseline <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="baseLineValue">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Target Total <label class="mb-0" style="color: rgba(24, 101, 228, 1); font-size: 12px"> (Optional)</label>:</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="totalTarget">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-md-3 col-form-label">Target Tahunan</label>
                                        <div class="table-responsive col-md-6">
                                            <table class="table table-bordered mb-3">
                                                <thead class="table-light">
                                                <tr>
                                                    <th class="text-center">Tahun</th>
                                                    <th class="text-center">Target</th>
                                                    <th class="text-center">Belum Final</th>
                                                    <th class="text-center">Not Applicable</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="text-start" style="vertical-align: middle; width: 20%">2020</td>
                                                    <td class="text-start" style="vertical-align: middle;">
                                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2020" (keyup)="changeValueTargetYear(2020)" [disabled]="disableFormTarget1">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2020" [checked]="target2020" [(ngModel)]="target2020" (ngModelChange)="disableInputTarget(2020)">
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2020Applicable" [checked]="notApplicable2020" [(ngModel)]="notApplicable2020" (ngModelChange)="disableInputTargetByApplicable(2020)">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-start" style="vertical-align: middle; width: 20%">2021</td>
                                                    <td class="text-start" style="vertical-align: middle;">
                                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2021" (keyup)="changeValueTargetYear(2021)" [disabled]="disableFormTarget2">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2021" [checked]="target2021" [(ngModel)]="target2021" (ngModelChange)="disableInputTarget(2021)">
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2021Applicable" [checked]="notApplicable2021" [(ngModel)]="notApplicable2021" (ngModelChange)="disableInputTargetByApplicable(2021)">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-start" style="vertical-align: middle;">2022</td>
                                                    <td class="text-start" style="vertical-align: middle;">
                                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2022" (keyup)="changeValueTargetYear(2022)" [disabled]="disableFormTarget3">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2022" [checked]="target2022" [(ngModel)]="target2022" (ngModelChange)="disableInputTarget(2022)">
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2022Applicable" [checked]="notApplicable2022" [(ngModel)]="notApplicable2022" (ngModelChange)="disableInputTargetByApplicable(2022)">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-start" style="vertical-align: middle;">2023</td>
                                                    <td class="text-start" style="vertical-align: middle;">
                                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2023" (keyup)="changeValueTargetYear(2023)" [disabled]="disableFormTarget4">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2023" [checked]="target2023" [(ngModel)]="target2023" (ngModelChange)="disableInputTarget(2023)">
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2023Applicable" [checked]="notApplicable2023" [(ngModel)]="notApplicable2023" (ngModelChange)="disableInputTargetByApplicable(2023)">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-start" style="vertical-align: middle;">2024</td>
                                                    <td class="text-start" style="vertical-align: middle;">
                                                        <input type="text" class="form-control" value="1.1 - Monev Sub Component" [(ngModel)]="targetValue2024" (keyup)="changeValueTargetYear(2024)" [disabled]="disableFormTarget5">
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2024" [checked]="target2024" [(ngModel)]="target2024" (ngModelChange)="disableInputTarget(2024)">
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="vertical-align: middle;">
                                                        <div>
                                                            <input class="form-check-input" type="checkbox" id="2024Applicable" [checked]="notApplicable2024" [(ngModel)]="notApplicable2024" (ngModelChange)="disableInputTargetByApplicable(2024)">
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListMonev()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep  [disabled]="disabledStep1()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Buat Pertanyaan Penilaian {{monevType}}">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="mb-4 mt-4 row" style="justify-content: center" *ngIf="listQuestionFromSelectedChainCode?.length > 0">
                               <div class="col-md-6" style="background: rgba(24, 101, 228, 0.06); border: 1px solid rgba(24, 101, 228, 1)">
                                   <label class="mb-0 p-2 font-size-16" style="color: rgba(24, 101, 228, 1);" *ngIf="validateYear">
                                       Pertanyaan {{monevType}} {{selectedCode?.code}} sudah terdefinisi, jika ingin mengganti pertanyaan yang sudah ada silahkan menuju halaman edit.
                                   </label>
                                   <label class="mb-0 p-2 font-size-16" style="color: rgba(24, 101, 228, 1);" *ngIf="!validateYear">
                                       Langsung klik simpan. Pertanyaan {{indicatorName}} pada tahun berjalan tidak bisa diedit.
                                   </label>
                               </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-md-12" *ngIf="listQuestionFromSelectedChainCode?.length > 0">
                                    <div *ngFor="let data of listQuestionFromSelectedChainCode; let i = index">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="mb-3 row">
                                                    <label class="col-md-1 col-form-label text-end">{{i + 1}}.</label>
                                                    <div class="col-md-11" style="align-self: center; background: rgba(245, 245, 245, 1);">
                                                        <label class="mb-0 p-1">{{data?.monevQuestion?.question}}</label>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row" *ngIf="data?.monevQuestion?.yesOrNo">
                                                    <label class="col-md-1 col-form-label text-end"></label>
                                                    <div class="col-md-11">
                                                        <div class="mb-2">
                                                            <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                                <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                                <label class="form-check-label" for="yes">
                                                                    Iya
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                                <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                                <label class="form-check-label" for="no">
                                                                    Tidak
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row" *ngIf="!data?.monevQuestion?.yesOrNo">
                                                    <label class="col-md-2 col-form-label text-end">Penjelasan</label>
                                                    <div class="col-md-10" style="padding-right: 0px;">
                                                        <input class="form-control" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div *ngFor="let data of newQuestion; let i = index">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="mb-3 row">
                                                    <label class="col-md-1 col-form-label text-end">{{i + 1 + listQuestionFromSelectedChainCode?.length}}.</label>
                                                    <div class="col-md-11" style="padding-right: 0;">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row" *ngIf="data?.yesOrNo">
                                                    <label class="col-md-1 col-form-label text-end"></label>
                                                    <div class="col-md-11">
                                                        <div class="mb-2">
                                                            <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                                <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                                <label class="form-check-label" for="yes">
                                                                    Iya
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                                <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                                <label class="form-check-label" for="no">
                                                                    Tidak
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="!data?.yesOrNo">
                                                    <div class="mb-3 row">
                                                        <label class="col-md-2 col-form-label text-end">Penjelasan</label>
                                                        <div class="col-md-10">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1" style="margin-top: 10px" *ngIf="validateYear">
                                                <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="deleteNewQuestions(i)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row" style="justify-content: center" *ngIf="validateYear">
                                <div class="col-md-9 text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListMonev()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>Sebelumnya</button>
                                    <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" (click)="createNewTarget()" [disabled]="!disabledStep2()">
                                        <label class="mb-0" *ngIf="!loadingCreateIndicator">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateIndicator"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
