div.overflow2 {
  background-color: transparent;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  margin: auto;
  overflow: auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  display:none;
}

ul.steps-indicator li:last-child .done .step-indicator{
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}

:host::ng-deep aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done .step-indicator {
  border-color: transparent;
  color: white !important;
  background-color: rgba(24, 101, 228, 1) !important;
}
