<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <button class="btn btn-light mb-2" type="button" (click)="goToListQuestion()">
        <i class="fa fa-arrow-alt-circle-left mb-1"></i> <label style="margin: 0 0 0 5px; font-size: 16px; cursor:pointer;">Kembali</label>
    </button>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div [hidden]="!finishLoadData">
        <div class="mt-3">
            <div class="col-md-12">
                <label class="font-size-20 mt-2" style="color: rgba(26, 32, 44, 1);">Tambah Formulir {{eventTypeName}}</label>
            </div>
        </div>
        <div class="mt-2">
            <div class="card" style="background: rgba(255, 255, 255, 1); box-shadow: 0px 0px 16px 0px rgba(103, 103, 103, 0.2); overflow: auto">
                <div class="card-body">
                    <aw-wizard [navBarLayout]="'large-empty-symbols'">
                        <aw-wizard-step stepTitle="Formulir Evaluator">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) : </label>
                            </div>
                            <div class="mb-3 row" style="justify-content: center">
                                <div *ngFor="let data of newQuestionCompliance; let i = index">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <div class="mb-3 row">
                                                <div class="col-md-12" style="padding-right: 0;">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label text-end">{{i + 1}}.</label>
                                                        </div>
                                                        <div class="col-md-12" style="width: 96%">
                                                            <ng-select [items]="selectValueQustion"
                                                                       bindLabel="name"
                                                                       placeholder="Pilih Pertanyaan"
                                                                       [multiple]="false"
                                                                       [(ngModel)]="data.question"
                                                                       [ngModelOptions]="{standalone: true}"
                                                                       [addTag]="CreateNew">
                                                            </ng-select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                                <div class="col-md-12">
                                                    <div class="mb-2 ms-2">
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                            <label class="form-check-label" for="yes">
                                                                Iya
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                            <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                            <label class="form-check-label" for="no">
                                                                Tidak
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="data?.questionType === 3">
                                                <div class="mb-3 row">
                                                    <div class="col-md-12">
                                                        <div class="row row-cols-lg-auto">
                                                            <div class="col-md-12 ms-2">
                                                                <label class="col-form-label">Penjelasan</label>
                                                            </div>
                                                            <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                                <input class="form-control" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="data?.questionType === 2">
                                                <div class="mb-3 row">
                                                    <div class="col-md-12 mb-3">
                                                        <div class="row row-cols-lg-auto">
                                                            <div class="col-md-12 ms-2">
                                                                <label class="col-form-label">Score</label>
                                                            </div>
                                                            <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                                <i class="fa fa-star me-2"></i>
                                                                <i class="fa fa-star me-2"></i>
                                                                <i class="fa fa-star me-2"></i>
                                                                <i class="fa fa-star me-2"></i>
                                                                <i class="fa fa-star me-2"></i>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="col-form-label">(Score: -)</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="margin-top: 10px">
                                            <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(data.questionCategory, i)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1, 1)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(3, 1)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)-->
<!--                                            </button>-->
<!--                                        </div>-->
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(1 , 2, 1)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) : </label>
                            </div>

                            <div *ngFor="let data of newQuestionEconomy; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(data.questionCategory, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1, 2)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(3, 2)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)-->
<!--                                            </button>-->
<!--                                        </div>-->
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(1, 2, 2)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) : </label>
                            </div>

                            <div *ngFor="let data of newQuestionEfective; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(data.questionCategory, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1, 3)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(3, 3)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)-->
<!--                                            </button>-->
<!--                                        </div>-->
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(1, 2, 3)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionEfisiens; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(data.questionCategory, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(1, 4)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-4">-->
<!--                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(3, 4)">-->
<!--                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)-->
<!--                                            </button>-->
<!--                                        </div>-->
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(1,2, 4)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListQuestion()">Batal</button>
                                </li>
                                <li class="next list-inline-item float-end"><button class="btn text-white" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%); width: 120px" awNextStep [disabled]="disableStep1()">Lanjut</button>
                                </li>
                            </ul>
                        </aw-wizard-step>

                        <aw-wizard-step stepTitle="Formulir Peserta">
                            <ng-template awWizardStepSymbol>
                                <i class="fas fa-check"></i>
                            </ng-template>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">A. COMPLIANCE (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionParticipantCompliance; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(5, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(2, 1, 1)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,3, 1)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2, 2, 1)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">B. EKONOMIS (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionParticipantEconomy; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(6, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(2,1, 2)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,3, 2)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,2, 2)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">C. EFEKTIF (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionParticipantEfective; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(7, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(2,1, 3)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,3, 3)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,2, 3)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">D. EFISIEN (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionParticipantEfisiens; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(8, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(2,1, 4)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,3, 4)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,2, 4)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3 mt-5" style="background-color: rgba(24, 101, 228, 0.06);">
                                <label class="col-form-label ms-2 mb-0" style="color: rgba(24, 101, 228, 1);">E. LAIN-LAIN (Pertanyaan) : </label>
                            </div>
                            <div *ngFor="let data of newQuestionParticipantOtherQuestion; let i = index">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="mb-3 row">
                                            <div class="col-md-12" style="padding-right: 0;">
                                                <div class="row row-cols-lg-auto">
                                                    <div class="col-md-12 ms-2">
                                                        <label class="col-form-label text-end">{{i + 1}}.</label>
                                                    </div>
                                                    <div class="col-md-12" style="width: 96%">
                                                        <ng-select [items]="selectValueQustion"
                                                                   bindLabel="name"
                                                                   placeholder="Pilih Pertanyaan"
                                                                   [multiple]="false"
                                                                   [(ngModel)]="data.question"
                                                                   [ngModelOptions]="{standalone: true}"
                                                                   [addTag]="CreateNew">
                                                        </ng-select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mb-3 row" *ngIf="data?.questionType === 1">
                                            <div class="col-md-12">
                                                <div class="mb-2 ms-2">
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="yes" id="yes" disabled>
                                                        <label class="form-check-label" for="yes">
                                                            Iya
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-radio-outline form-radio-primary mb-3">
                                                        <input class="form-check-input" type="radio" name="no" id="no" disabled>
                                                        <label class="form-check-label" for="no">
                                                            Tidak
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 3">
                                            <div class="mb-3 row">
                                                <div class="col-md-12">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Penjelasan</label>
                                                        </div>
                                                        <div class="col-md-12 mb-3" style="width: 90%; padding-right: 0">
                                                            <input class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="data?.questionType === 2">
                                            <div class="mb-3 row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row row-cols-lg-auto">
                                                        <div class="col-md-12 ms-2">
                                                            <label class="col-form-label">Score</label>
                                                        </div>
                                                        <div class="col-md-12" style="align-self: center; padding-right: 0">
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                            <i class="fa fa-star me-2"></i>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <label class="col-form-label">(Score: -)</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1" style="margin-top: 10px">
                                        <i class="fa fa-trash-alt" style="color: red; cursor: pointer" (click)="removeNewQuestion(9, i)"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-5 row" style="justify-content: center">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(24, 101, 228, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset; border-color: #4D4D4D; width: 100%" (click)="addNewQuestions(2,1, 5)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Ya/Tidak)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(3, 129, 23, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,3, 5)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Penjelasan)
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn text-white" style="background: rgba(255, 187, 55, 1); box-shadow: 0px -0.5px 0px 0px rgba(224, 224, 224, 1) inset;  width: 100%" (click)="addNewQuestions(2,2, 5)">
                                                <i class="fa fa-plus"></i> Tambah Pertanyaan (Score)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline wizard mb-0">
                                <li class="previous list-inline-item"><button class="btn" style="background: rgba(224, 224, 224, 1);" (click)="goToListQuestion()">
                                    <label class="mb-0" *ngIf="!loadingCreateForm">Batal</label>
                                    <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateForm"></i>
                                </button>
                                </li>
                                <li class="next list-inline-item float-end">
                                    <button class="btn me-3" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%); width: 120px" awPreviousStep>
                                        <label class="mb-0" *ngIf="!loadingCreateForm">Sebelumnya</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateForm"></i>
                                    </button>
                                    <button class="btn text-white me-2" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%); width: 120px" [disabled]="disableStep2() || loadingCreateForm" (click)="saveNewQuestion()">
                                        <label class="mb-0" *ngIf="!loadingCreateForm">Simpan</label>
                                        <i class="bx bx-loader bx-spin font-size-20 align-middle text-white" *ngIf="loadingCreateForm"></i>
                                    </button>
                                </li>
                            </ul>
                        </aw-wizard-step>
                    </aw-wizard>
                </div>
            </div>
        </div>
    </div>
</div>
