<app-page-title  [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="container-fluid" style="margin-top: 60px">
    <div class="row">
        <div class="col-6">
            <label class="title-header">Pengguna</label><br>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-lg" style="background: linear-gradient(291.1deg, #FFB421 39.79%, #FFE1A7 107.57%);" (click)="goToAddConfiguration()">Tambah Pengguna</button>
        </div>
    </div>
    <div class="loader center-page" *ngIf="!finishLoadData"></div>
    <div class="mt-3" [hidden]="!finishLoadData">
        <div class="mb-3 row">
            <label class="col-6 font-size-20" style="align-self: center; color: rgba(24, 101, 228, 1); margin-bottom: -20px">Daftar Pengguna</label>
            <div class="col-6 text-end">
                <div class="row ">
                    <div class="col-md-3 offset-1 text-end">
                        <div class="dropdown" ngbDropdown container="body">
                            <button class="btn dropdown-toggle w-100 text-start" [ngStyle]="{'background-color': (checkedRoles?.length == 0) ? 'rgba(239, 239, 239, 1)' : 'rgba(24, 101, 228, 0.1)'}" style="border: 1px solid rgba(51, 51, 51, 1); border-radius: 100px" type="button" id="dropdownMenuButton"
                                    ngbDropdownToggle>
                                <div class="row" style="justify-content: space-between">
                                    <div class="col-md-6">
                                        <label class="mb-0">Role <label class="mb-0" *ngIf="checkedRoles.length > 0">({{checkedRoles.length}})</label></label>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <i class="fa fa-chevron-down"></i>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu w-100" ngbDropdownMenu style="overflow: auto">
                                <div class="search-box me-2">
                                    <div style="overflow: auto">
                                        <div class="position-relative ms-3 me-3">
                                            <i class="bx bx-search-alt search-icon"></i>
                                            <input type="text" class="form-control border-0" placeholder="Search..."  (input)="searchFilter($event)">
                                        </div>
                                        <div class="ms-4 me-3 mt-2">
                                            <div *ngIf="filterRole?.length > 0">
                                                <div class="form-check mb-3" *ngFor="let data of filterRole">
                                                    <input class="form-check-input" type="checkbox" id="{{data.id}}" [checked]="data.checked" [(ngModel)]="data.checked" (change)="selectedRoles()">
                                                    <label class="form-check-label" for="{{data.id}}" >
                                                        {{data.name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div *ngIf="filterRole?.length == 0">
                                                <label>Role tidak tersedia</label>
                                            </div>
                                        </div>
                                        <div class="border-top d-grid">
                                            <a class="btn btn-sm btn-link font-size-14 text-center" (click)="clearFilter()">
                                                <span key="t-view-more">Matikan Filter</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="align-self: end">
                        <label>Search : </label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" [(ngModel)]="filterName" (keydown.enter)="refreshDatatable()">
                    </div>
                    <div class="col-md-2">
                        <button class="btn form-control text-white" style="background: linear-gradient(285.14deg, #0753DF -20.57%, #54A2F3 124.02%);" (click)="refreshDatatable()">Cari</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-bordered mb-0" style="width: 100%">
                <thead>
                <tr>
                    <th class="text-center" style="width: 5%">No</th>
                    <th class="text-start">Nama Lengkap</th>
                    <th class="text-start" style="width: 15%">Email</th>
                    <th class="text-start">Role pada Aplikasi</th>
                    <th class="text-start">Login Terakhir</th>
                    <th class="text-start" style="width: 10%">Status Aktif</th>
                    <th class="text-start" style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of listPengguna;  let i = index">
                    <td class="text-center" style="width: 5%; vertical-align: middle">{{ start + (i +1)}}</td>
                    <td class="text-start" style="vertical-align: middle">{{data?.firstName}} {{data?.lastName}}</td>
                    <td class="text-start" style="vertical-align: middle; width: 15%">{{data?.email}}</td>
                    <td class="text-start" style="vertical-align: middle"><div *ngFor="let dataRole of data?.roles"><li class="text-start ms-2">{{dataRole?.role?.name}}</li></div></td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="data?.convertDateLastLogin">{{data?.convertDateLastLogin| date: 'dd MMMM yyyy, HH:mm'}} WIB</td>
                    <td class="text-start" style="vertical-align: middle" *ngIf="!data?.convertDateLastLogin">Belum Pernah Login</td>
                    <td class="text-center" style="vertical-align: middle; width: 10%" *ngIf="data.active"><span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(3, 129, 23, 0.12); color: rgba(3, 129, 23, 1);">Aktif</span></td>
                    <td class="text-center" style="vertical-align: middle; width: 10%" *ngIf="!data.active"><span class="badge rounded-pill p-2 w-sm font-size-12" style="background-color: rgba(62, 62, 62, 0.12); color: rgba(62, 62, 62, 1);">Non-Aktif</span></td>
                    <td class="text-center" style="width: 10%;">
                        <button class="btn text-white w-100" style="background: linear-gradient(143.05deg, #71AF70 0.81%, #027900 96.72%);" (click)="goToDetailConfiguration(data.id)">Lihat</button>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="listPengguna?.length == 0">
                <tr>
                    <td colspan="6" class="no-data-available text-center">No data!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

